Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Python: create a CLI for the facet (#3605)
  .pre-commit-config.yaml
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/root.jinja2
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/cli.py
  client/python/openlineage/client/generator/generate.py
  client/python/openlineage/client/generator/header.py
  client/python/openlineage/client/generator/templates/Enum.jinja2
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/facet_v2.jinja2
  client/python/openlineage/client/generator/templates/root.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
  client/python/tests/generator/__init__.py
  client/python/tests/generator/test_base.py
  client/python/tests/generator/test_cli.py
  client/python/tox.ini
  website/docs/client/python.md
Due: none

change hive image to custom from quay.io
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/testutils/HiveContainerTestUtils.java
Due: none

add header
  integration/hive-docker/entrypoint.sh
Due: none

spotless
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/testutils/HiveContainerTestUtils.java
Due: none

[Flink2] Fix getting job namespace from config
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  website/docs/integrations/flink.md
Due: pmd-flink, pmd-spark

[Java] Use parent.root facet as a primary source for Kafka messageKey
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

[Flink2] Fix getting job namespace from config (#3621)
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  website/docs/integrations/flink.md
Due: pmd-flink, pmd-spark

[Java] Use parent.root facet as a primary source for Kafka messageKey (#3622)
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

Log event json in debug mode before checks (#3617)
  client/python/openlineage/client/client.py
Due: none

[Java] Added support for LDAP connection strings.
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

[Python] Use parent.root facet as a primary source for Kafka messageKey
  client/python/openlineage/client/transport/file.py
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
  website/blog/composite-transport/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

[Python] Use parent.root facet as a primary source for Kafka messageKey (#3624)
  client/python/openlineage/client/transport/file.py
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
  website/blog/composite-transport/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

adding support for dbt-glue adapter
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

updating documentation to add dbt-glue
  integration/dbt/README.md
Due: none

fix the glue namespace naming convention
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

formatting fix
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

followup: add dbt glue adapter support (#3625)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
Due: none

Refactor ldap parsing logic
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
Due: pmd-client-java, spotless-client-java

[Java] Added support for LDAP connection strings. (#3612)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

fix build on main
  integration/airflow/setup.py
Due: none

fix build on main (#3626)
  integration/airflow/setup.py
Due: none

update changelog for 1.31.0 release
  CHANGELOG.md
Due: none

update changelog for 1.31.0 release (#3627)
  CHANGELOG.md
Due: none

Prepare for release 1.31.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.32.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

format change
  website/static/talks/talkStrings.tsx
Due: none

[Java] Generate Kinesis.partitionKey using Run parent facet
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: pmd-client-java, spotless-client-java

[Spark] Remove duplicates when building Input Datasets
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: spotless-integration-spark

[Java] Generate Kinesis.partitionKey using Run parent facet (#3637)
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: pmd-client-java, spotless-client-java

[spark] Remove RepairTableCommandVisitor from Spark3VisitorFactoryImpl
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
Due: spotless-integration-spark

spark,iceberg: add handling of JDBC catalog
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierTest.java
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkJdbcIcebergIntegrationTest.java
  integration/spark/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

[spark] Remove RepairTableCommandVisitor from Spark3VisitorFactoryImpl (#3641)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
Due: spotless-integration-spark

enable the rest of the tests
  .circleci/check-changes.sh
Due: none

fixes for docker entrypoint
  integration/hive-docker/entrypoint.sh
Due: none

configure hive integration builds and move documentation to docs
  .circleci/continue_config.yml
  integration/hive/README.md
  integration/hive/build.gradle
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  new-version.sh
  website/docs/integrations/hive/_category_.json
  website/docs/integrations/hive/configuration/_category_.json
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/hive/configuration/hive_conf.md
  website/docs/integrations/hive/configuration/transport.md
  website/docs/integrations/hive/hive.md
  website/docs/integrations/hive/installation.md
  website/docs/integrations/hive/query_types.md
  website/static/spec/OpenLineage.yml
Due: none
