Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

Add more padding to img and remove svg
  website/static/img/collate-logo.png
  website/static/img/collate-logo.svg
Due: none

fix(dbt): raise KeyError instead of RuntimeError in _get_model_node
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): raise KeyError instead of RuntimeError in _get_model_node (#4348)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(spark): emit FAIL event for application end when jobs fail
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
Due: pmd-spark, spotless-integration-spark

add collate to openlineage ecosystem (#4323)
  website/static/ecosystem/consumers.tsx
  website/static/img/collate-logo.png
Due: prettier

fix(dbt): attach ExtractionErrorRunFacet to events on metadata extraction failures
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): remove unjustified +1 from totalTasks in ExtractionErrorRunFacet
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): attach ExtractionErrorRunFacet on metadata extraction failures (#4349)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

changelog for release 1.44.1
  CHANGELOG.md
  website/docs/releases/1_44_1.md
Due: forbid-attr-s

changelog for release 1.44.1 (#4352)
  CHANGELOG.md
  website/docs/releases/1_44_1.md
Due: forbid-attr-s

Prepare for release 1.44.1
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Prepare next development version 1.45.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

[SPEC] Add DatabaseHierarchy dataset facet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/database_hierarchy_dataset.py
  spec/facets/DatabaseHierarchyDatasetFacet.json
  spec/registry/core/registry.json
  spec/tests/DatabaseHierarchyDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/database_hierarchy.md
  website/static/spec/facets/1-0-0/DatabaseHierarchyDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

change condition for biglake catalog check
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

fix(spark): emit FAIL event for application end when jobs fail
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
Due: pmd-spark, spotless-integration-spark

fix(spark): use reflection for executionFailure()
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

Fix table borders
  website/docs/spec/naming.md
Due: forbid-attr-s

Add Web API datasource naming convention
  website/docs/spec/facets/dataset-facets/subset.md
  website/docs/spec/naming.md
Due: forbid-attr-s

[SPEC] Add DatabaseHierarchy dataset facet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/hierarchy_dataset.py
  spec/facets/HierarchyDatasetFacet.json
  spec/registry/core/registry.json
  spec/tests/HierarchyDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/hierarchy.md
  website/static/spec/facets/1-0-0/HierarchyDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

dbt: parse key:value tags in DBT tags facet
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/test_dbt.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

[SPEC] Add DatabaseHierarchy dataset facet (#3747)
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/hierarchy_dataset.py
  spec/facets/HierarchyDatasetFacet.json
  spec/registry/core/registry.json
  spec/tests/HierarchyDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/hierarchy.md
  website/static/spec/facets/1-0-0/HierarchyDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

Website: enhance dark mode and remove Typography (#4342)
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
Due: prettier

ci: upgrade Datadog static analyzer action to v3
  .github/workflows/datadog-static-analysis.yml
Due: none

ci: upgrade Datadog static analyzer action to v3 (#4367)
  .github/workflows/datadog-static-analysis.yml
Due: none

fix(spark): prevent alias names appearing as phantom input fields in JDBC column lineage
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: pmd-spark, spotless-integration-spark

test(spark): add tests for JDBC column alias lineage skip in InputFieldsCollector
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: none

style(spark): fix spotless formatting violations in InputFieldsCollectorTest
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: none

add flink support for DatasetConfigFacet for flink native listener
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
Due: pmd-flink

add flink support for DatasetConfigFacet for flink native listener (#4368)
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
Due: pmd-flink

add spark streaming micro-batch throttle mechanism
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottlerTest.java
Due: pmd-spark, spotless-integration-spark

more reasonable tests
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: none

fix: replace unresolvable @link with @code in OpenLineageContext Javadoc
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: pmd-spark, spotless-integration-spark

fix(spark): drop application-level FAIL events, keep SQL execution-level FAIL
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
Due: pmd-spark, spotless-integration-spark

fix(spark): clean up metrics on FAIL events and remove unnecessary annotation
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

fix(spark): spotless applied
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

implement hierarchy facet in Spark
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: prettier, pmd-spark, spotless-integration-spark

fix dbt singular tests in structured logs handling
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

code review comments
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottler.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottlerTest.java
Due: pmd-spark, spotless-integration-spark

fix dbt singular tests in structured logs handling (#4372)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
