Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

smart debug facet (#3715)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageRunStatus.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
  website/docs/integrations/spark/debug_facet.md
Due: spotless-integration-spark

[Spark] Fix missing table path in InsertIntoHadoopFsRelationCommand
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Due: spotless-integration-spark

[Spark] Fix missing table path in InsertIntoHadoopFsRelationCommand (#3773)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Due: spotless-integration-spark

pmd fixes
  integration/hive/build.gradle
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/InMemoryHiveTestBase.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/client/HiveOpenLineageConfigParserTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/ColumnLineageCollectorTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/ParsingTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/HiveUtilsTest.java
Due: none

Github: mark Hive PRs with proper label
  .github/boring-cyborg.yml
Due: none

Github: mark Hive PRs with proper label (#3778)
  .github/boring-cyborg.yml
Due: none

[Hive] Add job sql facet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

chore: Use attr.define instead of attr.s
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/tags.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/transform/test_transform.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
  integration/airflow/tests/test_facets.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/provider/great_expectations/results.py
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/tests/bigquery/test_bigquery.py
  integration/common/tests/dbt/test_facets.py
  integration/dagster/openlineage/dagster/cursor.py
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/spec/facets/custom-facets.md
Due: none

test column level lineage for jdbc queries load
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

refactor jdbc lineage visitor
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: spotless-integration-spark

Use @Builder annotation
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
Due: pmd-client-java, spotless-client-java

Formalize dataset naming
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
Due: pmd-client-java, spotless-client-java

Use @Builder in tests
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
Due: pmd-client-java, spotless-client-java

fix configurable test failin in CI
  integration/spark/cli/spark-conf.yml
Due: none

Test thrown exception
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
Due: none

fix configurable test failin in CI (#3782)
  integration/spark/cli/spark-conf.yml
Due: none

Column level lineage for jdbc queries load (#3763)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
Due: spotless-integration-spark

chore: Use attr.define instead of attr.s (#3776)
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/tags.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/transform/test_transform.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
  integration/airflow/tests/test_facets.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/provider/great_expectations/results.py
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/tests/bigquery/test_bigquery.py
  integration/common/tests/dbt/test_facets.py
  integration/dagster/openlineage/dagster/cursor.py
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/spec/facets/custom-facets.md
Due: none

[Hive] Add job sql facet (#3777)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

fine-grained timeout config
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/TimeoutConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutorTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

[DBT] Add DbtRun facet to dbt run events
  integration/dbt/openlineage/dbt/__init__.py
Due: none

Fix node version in website readme.
  website/README.md
Due: none

Misc fixes.
  website/README.md
Due: none

[Hive] Add hive_query facet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HivePropertiesFacetBuilder.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveQueryInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/facets/HivePropertiesFacetBuilderTest.java
Due: none

[Hive] Add hive_query facet (#3781)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HivePropertiesFacetBuilder.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveQueryInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/facets/HivePropertiesFacetBuilderTest.java
Due: none

Website: correct Node version in README (#3783)
  website/README.md
Due: none

[spark] Disable module metadata file generation
  integration/spark-extension-interfaces/build.gradle
Due: none

[Hive] Add hive_session facet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveSessionInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
Due: none

[spark] Disable module metadata file generation (#3785)
  integration/spark-extension-interfaces/build.gradle
Due: none

Add Debezium to producers
  website/static/ecosystem/producers.tsx
  website/static/img/debezium_logo.svg
Due: none

Add Debezium to producers (#3787)
  website/static/ecosystem/producers.tsx
  website/static/img/debezium_logo.svg
Due: none

[Hive] Record hive session creation time
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveSessionInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/hive/installation.md
Due: none

[Hive] Add hive_session facet (#3786)
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveSessionInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/hive/installation.md
Due: none

changelog for release 1.34.0
  CHANGELOG.md
  website/docs/releases/1_34.0.md
Due: none

changelog for release 1.34.0 (#3790)
  CHANGELOG.md
  website/docs/releases/1_34.0.md
Due: none

Prepare for release 1.34.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: none

Prepare next development version 1.35.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: none

[Hive] Add jobType facet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
