Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

Use Protocol instead of ABC
  client/python/openlineage/client/dataset.py
Due: forbid-attr-s

Fix ruff check.
  client/python/openlineage/client/dataset.py
Due: forbid-attr-s

Rename region to region_name
  client/python/openlineage/client/naming/dataset.py
Due: forbid-attr-s

Formalize dataset naming for Python client
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Suggestions applied
  client/python/openlineage/client/naming/dataset.py
Due: forbid-attr-s

Create package for namings
  client/python/openlineage/client/naming/__init__.py
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Remove redundant dataset naming
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Add Hive naming
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Rename region to region_name
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Formalize dataset naming for Python client (#3816)
  client/python/openlineage/client/naming/__init__.py
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

update main compatibility motivations and goals
  website/docs/integrations/openlineage_compatibility/compatibility_test/compatibility_test.md
Due: forbid-attr-s

Spark: support delta 4 for Spark 4
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CircuitBreakerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Due: check-version-files, forbid-attr-s, spotless-integration-spark

[Python] Do not use f-strings with logging module
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/manager.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_data_extractor.py
  integration/airflow/openlineage/airflow/extractors/sagemaker_extractors.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/integration/test_integration.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/test.py
  integration/dagster/openlineage/dagster/adapter.py
Due: forbid-attr-s

[Spark] Close OpenLineageClient in onApplicationEnd
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Due: spotless-integration-spark

[Python] Do not use f-strings with logging module (#3895)
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/manager.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_data_extractor.py
  integration/airflow/openlineage/airflow/extractors/sagemaker_extractors.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/integration/test_integration.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/test.py
  integration/dagster/openlineage/dagster/adapter.py
Due: forbid-attr-s

Spark: support delta 4 for Spark 4 (#3877)
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CircuitBreakerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Due: check-version-files, forbid-attr-s, spotless-integration-spark

upgrade mockito
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

update protobuf version to be compatible with newer libraries
  integration/dagster/setup.py
Due: forbid-attr-s

website: Documentation for compatibility tests (#3869)
  website/docs/integrations/openlineage_compatibility/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/compatibility_test.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/contributing.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_input_events.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/reusable_actions_and_common_scripts.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/structure.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/test_workflows.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility.md
Due: forbid-attr-s

fix dbt version
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
Due: none

fix dbt version (#3894)
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
Due: none

update protobuf version to be compatible with newer libraries (#3899)
  integration/dagster/setup.py
Due: forbid-attr-s

nit: adjust log level when aliasing default_http transport
  client/python/openlineage/client/client.py
Due: forbid-attr-s

nit: improve comments and add some tests
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s

Implementing suggested changes
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

Linting
  integration/common/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s

Updated tests
  integration/common/tests/dbt/test_processor.py
Due: none

Adding unit-tests for DbtArtifactProcessor changes to add query_id
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

Adding query ID's for dbt
  integration/common/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s

remove Spark 2 support
  .circleci/workflows/openlineage-spark.yml
  integration/README.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProvider.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProviderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/spark2/build.gradle
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/ScalaUtils.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/SparkUtils.java
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  new-version.sh
  website/docs/integrations/spark/spark.md
Due: check-version-files, forbid-attr-s, spotless-integration-spark

make visitors stateless
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
Due: forbid-attr-s, spotless-integration-spark

make visitors stateless (#3902)
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
Due: forbid-attr-s, spotless-integration-spark

nit: improve comments and add some tests (#3901)
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s

Adding query ID's for dbt (#3890)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

nit: adjust log level when aliasing default_http transport (#3897)
  client/python/openlineage/client/client.py
Due: forbid-attr-s

fix: fail fast and reduce timeout for airflow tests
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Due: none

allow disabling OL from within job's code
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
