Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

capture the actual dbt tests results
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix(dbt): specify utf-8 encoding when opening files
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

refactor(dbt): rename fabric adapter to fabric-warehouse
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
  integration/dbt/README.md
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(client/java): MySqlJdbcExtractor incorrectly includes URL database in qualified table names
  client/java/src/main/java/io/openlineage/client/utils/jdbc/MySqlJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
Due: pmd-client-java, spotless-client-java

flink: add ClickHouse JDBC support
  client/java/src/main/java/io/openlineage/client/utils/jdbc/ClickHouseJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForClickHouse.java
Due: pmd-client-java, spotless-client-java

capture the actual dbt tests results (#4500)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix(dbt): specify utf-8 encoding when opening files (#4503)
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Change the generator and move it outside the client module
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/run.go
  generator/go/discover/facets.go
  generator/go/discover/glob.go
  generator/go/genutil/util.go
  generator/go/go.mod
  generator/go/ir/build.go
  generator/go/ir/facet.go
  generator/go/ir/types.go
  generator/go/main.go
  generator/go/render/client/facets.go
  generator/go/resolve/resolver.go
Due: none

fix build issues
  .circleci/continue_config.yml
  generator/go/go.sum
Due: none

add spec generation
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  generator/go/main.go
  generator/go/render/spec/renderer.go
Due: none

review suggestions Signed-off-by: tnazarew <tomasz.nazarewicz@getindata.com>
  .circleci/continue_config.yml
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  generator/go/discover/facets.go
  generator/go/genutil/util.go
  generator/go/ir/build.go
  generator/go/ir/types.go
  generator/go/main.go
  generator/go/render/client/facets.go
  generator/go/render/spec/renderer.go
  generator/go/resolve/resolver.go
Due: none

update CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
Due: none

fix for DateTime
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  generator/go/render/client/facets.go
Due: none

readd job-to-job lineage
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
Due: forbid-attr-s

format: spotless one-line assertThat in unionThreeWay test
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

Guard against unbounded loop with custom trimmers
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/dataset/test_reducer.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Make the logs visible, but without spamming
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Log invalid disable trimmer config
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Update docs
  website/docs/client/python/configuration.md
Due: forbid-attr-s

Test additional trimmer failure scenario
  client/python/tests/dataset/test_reducer.py
Due: check-python-generated-imports

Warn about reducing consequences in further event processing
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: fix PathUtils.reconstructDefaultLocation malformed URI for S3 paths
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

style: wrap long lines in PathUtilsTest to satisfy spotless formatter
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: none

spec: bump DataQualityAssertionsDatasetFacet to version 1-2-0
  website/static/spec/facets/1-1-0/DataQualityAssertionsDatasetFacet.json
  website/static/spec/facets/1-2-0/DataQualityAssertionsDatasetFacet.json
Due: none

spec: fix dbt processor and test snapshot for DatasetFacet inheritance change
  client/python/tests/example_full_event.json
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

spec: update generated files for DataQualityAssertionsDatasetFacet inheritance change
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/tests/example_full_event.json
  client/python/tests/test_facet_v2.py
  website/static/spec/facets/1-1-0/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python, pmd-client-java, spotless-client-java

spec: fix DataQualityAssertionsDatasetFacet to inherit from DatasetFacet
  spec/facets/DataQualityAssertionsDatasetFacet.json
Due: prettier, check_schemas, test_events, generate_facets, spec-changes

fix: update test snapshots and generated file for DataQualityAssertions facet move
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

fix: update spark/thrift snapshot and trailing comma for formatter
  client/python/tests/test_facet_v2.py
  integration/common/tests/dbt/spark/thrift/result.json
Due: check-python-generated-imports, prettier

flink: extract generic schema and config facet visitors
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/ConfigFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/SchemaFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/ConfigFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/SchemaFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
Due: pmd-flink

fix(python): read config files as utf-8
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Initial commit
  integration/prefect/__init__.py
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Refactor and fix typo in listener
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

flink: extract generic schema and config facet visitors (#4506)
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/ConfigFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/SchemaFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/ConfigFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/SchemaFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
Due: pmd-flink

handle dbt owner list
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_meta_owner.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Keep idempotency without heavy deepcopy
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Avoid in-place mutation of datasets
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

handle dbt owner list (#4515)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_meta_owner.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Apply misc suggestions from code review
  integration/prefect/__init__.py
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
