Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

Add blog post about configuration with dynamic env vars.
  website/blog/authors.yml
  website/blog/dynamic-env-variables/index.mdx
Due: none

fix: Update classes used in column lineage after schema update
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Due: spotless-integration-spark

fix: Update classes used in column lineage after schema update (#3120)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Due: spotless-integration-spark

Add blog post about configuration with dynamic env vars. (#3117)
  website/blog/authors.yml
  website/blog/dynamic-env-variables/index.mdx
Due: none

Make OpenLineageClient and Transports AutoCloseable
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
Due: pmd-client-java, spotless-client-java

Make OpenLineageClient and Transports AutoCloseable (#3122)
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
Due: pmd-client-java, spotless-client-java

fix: update `integration/airflow/README.md` reference
  integration/airflow/README.md
Due: none

fix: update `integration/airflow/README.md` reference (#3123)
  integration/airflow/README.md
Due: none

feature: Dataset dependencies in separate fields
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderOnlyFieldDependenciesTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

feature: Dataset dependencies in separate fields (#3097)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderOnlyFieldDependenciesTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

Add blog post about Composite Transport. (#3119)
  website/blog/composite-transport/index.mdx
Due: none

Update CompositeTransport blog post date.
  website/blog/composite-transport/index.mdx
Due: none

Update CompositeTransport blog post date. (#3131)
  website/blog/composite-transport/index.mdx
Due: none

Add gcs transport docs
  website/docs/client/java/partials/java_transport.md
Due: none

Add gcs transport docs (#3132)
  website/docs/client/java/partials/java_transport.md
Due: none

feature: Adds S3 transport
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-s3/build.gradle
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3Transport.java
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3TransportBuilder.java
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3TransportConfig.java
  client/java/transports-s3/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-s3/src/test/java/io/openlineage/client/transports/s3/S3TransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/docs/client/java/partials/s3_transport.md
Due: none

feature: Adds S3 transport (#3129)
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-s3/build.gradle
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3Transport.java
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3TransportBuilder.java
  client/java/transports-s3/src/main/java/io/openlineage/client/transports/s3/S3TransportConfig.java
  client/java/transports-s3/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-s3/src/test/java/io/openlineage/client/transports/s3/S3TransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/docs/client/java/partials/s3_transport.md
Due: none

fix latest tag name
  .github/workflows/website-new-version.yml
Due: none

add support for dbt-athena adapter (#3110)
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

ci: use machine for release-client-java job
  .circleci/continue_config.yml
Due: none

ci: use machine for release-client-java job (#3134)
  .circleci/continue_config.yml
Due: none

fix latest tag name (#3133)
  .github/workflows/website-new-version.yml
Due: none

changelog: update for 1.23.0
  CHANGELOG.md
Due: none

changelog: update for 1.23.0 (#3135)
  CHANGELOG.md
Due: none

Prepare for release 1.23.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.24.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Add extra CLL tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
Due: none

Require Java 17 only for Spark 4.0
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/spark40/build.gradle
Due: none

Require Java 17 only for Spark 4.0 (#3121)
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/spark40/build.gradle
Due: none

Ignore some warnings
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
Due: none

Ignore some more warnings
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
Due: none

avoid tests in configurable test
  integration/spark/cli/Dockerfile
Due: none

avoid tests in configurable test (#3141)
  integration/spark/cli/Dockerfile
Due: none

Add extra CLL tests (#3085)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
Due: none

Update CHANGELOG.md link to PR
  CHANGELOG.md
Due: none

Update CHANGELOG.md link to PR (#3145)
  CHANGELOG.md
Due: none

Limit the Seq size in RddPathUtils::extract()
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

Add flag to limit the logs in RddPathUtils::extract()
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

test: Add integration tests for EMR
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Templating.java
  integration/spark/app/src/test/resources/emr_test_jobs/basic_script.py
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
