Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

update DbtRunRunFacet to add more useful information (#3987)
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/test_facets.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier

doc: Update PR creation docs
  CONTRIBUTING.md
Due: forbid-attr-s

doc: Remove section about branching groups
  CONTRIBUTING.md
Due: forbid-attr-s

doc: Update pre-commit section
  CONTRIBUTING.md
Due: forbid-attr-s

doc: Remove mention of CI script
  CONTRIBUTING.md
Due: forbid-attr-s

python: add GCP Lineage transport
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/gcplineage.py
  client/python/pyproject.toml
  client/python/tests/test_gcplineage.py
  website/docs/client/python.md
Due: forbid-attr-s, check-python-generated-imports

Fix mypy
  client/python/openlineage/client/transport/gcplineage.py
  client/python/pyproject.toml
Due: forbid-attr-s, check-python-generated-imports

Fix mypy
  client/python/tests/test_gcplineage.py
Due: check-python-generated-imports

doc: Move license header doc to CONTRIBUTING.md
  CONTRIBUTING.md
  website/docs/development/developing/developing.md
Due: forbid-attr-s

doc: Update docs on license header
  .github/header_templates.md
  CONTRIBUTING.md
Due: forbid-attr-s

doc: Link to the dev docs for new contributors
  CONTRIBUTING.md
Due: forbid-attr-s

doc: Remove links to env variables
  website/docs/development/developing/developing.md
Due: forbid-attr-s

Fix tests
  client/python/tests/test_gcplineage.py
Due: check-python-generated-imports

Make tests compatible
  client/python/tests/test_gcplineage.py
Due: check-python-generated-imports

doc: Add mention of Java version of SQL parser
  website/docs/development/developing/developing.md
Due: forbid-attr-s

Fix tests
  client/python/openlineage/client/transport/gcplineage.py
  client/python/pyproject.toml
Due: forbid-attr-s, check-python-generated-imports

Fix copilot suggestions
  client/python/openlineage/client/transport/gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

Add Matillion to ecosystem page
  website/static/ecosystem/producers.tsx
  website/static/img/matillion_logo.svg
Due: prettier

doc: Add base Java setup docs
  website/docs/development/developing/java/setup.md
Due: forbid-attr-s

doc: Nest Spark integration docs inside Java
  website/docs/development/developing/java/adding_metrics.md
  website/docs/development/developing/java/spark/_category_.json
  website/docs/development/developing/java/spark/built_in_lineage.md
  website/docs/development/developing/java/spark/setup.md
  website/docs/development/developing/java/troubleshooting/_category_.json
Due: forbid-attr-s

doc: Remove duplicated license header mention
  website/docs/development/developing/java/spark/setup.md
Due: forbid-attr-s

doc: Update spark integration setup doc
  website/docs/development/developing/java/spark/setup.md
Due: forbid-attr-s

doc: Update mention of C compiler for Rust
  website/docs/development/developing/java/setup.md
Due: forbid-attr-s

Add Matillion to ecosystem page (#4009)
  website/static/ecosystem/producers.tsx
  website/static/img/matillion_logo.svg
Due: prettier

doc: Update contributing/development docs (#4010)
  .github/header_templates.md
  CONTRIBUTING.md
  website/docs/development/developing/developing.md
  website/docs/development/developing/java/adding_metrics.md
  website/docs/development/developing/java/setup.md
  website/docs/development/developing/java/spark/_category_.json
  website/docs/development/developing/java/spark/built_in_lineage.md
  website/docs/development/developing/java/spark/setup.md
  website/docs/development/developing/java/troubleshooting/_category_.json
  website/docs/development/developing/spark/setup.md
Due: forbid-attr-s

Apply Jakub's suggestions
  client/python/openlineage/client/transport/gcplineage.py
  client/python/tests/test_gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

Make _run_async_safely typed
  client/python/openlineage/client/transport/gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

Fix typing
  client/python/openlineage/client/transport/gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

Fix typing 2
  client/python/openlineage/client/transport/gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

spark: Issue-3818 fix. Additional catch for TypeNotPresentException (#4002)
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

Add CaseWhenExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce CreateTableAsSelectNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add IfExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Remove Distinct node handling
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
Due: pmd-spark, spotless-integration-spark

Extract traversal of expression tree to new class
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/ExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitor.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
Due: pmd-spark, spotless-integration-spark

Introduce GenerateNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce DataSourceV2RelationNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce WindowNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce VisitorFactory
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ExpressionVisitor.java
Due: pmd-spark, spotless-integration-spark

Introduce SortNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark
