Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

ci: exclude Go from CodeQL until autobuild is compatible
  .github/workflows/codeql.yml
Due: none

feat: add TestRunFacet spec and Python client support
  .github/workflows/codeql.yml
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/test_run.py
  spec/facets/TestRunFacet.json
  website/static/spec/facets/1-0-0/TestRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

docs: add TestRunFacet documentation page
  website/docs/spec/facets/run-facets/test_run.md
Due: forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: none

chore: move CodeQL workflow to separate PR
  .github/workflows/codeql.yml
Due: none

ci: add dynamic CodeQL workflow to replace Default Setup
  .github/workflows/codeql.yml
Due: none

refactor: rename Test to TestExecution inside TestRunFacet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/generated/test_run.py
  spec/facets/TestRunFacet.json
  website/docs/spec/facets/run-facets/test_run.md
  website/static/spec/facets/1-0-0/TestRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

add TestRunFacet spec and Python client support (#4448)
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/test_run.py
  spec/facets/TestRunFacet.json
  website/docs/spec/facets/run-facets/test_run.md
  website/static/spec/facets/1-0-0/TestRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

ci: add dynamic CodeQL workflow to replace Default Setup (#4450)
  .github/workflows/codeql.yml
Due: none

review changes
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

client/java: fix three bugs in transports-kinesis SPI registration and NPE
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/resources/META-INF.services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: none

review changes
  byool/terraform/openlineage-base-resource/README.md
Due: check-version-files, forbid-attr-s

Add pr_number field to DbtRunRunFacet to identify CI runs triggered by pull requests.
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/src/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/tests/dbt/test_facets.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

Move pr_number from DbtRunRunFacet to SourceCodeLocationJobFacet
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facets.py
  client/python/src/openlineage/client/generated/source_code_location_job.py
  client/python/src/openlineage/client/git.py
  client/python/tests/test_source_code_location.py
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/src/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/tests/dbt/test_facets.py
  website/static/spec/facets/1-1-0/SourceCodeLocationJobFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, generate_facets, mypy-client-python, mypy-integration-common

feat: emit TestRunFacet in dbt integration
  client/python/src/openlineage/client/generated/test_run.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/no_test_metadata/target/run_results.json
  integration/common/tests/dbt/singular_test/dbt_project.yml
  integration/common/tests/dbt/singular_test/profiles.yml
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/singular_test/target/manifest.json
  integration/common/tests/dbt/singular_test/target/run_results.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_dbt_local.py
  website/docs/spec/facets/run-facets/test_run.md
  website/static/spec/facets/1-0-0/TestRunFacet.json
  website/static/spec/facets/1-0-1/TestRunFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, generate_facets, mypy-client-python, mypy-integration-common

Add pullRequestNumber field to SourceCodeLocationJobFacet (#4436)
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facets.py
  client/python/src/openlineage/client/generated/source_code_location_job.py
  client/python/src/openlineage/client/git.py
  client/python/tests/test_source_code_location.py
  website/static/spec/facets/1-1-0/SourceCodeLocationJobFacet.json
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

client/java: fix three bugs in transports-kinesis SPI registration and NPE (#4451)
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/resources/META-INF.services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: none

feat: emit TestRunFacet in dbt integration (#4449)
  client/python/src/openlineage/client/generated/test_run.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/no_test_metadata/target/run_results.json
  integration/common/tests/dbt/singular_test/dbt_project.yml
  integration/common/tests/dbt/singular_test/profiles.yml
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/singular_test/target/manifest.json
  integration/common/tests/dbt/singular_test/target/run_results.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_dbt_local.py
  website/docs/spec/facets/run-facets/test_run.md
  website/static/spec/facets/1-0-0/TestRunFacet.json
  website/static/spec/facets/1-0-1/TestRunFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, generate_facets, mypy-client-python, mypy-integration-common

changelog for release 1.46.0
  CHANGELOG.md
  website/docs/releases/1_46_0.md
Due: forbid-attr-s

ci: update default Python version from 3.9 to 3.10 in CI
  .circleci/continue_config.yml
Due: none

fix: apply Spotless formatting to IcebergHandlerTest
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: none

ci: update default Python version from 3.9 to 3.10 in CI (#4453)
  .circleci/continue_config.yml
Due: none

fix(spark): stabilize Kinesis integration test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

changelog for release 1.46.0 (#4452)
  CHANGELOG.md
  website/docs/releases/1_46_0.md
Due: forbid-attr-s

fix(spark): stabilize Kinesis integration test (#4456)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

Prepare for release 1.46.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.47.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

implement hierarchy facet in Spark
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: prettier, pmd-spark, spotless-integration-spark

remove CATALOG
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtilsTest.java
Due: prettier, pmd-spark, spotless-integration-spark

feat: Extend DataQualityAssertionsDatasetFacet with new information
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/tests/example_full_event.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/static/spec/facets/1-1-0/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

fix(spark): extract duplicate literals in HierarchyDatasetFacetUtilsTest to satisfy PMD
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/HierarchyDatasetFacetUtilsTest.java
Due: none

fix(spark): guard against null CatalogTable identifier in handleCatalogTable
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

fix(spark): update WriteToMicroBatchDataSourceV1DatasetBuilderTest for composite facets builder
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: none

style(spark): apply Spotless formatting to WriteToMicroBatchDataSourceV1DatasetBuilderTest
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: none

fix(spark): guard against null CatalogTable identifier in WriteToMicroBatchDataSourceV1DatasetBuilder
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

feat: Extend DataQualityAssertionsDatasetFacet with new information (#4457)
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/tests/example_full_event.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/static/spec/facets/1-1-0/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

updated base resources
  .circleci/continue_config.yml
  .gitignore
  byool/terraform/ol/event_builder.go
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/init-workspace.sh
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/models.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
  client/go/go.mod
  client/go/go.sum
Due: check-version-files, forbid-attr-s

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
