Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

don't upgrade junit
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: none

remove bumped versions causing failures
  integration/flink/flink1/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/shared/build.gradle
Due: none

add rest catalog integration test & fix issues
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/MissingDatasetIdentifierCatalogException.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
Due: spotless-integration-spark

code review feedback
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
Due: none

Add Iceberg's RestCatalog integration test & fix issues (#3518)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/MissingDatasetIdentifierCatalogException.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
Due: spotless-integration-spark

remove depraceted configs
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/resources/config/facets.yaml
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  website/docs/client/java/configuration.md
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Added CsvPath logo and description as a new producer. No other changes. Signed-off-by: David Kershaw
  website/static/ecosystem/producers.tsx
  website/static/img/csvpath-logo.svg
Due: none

[SPARK] Move the GCP-specific code into the vendor projects folder (#3350)
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/vendor/gcp/README.md
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/GcpVendor.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/facets/builder/GcpJobFacetBuilder.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/facets/builder/GcpRunFacetBuilder.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/lifecycle/plan/GcpEventHandlerFactory.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Due: spotless-integration-spark

Update csvpath-logo.svg
  website/static/img/csvpath-logo.svg
Due: none

[Feature][dbt] Consume dbt structured logs for `test` and `build` commands (#3362)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/test.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/logs/build_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/logs/test_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

update changelog entries for 1.26.0 release (#3352)
  CHANGELOG.md
Due: none

dataSource facet reconciliation (#3361)
  spec/tests/DatasourceDatasetFacet/1.json
Due: spec-changes

Prepare for release 1.26.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

blog post: Capturing dataset statistics in Apache Spark (#3319)
  integration/spark/docker-compose.yml
  website/blog/spark-dataset-statistics/index.mdx
Due: none

bump sql version in a proper place (#3355)
  new-version.sh
Due: none

Handle errors in parse_assertions (#3311)
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

revert new version changes that error on release (#3353)
  new-version.sh
Due: none

Website: update misc project details and images (#3351)
  README.md
  doc/before-ol.svg
  doc/lfaidata-project-badge-sandbox-black.png
  doc/openlineage-lfai-logo.png
  doc/scope.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/guides/airflow-quickstart.md
  website/docs/scope.svg
  website/docs/with-ol.svg
Due: none

remove bumping nonexisting version in dbt integration (#3354)
  integration/dbt/setup.cfg
Due: none

fix: bump version in dbt's utils.py (#3366)
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/sql/.bumpversion.cfg
  integration/sql/iface-py/pyproject.toml
Due: none

Prepare next development version 1.27.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

add unit tests (#3360)
  integration/common/tests/dbt/structured_logs/postgres/events/logs/MainReportVersion.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/NodeStart.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/SQLQuery.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/tests/test_main.py
Due: none

Apply Visitor TableFunction behavior to Function (#3368)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

[DBT][Feature] Consume dbt structured logs and report progress in real time (#3314)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/dbt/structured_logs/dbt_project.yml
  integration/common/tests/dbt/structured_logs/postgres/run/logs/failed_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/seed/logs/seed_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/logs/snapshot_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/target/manifest.json
  integration/common/tests/dbt/structured_logs/profiles.yml
  integration/common/tests/dbt/structured_logs/snowflake/run/logs/failed_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/logs/seed_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/logs/snapshot_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/test_utils.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

Docs: fix misc images in docs (#3370)
  doc/before-ol.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/with-ol.svg
Due: none

Add `oleander.dev` as ol consumer/producer (#3375)
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/oleander_logo_full.png
Due: none

[SPARK] Fix ClassLoader handling for OpenLineageExtensionProvider (#3408)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

fix flink ci (#3387)
  .circleci/continue_config.yml
  integration/flink-native-listener/README.md
  integration/flink-native-listener/buildDependencies.sh
Due: none

Bump versions for flink-native-listener. (#3423)
  integration/flink-native-listener/gradle.properties
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  new-version.sh
Due: none

feat(tagsfacet): Fix typo in dataset facet. Add redact. (#3399)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/redact_fields.yml
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
  website/static/spec/facets/1-0-0/TagsDatasetFacet.json
  website/static/spec/facets/1-0-0/TagsJobFacet.json
  website/static/spec/facets/1-0-0/TagsRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

add missing release notes in docs (#3409)
  website/docs/releases/1_23_0.md
  website/docs/releases/1_24_2.md
  website/docs/releases/1_25_0.md
  website/docs/releases/1_26_0.md
Due: none

update contributions (#3383)
  CONTRIBUTORS.md
Due: none

feat: Add extension to filepath in file transport not in append mode (#3404)
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: none

Add DatasetTypeDatasetFacet. (#3390)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/redact_fields.yml
  integration/spark-extension-entrypoint/bin/main/io/openlineage/spark/extension/OpenLineageExtensionProvider.class
  spec/facets/DatasetTypeDatasetFacet.json
  spec/registry/core/registry.json
  website/static/spec/facets/1-0-0/DatasetTypeDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

clone using https (#3421)
  website/src/pages/getting-started/index.mdx
Due: none

Attaching custom facets to RDDExecContext events (#3379)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: spotless-integration-spark

update changelog entries for 1.27.0 release (#3422)
  CHANGELOG.md
Due: none

address cycles in flattenrdds & perf improvement (#3371)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/RddsTest.java
Due: spotless-integration-spark

Allowing events from SerializedFromObject for non-delta plans (#3403)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: spotless-integration-spark
