Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

fix: Extend env var facet instead of overwriting it (#4635)
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Replace Makefile and custom build scripts with Taskfile
  .github/workflows/integration-tests-spark-aws.yml
  .taskrc.yml
  Makefile
  Taskfile.yml
  client/java/Taskfile.yml
  client/python/Taskfile.yml
  dev/.env.template
  dev/README.md
  dev/Taskfile.yml
  dev/java-home.sh
  dev/requirements.txt
  integration/common/Taskfile.yml
  integration/dbt/README.md
  integration/dbt/Taskfile.yml
  integration/spark-extension-interfaces/Taskfile.yml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/sql/Taskfile.yml
  website/docs/client/python/development/setup.md
  website/docs/integrations/spark/developing/setup.md
  website/docs/spec/schemas.md
Due: check-version-files, forbid-attr-s

Replace Makefile and custom build scripts with Taskfile (#4620)
  .github/workflows/integration-tests-spark-aws.yml
  .taskrc.yml
  Makefile
  Taskfile.yml
  client/java/Taskfile.yml
  client/python/Taskfile.yml
  dev/.env.template
  dev/README.md
  dev/Taskfile.yml
  dev/java-home.sh
  dev/requirements.txt
  integration/common/Taskfile.yml
  integration/dbt/README.md
  integration/dbt/Taskfile.yml
  integration/spark-extension-interfaces/Taskfile.yml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/sql/Taskfile.yml
  website/docs/client/python/development/setup.md
  website/docs/integrations/spark/developing/setup.md
  website/docs/spec/schemas.md
Due: check-version-files, forbid-attr-s

group dependabot website and security updates
  .github/dependabot.yml
Due: none

group dependabot website and security updates (#4645)
  .github/dependabot.yml
Due: none

Prepare changelog for release 1.50.0
  CHANGELOG.md
  website/docs/releases/1_50_0.md
Due: forbid-attr-s

Prepare changelog for release 1.50.0 (#4646)
  CHANGELOG.md
  website/docs/releases/1_50_0.md
Due: forbid-attr-s

Prepare for release 1.50.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.51.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

spec: extend jobTypeJobFacet to capture event emission lifecycle - removing enums and doc changes
  client/python/src/openlineage/client/generated/job_type_job.py
  spec/facets/JobTypeJobFacet.json
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/run-cycle.md
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

spec: extend jobTypeJobFacet to capture event emission lifecycle - CR updates
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/run-cycle.md
Due: forbid-attr-s

spec: extend jobTypeJobFacet to capture event emission lifecycle
  client/python/redact_fields.yml
  client/python/src/openlineage/client/generated/job_type_job.py
  spec/tests/JobTypeJobFacet/2.json
  spec/tests/JobTypeJobFacet/3.json
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/run-cycle-stream.svg
  website/docs/spec/run-cycle.md
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

capture meta and few dbt model config fields
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

change shaded paths to avoid conflicts while using composite transport
  client/java/transports-datazone/build.gradle
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

tests
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/duckdb/target/manifest.json
Due: prettier

emit dbt meta as dbt-meta tags; dbt_model facet config-only
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

rename meta tag source dbt-meta -> DBT_META
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

dbt model meta/config capture (#4653)
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/duckdb/target/manifest.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix(python): support file uri transport paths
  client/python/src/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

change shaded paths to avoid conflicts while using composite transport (#4652)
  client/java/transports-datazone/build.gradle
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

spec: extend jobTypeJobFacet to capture event emission lifecycle client fix
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/src/openlineage/client/generated/job_type_job.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/singular_test/result.json
  spec/facets/JobTypeJobFacet.json
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

spec: extend jobTypeJobFacet to capture event emission lifecycle - renamed property to eventContentType
  client/go/pkg/facets/facets.gen.go
  client/python/src/openlineage/client/generated/job_type_job.py
  spec/facets/JobTypeJobFacet.json
  spec/tests/JobTypeJobFacet/2.json
  spec/tests/JobTypeJobFacet/3.json
  website/docs/spec/facets/job-facets/job-type.md
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

client/java: normalize abfs/wasb to abfss/wasbs in ObjectStorageDatasetExtractor
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForABFSS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: pmd-client-java, spotless-client-java

spark3: IcebergHandler.hasClasses probes SparkCatalog instead of Catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

spark3: extract DeltaVersionUtils from DeltaHandler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaVersionUtils.java
Due: pmd-spark, spotless-integration-spark

spark/test: move DynamicParameter to a shared test-commons module
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/settings.gradle
  integration/spark/test-commons/build.gradle
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/TestIds.java
Due: check-version-files

spark3: extract DeltaVersionUtils from DeltaHandler (#4663)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaVersionUtils.java
Due: pmd-spark, spotless-integration-spark

spark3: IcebergHandler.hasClasses probes SparkCatalog instead of Catalog (#4665)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

client/java: normalize abfs/wasb to abfss/wasbs in ObjectStorageDatasetExtractor (#4661)
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForABFSS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: pmd-client-java, spotless-client-java

spark/test: move DynamicParameter to a shared test-commons module (#4664)
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/settings.gradle
  integration/spark/test-commons/build.gradle
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/TestIds.java
Due: check-version-files

spec: extend jobTypeJobFacet to capture event emission lifecycle (#4592)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/redact_fields.yml
  client/python/src/openlineage/client/generated/job_type_job.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/singular_test/result.json
  spec/tests/JobTypeJobFacet/2.json
  spec/tests/JobTypeJobFacet/3.json
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/run-cycle-stream.svg
  website/docs/spec/run-cycle.md
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

Fixed 3 PMD AvoidDuplicateLiterals violations
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatabricksUtilsTest.java
Due: none

4638 spark: fix Unity Catalog symlink metadata on Databricks
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatabricksUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Update DatabricksUtilsTest
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatabricksUtilsTest.java
Due: none

4638 Format violation fix
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
Due: pmd-spark, spotless-integration-spark

TODOs
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
  proposals/explicit_lineage_facet/ExplicitLineageSchema.md
Due: forbid-attr-s

stop swallowing actual cause when using CompositeTransport
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
Due: pmd-client-java, spotless-client-java
