Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

spark: Limit the Seq size in RddPathUtils::extract() to avoid OutOfMemoryError for large jobs (#3148)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

test: Add integration tests for EMR (#3142)
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Templating.java
  integration/spark/app/src/test/resources/emr_test_jobs/basic_script.py
Due: none

[docs] fix argos config to run on the main repo
  .github/workflows/visual-difference-detection.yml
Due: none

[docs] fix argos config to run on the main repo (#3154)
  .github/workflows/visual-difference-detection.yml
Due: none

fix: Fix a bunch of warnings
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/streaming/MongoStreamingJob.scala
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/test/RddUnion.scala
Due: none

local file system should not point to IP
  spec/Naming.md
  website/docs/spec/naming.md
Due: spec-changes

fix: Fix a bunch of warnings (#3158)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/streaming/MongoStreamingJob.scala
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/test/RddUnion.scala
Due: none

fix: Fix Kotlin capitalized function deprecation warning
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantDelegate.kt
Due: none

use uv to manage maturin in python sqlparser interface
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Due: none

fix: Fix Kotlin capitalized function deprecation warning (#3162)
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantDelegate.kt
Due: none

use uv to manage maturin in python sqlparser interface (#3161)
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Due: none

fix databricks naming mismatch in documentation
  website/docs/spec/naming.md
Due: none

fix databricks naming mismatch in documentation (#3163)
  website/docs/spec/naming.md
Due: none

Rename Dataplex transport to GcpLineage
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-dataplex/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/README.md
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilder.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: none

Rename Dataplex transport to GcpLineage (#3156)
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-dataplex/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/README.md
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilder.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: none

test: Add integration tests for EMR
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
Due: none

Add missing javadocs for spark-extension-interfaces (causing warnings)
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelation.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelationProvider.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OlExprId.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/lifecycle/plan/SparkOpenLineageExtensionVisitor.java
Due: none

fix: EMR should determine implicit Glue catalog id while producing symlinks
  .github/workflows/integration-tests-spark-aws.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/resources/emr_test_jobs/glue_symlink_implicit_account_id.py
  integration/spark/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsAccountIdFetcher.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

ci: use GH label to filter out jobs
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  dev/filter_approvals.py
  dev/filter_matrix.py
Due: none

changing from 2nd wed to 3rd
  website/src/pages/meetings/index.mdx
Due: none

changing from 2nd wed to 3rd (#3166)
  website/src/pages/meetings/index.mdx
Due: none

Fix/emr implicit glue catalog (#3147)
  .github/workflows/integration-tests-spark-aws.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/resources/emr_test_jobs/glue_symlink_implicit_account_id.py
  integration/spark/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsAccountIdFetcher.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

Update Dataproc run facet to include runType property
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  spec/registry/gcp/dataproc/facets/GcpDataprocSparkRunFacet.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

Add missing javadocs for spark-extension-interfaces (causing warnings)
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelation.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelationProvider.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OlExprId.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/lifecycle/plan/SparkOpenLineageExtensionVisitor.java
Due: none

Fix subquery column lineage.
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

rename gcp dataproc spark run facet
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpRunFacetBuilder.java
  spec/registry/gcp/dataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

Fix subquery column lineage. (#3170)
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

feature: Improve Databricks integration tests
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/ClusterLogConf.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/CreateCluster.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/InitScript.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/WorkspaceDestination.java
Due: none

feature: Improve Databricks integration tests (#3176)
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/ClusterLogConf.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/CreateCluster.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/InitScript.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/WorkspaceDestination.java
Due: none

Add missing javadocs for spark-extension-interfaces (causing warnings) (#3165)
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelation.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelationProvider.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OlExprId.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/lifecycle/plan/SparkOpenLineageExtensionVisitor.java
Due: none

refactor: Few changes in OpenLineageSparkListener
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

Fix Databricks integration running
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
Due: none

Fix Databricks integration running (#3178)
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
Due: none

refactor: Few changes in OpenLineageSparkListener (#3179)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

ci: use GH label to filter out jobs (#3045)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  dev/filter_approvals.py
  dev/filter_matrix.py
Due: none

local file system should not point to IP (#3159)
  spec/Naming.md
  website/docs/spec/naming.md
Due: spec-changes

fix: Fix missing WEB_PORT variable where marquez-web container is used.
  .circleci/config.yml
  integration/spark/docker-compose.yml
  proxy/backend/docker-compose.yml
  proxy/fluentd/docker/docker-compose.yml
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/airflow-quickstart.md
  website/docs/guides/spark.md
Due: none
