Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

fix: Fix missing WEB_PORT variable where marquez-web container is used. (#3192)
  .circleci/config.yml
  integration/spark/docker-compose.yml
  proxy/backend/docker-compose.yml
  proxy/fluentd/docker/docker-compose.yml
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/airflow-quickstart.md
  website/docs/guides/spark.md
Due: none

fix: databricks integration tests on CircleCI regression is now fixed
  .circleci/continue_config.yml
Due: none

fix: databricks integration tests on CircleCI regression is now fixed (#3193)
  .circleci/continue_config.yml
Due: none

feature: improve Databricks integration tests
  .circleci/continue_config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
Due: none

fix: fixes regression with bad Spark version in Databricks integration tests
  .circleci/workflows/openlineage-spark.yml
Due: none

fix: fixes regression with bad Spark version in Databricks integration tests (#3196)
  .circleci/workflows/openlineage-spark.yml
Due: none

fix: Fixes names normalization.
  integration/spark/app/integrations/container/pysparkHadoopFSEndEvent.json
  integration/spark/app/integrations/container/pysparkHadoopFSStartEvent.json
  integration/spark/app/integrations/container/pysparkLoadComplete.json
  integration/spark/app/integrations/container/pysparkLoadStart.json
  integration/spark/app/integrations/container/pysparkRDDWithParquetComplete.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/ApplicationJobNameResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/ExecutionContextTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: spotless-integration-spark

removal: Deprecated column level visitors
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/CustomColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/LegacyColumnLineageVisitorsLoader.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/resources/META-INF/services/io.openlineage.spark.agent.lifecycle.plan.column.CustomColumnLineageVisitor
  website/docs/integrations/spark/spark_column_lineage.md
Due: spotless-integration-spark

fix: Fixes names normalization. (#3053)
  integration/spark/app/integrations/container/pysparkHadoopFSEndEvent.json
  integration/spark/app/integrations/container/pysparkHadoopFSStartEvent.json
  integration/spark/app/integrations/container/pysparkLoadComplete.json
  integration/spark/app/integrations/container/pysparkLoadStart.json
  integration/spark/app/integrations/container/pysparkRDDWithParquetComplete.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/ApplicationJobNameResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/ExecutionContextTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: spotless-integration-spark

java: migrate and bump httpclient version
  client/java/build.gradle
Due: none

feature: improve Databricks integration tests (#3195)
  .circleci/continue_config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
Due: none

removal: Deprecated column level visitors (#3198)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/CustomColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/LegacyColumnLineageVisitorsLoader.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/resources/META-INF/services/io.openlineage.spark.agent.lifecycle.plan.column.CustomColumnLineageVisitor
  website/docs/integrations/spark/spark_column_lineage.md
Due: spotless-integration-spark

Move Spark release to the machine type common to other Java release jobs, set version using common method
  .circleci/continue_config.yml
Due: none

Add JobTypeJobFacets to dbt integration's model, test, snapshot events
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
Due: none

Move Spark release to the machine type common to other Java release jobs, set version using common method (#3200)
  .circleci/continue_config.yml
Due: none

Add JobTypeJobFacets to dbt integration's model, test, snapshot events (#3199)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
Due: none

collect sql metrics from SQL physical plan
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/redact_fields.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  spec/facets/InputStatisticsInputDatasetFacet.json
  website/static/spec/facets/1-0-0/InputStatisticsInputDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes, spotless-integration-spark

Fix issues in AirflowRunFacet.json
  integration/airflow/facets/AirflowRunFacet.json
Due: none

test: Exit early when the Databricks integration test has unexpected version of the Spark passed.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

Fix: Consider dbt sources when looking for test results Signed-off-by: Massy Bourennani <massy.bourennani@datadoghq.com>
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test/target/manifest.json
  integration/common/tests/dbt/test/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

test: Exit early when the Databricks integration test has unexpected version of the Spark passed. (#3206)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

format Signed-off-by: Massy Bourennani <massy.bourennani@datadoghq.com>
  integration/common/tests/dbt/test_dbt_local.py
Due: none

[Fix][Integration/dbt] Parse dbt source tests (#3208)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test/target/manifest.json
  integration/common/tests/dbt/test/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

Fix edit this page link.
  .circleci/config.yml
  dev/filter_matrix.py
  website/docusaurus.config.js
Due: none

Fix edit this page link. (#3211)
  .circleci/config.yml
  dev/filter_matrix.py
  website/docusaurus.config.js
Due: none

docs: fix outdated Spark-related docs
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/spark.md
Due: none

update expected facets in GCPUtilsTest
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
Due: none

Update Dataproc run facet to include runType property
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  spec/registry/gcp/dataproc/facets/GcpDataprocSparkRunFacet.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

rename gcp dataproc spark run facet
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpRunFacetBuilder.java
  spec/registry/gcp/dataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

rename runType to jobType in gcp dataproc run facet
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  spec/registry/gcp/dataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

fix: Fix docusaurus-mdx-checker errors
  website/blog/column-lineage/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/integrations/airflow/extractors/extractor-testing.md
  website/docs/integrations/airflow/job-hierarchy.md
  website/docs/integrations/airflow/manual.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/usage.md
  website/docs/integrations/flink.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/spec/naming.md
Due: none

fix: Fix docusaurus-mdx-checker errors (#3217)
  website/blog/column-lineage/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/integrations/airflow/extractors/extractor-testing.md
  website/docs/integrations/airflow/job-hierarchy.md
  website/docs/integrations/airflow/manual.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/usage.md
  website/docs/integrations/flink.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/spec/naming.md
Due: none

Add EnvironmentVariablesRunFacet to core spec.
  .pre_commit/check-redactions.py
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/redact_fields.yml
  client/python/tests/test_client.py
  client/python/tests/test_utils.py
  spec/facets/EnvironmentVariablesRunFacet.json
  website/docs/client/python.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/static/spec/facets/1-0-0/EnvironmentVariablesRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

Add EnvironmentVariablesRunFacet to core spec. (#3186)
  .pre_commit/check-redactions.py
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/redact_fields.yml
  client/python/tests/test_client.py
  client/python/tests/test_utils.py
  spec/facets/EnvironmentVariablesRunFacet.json
  website/docs/client/python.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/static/spec/facets/1-0-0/EnvironmentVariablesRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

rename gcp dataproc spark run facet
  spec/registry/gcp/dataproc/registry.json
Due: check_schemas, generate_facets, spec-changes

rename gcp dataproc spark run facet
  spec/registry/gcp/lineage/registry.json
Due: check_schemas, generate_facets, spec-changes

docs: Upgrade docusaurus to 3.6
  website/blog/composite-transport/index.mdx
  website/blog/dbt-with-marquez/index.mdx
  website/blog/dynamic-env-variables/index.mdx
  website/blog/explore-lineage-api/index.mdx
  website/blog/extending-with-facets/index.mdx
  website/blog/openlineage-at-northwestern-mutual/index.mdx
  website/blog/openlineage-spark/index.mdx
  website/docusaurus.config.js
  website/package.json
  website/plugins/home-blog-plugin.js
  website/src/css/custom.css
  website/src/theme/SearchBar/DocSearch.js
  website/src/theme/SearchBar/algolia.css
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/lunar-search.js
  website/src/theme/SearchBar/styles.css
  website/src/theme/SearchBar/templates.js
  website/src/theme/SearchBar/utils.js
  website/yarn.lock
Due: none

docs: Upgrade docusaurus to 3.6 (#3219)
  website/blog/composite-transport/index.mdx
  website/blog/dbt-with-marquez/index.mdx
  website/blog/dynamic-env-variables/index.mdx
  website/blog/explore-lineage-api/index.mdx
  website/blog/extending-with-facets/index.mdx
  website/blog/openlineage-at-northwestern-mutual/index.mdx
  website/blog/openlineage-spark/index.mdx
  website/docusaurus.config.js
  website/package.json
  website/plugins/home-blog-plugin.js
  website/src/css/custom.css
  website/src/theme/SearchBar/DocSearch.js
  website/src/theme/SearchBar/algolia.css
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/lunar-search.js
  website/src/theme/SearchBar/styles.css
  website/src/theme/SearchBar/templates.js
  website/src/theme/SearchBar/utils.js
  website/yarn.lock
Due: none

Move kinesis to separate module, move http transport to httpclient5
  .circleci/continue_config.yml
  client/java/build.gradle
  client/java/settings.gradle
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/transports/FileTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/transports-kinesis/README.md
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransportBuilder.java
  client/java/transports-kinesis/src/main/resources/META-INF.services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/java/transports-s3/build.gradle
  integration/flink/app/build.gradle
  integration/flink/app/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/gradle.properties
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.jar
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.properties
  integration/flink/examples/stateful/gradlew
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStoppableApplication.java
  integration/flink/settings.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/build.gradle
  integration/spark/buildDependencies.sh
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java

Add assertions for format in test events.
  .pre-commit-config.yaml
  .pre_commit/json-schema/test-facets.sh
  spec/tests/EnvironmentVariablesRunFacet/1.json
  spec/tests/NominalTimeRunFacet/1.json
Due: spec-changes

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
