Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

update constructors and build variable values
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfig.java
  new-version.sh
Due: none

Add info about supported hive versions
  website/docs/integrations/hive/installation.md
Due: none

Broadened exception handling to solve for missing CLL when writing to Iceberg table.
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

Broadened exception handling to solve for missing CLL when writing to Iceberg table. (#3686)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

add new talk
  website/static/img/iceberg_summit_2025.png
  website/static/talks/talkStrings.tsx
Due: none

Don't swallow all Exceptions in getIcebergTable method
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

fix unnecessary newline
  website/static/talks/talkStrings.tsx
Due: none

add new talk to a website (#3687)
  website/static/img/iceberg_summit_2025.png
  website/static/talks/talkStrings.tsx
Due: none

update debug facet information
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/debug_facet.md
  website/docs/integrations/spark/extending.md
  website/docs/integrations/spark/metrics.md
  website/docs/integrations/spark/spark_column_lineage.md
  website/docs/integrations/spark/testing.md
Due: none

update debug facet information (#3689)
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/debug_facet.md
  website/docs/integrations/spark/extending.md
  website/docs/integrations/spark/metrics.md
  website/docs/integrations/spark/spark_column_lineage.md
  website/docs/integrations/spark/testing.md
Due: none

remove outdated debug facet config flague
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/cli/spark-conf-docker.yml
  integration/spark/cli/spark-conf.yml
Due: spotless-integration-spark

Extract lineage for AWS dynamic frames
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/log4j.properties
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/test_data/dynamic_data.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

Spark: Don't swallow all Exceptions in getIcebergTable method
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

spec: add CatalogDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/redact_fields.yml
  spec/facets/CatalogDatasetFacet.json
  website/static/spec/facets/1-0-0/CatalogDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

Spark: Don't swallow all Exceptions in getIcebergTable method (#3688)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

spec: add CatalogDatasetFacet (#3659)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/redact_fields.yml
  spec/facets/CatalogDatasetFacet.json
  website/static/spec/facets/1-0-0/CatalogDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

DBT: Generate new runId for each start event
  integration/dagster/tests/conftest.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

DBT: Generate new runId for each start event (#3696)
  integration/dagster/tests/conftest.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

DBT: Remote empty facets
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
Due: none

DBT: Use original event timestamp to generate runId
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
Due: none

spark: implement CatalogDatasetFacet
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksUnityV2Handler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Due: spotless-integration-spark

feat: Add TransformTransport for Python Client
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transform/transformers/__init__.py
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/__init__.py
  client/python/tests/transform/test_transform.py
  client/python/tests/transform/transformers/__init__.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  website/docs/client/python.md
Due: none

feat: Add TransformTransport for Python Client (#3697)
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transform/transformers/__init__.py
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/__init__.py
  client/python/tests/transform/test_transform.py
  client/python/tests/transform/transformers/__init__.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  website/docs/client/python.md
Due: none

DBT: Remote empty facets (#3700)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
Due: none

Add Amazon DataZone transport
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-datazone/README.md
  client/java/transports-datazone/build.gradle
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportBuilder.java
  client/java/transports-datazone/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-datazone/src/test/java/io/openlineage/client/testdata/OpenLineageEventsDataHelper.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/pyproject.toml
  client/python/tests/test_amazon_datazone.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

Add Amazon DataZone transport (#3685)
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-datazone/README.md
  client/java/transports-datazone/build.gradle
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportBuilder.java
  client/java/transports-datazone/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-datazone/src/test/java/io/openlineage/client/testdata/OpenLineageEventsDataHelper.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/pyproject.toml
  client/python/tests/test_amazon_datazone.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

spark: implement CatalogDatasetFacet (#3695)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksUnityV2Handler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Due: spotless-integration-spark

feat: Add parent run facet modification to JobNamespaceReplaceTransformer
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
Due: none

feat: Add parent run facet modification to JobNamespaceReplaceTransformer (#3706)
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
Due: none

DBT: Skip database if it is not set
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/spark/thrift/profiles.yml
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/spark/thrift/target/manifest.json
Due: none

DBT: Skip database if it is not set (#3707)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/spark/thrift/profiles.yml
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/spark/thrift/target/manifest.json
Due: none

Changelog for 1.33.0 release
  CHANGELOG.md
  website/docs/releases/1_33_0.md
Due: none

Changelog for 1.33.0 release (#3708)
  CHANGELOG.md
  website/docs/releases/1_33_0.md
Due: none

Prepare for release 1.33.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.34.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Java: Make UUIDUtils.generateStaticUUID random part more variative
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  client/python/tests/test_uuid.py
Due: pmd-client-java, spotless-client-java

Extract lineage for AWS dynamic frames
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/test_data/dynamic_data.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: spotless-integration-spark

DBT: Move facets from processor module
  integration/common/openlineage/common/provider/dbt/__init__.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
Due: none

DBT: Use original event timestamp to dbt test
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
