Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

sql: fix Snowflake COPY unload lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
Due: none

docs(website): add Corepack requirement note in website README
  website/README.md
Due: check-version-files, forbid-attr-s

chore: upgrade awssdk version to 2.50.0 (#4789)
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

Spark: refactor of iceberg handler (#4786)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

add support for lakehouse type catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/LakehouseRestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

docs(website): update commands to use corepack yarn in website README
  website/README.md
Due: check-version-files, forbid-attr-s

doc: introduce explicite lineage facets in a blog post
  website/blog/authors.yml
  website/blog/explicit-lineage/cartesian.png
  website/blog/explicit-lineage/dataset-to-dataset.png
  website/blog/explicit-lineage/fallback-order.png
  website/blog/explicit-lineage/index.mdx
  website/blog/explicit-lineage/job-to-job.png
Due: none

sql: fix Snowflake COPY unload lineage (#4791)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
Due: none

add support for lakehouse type catalog (#4797)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/LakehouseRestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix(spark): skip ResolvedIdentifier silently in InputFieldsCollector
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: pmd-spark, spotless-integration-spark

add configurable retry to gcs transport
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportConfig.java
  client/java/transports-gcs/src/test/java/io/openlineage/client/transports/gcs/GcsTransportTest.java
Due: none

add configurable retry to gcs transport (#4798)
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportConfig.java
  client/java/transports-gcs/src/test/java/io/openlineage/client/transports/gcs/GcsTransportTest.java
Due: none

add retry configuration to http transport
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

add retry configuration to gcp lineage transport
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageRetryConfig.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  client/java/transports-gcplineage/src/test/resources/config/retry_config.yaml
Due: none

fix pmd
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

docs(python): fix script filename mismatch and update timezone handling in usage guide
  website/docs/client/python/usage.md
Due: forbid-attr-s

docs(python): modernize full usage example and file transport configuration snippet
  website/docs/client/python/usage.md
Due: forbid-attr-s

updates after review
  website/blog/authors.yml
  website/blog/explicit-lineage/index.mdx
Due: none

spark: fix Databricks CTAS output and DML input lineage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/V2CreateTablePlanUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeInputDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

dbt: read OPENLINEAGE_CONTEXT on the local-artifacts path
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

fix(python): read config files as utf-8 (#4509)
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(great-expectations): restore data-quality metrics on Great Expectations 1.x (#4733)
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

dbt: read OPENLINEAGE_CONTEXT on the local-artifacts path (#4808)
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

dbt: set the data-quality assertion name on the structured-logs path
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Java: Fix port definition for JDBC IPv6 address
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForClickHouse.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
Due: pmd-client-java, spotless-client-java

dbt: set the data-quality assertion name on the structured-logs path (#4809)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

great_expectations: stop forwarding data_context to the 1.x ValidationAction
  integration/common/src/openlineage/common/provider/great_expectations/action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

client/java: support TNS format in Oracle JDBC extractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TnsDescriptor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

client-java: generate discriminated unions (#4778)
  client/java/generator/build.gradle
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/generator/src/test/java/io/openlineage/client/GeneratorTest.java
  client/java/generator/src/test/resources/discriminated-union/OpenLineage.json
  client/java/generator/src/test/resources/discriminated-union/SharedFacet.json
Due: check-version-files

great_expectations: stop forwarding data_context to the 1.x ValidationAction (#4811)
  integration/common/src/openlineage/common/provider/great_expectations/action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

spark: fix Databricks DELETE/UPDATE output and UC dataset resolution
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteUpdateCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DeleteUpdateCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteUpdateCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DeleteUpdateCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: apply removePath.pattern to RDD job datasets (#4719)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
Due: pmd-spark, spotless-integration-spark

spark: fix Databricks COPY INTO lineage on CopyIntoCommandEdge
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spec: add explicit lineage facet
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/LineageFacetTest.java
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/lineage.py
  client/python/tests/test_lineage_facet.py
  generator/go/discover/facets.go
  generator/go/discover/facets_test.go
  generator/go/ir/build.go
  generator/go/ir/build_test.go
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageGuide.md
  spec/facets/LineageFacet.json
  spec/registry/core/registry.json
  spec/tests/LineageFacet/dataset-to-dataset.json
  spec/tests/LineageFacet/dataset-to-job.json
  spec/tests/LineageFacet/generator.json
  spec/tests/LineageFacet/implicit-job.json
  spec/tests/LineageFacet/job-to-dataset.json
  spec/tests/LineageFacet/job-to-job.json
  spec/tests/LineageFacet/mixed-sources.json
  website/docs/spec/facets/dataset-facets/dataset-facets.md
  website/docs/spec/facets/dataset-facets/lineage.md
  website/docs/spec/facets/job-facets/job-facets.md
  website/docs/spec/facets/job-facets/lineage.md
  website/static/spec/facets/1-0-0/LineageFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

docs(python): update Python client usage example, fix filename mismatch, and modernize configuration snippets, closes #4604 (#4806)
  website/README.md
  website/docs/client/python/usage.md
Due: check-version-files, forbid-attr-s

Add files via upload
  website/static/img/Solidatus_logo.svg
Due: none

Update consumers.tsx
  website/static/ecosystem/consumers.tsx
Due: prettier

website: add Foundational to ecosystem consumers and producers
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/foundational_logo.svg
Due: prettier

sspark: resolve COPY INTO UC output via SQL fallback and V2 catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
  integration/spark/spark3/src/test/java/com/databricks/sql/transaction/tahoe/commands/CopyIntoCommandEdge.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtilsTest.java
Due: pmd-spark, spotless-integration-spark
