Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

fix(spark): upgrade spotless in buildSrc to 7.0.2; revert bigquery to 0.42.2
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
Due: check-version-files

fix(spark): upgrade shadow to 9.4.1 and spotless to 8.4.0 for Gradle 9.5
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/build.gradle.kts
Due: check-version-files

fix(spark): correct shadow-gradle-plugin Maven artifact ID
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix(spark): revert ShadowJar import to old package
  integration/spark/app/build.gradle
Due: check-version-files

fix: add --no-build-cache to spotless pre-commit hook
  .pre_commit/run-spotless.sh
Due: none

fix(spark): disable Spotless build cache to fix Gradle 9.5 fingerprinting
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

changelog for release 1.47.0
  CHANGELOG.md
  website/docs/releases/1_47_0.md
Due: forbid-attr-s

fix(spark): use doNotTrackState to bypass Gradle 9 fingerprinting for Spotless
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

fix(spark): use serializable FormatterFunc object for Gradle 9 compatibility
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

fix(spark): fix WildcardImportChecker regex and apply googleJavaFormat
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

changelog for release 1.47.0 (#4533)
  CHANGELOG.md
  website/docs/releases/1_47_0.md
Due: forbid-attr-s

Prepare for release 1.47.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.48.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

fix(tests): align result.json fixtures with processor event ordering
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
Due: prettier

spark: fix Kafka SASL bootstrap namespace
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaBootstrapServerResolver.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KafkaBootstrapServerResolverTest.java
Due: pmd-spark, spotless-integration-spark

client/java/transports-kinesis: upgrade Kinesis Producer Library to 1.0.7 and AWS SDK to 2.44.3
  client/java/transports-kinesis/README.md
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: check-version-files, forbid-attr-s

ParentRunFacet builder for task parents
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

ParentRun namespace env var
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Comment in adapter
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Be consistent with using `attr.evolve`
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Refactor test code
  client/python/tests/dataset/test_config.py
Due: check-python-generated-imports

[Go] change generator (#4501)
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  generator/go/discover/facets.go
  generator/go/discover/glob.go
  generator/go/genutil/util.go
  generator/go/go.mod
  generator/go/go.sum
  generator/go/ir/build.go
  generator/go/ir/facet.go
  generator/go/ir/types.go
  generator/go/main.go
  generator/go/render/client/facets.go
  generator/go/render/spec/renderer.go
  generator/go/resolve/resolver.go
Due: none

Add debug context for import failures
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Add debug context for failing trimmers
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fabric adapter uses correct name
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fabric adapter uses correct name (#4542)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

changelog for release 1.47.1
  CHANGELOG.md
  website/docs/releases/1_47_1.md
Due: forbid-attr-s

update RELEASING.md
  RELEASING.md
Due: forbid-attr-s

update RELEASING.md (#4543)
  RELEASING.md
Due: forbid-attr-s

changelog for release 1.47.1 (#4544)
  CHANGELOG.md
  website/docs/releases/1_47_1.md
Due: forbid-attr-s

Prepare for release 1.47.1
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Prepare next development version 1.48.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Stop loading trimmers with disabled reducer
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

client/java/transports-kinesis: upgrade Kinesis Producer Library to 1.0.7 and AWS SDK to 2.44.3 (#4536)
  client/java/transports-kinesis/README.md
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: check-version-files, forbid-attr-s

feat(spark): Add Snowflake Iceberg REST catalog (Horizon) support
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  client/java/src/test/java/io/openlineage/client/utils/SnowflakeUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Add JobDependenciesFacet for Prefect parents and use ParentRun for flows
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

ci fixes
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-byool-terraform.yml
Due: none

start_time from task payload and list comp for deps
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
