Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

go: add OAuth2 client credentials authentication to the HTTP transport
  client/go/README.md
  client/go/go.mod
  client/go/pkg/transport/console_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

python: encode datetime, date and uuid in Serde as canonical strings
  client/python/src/openlineage/client/serde.py
  client/python/tests/test_serde.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

sql: add cte column registry for wildcard expansion
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_cte.rs
Due: none

sql: expand wildcards over derived tables, and respect wildcard modifiers
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/mod.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

docs: changelog entry for the wildcard expansion fix
  CHANGELOG.md
Due: forbid-attr-s

spark: null-guard queryExecution in OpenLineageContext plan accessors
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: pmd-spark, spotless-integration-spark

client: rename the auth type to oauth2
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

go: rename the auth type to oauth2
  client/go/README.md
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

ci: upload client tests to Datadog
  .circleci/continue_config.yml
Due: none

ci: instrument supported test suites
  .circleci/TEST_OPTIMIZATION.md
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/setup-datadog-tests.sh
  .circleci/tests/test_datadog.py
  .github/workflows/integration-tests-spark-aws.yml
  .github/workflows/integration-tests-spark-azure.yml
  .github/workflows/visual-difference-detection.yml
  .pre-commit-config.yaml
  client/python/pyproject.toml
  client/python/tests/test_datadog.py
  integration/common/pyproject.toml
  integration/spark/cli/configurable-test.sh
Due: forbid-attr-s, check-python-generated-imports, prettier

spark: document Iceberg maintenance report ownership
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  proposals/4951/iceberg-maintenance-metrics.md
  website/docs/integrations/spark/dataset_metrics.md
Due: forbid-attr-s

Add to Python modules in release script
  release.sh
Due: none

Addl info in pyproject
  integration/prefect/pyproject.toml
Due: none

client/java: do not count GC time accumulated before the first circuit breaker check
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

sql: make DbTableMeta hashCode consistent with equals
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/test/java/io/openlineage/sql/DbTableMetaTest.java
Due: none

client: escape backslashes before dots in name segment escaping
  client/go/pkg/openlineage/naming.go
  client/go/pkg/openlineage/naming_test.go
  client/java/src/main/java/io/openlineage/client/naming/NameEscaping.java
  client/java/src/test/java/io/openlineage/client/naming/NameEscapingTest.java
  client/python/src/openlineage/client/naming/escape.py
  client/python/tests/test_escape.py
  website/docs/client/java/configuration.md
  website/docs/client/python/configuration.md
  website/docs/spec/naming.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

spec: add captureDate to DataQualityMetricsDatasetFacet
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/src/openlineage/client/generated/data_quality_metrics_dataset.py
  spec/tests/DataQualityMetricsDatasetFacet/2.json
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
  website/static/spec/facets/1-0-1/DataQualityMetricsDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

client: add OL name escaping - special cases
  client/go/pkg/openlineage/naming_test.go
  client/java/src/test/java/io/openlineage/client/naming/NameEscapingTest.java
  client/python/tests/test_escape.py
Due: check-python-generated-imports

spec: add captureDate to DataQualityMetricsDatasetFacet (#4936)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/src/openlineage/client/generated/data_quality_metrics_dataset.py
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  spec/tests/DataQualityMetricsDatasetFacet/2.json
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
  website/static/spec/facets/1-0-1/DataQualityMetricsDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

spark: provide query execution in streaming builder tests
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilderTest.java
Due: none

spark: skip unsupported Iceberg metrics catalogs
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: pmd-spark, spotless-integration-spark

spark: preserve top-level adaptive lineage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: stabilize Delta event assertions
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
Due: none

client: keep per-class log categories and encode client credentials
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenEndpointTokenProvider.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

client: add OAuth2 client credentials token provider
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenEndpointTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

client: add OAuth2 client credentials token provider (#4935)
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenEndpointTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

spark: fallback to query output schema when BigQuery save command schema is empty
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
Due: pmd-spark, spotless-integration-spark

python: encode datetime, date and uuid in Serde as canonical strings (#4942)
  client/python/src/openlineage/client/serde.py
  client/python/tests/test_serde.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

go: accept any 2xx response in the HTTP transport (#4939)
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
Due: none

sql: handle BigQuery UNNEST and UNPIVOT table factors
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

spark: don't skip AQE for Delta for non-internal queries (#4932)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: prevent late task metrics retention (#4921)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsCleanupIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark

spark: cancel facet task on interruption (#4922)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutorTest.java
Due: pmd-spark, spotless-integration-spark

Add cra to security doc (#4916)
  CODE_QUALITY_AND_SECURITY.md
Due: forbid-attr-s

go: fetch OAuth2 tokens with the caller's context and HTTP client
  client/go/README.md
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

python: extend GCP lineage transport for Composer
  client/python/src/openlineage/client/transport/gcplineage.py
  client/python/tests/test_gcplineage.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

docs: add Cloud Composer transport configuration
  website/docs/client/python/configuration.md
Due: forbid-attr-s

sql: visit UNNEST array expressions for lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none
