Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Enable building input/output facets from the visitors (#3207)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/dataset/DatasetCompositeFacetsBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/ExtensionLineageRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2UtilsTest.java
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

(proposal): Fix tag facet for run event example
  proposals/3169/tags_facet.md
Due: none

fix: Clean project before running Databricks integration tests
  .circleci/continue_config.yml
Due: none

fix: Clean project before running Databricks integration tests (#3241)
  .circleci/continue_config.yml
Due: none

(proposal): New tags facet for arbitrary metadata (#3234)
  proposals/3169/tags_facet.md
Due: none

feature: Upload Databricks integration tests logs
  .circleci/continue_config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
Due: none

feature: Upload Databricks integration tests logs (#3242)
  .circleci/continue_config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
Due: none

fix: Databricks File System schema/namespace in Naming.md
  spec/Naming.md
Due: spec-changes

fix: Databricks File System schema/namespace in Naming.md (#3243)
  spec/Naming.md
Due: spec-changes

exclude TransportBuilder from META-INF
  integration/spark-extension-interfaces/build.gradle
Due: none

add changelog entry
  CHANGELOG.md
Due: none

Spark: Exclude META-INF/*TransportBuilder from Spark Extension Interfaces (#3244)
  CHANGELOG.md
  integration/spark-extension-interfaces/build.gradle
Due: none

added proper databricks configuration to fix Databricks SparkUI issue
  integration/spark/databricks/open-lineage-init-script.sh
  website/docs/integrations/spark/configuration/usage.md
Due: none

added proper databricks configuration to fix Databricks SparkUI issue (#3251)
  integration/spark/databricks/open-lineage-init-script.sh
  website/docs/integrations/spark/configuration/usage.md
Due: none

Enable Delta 3+ version compatibility
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
Due: spotless-integration-spark

ci: bump xcode version
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Due: none

ci: bump xcode version (#3254)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Due: none

Enable Delta 3+ version compatibility (#3253)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
Due: spotless-integration-spark

Revert "ci: bump xcode version (#3254)"
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Due: none

Revert "ci: bump xcode version (#3254)" (#3257)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Due: none

Update integration version support in README.md
  integration/README.md
Due: none

Update integration version support in README.md (#3262)
  integration/README.md
Due: none

added support for CLL in dbt integration
  README.md
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/scripts/dbt-ol
Due: none

blog post about flink native integration
  website/blog/flink-native-support/diagram.png
  website/blog/flink-native-support/index.mdx
Due: none

collect input/output statistics from Spark jobs
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkRddToTableRunningEvent.json
  integration/spark/app/integrations/container/pysparkWordCountWithCliArgsRunningEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  spec/OpenLineage.md
  spec/registry/core/registry.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

temporarily remove iceberg feature (prepare separate PR for it)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
Due: spotless-integration-spark

blog post about flink native integration (#3247)
  website/blog/flink-native-support/diagram.png
  website/blog/flink-native-support/index.mdx
Due: none

collect input/output statistics from Spark jobs (#3240)
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkRddToTableRunningEvent.json
  integration/spark/app/integrations/container/pysparkWordCountWithCliArgsRunningEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  spec/OpenLineage.md
  spec/registry/core/registry.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

input/output statistics for iceberg
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/vendor/iceberg/README.md
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/IcebergVendor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergEventHandlerFactory.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

input/output statistics for iceberg (#3263)
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/vendor/iceberg/README.md
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/IcebergVendor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergEventHandlerFactory.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

support for column lineage in dbt integration
  README.md
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
Due: none

support for column lineage in dbt integration
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

[Integration][DBT] Support for CLL in DBT integration (#3264)
  README.md
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
Due: none

fix iceberg vendor build
  integration/spark/vendor/iceberg/build.gradle
Due: none

fix iceberg vendor build (#3269)
  integration/spark/vendor/iceberg/build.gradle
Due: none

update changelog for 1.25.0 release
  CHANGELOG.md
Due: none

update changelog for 1.25.0 release (#3273)
  CHANGELOG.md
Due: none

Prepare for release 1.25.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.26.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

don't run pre-commit on release commits
  new-version.sh
Due: none
