Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: pygrep
  entry: from openlineage.client.generated

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

fix: Upgraded netty version to fix CVE-2025-58056
  integration/spark/build.gradle
Due: check-version-files

Fix regexp to handle multiline strings properly
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spec: formalise a batch API endpoint as part of the core specification
  spec/OpenLineage.yml
Due: prettier, spec-changes

some useful tests
  integration/spark-extension-entrypoint/bin/main/io/openlineage/spark/extension/OpenLineageExtensionProvider.class
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkColumnLineageBaseTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkDDLOperationsIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkDataFrameDropColumnsIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkDeduplicateIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkExpandIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkPivotIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkSampleIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/SparkSetOperationsIntegrationTest.java
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ScalaConversionUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ExpandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ExpandVisitorTest.java
Due: check-version-files, pmd-spark, spotless-integration-spark

spark: Fix JDBC dbtable parsing to support any FROM clauses (#4102)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

[Spark] BigQuery Metastore add fallback for BigQuery project ID configuration (#4075)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix: python client facet generator after moving to uv
  .pre-commit-config.yaml
  client/python/src/openlineage/client/generator/generate.py
Due: forbid-attr-s, check-python-generated-imports, prettier

fix: python client facet generator after moving to uv (#4111)
  .pre-commit-config.yaml
  client/python/src/openlineage/client/generator/generate.py
Due: forbid-attr-s, check-python-generated-imports, prettier

fix snowflake ident parsing
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  client/java/src/test/java/io/openlineage/client/utils/SnowflakeUtilsTest.java
  integration/common/src/openlineage/common/provider/snowflake.py
  integration/common/tests/test_snowflake.py
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
  website/docs/spec/naming.md
Due: forbid-attr-s, check-python-generated-imports, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix snowflake ident parsing (#4104)
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  client/java/src/test/java/io/openlineage/client/utils/SnowflakeUtilsTest.java
  integration/common/src/openlineage/common/provider/snowflake.py
  integration/common/tests/test_snowflake.py
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
  website/docs/spec/naming.md
Due: forbid-attr-s, check-python-generated-imports, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

rebase
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

rdd job fixes
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/DatasetReducerTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_with_parquet.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetReducerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/JobNameSuffixProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilder.java
Due: forbid-attr-s, check-python-generated-imports, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

rebase (#4105)
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

integration test to verify repartition behaviour
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_input_only_rdd.py
Due: forbid-attr-s, check-python-generated-imports, pmd-spark, spotless-integration-spark

Rdd job fixes (#4108)
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/DatasetReducerTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/spark_scripts/spark_input_only_rdd.py
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_with_parquet.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetReducerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/JobNameSuffixProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilder.java
Due: forbid-attr-s, check-python-generated-imports, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

spec: add support for temporary datasets to support job-to-job lineage
  spec/facets/DatasetTypeDatasetFacet.json
  website/docs/development/example-etl-job-tasks-temporary-datasets.png
  website/docs/development/examples.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/naming.md
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

fix pre-commit
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  website/docs/development/examples.md
  website/static/spec/facets/1-1-0/DatasetTypeDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports

change facet version to 1-0-1 from 1-1-0
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  spec/facets/DatasetTypeDatasetFacet.json
  website/static/spec/facets/1-0-1/DatasetTypeDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes

load and import handling
  integration/hive/hive-openlineage-hook/integrations/container/importComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/importStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: prettier

putAll is failing on immutable maps
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

putAll is failing on immutable maps (#4113)
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

Fix job name trimming
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/DatasetReducer.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetReducerUtils.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Update build.gradle
  integration/spark/build.gradle
Due: check-version-files

fix: Upgraded netty version to fix CVE
  integration/spark/buildSrc/build.gradle.kts
Due: none

Update build.gradle.kts
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: CVE fixes through netty upgraded.
  integration/spark/build.gradle
Due: check-version-files

Fix job name trimming (#4114)
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/DatasetReducer.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetReducerUtils.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Correct logo dimensions
  website/static/img/ataccama-logo-rgb-blk.svg
Due: none

Add Ataccama to ecosystem consumers
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

load and import handling (#4097)
  integration/hive/hive-openlineage-hook/integrations/container/importComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/importStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: prettier

spec: add support for temporary datasets to support job-to-job lineage (#4103)
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  website/docs/development/example-etl-job-tasks-temporary-datasets.png
  website/docs/development/examples.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/naming.md
  website/static/spec/facets/1-0-1/DatasetTypeDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports

Update formatting
  website/static/ecosystem/consumers.tsx
Due: prettier

Add Ataccama to ecosystem consumers (#4117)
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
