Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Update integration/prefect/listener.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

changes missing from commit
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fix in run facets
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

fix run facets and remove print stmt
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

rm duplicative code
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Add ProcessingEngineRunFacet
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

spark path fixes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
Due: pmd-spark, spotless-integration-spark

normalize hive style partitions
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
Due: pmd-spark, spotless-integration-spark

use OL conf
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitorTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
Due: pmd-spark, spotless-integration-spark

move
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
Due: pmd-spark, spotless-integration-spark

fix(spark): update spark3 test mock to match new 3-arg PlanUtils.getDirectoryPaths signature
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

chore: Log if json parsing fails for env var
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

chore: Log if json parsing fails for env var (#4552)
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

update
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

s3 table catalog support
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/S3TablesUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/S3TablesUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: make iceberg catalog identifiers optional
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

spark: map sqlserver to MsSqlDialect
  integration/sql/impl/src/dialect.rs
Due: none

spark: move sqlserver regression to integration tests
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

test
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: none

spark: make iceberg catalog identifiers optional (#4557)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: add iceberg s3 tables catalog support
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/S3TablesUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/S3TablesUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: add catalog-table s3 tables support
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/S3TablesUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/S3TablesUtilsTest.java
Due: pmd-spark, spotless-integration-spark

get_job_ns fun to get parent ns
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

use transport in flow run and parent run
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

feat(spark): Add Snowflake Iceberg REST catalog (Horizon) support (#4546)
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  client/java/src/test/java/io/openlineage/client/utils/SnowflakeUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

replace transport with ns
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fix(python): detect github pull request head refs
  client/python/src/openlineage/client/git.py
  client/python/tests/test_source_code_location.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spec: add GcpBigQueryRoutineJobFacet
  spec/registry/gcp/bigquery/facets/GcpBigQueryRoutineJobFacet.json
  spec/registry/gcp/bigquery/registry.json
  website/static/spec/facets/1-0-0/GcpBigQueryRoutineJobFacet.json
Due: check_schemas, generate_facets, spec-changes

persistent run IDs and general cleanup
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

remove unused get_deployment fun
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

persist flow run ids for parentrunfacet
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

NominalTimeRunFacet for tasks and class in listener
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

spark: map sqlserver to MsSqlDialect (#4556)
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

fix(spark): fix SnowflakeCatalogTypeHandler.getIdentifier() return type
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

fix(spark): fix SnowflakeCatalogTypeHandler.getIdentifier() return type (#4571)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

hive: bump testcontainers to 1.21.4 to fix Docker API mismatch on CI
  integration/hive/hive-openlineage-hook/build.gradle
Due: check-version-files
