Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

fix: Force buildSrc rebuild to use new Shadow plugin
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Downgrade Kotlin version to 1.9.23 for Gradle compatibility
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Downgrade Shadow plugin to 8.3.10 for Kotlin compatibility
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/spark/buildSrc/build.gradle.kts
Due: check-version-files

fix: Force Kotlin 1.9.23 for all buildSrc dependencies
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Upgrade to Gradle 8.13 and Shadow 9.4.0 to fix Jackson vulnerability
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/gradle/wrapper/gradle-wrapper.properties
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle/wrapper/gradle-wrapper.properties
Due: check-version-files

fix: Match Kotlin version to Gradle 8.13 embedded Kotlin (2.0.21)
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Upgrade to Gradle 8.14 for Kotlin 2.2.0 compatibility
  client/java/gradle/wrapper/gradle-wrapper.properties
  integration/flink/gradle/wrapper/gradle-wrapper.properties
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle/wrapper/gradle-wrapper.properties
Due: none

update the version in go project to match the rest
  client/go/pkg/openlineage/version.go
Due: none

review changes
  .circleci/continue_config.yml
  client/go/README.md
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
Due: check-version-files, forbid-attr-s

enable transport to return responses from lineage consumers
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: none

add missing http config options
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  release.sh
Due: none

integrate client with CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/helpers.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
  release.sh
Due: check-version-files, forbid-attr-s

add go-style tag during release
  client/go/go.mod
  client/go/go.sum
  release.sh
Due: none

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none

remove redundant methods
  client/go/pkg/openlineage/job.go
Due: none

propagate errors in StartRun
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
Due: none

initial client
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

fixes in class generation
  client/go/internal/generate/gen_facets.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/run.go
Due: none

linter setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  .pre_commit/run-golangci-lint.sh
  client/go/.gitignore
  client/go/.golangci.yml
  client/go/README.md
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
Due: check-version-files, forbid-attr-s, prettier

review changes + lint setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  .pre_commit/run-golangci-lint.sh
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/internal/generate/gen_facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
Due: check-version-files, forbid-attr-s, prettier

transport tests
  client/go/pkg/transport/console_test.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport_test.go
Due: none

fixes
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
Due: none

Go client (#4358)
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  .pre-commit-config.yaml
  client/go/.gitignore
  client/go/.golangci.yml
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/helpers.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/console_test.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/go/pkg/transport/transport_test.go
  release.sh
Due: check-version-files, forbid-attr-s, prettier

integrate client with CI
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

linter setup
  .pre_commit/run-golangci-lint.sh
  go.work
Due: none

review changes + lint setup
  .circleci/continue_config.yml
  .pre_commit/run-golangci-lint.sh
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

byool openlineage terraform resource
  byool/terraform/.gitignore
  byool/terraform/README.md
  byool/terraform/go.mod
  byool/terraform/go.sum
  byool/terraform/ol/base_dataset_resource.go
  byool/terraform/ol/base_job_resource.go
  byool/terraform/ol/capability.go
  byool/terraform/ol/event_builder.go
  byool/terraform/ol/models.go
  byool/terraform/ol/ol_models.go
  byool/terraform/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

fix(spark): Fix MongoDB URI parsing and add logging to MongoMicroBatchStreamStrategy
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategy.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
Due: pmd-spark, spotless-integration-spark

Fix PMD violations in MongoMicroBatchStreamStrategyTest
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
Due: none

updating aws sdk version to resolve CVE-2026-33871
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

add Jakub Moravec to committers (#4402)
  COMMITTERS.md
Due: forbid-attr-s

spark: fixed handling of InMemoryRelation with repeating unqualified column names (#4390)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageInMemoryTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: pmd-spark, spotless-integration-spark

provide data quality assertions for singular tests (#4400)
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/schema/dbt-node-job-facet.json
  integration/common/tests/dbt/structured_logs/duckdb/test_singular_tests/logs/singular_test_logs.jsonl
  integration/common/tests/dbt/structured_logs/duckdb/test_singular_tests/results/singular_test_ol_events.json
  integration/common/tests/dbt/structured_logs/duckdb/test_singular_tests/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/profiles.yml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/tests/integration/dbt_project/tests/assert_customer_order_consistency.sql
  integration/dbt/tests/integration/dbt_project/tests/assert_positive_order_amounts.sql
  integration/dbt/tests/integration/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

feat(spark): Add MongoDB, Iceberg, and Kinesis streaming support for Spark 4.0
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KinesisMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KinesisMicroBatchStreamStrategyTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2VisitorTest.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/StreamingDataSourceV2ScanRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

style: Apply Spotless formatting
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KinesisMicroBatchStreamStrategyTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2VisitorTest.java
Due: pmd-spark, spotless-integration-spark

fix: Remove unused variable in WriteToDataSourceV2VisitorTest
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2VisitorTest.java
Due: none

dbt: add sourceCodeLocation facet with repo URL override and git autodetect (#4398)
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facets.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/conftest.py
  client/python/tests/test_client.py
  client/python/tests/test_source_code_location.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

documentation: Adding IBM as OpenLineage producer, and contributor (#4411)
  CONTRIBUTORS.md
  website/static/ecosystem/producers.tsx
Due: forbid-attr-s, prettier
