Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

clint: Adding support for JWT authentication - making sure incorrect env vars fail the initialization of the client
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/test/java/io/openlineage/client/transports/JwtTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_jwt_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

clint: Adding support for JWT authentication
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/JwtTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_jwt_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

clint: Adding support for JWT authentication - cr changes
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/test/java/io/openlineage/client/transports/JwtTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_jwt_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

Disable CLL for LogicalRDD plans
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

Fix formatting issues in README.md
  README.md
Due: check-version-files, forbid-attr-s

update Collate website description
  website/static/ecosystem/consumers.tsx
Due: prettier

Delete website/static/img/collate-logo.svg
  website/static/img/collate-logo.svg
Due: none

add collate logo to ecosystem site
  website/static/img/collate-logo.svg
Due: none

Disable input-schema extraction for LogicalRDD
  integration/spark/app/integrations/container/pysparkRDDWithParquet.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: prettier, pmd-spark, spotless-integration-spark

Disable CLL for LogicalRDD plans (#4329)
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

clint: Adding support for JWT authentication - disabling PMD for reflection used in unit test
  client/java/src/test/java/io/openlineage/client/transports/JwtTokenProviderTest.java
Due: none

clint: Adding support for JWT authentication (#4313)
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/JwtTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_jwt_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

Extract input schema from Iceberg DataSourceRDD
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddDatasetInfoExtractorTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

tmp
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

pure golang vibe
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

Add padding and convert to png
  website/static/ecosystem/consumers.tsx
  website/static/img/collate-logo.png
Due: prettier

spark: Disable input schema extraction for LogicalRDD and add schema extraction for Iceberg DataSourceRDD (#4331)
  integration/spark/app/integrations/container/pysparkRDDWithParquet.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDTransformationsStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddDatasetInfoExtractorTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

fix(spark): resolve parent job name in ParentRunFacet for AWS Glue
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/ContextFactoryTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
Due: pmd-spark, spotless-integration-spark

integrate with current OL version and CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage_test.go
  go.work
  release.sh
Due: check-version-files, forbid-attr-s

fix(python): remove unneeded `build` runtime dependency
  client/python/pyproject.toml
Due: none

Enhance dark mode and rm typography
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
Due: prettier

Replace style tags with CSS
  website/src/css/custom.css
  website/src/pages/community.tsx
Due: prettier

limit iceberg tests to java 11+
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: none

limit iceberg tests to java 11+ (#4343)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: none

fix(python): remove unneeded `build` runtime dependency (#4344)
  client/python/pyproject.toml
Due: none

fix(spark): resolve parent job name in ParentRunFacet for AWS Glue (#4340)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/ContextFactoryTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
Due: pmd-spark, spotless-integration-spark

changelog for release 1.44.0
  CHANGELOG.md
  website/docs/releases/1_44_0.md
Due: forbid-attr-s

changelog for release 1.44.0 (#4341)
  CHANGELOG.md
  website/docs/releases/1_44_0.md
Due: forbid-attr-s

Prepare for release 1.44.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.45.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

docs: add AI agent contribution guidelines
  .gitignore
  AGENTS.md
Due: forbid-attr-s

docs: add AI disclosure requirements
  .github/pull_request_template.md
  AGENTS.md
Due: forbid-attr-s

Apply suggestion from @harels
  .github/pull_request_template.md
Due: forbid-attr-s

chore: add CLAUDE.md to .gitignore
  .gitignore
Due: none

Apply suggestions from code review
  AGENTS.md
Due: forbid-attr-s

Apply suggestion from @harels
  AGENTS.md
Due: forbid-attr-s

docs: add AI agent contribution guidelines (#4322)
  .github/pull_request_template.md
  .gitignore
  AGENTS.md
Due: forbid-attr-s

Update website/src/css/custom.css
  website/src/css/custom.css
Due: prettier

Use get method for dbt project version retrieval
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Use get method for dbt project version retrieval (#4345)
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
