Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

feat: Add default tags with OL client version (#3980)
  client/python/openlineage/client/client.py
  client/python/tests/example_full_event.json
  client/python/tests/test_client.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
  client/python/tests/transform/test_transform.py
Due: forbid-attr-s

spec: add DatasetQualityMetricsDatasetFacet (#3978)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/redact_fields.yml
  spec/facets/DataQualityMetricsDatasetFacet.json
  spec/tests/DataQualityMetricsDatasetFacet/1.json
  website/static/spec/facets/1-0-0/DataQualityMetricsDatasetFacet.json
  website/static/spec/facets/1-0-3/DataQualityMetricsInputDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

Fully relocated OpenLineage SQL package
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollectorTest.java
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/ExtractionError.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/QuoteStyle.java
  integration/sql/iface-java/src/main/java/shaded/io/openlineage/sql/SqlMeta.java
  integration/sql/iface-java/src/main/jni/io_openlineage_sql_OpenLineageSql.h
  integration/sql/iface-java/src/main/jni/shaded_io_openlineage_sql_OpenLineageSql.h
  integration/sql/iface-java/src/test/integration/TestParser.java
  integration/sql/iface-java/src/test/java/shaded/io/openlineage/sql/OpenLineageSqlTest.java
Due: spotless-integration-spark

Add GCP Composer job and run facets definitions
  spec/registry/gcp/composer/facets/GcpComposerJobFacet.json
  spec/registry/gcp/composer/facets/GcpComposerRunFacet.json
  spec/registry/gcp/composer/registry.json
Due: prettier, check_schemas, generate_facets, spec-changes

Update to Composer 3, remove unused facet
  spec/registry/gcp/composer/facets/GcpComposerRunFacet.json
  spec/registry/gcp/composer/registry.json
Due: prettier, check_schemas, generate_facets, spec-changes

Format json
  spec/registry/gcp/composer/facets/GcpComposerJobFacet.json
  spec/registry/gcp/composer/facets/GcpComposerRunFacet.json
  spec/registry/gcp/composer/registry.json
Due: prettier, check_schemas, generate_facets, spec-changes

Gcp composer facets (#3986)
  spec/registry/gcp/composer/facets/GcpComposerJobFacet.json
  spec/registry/gcp/composer/facets/GcpComposerRunFacet.json
  spec/registry/gcp/composer/registry.json
Due: prettier, check_schemas, generate_facets, spec-changes

bug: Fix facet/website mismatch due to casing issue
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  spec/facets/DataQualityMetricsDatasetFacet.json
  spec/facets/DataQualityMetricsInputDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

bug: Fix facet/website mismatch due to casing issue (#3988)
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  spec/facets/DataQualityMetricsDatasetFacet.json
  spec/facets/DataQualityMetricsInputDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

docs: update data quality metrics docs to reflect recent changes
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
Due: forbid-attr-s

Ensure dataset facet pages are ordered correctly and fix some phrasing
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/input-dataset-facets/data_quality_metrics.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
Due: forbid-attr-s

docs: update data quality metrics docs to reflect recent changes (#3989)
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
Due: forbid-attr-s

Modularize file transport into two implementations.
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
  website/docs/client/python.md
Due: forbid-attr-s

Python: add fsspec support for FileTransport.
  client/python/openlineage/client/transport/file.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  website/docs/client/python.md
Due: forbid-attr-s

Python: add fsspec support for FileTransport. (#3983)
  client/python/openlineage/client/transport/file.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  website/docs/client/python.md
Due: forbid-attr-s

feat: enhance isDefinedAt method to check for SparkPartitioningAwareScan interface
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilderTest.java
Due: spotless-integration-spark

Add BigQueryNodeOutputVisitor Fix
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
Due: spotless-integration-spark

update DbtRunRunFacet to add more useful information
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/test_facets.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, prettier

Duplicate iface-java in a shaded package
  .circleci/continue_config.yml
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/settings.gradle
  integration/sql/iface-java/shaded/build.gradle
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/ExtractionError.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/QuoteStyle.java
  integration/sql/iface-java/shaded/src/main/java/shaded/io/openlineage/sql/SqlMeta.java
  integration/sql/iface-java/shaded/src/main/jni/shaded_io_openlineage_sql_OpenLineageSql.h
Due: check-version-files

limit external getFileStatus calls when dealing with lots of S3 objects
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: spotless-integration-spark

[SPARK] Add catalog facet when using vanilla Hive tables
  integration/spark/app/integrations/container/pysparkCLLEnd.json
  integration/spark/app/integrations/container/pysparkCTASEnd.json
  integration/spark/app/integrations/container/pysparkHiveCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirCompleteEvent.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: prettier, spotless-integration-spark

output stats for rdd jobs
  integration/spark/app/integrations/container/pysparkRDDWithParquet.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
Due: prettier, spotless-integration-spark

Spark: improve logging in IcebergInputStatisticsInputDatasetFacetBuilder
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

Duplicate iface-java in a shaded package
  integration/sql/iface-java/src/lib.rs
Due: none

Spark: improve logging in IcebergInputStatisticsInputDatasetFacetBuilder (#3994)
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

[SPARK] Add integration test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
Due: spotless-integration-spark

fix pmdTest error; update configureScalaVariant for spark 4
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/scala-fixtures/build.gradle.kts
Due: none

re-enable testScalaUnionRddToParquet and testKafka2KafkaStreamingProducesInputAndOutputDatasets
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

limit external getFileStatus calls when dealing with lots of S3 objects (#3985)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: spotless-integration-spark

add subset dataset facets to spec
  .pre-commit-config.yaml
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base_subset_condition.py
  client/python/openlineage/client/generated/input_subset_input_dataset.py
  client/python/openlineage/client/generated/output_subset_output_dataset.py
  client/python/redact_fields.yml
  spec/facets/BaseSubsetCondition.json
  spec/facets/InputSubsetInputDatasetFacet.json
  spec/facets/OutputSubsetOutputDatasetFacet.json
  spec/tests/BaseSubsetCondition/1.json
  spec/tests/BaseSubsetCondition/2.json
  spec/tests/BaseSubsetCondition/3.json
  website/static/spec/facets/1-0-0/BaseSubsetCondition.json
  website/static/spec/facets/1-0-0/InputSubsetInputDatasetFacet.json
  website/static/spec/facets/1-0-0/OutputSubsetOutputDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

Python: fix classes generation for almost identical classes.
  .pre-commit-config.yaml
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, prettier

Python: fix classes generation for almost identical classes. (#3997)
  .pre-commit-config.yaml
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, prettier

[SPARK] Rename CatalogUtils to CatalogDatasetFacetUtils
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
Due: spotless-integration-spark

[SPARK] Add catalog facet when using vanilla Hive tables (#3982)
  integration/spark/app/integrations/container/pysparkCLLEnd.json
  integration/spark/app/integrations/container/pysparkCTASEnd.json
  integration/spark/app/integrations/container/pysparkHiveCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: prettier, spotless-integration-spark

sql: bump python version for macOS build to 3.10
  integration/sql/iface-py/script/build-macos.sh
Due: none

Revert "Python: fix classes generation for almost identical classes. (#3997)"
  .pre-commit-config.yaml
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, prettier

prek: build datamodel-code-generator to 0.33.0
  .pre-commit-config.yaml
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
Due: forbid-attr-s, prettier

Revert 3997 python/fix classes generation and bump datamodel-code-generator. (#3999)
  .pre-commit-config.yaml
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
Due: forbid-attr-s, prettier

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
