Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

tmp
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

remove obsolete steps
  .circleci/continue_config.yml
Due: none

change go version for build server, add headers
  client/go/go.mod
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: none

linter setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  .pre_commit/run-golangci-lint.sh
  client/go/.gitignore
  client/go/.golangci.yml
  client/go/README.md
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
Due: check-version-files, forbid-attr-s, prettier

version change
  client/go/go.mod
Due: none

integrate with current OL version and CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage_test.go
  go.work
  release.sh
Due: check-version-files, forbid-attr-s

temp
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/go.mod
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/helpers.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

review suggestions
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
Due: check-version-files, forbid-attr-s

pure golang vibe
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

add registry facets
  .circleci/continue_config.yml
  client/go/go.mod
  client/go/internal/generate/gen_facets.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
Due: none

integration tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/StreamingThrottleIntegrationTest.java
Due: none

fix: spotless formatting in StreamingThrottleIntegrationTest
  integration/spark/app/src/test/java/io/openlineage/spark/agent/StreamingThrottleIntegrationTest.java
Due: none

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none

fix: use distinct file paths in throttle independence integration test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/StreamingThrottleIntegrationTest.java
Due: none

fix: use distinct file paths in throttle independence integration test
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

fix: compute throttle key after buildRun() so job name includes output dataset suffix
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

enable transport to return responses from lineage consumers
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: none

add go-style tag during release
  release.sh
Due: none

fix wrong tag structure
  client/go/go.mod
  client/go/go.sum
  release.sh
Due: none

use HashSet instead of LinkedList as BFS visited set in findDependentInputs
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
Due: pmd-spark, spotless-integration-spark

fix: emit output dataset and job-name suffix for FileStreamSink without catalog table
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottler.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/StreamingMicroBatchThrottlerTest.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

improve performance of LogicalRelationDatasetBuilder when PartitioningAwareFileIndex is used
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

Fix dark mode and illegal nesting.
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
Due: prettier

use HashSet instead of LinkedList as BFS visited set in findDependentInputs (#4376)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
Due: pmd-spark, spotless-integration-spark

perf(spark): replace semanticHash with identity-based VisitedNodes tracking
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Due: pmd-spark, spotless-integration-spark

Fix spark iceberg glue catalog symlink
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

build(spark): add java.test.home property to run tests on specific JDK
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

fix(spark): use IdentityHashMap in VisitedNodes to avoid NPE from LogicalPlan.hashCode()
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Due: pmd-spark, spotless-integration-spark

perf(spark): replace semanticHash with identity-based VisitedNodes tracking (#4383)
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Due: pmd-spark, spotless-integration-spark

changelog for release 1.45.0
  CHANGELOG.md
  website/docs/releases/1_45_0.md
Due: forbid-attr-s

changelog for release 1.45.0 (#4386)
  CHANGELOG.md
  website/docs/releases/1_45_0.md
Due: forbid-attr-s

Prepare for release 1.45.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.46.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Add license and license files to pyproject.toml
  client/python/pyproject.toml
Due: none

Add license and license files to pyproject.toml (#4388)
  client/python/pyproject.toml
Due: none

initial client
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

fixes in class generation
  client/go/internal/generate/gen_facets.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/run.go
Due: none

remove redundant methods
  client/go/pkg/openlineage/job.go
Due: none
