Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

code refactor and optimizatioin based on review comment
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
Due: pmd-client-java, spotless-client-java

Add `spark.openlineage.applicationRunId` override (#4215)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: pmd-spark, spotless-integration-spark

remove catalog mapping
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

code refactor and optimizatioin based on review comment
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/resources/META-INF/services/io.openlineage.client.utils.gravitino.GravitinoInfoProvider
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: pmd-spark, spotless-integration-spark

remove unused code
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

remove unused import
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
Due: pmd-spark, spotless-integration-spark

add uri fr GravitinoInfo
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfo.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProvider.java
Due: forbid-attr-s, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix spark type error on main (#4221)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Due: pmd-spark, spotless-integration-spark

apply spotless
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Add cross-region support for DataZone transport
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/src/openlineage/client/transport/amazon_datazone.py
  client/python/tests/test_amazon_datazone.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix SparkGravitinoInfoProviderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: none

fix pmd issue
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: none

use gravition uri with metalake as the DatasetIdentifer namespace
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: pmd-spark, spotless-integration-spark

Fix missing inputs and CLL for AWS DynamicFrame
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  website/docs/integrations/spark/quickstart/quickstart_glue.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

Add gravitino information to DatasetIdentifer's SymLink
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGVFS.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

gate log behind additional flag, log the exception
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix missing inputs and CLL for AWS DynamicFrame (#4222)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  website/docs/integrations/spark/quickstart/quickstart_glue.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

gate log behind additional flag, log the exception (#4207)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

code refactor
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoManager.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

spec: add a facet for job execution parameters
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  spec/facets/ExecutionParametersRunFacet.json
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/execution_parameters.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

add website spec file
  website/static/spec/facets/1-0-0/ExecutionParametersRunFacet.json
Due: none

spec: adding naming conventions for Milvus, FileNet, Box, and SharePoint
  website/docs/spec/naming.md
Due: forbid-attr-s

spark: Remove path pattern in ColumnLineageFacet as well
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix the indentation
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
Due: none

Fix the precommit errors
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
Due: none

fix pmd-spark tests and also fixed a bug in generation of hashcode and equals method of OpenLineage class
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
Due: pmd-spark, spotless-integration-spark

optimize gvfs DataIdentifier logic
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoContext.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGVFS.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

code refine and add quickstart_gravitino.md document
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/README.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  website/docs/integrations/spark/quickstart_gravitino.md
Due: check-version-files, forbid-attr-s, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

[spark] Retrieve AWS region from EC2 metadata in YARN cluster mode
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
Due: pmd-spark, spotless-integration-spark

modify HTTP Status Code
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
Due: pmd-spark, spotless-integration-spark

mod resource handle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
Due: pmd-spark, spotless-integration-spark

move the quickstart_gravitino.md to quickstart folder
  website/docs/integrations/spark/quickstart/quickstart_gravitino.md
Due: forbid-attr-s

Add cross-region support for DataZone transport (#4218)
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/src/openlineage/client/transport/amazon_datazone.py
  client/python/tests/test_amazon_datazone.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: Remove path pattern in ColumnLineageFacet as well (#4228)
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: Fix Glue Data Catalog detection in YARN cluster mode (#4229)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
Due: pmd-spark, spotless-integration-spark

Fix BigQuery symlinks with ".db" suffix (#4192)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spec: adding naming conventions for Milvus, FileNet, Box, and SharePoint (#4226)
  website/docs/spec/naming.md
Due: forbid-attr-s
