Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

integrate client with CI
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

review changes + lint setup
  .circleci/continue_config.yml
  .pre_commit/run-golangci-lint.sh
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: none

linter setup
  .pre_commit/run-golangci-lint.sh
  go.work
Due: none

byool openlineage terraform resource
  byool/terraform/.gitignore
  byool/terraform/README.md
  byool/terraform/go.mod
  byool/terraform/go.sum
  byool/terraform/ol/base_dataset_resource.go
  byool/terraform/ol/base_job_resource.go
  byool/terraform/ol/capability.go
  byool/terraform/ol/event_builder.go
  byool/terraform/ol/models.go
  byool/terraform/ol/ol_models.go
  byool/terraform/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

extract Schema to base resource
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
Due: none

add base resource + review comments
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

review comments
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
Due: check-version-files, forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/README.md
Due: check-version-files, forbid-attr-s

run java client build in new shell to use local env variables
  integration/spark/buildDependencies.sh
Due: none

add dataproc metastore properties
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

fix: correct Feast sidebar position for alphabetical ordering
  website/docs/integrations/feast.md
Due: forbid-attr-s

fix: correct sidebar_position to 6 to maintain alphabetical order
  website/docs/integrations/feast.md
Due: forbid-attr-s

fix: correct Feast integration sidebar position for alphabetical ordering (#4464)
  website/docs/integrations/feast.md
Due: forbid-attr-s

updating aws sdk version to resolve CVE-2026-33871 (#4427)
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

run java client build in new shell to use local env variables (#4460)
  integration/spark/buildDependencies.sh
Due: none

fix(spark): Add support for SparkChangelogTable in IcebergHandler (#4439)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

add Lineage*Facet
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/spec.gen.go
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/lineage_dataset.py
  client/python/src/openlineage/client/generated/lineage_job.py
  client/python/src/openlineage/client/generated/lineage_run.py
  spec/facets/LineageDatasetFacet.json
  spec/facets/LineageJobFacet.json
  spec/facets/LineageRunFacet.json
  spec/registry/core/registry.json
  spec/tests/LineageDatasetFacet/1.json
  spec/tests/LineageJobFacet/1.json
  spec/tests/LineageRunFacet/1.json
  spec/tests/LineageRunFacet/2.json
  spec/tests/LineageRunFacet/3.json
  website/static/spec/facets/1-0-0/LineageDatasetFacet.json
  website/static/spec/facets/1-0-0/LineageJobFacet.json
  website/static/spec/facets/1-0-0/LineageRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

fix: deduplicate shared types across lineage facets, fix CI
  client/go/pkg/facets/facet_helpers.gen.go
  client/java/src/main/java/io/openlineage/client/OpenLineage.java
  client/java/src/main/java/io/openlineage/server/OpenLineage.java
  client/python/pyproject.toml
  client/python/redact_fields.yml
  client/python/src/openlineage/client/generated/lineage_dataset.py
  client/python/src/openlineage/client/generated/lineage_job.py
  spec/facets/LineageDatasetFacet.json
  spec/facets/LineageJobFacet.json
  website/static/spec/facets/1-0-0/LineageDatasetFacet.json
  website/static/spec/facets/1-0-0/LineageJobFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes, pmd-client-java, spotless-client-java

fix(go): manually add lineage facet types to Go client
  client/go/internal/generate/gen_facets.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/spec.gen.go
Due: none

python: Add support for dataset normalization in Python Client
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/__init__.py
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/config/dataset.yaml
  client/python/tests/dataset/__init__.py
  client/python/tests/dataset/test_config.py
  client/python/tests/dataset/test_normalizer.py
  client/python/tests/dataset/test_trimmers.py
  client/python/tests/test_client.py
  client/python/tests/test_event_normalization.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

explicit lineage proposal
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
Due: forbid-attr-s

update based on Jakub's suggestions
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
Due: forbid-attr-s

Add Python client dataset name normalization doc
  website/docs/client/python/configuration.md
Due: forbid-attr-s

explicit lineage adoption guideline
  proposals/explicit_lineage_facet/ExplicitLineageAdoptionGuideline.md
Due: forbid-attr-s

java: migrate kinesis transport to v2 KPL
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Due: check-version-files

spark: fix PathUtils.reconstructDefaultLocation malformed URI
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

fix race condition in dbt parsing
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(spark): use 2-arg Path constructor in reconstructDefaultLocation to avoid malformed URI
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

feat(ecosystem): add Provero to producers list
  website/static/ecosystem/producers.tsx
  website/static/img/provero_logo.svg
Due: prettier

fix(spark/test): make drop table lifecycle state assertion actually fail on mismatch
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitorTest.java
Due: none

test(spark34): add unit tests for DropTableDatasetBuilder covering ResolvedIdentifier
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/DropTableDatasetBuilderTest.java
Due: none

style: apply Spotless formatting to DropTableCommandVisitorTest
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitorTest.java
Due: none

style: apply Spotless formatting to DropTableDatasetBuilderTest
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/DropTableDatasetBuilderTest.java
Due: none

fix race condition in dbt parsing (#4472)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none
