Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

Prepare next development version 1.54.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

spark: preserve extension outputs for streaming writes
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: simplify adaptive filter checks
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaProvider.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaTable.java
Due: pmd-spark, spotless-integration-spark

spark: keep adaptive events for non-Delta writes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaCommand.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaFileFormat.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaProvider.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaTable.java
Due: pmd-spark, spotless-integration-spark

spark: satisfy variant test PMD checks
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkSqlExecutionNestingTrackerTest.java
Due: none

spark: correlate nested command executions
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/rtas.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSqlExecutionNestingTracker.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkSqlExecutionNestingTrackerTest.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaCommand.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaFileFormat.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaProvider.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaTable.java
  issues/pr-4885-review-follow-up-findings.md
Due: forbid-attr-s, check-python-generated-imports, pmd-spark, spotless-integration-spark

spark: add adaptive Delta integration regressions
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/ctas.py
  integration/spark/app/src/test/resources/databricks_notebooks/rtas.py
  issues/pr-4885-review-follow-up-findings.md
Due: forbid-attr-s, check-python-generated-imports

docs(guides): make About in Guides vendor-neutral, closes #4671
  website/docs/guides/about.md
Due: forbid-attr-s

spark: tolerate Spark 3.2 sibling CTAS executions
  integration/spark/app/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterIntegrationTest.java
Due: none

spark: complete outputless RDD runs
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
Due: pmd-spark, spotless-integration-spark

spark: recover start events of fast SQL executions
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/PendingSparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerPendingSqlExecutionTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSqlExecutionBacklogIntegTest.java
Due: pmd-spark, spotless-integration-spark

sql: include QUALIFY subquery inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

Add cra to security doc
  CODE_QUALITY_AND_SECURITY.md
Due: forbid-attr-s

docs: document Unix Domain Socket support in HttpTransport
  website/docs/client/java/partials/java_transport.md
Due: forbid-attr-s

Support Unix Domain Socket URLs in HttpTransport
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TunnelingUnixSocket.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: check-version-files, pmd-client-java, spotless-client-java

test: add Unix Domain Socket round-trip test for HttpTransport
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: none

client: prevent event loss on HTTP redirects
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/python/src/openlineage/client/transport/async_http.py
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_async_http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

test: satisfy PMD in HttpTransport unix socket tests
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: none

spark: prevent late task metrics retention
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsCleanupIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark

spark: cancel facet task on interruption
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutorTest.java
Due: pmd-spark, spotless-integration-spark

fix: make jnr-unixsocket an optional (compileOnly) dependency
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  website/docs/client/java/partials/java_transport.md
Due: check-version-files, forbid-attr-s, pmd-client-java, spotless-client-java

Use JDK-native Unix Domain Socket support instead of jnr-unixsocket
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TunnelingUnixSocket.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: check-version-files, forbid-attr-s, pmd-client-java, spotless-client-java

sql: include QUALIFY subquery inputs (#4915)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

Support Unix Domain Socket URLs (unix://) in the Java HTTP transport (#4920)
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TunnelingUnixSocket.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: forbid-attr-s, pmd-client-java, spotless-client-java

spark: centralize dataset dispatch and add opt-in tracing
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetDispatchTrace.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetDispatcher.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatasetDispatchTraceTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatasetDispatcherTest.java
  plans/spark-extraction-dispatch-plan.md
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

spark: exclude local dispatch plan from PR
  plans/spark-extraction-dispatch-plan.md
Due: forbid-attr-s

spark: fix PMD violations in dispatch tests
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatasetDispatchTraceTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatasetDispatcherTest.java
Due: none

docs: add Spark version support and deprecation policy
  website/docs/integrations/spark/spark.md
Due: forbid-attr-s

client: address redirect policy review
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_http.py
  client/python/tests/transform/test_transform.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

spark: replay missed SQL start events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: pmd-spark, spotless-integration-spark

spark: preserve top-level adaptive lineage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Misc fixes
  integration/prefect/adapter.py
  integration/prefect/listener.py
  integration/prefect/pyproject.toml
  integration/prefect/tests/test_adapter.py
  integration/prefect/tests/test_listener.py
Due: forbid-attr-s, check-python-generated-imports

client-java: avoid Cartesian inputs for CLL outputs
  client/java/src/main/java/io/openlineage/client/LineageCompatibilityConverter.java
  client/java/src/test/java/io/openlineage/client/LineageCompatibilityConverterTest.java
Due: pmd-client-java, spotless-client-java

client: add OAuth2 client credentials token provider
  client/java/src/main/java/io/openlineage/client/transports/JwtTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenEndpointTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

client: keep per-class log categories and encode client credentials
  client/java/src/main/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenEndpointTokenProvider.java
  client/java/src/test/java/io/openlineage/client/transports/OAuth2ClientCredentialsTokenProviderTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_oauth2_client_credentials_token_provider.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

spec: add captureDate to DataQualityMetricsDatasetFacet
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/src/openlineage/client/generated/data_quality_metrics_dataset.py
  spec/tests/DataQualityMetricsDatasetFacet/2.json
  website/docs/spec/facets/dataset-facets/data_quality_metrics.md
  website/static/spec/facets/1-0-1/DataQualityMetricsDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

go: accept any 2xx response in the HTTP transport
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
