Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

[Flink] Do not hide OpenLineage config parsing errors (#3724)
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
Due: pmd-flink, pmd-spark

Update consumers.tsx
  website/static/ecosystem/consumers.tsx
Due: prettier

Add files via upload
  website/static/img/Collibra-Logo-RGB.png
Due: none

[DBT] Add processing_engine facet (#3725)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: forbid-attr-s, prettier

Add files via upload
  website/static/img/Collibra_logo_RGB.svg
Due: none

java: prevent original events from being mutated in TransformTransport (#3728)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
Due: pmd-client-java, spotless-client-java

Add Github stars statistics to Readme (#3730)
  README.md
Due: check-version-files, forbid-attr-s

[DBT] Document supported adapters (#3729)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: check-version-files, forbid-attr-s

Prettify Flink JSON event examples (#3742)
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: prettier

[Flink] Add processing_engine facet (#3726)
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: prettier, pmd-flink, pmd-spark

Prettify Airflow JSON event examples (#3741)
  integration/airflow/tests/integration/data/secrets/connections.json
  integration/airflow/tests/integration/requests/airflow_run_facet/mysql.json
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/requests/bigquery.json
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/dbt_bigquery.json
  integration/airflow/tests/integration/requests/dbt_snowflake.json
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/requests/failed_sql_extraction.json
  integration/airflow/tests/integration/requests/failing/async.json
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/integration/requests/ftp.json
  integration/airflow/tests/integration/requests/gcs.json
  integration/airflow/tests/integration/requests/great_expectations.json
  integration/airflow/tests/integration/requests/mysql.json
  integration/airflow/tests/integration/requests/postgres.json
  integration/airflow/tests/integration/requests/s3copy.json
  integration/airflow/tests/integration/requests/s3transform.json
  integration/airflow/tests/integration/requests/secrets.json
  integration/airflow/tests/integration/requests/sftp.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/source_code.json
  integration/airflow/tests/integration/requests/task_group.json
  integration/airflow/tests/integration/requests/trino.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/common/openlineage/common/provider/data-quality-dataset-facet.json
  integration/common/openlineage/common/provider/ge-assertions-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-run-facet.json
  integration/common/openlineage/common/schema/unknown-source-attribute-run-facet.json
Due: prettier

Restyle cardmedia. (#3733)
  website/src/pages/ecosystem.tsx
Due: prettier

Prettify DBT JSON event examples (#3743)
  integration/common/openlineage/common/schema/dbt-version-run-facet.json
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: prettier

dbt-ol should not error on job complete if there is no start event (#3749)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s

[Flink] Add facet with Flink jobId (#3744)
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/FlinkJobDetailsFacet.java
Due: prettier, pmd-flink, pmd-spark

[DBT] Initial support for Clickhouse (#3739)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: check-version-files, forbid-attr-s

[spark] Update Spark 4 dependency to 4.0.0 (remove -preview1 suffix) (#3751)
  integration/spark/spark40/build.gradle
Due: check-version-files

[SPEC] Add contentType to documentation facet (#3748)
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_facet_v2.py
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  spec/tests/DocumentationDatasetFacet/1.json
  spec/tests/DocumentationJobFacet/1.json
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/job-facets/documentation.md
  website/static/spec/facets/1-1-0/DocumentationDatasetFacet.json
  website/static/spec/facets/1-1-0/DocumentationJobFacet.json
Due: forbid-attr-s, prettier, pmd-flink, pmd-spark

[Docs] Add documentation for some facets (#3752)
  spec/registry/core/registry.json
  spec/tests/DatasetTypeDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/facets/job-facets/ownership.md
  website/docs/spec/facets/job-facets/source-code-location.md
  website/docs/spec/facets/job-facets/source-code.md
  website/docs/spec/facets/job-facets/sql.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/error_message.md
  website/docs/spec/facets/run-facets/external_query.md
  website/docs/spec/facets/run-facets/extraction_error.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: forbid-attr-s, prettier, check_schemas, generate_facets, spec-changes

Run prettier on .json files (#3750)
  .pre-commit-config.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink1/src/test/resources/events.jsonl
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events_proto.jsonl
  integration/flink/flink1/src/test/resources/generate_events.sh
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/resources/events.jsonl
  integration/flink/flink2/src/test/resources/generate_events.sh
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
Due: prettier

filter temp inner jobs for bigquery indirect mode (#3722)
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: check-version-files, prettier, spotless-integration-spark

Tweak the Maven signing config (#3069)
  client/java/build.gradle
Due: check-version-files

nit: fix supported airflow versions (#3755)
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  website/docs/integrations/airflow/older.md
Due: check-version-files, forbid-attr-s

[Java] Speedup generateNewUUID (#3754)
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
Due: pmd-client-java, spotless-client-java

[DBT] Use adapter rows_affected as outputStatistics (#3731)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/spark/thrift/result.json
Due: forbid-attr-s, prettier

Remove Airflow < 2.5.0 support (#3669)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  integration/README.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/setup.cfg
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  website/docs/development/developing/python/tests/airflow.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: check-version-files, forbid-attr-s

Fix visibility of GcpLineageTransportConfig.Mode (#3762)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/resources/config/lowercase_async_config.yaml
  client/java/transports-gcplineage/src/test/resources/config/uppercase_async_config.yaml
  website/docs/client/java/partials/java_transport.md
Due: check-version-files, forbid-attr-s, pmd-client-java, spotless-client-java

fix variables in docs for setting of root parents in spark config (#3761)
  website/docs/integrations/spark/configuration/airflow.md
Due: forbid-attr-s

[spark] Add support for Big Query Metastore catalog type (#3760)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

smart debug facet (#3715)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageRunStatus.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, spotless-integration-spark

[Spark] Fix missing table path in InsertIntoHadoopFsRelationCommand (#3773)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Due: spotless-integration-spark

Delete Collibra-Logo-RGB.png
  website/static/img/Collibra-Logo-RGB.png
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
