Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Add schema facet for Snowflake writes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Refactor after adding CLL for Snowflake
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
Due: pmd-spark, spotless-integration-spark

Extract common SQL CLL extraction logic
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
Due: pmd-spark, spotless-integration-spark

Add CLL facet for Snowflake writes
  integration/spark/vendor/snowflake/build.gradle
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeEventHandlerFactory.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: check-version-files, pmd-spark, spotless-integration-spark

Update Snowflake vendor README
  integration/spark/vendor/snowflake/README.md
Due: check-version-files, forbid-attr-s

Add config to disable RDD event emitting
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

Adjust colors for improved contrast
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

spark: less aggressive normalization in uuid case
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: pmd-spark, spotless-integration-spark

spark: less aggressive normalization in uuid case (#4178)
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: pmd-spark, spotless-integration-spark

Website: add animated wall (#4167)
  website/package.json
  website/src/css/custom.css
  website/src/pages/home.tsx
  website/yarn.lock
Due: prettier

create mock credential file during tests
  client/java/.gitignore
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

spotless
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

change shaded path and update mocking credentials file
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

fix pmd
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

spec: add a facet for job run parameters
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/job_run_parameters.py
  spec/facets/JobRunParametersFacet.json
  website/docs/spec/facets/run-facets/job_run_parameters.md
  website/static/JobRunParametersFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

fix PMD issues
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: none

fix PMD issues and integration test failures
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: pmd-client-java, spotless-client-java

add more test for gravitino integration in spark
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: none

support Lineage for Gravitino spark connector
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfo.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGVFS.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: check-version-files, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix PMD issues
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
Due: pmd-client-java, spotless-client-java

cache gravitinoInfo
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
Due: pmd-client-java, spotless-client-java

add debugging info
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

code refine and add documentation in spark README.md
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/README.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: check-version-files, forbid-attr-s, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix precommit check error
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix a build config issue in client/java/transports-s3/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

Revert "fix a build config issue in client/java/transports-s3/build.gradle"
  client/java/transports-s3/build.gradle
Due: check-version-files

fix test cases
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix prek reported issue
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: pmd-spark, spotless-integration-spark

examples
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_hive_failing.py
Due: forbid-attr-s, check-python-generated-imports

fix issue reported by pmdTests
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: forbid-attr-s

feat: Add debug mode to file transport
  client/python/src/openlineage/client/serde.py
  client/python/src/openlineage/client/transport/file.py
  client/python/tests/test_events.py
  client/python/tests/test_file.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

feat: Add debug mode to file transport (#4185)
  client/python/src/openlineage/client/serde.py
  client/python/src/openlineage/client/transport/file.py
  client/python/tests/test_events.py
  client/python/tests/test_file.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

nit: small log change
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/transport/composite.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

nit: small log change (#4186)
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/transport/composite.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python
