Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Rename Node Visitors
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/NodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
Due: pmd-spark, spotless-integration-spark

Add WindowExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce JoinNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Extract traversal of expression tree to new class
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
Due: none

Add AggregateExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce ProjectNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ProjectNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ProjectNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce AggregateNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce FilterNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add AliasExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce VisitorFactory
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
Due: pmd-spark, spotless-integration-spark

Move node visitors to dedicated package
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/NodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionFieldDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Rename nodes to operators
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/IcebergMergeIntoOperatorsVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/OperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowOperatorVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowOperatorVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Extract traversal of expression tree to new class
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
Due: pmd-spark, spotless-integration-spark

Add CoalesceExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Fix copilot suggestions
  client/python/openlineage/client/transport/gcplineage.py
  client/python/tests/test_gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

python: add GCP Lineage transport (#4006)
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/gcplineage.py
  client/python/pyproject.toml
  client/python/tests/test_gcplineage.py
  website/docs/client/python.md
Due: forbid-attr-s, check-python-generated-imports

Refactor ExecutorService management in OpenLineageClientUtils.
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientUtilsTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

Refactor ExecutorService management in OpenLineageClientUtils. (#4012)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientUtilsTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

add subset dataset facets to spec
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base_subset_dataset.py
  client/python/redact_fields.yml
  spec/facets/BaseSubsetDatasetFacet.json
  spec/tests/BaseSubsetDatasetFacet/1.json
  spec/tests/BaseSubsetDatasetFacet/2.json
  spec/tests/BaseSubsetDatasetFacet/3.json
  spec/tests/BaseSubsetDatasetFacet/4.json
  website/static/spec/facets/1-0-0/BaseSubsetDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

make output statistics available within complete event
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark

Python: Don't silence import errors in DefaultTransportFactory
  client/python/openlineage/client/transport/factory.py
  client/python/tests/test_factory.py
Due: forbid-attr-s, check-python-generated-imports

Python: Raise errors if custom token provider cannot be loaded
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/integrations/spark/configuration/airflow.md
Due: forbid-attr-s, check-python-generated-imports

Add catalogProperties to CatalogDatasetFacet
  client/python/openlineage/client/generated/catalog_dataset.py
  website/static/spec/facets/1-1-0/CatalogDatasetFacet.json
Due: forbid-attr-s

Add catalogProperties support to Spark integration
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Python: Raise errors if custom token provider cannot be loaded (#4014)
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/integrations/spark/configuration/airflow.md
Due: forbid-attr-s, check-python-generated-imports

Python: Don't silence import errors in DefaultTransportFactory (#4015)
  client/python/openlineage/client/transport/factory.py
  client/python/tests/test_factory.py
Due: forbid-attr-s, check-python-generated-imports

Add catalog properties to catalog facet (#4016)
  client/python/openlineage/client/generated/catalog_dataset.py
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  website/static/spec/facets/1-1-0/CatalogDatasetFacet.json
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

forward dbt cloud account id
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
Due: prettier

add dbt cloud account id to dbtrunrunfacet
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/facets.py
Due: forbid-attr-s, check-python-generated-imports

add dbt cloud account id to DbtRunRunFacet (#4017)
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
Due: forbid-attr-s, check-python-generated-imports, prettier

add support for microbatch source write
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

update docs
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

disable openlineage by setting openlineage.disabled airflow var - overriden by pre-existing env var setting
  integration/airflow/openlineage/airflow/plugin.py
Due: forbid-attr-s, check-python-generated-imports

fix formatting
  integration/airflow/openlineage/airflow/plugin.py
Due: forbid-attr-s, check-python-generated-imports

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

make output statistics available within complete event (#4013)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark
