Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

fine-grained timeout config
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/TimeoutConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutorTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, pmd-client-java, spotless-client-java, spotless-integration-spark

fix timeout circuit breaker builder
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolverTest.java
Due: pmd-client-java, spotless-client-java

spec: SqlJobFacet now contains dialect
  client/python/openlineage/client/generated/sql_job.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  website/static/spec/facets/1-1-0/SQLJobFacet.json
Due: forbid-attr-s, prettier, spotless-integration-spark

Formalize dataset naming for Python client
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Fix ruff check.
  client/python/openlineage/client/dataset.py
Due: forbid-attr-s

fix intellij reload
  integration/spark/app/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

spec: SqlJobFacet now contains dialect (#3819)
  client/python/openlineage/client/generated/sql_job.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  website/static/spec/facets/1-1-0/SQLJobFacet.json
Due: forbid-attr-s, prettier, spotless-integration-spark

Formalize job naming
  client/java/src/main/java/io/openlineage/client/job/Naming.java
  client/java/src/test/java/io/openlineage/client/job/NamingTest.java
Due: pmd-client-java, spotless-client-java

docs: Fix composite transport python docs on continue_on_failure
  website/docs/client/python.md
Due: forbid-attr-s

docs: Fix composite transport python docs on continue_on_failure (#3827)
  website/docs/client/python.md
Due: forbid-attr-s

[SPARK] Fine-grained timeout config (#3779)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TimeoutCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolverTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/TimeoutConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutorTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, pmd-client-java, spotless-client-java, spotless-integration-spark

[DBT] Add DbtRun facet to dbt run events (#3764)
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

fix missing field in SQL facet test
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: none

fix missing field in SQL facet test (#3830)
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: none

release on maven central
  .circleci/continue_config.yml
  client/java/build.gradle
  integration/flink/build.gradle
  integration/hive/build.gradle
  integration/spark-extension-entrypoint/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/build.gradle
  integration/sql/iface-java/build.gradle
  integration/sql/iface-java/script/build.sh
Due: check-version-files

Add Debezium job naming convention
  website/docs/spec/naming.md
Due: forbid-attr-s

release on maven central (#3828)
  .circleci/continue_config.yml
  client/java/build.gradle
  integration/flink/build.gradle
  integration/hive/build.gradle
  integration/spark-extension-entrypoint/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/build.gradle
  integration/sql/iface-java/build.gradle
  integration/sql/iface-java/script/build.sh
Due: check-version-files

Add Debezium job naming convention (#3834)
  website/docs/spec/naming.md
Due: forbid-attr-s

[Java] Cover OpenLineageClient.close() with tests
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
Due: pmd-client-java, spotless-client-java

[Java] Make CompositeTransport.close() more reliable
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

call version utils method when dataset can be identified
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
Due: spotless-integration-spark

name threads used in Java client
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

code review changes
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  website/docs/client/python.md
Due: forbid-attr-s

name threads used in Java client (#3817)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

call version utils method when dataset can be identified (#3832)
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
Due: spotless-integration-spark

remove shutdown
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/conftest.py
  client/python/tests/test_async_http.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_http_integration.py
  integration/dbt/openlineage/dbt/__init__.py
  website/docs/client/python.md
Due: forbid-attr-s

[SPARK] Fix missing output's dataset catalog facet when running CTAS queries on Iceberg tables
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: prettier, spotless-integration-spark

[SPARK] Fix missing output's dataset catalog facet when running CTAS queries on Iceberg tables (#3835)
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: prettier, spotless-integration-spark

[Python] Implement KafkaTransport.wait_for_completion() and .close()
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Due: forbid-attr-s

feat: Add continue_on_success and sorting transport in CompositeTransport
  client/python/openlineage/client/__init__.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_factory.py
  website/docs/client/python.md
Due: forbid-attr-s

Remove Dagster integration
  .circleci/check-changes.sh
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  README.md
  integration/README.md
  integration/dagster/README.md
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/cursor.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dagster/tests/__init__.py
  integration/dagster/tests/conftest.py
  integration/dagster/tests/test_adapter_client.py
  integration/dagster/tests/test_adapter_pipeline.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
  integration/dagster/tests/test_sensor_evaluation.py
  integration/dagster/tests/test_utils.py
  new-version.sh
  ruff.toml
  website/blog/column-lineage/index.mdx
  website/blog/extractors/index.mdx
  website/blog/whats-in-a-namespace/index.mdx
  website/docs/development/developing/python/setup.md
  website/docs/development/developing/python/tests/dagster.md
  website/docs/index.md
Due: check-version-files, forbid-attr-s, prettier

feat: Add continue_on_success and sorting transport in CompositeTransport (#3829)
  client/python/openlineage/client/__init__.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_factory.py
  website/docs/client/python.md
Due: forbid-attr-s

Apply prettier fix.
  website/static/ecosystem/consumers.tsx
Due: prettier

[Java] Make CompositeTransport.close() more reliable (#3841)
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

[Java] Cover OpenLineageClient.close() with tests (#3839)
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
Due: pmd-client-java, spotless-client-java

Add Collibra as consumer in ecosystem page on openlineage.io (#3732)
  website/static/ecosystem/consumers.tsx
  website/static/img/Collibra_logo_RGB.svg
Due: prettier

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
