Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

Update integration/prefect/listener.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

hive: bump testcontainers to 1.21.4 to fix Docker API mismatch on CI (#4572)
  integration/hive/hive-openlineage-hook/build.gradle
Due: check-version-files

spark: stabilize three flaky spark integration tests on main
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Due: none

spec: relax routineType enum on GcpBigQueryRoutineJobFacet to plain string
  spec/registry/gcp/bigquery/facets/GcpBigQueryRoutineJobFacet.json
  website/static/spec/facets/1-0-0/GcpBigQueryRoutineJobFacet.json
Due: check_schemas, generate_facets, spec-changes

misc fixes
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

spec: add RoutineJobFacet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/routine_job.py
  spec/facets/RoutineJobFacet.json
  website/docs/spec/naming.md
  website/static/spec/facets/1-0-0/RoutineJobFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

fix namespace var
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

fix: upgrade netty to 4.2.13.Final to fix CVE-2026-41417
  client/java/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/vendor/gcp/build.gradle
Due: check-version-files

Update integration/prefect/adapter.py
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

PrefectDeploymentRunFacet for flow and runs
  integration/prefect/adapter.py
  integration/prefect/facets/deploymentFacet.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

chore: upgrade AWS SDK to 2.44.4 for Spark integration
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

spark: add iceberg s3 tables catalog support (#4558)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/S3TablesUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/S3TablesUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix(python): detect github pull request head refs (#4561)
  client/python/src/openlineage/client/git.py
  client/python/tests/test_source_code_location.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Get flow and task start times from client
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Get addl task start time from client
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fix multiple extension provider loads
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/ContextFactoryTest.java
Due: pmd-spark, spotless-integration-spark

Use flow_run_id for deployment info and add producer to cust facet
  integration/prefect/facets/deploymentFacet.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Move deployment var defs to listener
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

split files, sink/generator semantics
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
  proposals/explicit_lineage_facet/ExplicitLineageSchema.md
Due: forbid-attr-s

fix(python): isolate datadog config defaults
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Lakehouse Hive catalog handling
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkDatasetCompositeFacetsBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
Due: pmd-spark, spotless-integration-spark

common: declare jinja2 as a runtime dependency DbtCloudArtifactProcessor imports jinja2 at import time; minimal installs (e.g. dbt Core v2 Docker image) no longer get it transitively from dbt-duckdb.
  integration/common/pyproject.toml
Due: none

dbt: allow dbt-core 1.x and 2.x, add optional dbt-v2 extra Keep openlineage-dbt installable on dbt 1.x via dbt-core>=1.0,<3. Pin v2 alpha only under the dbt-v2 extra for experimental local testing.
  integration/dbt/README.md
  integration/dbt/pyproject.toml
Due: check-version-files, forbid-attr-s

dbt: update integration test project YAML for dbt Core v2
  integration/dbt/tests/integration/dbt_project/models/marts/schema.yml
  integration/dbt/tests/integration/dbt_project/models/staging/schema.yml
Due: none

Use fully qualified job ID for DBT BQ externalQueryId.
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Add externalQuery run facet when consume-structured-logs is used.
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

rename builder and refactor path utils
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
Due: pmd-spark, spotless-integration-spark

fix mocks in tests
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
Due: pmd-spark, spotless-integration-spark

spark: add Lakehouse Hive Catalog handling (#4574)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOutputDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

update tag fetching
  RELEASING.md
Due: forbid-attr-s

update tag fetching (#4593)
  RELEASING.md
Due: forbid-attr-s

Prepare changelog for release 1.48.0
  CHANGELOG.md
  website/docs/releases/1_48_0.md
Due: forbid-attr-s

Prepare changelog for release 1.48.0 (#4594)
  CHANGELOG.md
  website/docs/releases/1_48_0.md
Due: forbid-attr-s

Enrich partial test fixtures.
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

Prepare for release 1.48.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.49.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Add golden test fixture for dbt BQ.
  integration/common/tests/dbt/structured_logs/bigquery/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/bigquery/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/bigquery/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/profiles.yml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: check-python-generated-imports

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
