Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

dbt: skip exposure job events and handle null Datadog routing fields
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

dbt: skip exposure job events and handle null Datadog routing fields (#4990)
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Update integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Env var for option to use Prefect job names
  integration/prefect/README.md
  integration/prefect/pyproject.toml
  integration/prefect/sandbox/README.md
  integration/prefect/sandbox/quickstart.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports

Update integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

More details in readme
  integration/prefect/README.md
  integration/prefect/pyproject.toml
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports

sql: expand wildcards over derived tables, and respect wildcard modifiers
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/mod.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

docs: changelog entry for the wildcard expansion fix
  CHANGELOG.md
Due: forbid-attr-s

sql: fix four defects review found in the wildcard registry
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: rename aliased output columns in two passes
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: bind column aliases to positions, not to sources
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: expand over joined derived tables, and respect ILIKE and REPLACE
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

client: add OL name escaping - wiring configuration fixes
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/naming.go
  client/go/pkg/openlineage/naming_test.go
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/main/java/io/openlineage/client/job/Naming.java
  client/java/src/main/java/io/openlineage/client/naming/NameConfig.java
  client/java/src/main/java/io/openlineage/client/naming/NameEscaping.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
  client/java/src/test/java/io/openlineage/client/job/NamingTest.java
  client/java/src/test/java/io/openlineage/client/naming/NameEscapingTest.java
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/naming/dataset.py
  client/python/src/openlineage/client/naming/escape.py
  client/python/tests/test_escape.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  website/docs/client/java/configuration.md
  website/docs/client/python/configuration.md
  website/docs/spec/naming.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

python: fix RunState validator type checking
  client/python/src/openlineage/client/run.py
  client/python/tests/test_events.py
Due: check-python-generated-imports, mypy-client-python

python: fix RunState validator type checking (#4999)
  client/python/src/openlineage/client/run.py
  client/python/tests/test_events.py
Due: check-python-generated-imports, mypy-client-python

client: add support for http proxy
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpProxyConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/resources/config/http-proxy-system.yaml
  client/java/src/test/resources/config/http-proxy.yaml
  website/docs/client/java/partials/java_transport.md
Due: forbid-attr-s, pmd-client-java, spotless-client-java

spark: preserve lineage across Dataset checkpoint()/localCheckpoint()
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CheckpointLineageTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Checkpoint.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/CheckpointContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: pmd-spark, spotless-integration-spark

spark: return first matching Iceberg metrics report across catalogs
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolderTest.java
Due: pmd-spark, spotless-integration-spark

spark: skip Iceberg input statistics when the facet is disabled
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilderTest.java
  integration/spark/vendor/iceberg/src/test/java/org/apache/iceberg/spark/TestingScanWithTasks.java
Due: pmd-spark, spotless-integration-spark

spark: only unwrap JDBC dbtable when it is a single parenthesized subquery
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: inject Iceberg metrics reporter when catalog cache is disabled
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: pmd-spark, spotless-integration-spark

spark: keep V2 datasets when the dataset version lookup fails
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: isolate facet builder failures
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: pmd-spark, spotless-integration-spark

docs: describe read-only query runs and how to filter them in Spark
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s

spark: tolerate duplicate data files in Iceberg input statistics
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

sql: fall back to loadError when the native library fails to link
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
Due: none

spark: use ContentFile.location() for Iceberg input statistics when available
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

docs: document graceful shutdown for the Spark integration
  website/docs/integrations/spark/configuration/circuit_breaker.md
  website/docs/integrations/spark/configuration/usage.md
Due: forbid-attr-s

spark: derive SaveIntoDataSourceCommand lifecycle state from SaveMode
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Due: pmd-spark, spotless-integration-spark

spark: don't attach an Iceberg commit report to other runs
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolderTest.java
Due: pmd-spark, spotless-integration-spark

spark: add table suffix to metadata-only DELETE job names
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/DeleteFromTableWithFiltersDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/DeleteFromTableWithFiltersDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: use non-null existing reporter in Iceberg injector test
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: none

spark: ignore parentheses in SQL comments when unwrapping JDBC dbtable
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: qualify Delta fallback locations and use database location
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: include non-attribute MERGE assignments in column lineage
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/IcebergMergeIntoVisitor.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitorTest.java
Due: pmd-spark, spotless-integration-spark

spark: extract repeated Iceberg test literals into constants
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergRelationHandlerTest.java
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
