Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

minor comment edit
  integration/airflow/openlineage/airflow/listener.py
Due: forbid-attr-s, check-python-generated-imports

update docs to be more explicit about order of disable checks
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

minor update
  integration/airflow/openlineage/airflow/listener.py
Due: forbid-attr-s, check-python-generated-imports

use debug log level for disabled cache logs
  integration/airflow/openlineage/airflow/listener.py
Due: forbid-attr-s, check-python-generated-imports

minor edit
  integration/airflow/openlineage/airflow/listener.py
Due: forbid-attr-s, check-python-generated-imports

serialize event to json for logging
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

respect overridden appName in EventEmitter
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
Due: pmd-spark, spotless-integration-spark

run precommit checks
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

added test to identify the CTAS issue
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CreateDataSourceTableAsSelectCommandIntegrationTest.java
Due: none

Added CreateDataSourceTableAsSelectCommand to CommandPlanVisitor
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
Due: pmd-spark, spotless-integration-spark

Fix missing CLL on CreateDataSourceAsSelectCommand
  integration/spark/app/integrations/container/hiveCreateDataSourceAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/hiveCreateDataSourceAsSelectCommandStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CreateDataSourceTableAsSelectCommandIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: prettier, pmd-spark, spotless-integration-spark

Fix inputs and CLL on CreateHiveTableAsSelect
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: prettier, pmd-spark, spotless-integration-spark

feat(python): reference license file in pyproject.toml
  client/python/pyproject.toml
Due: none

correct the reference
  client/python/pyproject.toml
Due: none

doc: python client license (#4033)
  client/python/pyproject.toml
Due: none

spark: Fix missing inputs and CLL on some table creation commands (#4031)
  integration/spark/app/integrations/container/hiveCreateDataSourceAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/hiveCreateDataSourceAsSelectCommandStartEvent.json
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandCompleteEvent.json
  integration/spark/app/integrations/container/hiveCreateHiveTableAsSelectCommandStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: prettier, pmd-spark, spotless-integration-spark

respect overridden appName in EventEmitter (#4030)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
Due: pmd-spark, spotless-integration-spark

Fix license field in pyproject.toml when using build module.
  client/python/LICENSE
  client/python/pyproject.toml
Due: none

wrap debug log calls with isDebugEnabled checks
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

Fix license field in pyproject.toml when using build module. (#4034)
  client/python/LICENSE
  client/python/pyproject.toml
Due: none

add subset dataset facets to spec
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base_subset_dataset.py
  client/python/redact_fields.yml
  spec/facets/BaseSubsetDatasetFacet.json
  spec/tests/BaseSubsetDatasetFacet/1.json
  spec/tests/BaseSubsetDatasetFacet/2.json
  spec/tests/BaseSubsetDatasetFacet/3.json
  spec/tests/BaseSubsetDatasetFacet/4.json
  website/static/spec/facets/1-0-0/BaseSubsetDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

extend ResolvedFieldHandler with onConstantField
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
Due: none

throw error for non-string const type
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
Due: none

spark: serialize event to json for logging (#4029)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: pmd-spark, spotless-integration-spark

add subset dataset facets to spec (#4008)
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base_subset_dataset.py
  client/python/redact_fields.yml
  spec/facets/BaseSubsetDatasetFacet.json
  spec/tests/BaseSubsetDatasetFacet/1.json
  spec/tests/BaseSubsetDatasetFacet/2.json
  spec/tests/BaseSubsetDatasetFacet/3.json
  spec/tests/BaseSubsetDatasetFacet/4.json
  website/static/spec/facets/1-0-0/BaseSubsetDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

fix empty sources jar generation
  integration/spark/build.gradle
Due: check-version-files

fix empty sources jar generation (#4037)
  integration/spark/build.gradle
Due: check-version-files

CI: Pin prek version to 0.2.0.
  .circleci/continue_config.yml
Due: none

Debug
  .circleci/continue_config.yml
Due: none

fix: pre-commit failing on pygrep
  .pre-commit-config.yaml
Due: prettier

Draft solution
  integration/spark/app/integrations/container/pysparkDeltaCTASCatalogComplete.json
  integration/spark/app/integrations/container/pysparkDeltaCTASCatalogStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceCatalogExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/TableCatalogStorage.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceCatalogExtractor.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceCatalogExtractor.java
Due: prettier, pmd-spark, spotless-integration-spark

fix: pre-commit failing on pygrep (#4041)
  .pre-commit-config.yaml
Due: prettier

[SPARK] Add gcp_project_id and gcp_location to BigQueryMetastore catalog properties
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix: change bitnami to bitnamilegacy for postgres integration tests
  integration/airflow/tests/integration/tests/docker-compose.yml
Due: none

[SPARK] Add gcp_project_id and gcp_location to BigQueryMetastore catalog properties (#4039)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix: change bitnami to bitnamilegacy for postgres integration tests (#4046)
  integration/airflow/tests/integration/tests/docker-compose.yml
Due: none

fix: accept apikey and api_key in token provider
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports

chore(website): point consumer to SVG and remove old PNG
  website/static/ecosystem/consumers.tsx
  website/static/img/pentaho_data_catalog.png
Due: prettier

feat(website): add Pentaho Data Catalog as OpenLineage consumer
  website/static/ecosystem/consumers.tsx
  website/static/img/pentaho_data_catalog.png
Due: prettier

chore(website): adjust Pentaho logo margins for 300x150 SVG
  website/static/img/pentaho_data_catalog.svg
Due: none
