Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

re-enable testScalaUnionRddToParquet and testKafka2KafkaStreamingProducesInputAndOutputDatasets
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

fix pmdTest error; update configureScalaVariant for spark 4
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/scala-fixtures/build.gradle.kts
Due: none

add datadog transport (#3950)
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
  website/docs/client/python.md
Due: forbid-attr-s

add an option to override dbt job name
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/tests/integration/test_integration.py
  integration/dbt/tests/integration/test_structured_logs.py
  integration/dbt/tests/test_main.py
  website/docs/integrations/dbt.md
Due: forbid-attr-s

add an option to override dbt job name (#3933)
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/tests/integration/test_integration.py
  integration/dbt/tests/integration/test_structured_logs.py
  integration/dbt/tests/test_main.py
  website/docs/integrations/dbt.md
Due: forbid-attr-s

spark: implement support for WriteDelta, WriteIcebergDelta logical plan nodes (#3860)
  integration/spark/app/integrations/container/pysparkV2DeleteCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilderTest.java
Due: prettier, spotless-integration-spark

changelog for release 1.37.0
  CHANGELOG.md
  website/docs/releases/1_37_0.md
Due: forbid-attr-s

changelog for release 1.37.0 (#3961)
  CHANGELOG.md
  website/docs/releases/1_37_0.md
Due: forbid-attr-s

Prepare for release 1.37.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.38.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s

Prepare next development version 1.38.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  website/docs/releases/1_37_0.md
Due: check-version-files, forbid-attr-s

fix release position on website
  website/docs/releases/1_37_0.md
Due: forbid-attr-s

Moving TransformationInfo to java client to reuse it in different integrations
  client/java/src/main/java/io/openlineage/client/utils/TransformationInfo.java
  client/java/src/test/java/io/openlineage/client/utils/TransformationInfoTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Reuse the java client's TransformationInfo in hive integration
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/OutputCLL.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/TransformationInfo.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/ColumnLineageCollector.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/InMemoryHiveTestBase.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/ColumnLineageCollectorTest.java
Due: none

fix release position on website (#3963)
  website/docs/releases/1_37_0.md
Due: forbid-attr-s

Fix formatting
  client/java/src/main/java/io/openlineage/client/utils/TransformationInfo.java
  client/java/src/test/java/io/openlineage/client/utils/TransformationInfoTest.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/OutputCLL.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/ColumnLineageCollector.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/InMemoryHiveTestBase.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/ColumnLineageCollectorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Replace pre-commit with prek across CI and documentation.
  .circleci/continue_config.yml
  CONTRIBUTING.md
  integration/dbt/pyproject.toml
  website/docs/spec/schemas.md
Due: forbid-attr-s

Replace pre-commit with prek across CI and documentation. (#3965)
  .circleci/continue_config.yml
  CONTRIBUTING.md
  integration/dbt/pyproject.toml
  website/docs/spec/schemas.md
Due: forbid-attr-s

[Java] [Spark] [Hive] Moving TransformationInfo to java client to reuse it in different integrations (#3964)
  client/java/src/main/java/io/openlineage/client/utils/TransformationInfo.java
  client/java/src/test/java/io/openlineage/client/utils/TransformationInfoTest.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/OutputCLL.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/TransformationInfo.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/ColumnLineageCollector.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/InMemoryHiveTestBase.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/ColumnLineageCollectorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

fix: import from facet_v2 and event_v2 instead of generated modules
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/tests/test_client.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, prettier

fix: import from facet_v2 and event_v2 instead of generated modules (#3968)
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/tests/test_client.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, prettier

feat: Introduce OpenlineageClientRunFacet with OL client version
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/openlineage_client_run.py
  client/python/redact_fields.yml
  client/python/tests/example_full_event.json
  client/python/tests/test_client.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
  client/python/tests/transform/test_transform.py
  spec/facets/OpenlineageClientRunFacet.json
  website/docs/spec/facets/run-facets/openlineage_client.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-0-0/OpenlineageClientRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

Add support for conditionals: NULLIF, NVL, NVL2, COALESCE
  integration/spark/app/integrations/container/deltaMergeCommandVerificationComplete.json
  integration/spark/app/integrations/container/deltaMergeCommandVerificationStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Due: prettier, spotless-integration-spark

Remove outdated README entry
  integration/spark/app/integrations/README.md
Due: check-version-files, forbid-attr-s

Update documentation with support for COALESCE
  website/docs/integrations/spark/spark_column_lineage.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
Due: forbid-attr-s

Fix problem found by PMD
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Due: none

spark: Add support for COALESCE transformation (#3972)
  integration/spark/app/integrations/README.md
  integration/spark/app/integrations/container/deltaMergeCommandVerificationComplete.json
  integration/spark/app/integrations/container/deltaMergeCommandVerificationStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  website/docs/integrations/spark/spark_column_lineage.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
Due: check-version-files, forbid-attr-s, prettier, spotless-integration-spark

spark: Adjust tmp dir in integration tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Due: none

Shaded JNI
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
Due: none

spark: Adjust tmp dir in integration tests (#3974)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Due: none

Fix PMD pre-commit hook for Spark integration
  .pre-commit-config.yaml
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
Due: prettier, spotless-integration-spark

Fix PMD pre-commit hook for Spark integration (#3976)
  .pre-commit-config.yaml
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
Due: prettier, spotless-integration-spark

spec: add DatasetQualityMetricsDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/redact_fields.yml
  spec/facets/DataQualityMetricsDatasetFacet.json
  spec/tests/DataQualityMetricsDatasetFacet/1.json
  website/static/spec/facets/1-0-0/DataQualityMetricsDatasetFacet.json
  website/static/spec/facets/1-0-3/DataQualityMetricsInputDatasetFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

ci: reuse prek cache
  .circleci/continue_config.yml
Due: none

ci: reuse prek cache (#3979)
  .circleci/continue_config.yml
Due: none

feat: Add default tags with OL client version
  client/python/openlineage/client/client.py
  client/python/tests/example_full_event.json
  client/python/tests/test_client.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
  client/python/tests/transform/test_transform.py
Due: forbid-attr-s

Fix URL for good PR descriptions article
  CONTRIBUTING.md
Due: forbid-attr-s

Fix URL for good PR descriptions article (#3981)
  CONTRIBUTING.md
Due: forbid-attr-s

Update website/static/spec/facets/1-0-3/DataQualityMetricsInputDatasetFacet.json
  website/static/spec/facets/1-0-3/DataQualityMetricsInputDatasetFacet.json
Due: none

Update website/static/spec/facets/1-0-0/DataQualityMetricsDatasetFacet.json
  website/static/spec/facets/1-0-0/DataQualityMetricsDatasetFacet.json
Due: none
