Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

add go-style tag during release
  client/go/go.mod
  client/go/go.sum
  release.sh
Due: none

update the version in go project to match the rest
  client/go/pkg/openlineage/version.go
Due: none

integrate client with CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/helpers.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
  release.sh
Due: check-version-files, forbid-attr-s

add missing http config options
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  release.sh
Due: none

propagate errors in StartRun
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
Due: none

linter setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  .pre_commit/run-golangci-lint.sh
  client/go/.gitignore
  client/go/.golangci.yml
  client/go/README.md
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
Due: check-version-files, forbid-attr-s, prettier

review changes + lint setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  .pre_commit/run-golangci-lint.sh
  client/go/.golangci.yml
  client/go/LOCAL_DEVELOPMENT.md
  client/go/README.md
  client/go/internal/generate/gen_facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
  go.work
Due: check-version-files, forbid-attr-s, prettier

Fix dark mode and illegal nesting. (#4377)
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
Due: prettier

feat(python): validate no facet field named key conflicts with ClassVar
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/generator/test_base.py
Due: forbid-attr-s, generate_facets, mypy-client-python

feat(python): add key ClassVar to generated facet classes
  client/python/src/openlineage/client/generated/catalog_dataset.py
  client/python/src/openlineage/client/generated/column_lineage_dataset.py
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/src/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/src/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  client/python/src/openlineage/client/generated/dataset_version_dataset.py
  client/python/src/openlineage/client/generated/datasource_dataset.py
  client/python/src/openlineage/client/generated/documentation_dataset.py
  client/python/src/openlineage/client/generated/documentation_job.py
  client/python/src/openlineage/client/generated/environment_variables_run.py
  client/python/src/openlineage/client/generated/error_message_run.py
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  client/python/src/openlineage/client/generated/external_query_run.py
  client/python/src/openlineage/client/generated/extraction_error_run.py
  client/python/src/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  client/python/src/openlineage/client/generated/job_type_job.py
  client/python/src/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/src/openlineage/client/generated/nominal_time_run.py
  client/python/src/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/src/openlineage/client/generated/ownership_dataset.py
  client/python/src/openlineage/client/generated/ownership_job.py
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generated/processing_engine_run.py
  client/python/src/openlineage/client/generated/schema_dataset.py
  client/python/src/openlineage/client/generated/source_code_job.py
  client/python/src/openlineage/client/generated/source_code_location_job.py
  client/python/src/openlineage/client/generated/sql_job.py
  client/python/src/openlineage/client/generated/storage_dataset.py
  client/python/src/openlineage/client/generated/symlinks_dataset.py
  client/python/src/openlineage/client/generated/tags_dataset.py
  client/python/src/openlineage/client/generated/tags_job.py
  client/python/src/openlineage/client/generated/tags_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/generate.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_facet_v2.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

style(python): apply ruff formatting
  client/python/src/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/src/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/src/openlineage/client/generated/datasource_dataset.py
  client/python/src/openlineage/client/generated/nominal_time_run.py
  client/python/tests/generator/test_base.py
  client/python/tests/test_facet_v2.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

Fix spark iceberg glue catalog symlink (#4384)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

prevent alias names from appearing as phantom input fields in JDBC column lineage (#4366)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: pmd-spark, spotless-integration-spark

remove redundant methods
  client/go/pkg/openlineage/job.go
Due: none

review changes
  .circleci/continue_config.yml
  client/go/README.md
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
Due: check-version-files, forbid-attr-s

enable transport to return responses from lineage consumers
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: none

initial client
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/transport.go
Due: check-version-files, forbid-attr-s

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none

fixes in class generation
  client/go/internal/generate/gen_facets.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/run.go
Due: none

bump to python 3.10
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/workflows/website-snapshot.yml
  client/python/pyproject.toml
  integration/common/pyproject.toml
  integration/dbt/pyproject.toml
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
  pyproject.toml
  ruff.toml
Due: none

spark: fixed handling of InMemoryRelation with repeating unqualified column names
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageInMemoryTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: pmd-spark, spotless-integration-spark

py 3.10
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facet.py
  client/python/src/openlineage/client/filter.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/run.py
  client/python/src/openlineage/client/transport/gcplineage.py
  client/python/tests/conftest.py
  client/python/tests/fixtures/events.py
  client/python/tests/fixtures/mock_responses.py
  client/python/tests/integration/test_server/test_server.py
  client/python/tests/test_file.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/dataset.py
  integration/common/src/openlineage/common/models.py
  integration/common/src/openlineage/common/provider/bigquery.py
  integration/common/src/openlineage/common/provider/dbt/cloud.py
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/src/openlineage/common/provider/great_expectations/facets.py
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/src/openlineage/common/provider/redshift_data.py
  integration/common/src/openlineage/common/sql/__init__.py
  integration/common/src/openlineage/common/test.py
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/integration/conftest.py
  integration/dbt/tests/integration/utils/event_validation.py
  integration/dbt/tests/integration/utils/test_server_client.py
  integration/spark/jar_compare.py
  uv.lock
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-dbt

transport tests
  client/go/pkg/transport/console_test.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport_test.go
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
