Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

fix(python): make with_additional_properties() facets picklable (#4729)
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/column_lineage_dataset.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/src/openlineage/client/utils.py
  client/python/tests/test_facet_v2.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

client/java: fix deserialization crash for facet fields literally named additionalProperties (#4743)
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Due: none

ci: test Python 3.14 and Spark 4.2 on Java 21
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .circleci/workflows/openlineage-spark.yml
  client/python/pyproject.toml
  integration/common/pyproject.toml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/sql/iface-py/pyproject.toml
Due: pmd-spark, spotless-integration-spark

ci: make Spark 4.2 tests the default
  .circleci/workflows/openlineage-spark.yml
Due: none

build(deps): exclude Gradle from Flink update
  .github/dependabot.yml
  integration/flink/buildSrc/build.gradle.kts
  integration/flink/buildSrc/gradle/wrapper/gradle-wrapper.jar
  integration/flink/buildSrc/gradle/wrapper/gradle-wrapper.properties
  integration/flink/buildSrc/gradlew
  integration/flink/buildSrc/gradlew.bat
  integration/flink/gradle/wrapper/gradle-wrapper.jar
  integration/flink/gradle/wrapper/gradle-wrapper.properties
  integration/flink/gradlew
  integration/flink/gradlew.bat
Due: none

build(deps): exclude MockServer 7 from Flink update
  .github/dependabot.yml
  integration/flink/flink1/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/shared/build.gradle
Due: check-version-files

build(flink): align JUnit platform launcher
  integration/flink/flink1/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/shared/build.gradle
Due: check-version-files

build(deps): exclude incompatible Flink Kafka updates
  .github/dependabot.yml
  integration/flink/flink2/build.gradle
Due: check-version-files

build(deps): keep Flink on Scala 2.12
  .github/dependabot.yml
  integration/flink/flink2/build.gradle
Due: check-version-files

build(spark): align JUnit platform launcher
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

build(spark): align default JUnit test launchers
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
Due: check-version-files

dbt: emit exposures as a dataset facet on dbt model datasets
  CHANGELOG.md
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/schema/dbt-exposures-dataset-facet.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_dbt_exposures.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

flink: use effective REST endpoint for checkpoint tracking, not configured rest.port
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactoryTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestApiUrlResolver.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/FlinkRestApiUrlResolverTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-flink

spark/iceberg: detect output/input datasets for Iceberg JDBC catalogs
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/JdbcCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

dbt: emit exposures as a dataset facet on dbt model datasets (#4705)
  CHANGELOG.md
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/src/openlineage/common/schema/dbt-exposures-dataset-facet.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_dbt_exposures.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

dbt: fix structured logs test formatting
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: check-python-generated-imports

dbt: fix structured logs test formatting (#4755)
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: check-python-generated-imports

sql: include WHERE subquery inputs in lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

sql: include WHERE subquery inputs in lineage (#4752)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

feat: Add OpenLineage context configuration support (#4682)
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ParentRunContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common, pmd-spark, spotless-integration-spark

changelog for release 1.52.0
  CHANGELOG.md
  website/docs/releases/1_52_0.md
Due: forbid-attr-s

changelog for release 1.52.0 (#4756)
  CHANGELOG.md
  website/docs/releases/1_52_0.md
Due: forbid-attr-s

Prepare for release 1.52.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.53.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

add retry configuration to gcp lineage transport
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageRetryConfig.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  client/java/transports-gcplineage/src/test/resources/config/retry_config.yaml
Due: none

Serialize website-snapshot workflow runs to avoid push races
  .github/workflows/website-snapshot.yml
Due: none

Serialize website-snapshot workflow runs to avoid push races (#4760)
  .github/workflows/website-snapshot.yml
Due: none

sql: include ARRAY subquery inputs in lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

build(deps): bump jackson-databind to 2.18.8 (CVE-2026-54512, CVE-2026-54513)
  client/java/build.gradle
  client/java/generator/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

sql: use postgres dialect for malformed CTE test
  integration/common/tests/sql/test_parser.py
Due: check-python-generated-imports

flink,spark: exclude jackson 2.18 multi-release classes from shaded jars
  integration/flink/build.gradle
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

spark: exclude jackson 2.18 multi-release classes from shaded jars
  integration/spark/app/build.gradle
  integration/spark/build.gradle
Due: check-version-files

sql: include ARRAY subquery inputs in lineage (#4763)
  integration/common/tests/sql/test_parser.py
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: check-python-generated-imports

sql: include UPDATE assignment subquery inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Due: none

spark: register V1 microbatch output builder for Spark 4
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
Due: pmd-spark, spotless-integration-spark

sql: include UPDATE assignment subquery inputs (#4767)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Due: none

sql: fix MySQL multi-table DELETE lineage
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
Due: none

sql: preserve inputs across multi-statement DELETE
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
Due: none
