Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

fix duplicated publishing
  .circleci/continue_config.yml
Due: none

Fix mypy check failure.
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Dbt bq external query id fully qualified (#4591)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/bigquery/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/bigquery/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/bigquery/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/profiles.yml
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix incorrect job id from yarn tags in Dataproc
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Due: pmd-spark, spotless-integration-spark

fix duplicated publishing (#4595)
  .circleci/continue_config.yml
Due: none

Add missing column lineage for structured log processor.
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/bigquery/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/bigquery/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Fix format.
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: check-python-generated-imports

Add missing column lineage for structured log processor. (#4599)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/bigquery/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/bigquery/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Add Datasets using Prefect Artifacts
  integration/prefect/adapter.py
  integration/prefect/facets.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Misc cleanup
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Cleanup continued
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Fix Spark Snowflake column lineage for quoted identifiers (#4601)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: pmd-spark, spotless-integration-spark

fix: resolve Windows-specific test failures in ConfigTest and Derby tests
  client/java/src/main/java/io/openlineage/client/utils/jdbc/DerbyJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDerby.java
  client/java/test-logs.txt
Due: pmd-client-java, spotless-client-java

style: apply spotless formatting to OpenLineageClient and enrichment test
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
Due: pmd-client-java, spotless-client-java

refactor(java-client): use mergeFacets for facet copy and revert DerbyJdbcExtractor
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/DerbyJdbcExtractor.java
Due: pmd-client-java, spotless-client-java

fix: apply spotless formatting to OpenLineageClient
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

test(java-client): add enrichment tests and update integration tests
  CHANGELOG.md
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  client/java/src/test/resources/config/ownership-legacy.yaml
  client/java/src/test/resources/config/ownership.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
Due: forbid-attr-s

feat(java-client): add ownership field to JobConfig with backward compat
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/resources/io/openlineage/client/client.version.properties
Due: check-version-files, pmd-client-java, spotless-client-java

refactor(spark,flink): remove tag/ownership builders from integrations
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
Due: pmd-flink, pmd-spark, spotless-integration-spark

fix(flink): update expected JSON files to include tags facet
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: prettier

fix: preserve all job and run facets during enrichment
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

feat(java-client): move tag/ownership enrichment into OpenLineageClient
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

fix: use Locale.ROOT in toLowerCase() calls to satisfy PMD and fix spotless formatting
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Break up large functions
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Dicts and list comp for datasets
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/prefect/listener.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Handle missing namespace
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Java: Fix port definition for JDBC IPv6 address
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForClickHouse.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
Due: pmd-client-java, spotless-client-java

spark: change tag matching from 'contains' to 'startsWith' for YARN tags in GCPUtils
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Java: Add CassandraJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/CassandraJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForCassandra.java
Due: pmd-client-java, spotless-client-java

fix(spark): exclude job attempt timestamp tag when getting jobId in gcp dataproc facet (#4598)
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix Spark Snowflake column lineage for quoted identifiers (#4601) (#4602)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: pmd-spark, spotless-integration-spark

Java: Add CassandraJdbcExtractor (#4610)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/CassandraJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForCassandra.java
Due: pmd-client-java, spotless-client-java

Construct new dataset lists
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Reduce datasets with no facets (either None or {})
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Do not reduce datasets with different namespaces
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix lakehouse detection mechanism
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtilsTest.java
Due: pmd-spark, spotless-integration-spark

add catalog facet for V2 hive catalog sources
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
