Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: pygrep
  entry: from openlineage.client.generated

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

fix dataset trimming for CLL inputs
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

spark: Refactor tests for dependency collector (#4058)
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowVisitorTest.java
Due: none

fix dataset trimming for CLL inputs (#4061)
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix: remove numpy import
  client/python/openlineage/client/serde.py
Due: forbid-attr-s, check-python-generated-imports

Remove Dagster integration
  .circleci/check-changes.sh
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  README.md
  integration/README.md
  integration/dagster/README.md
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/cursor.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dagster/tests/__init__.py
  integration/dagster/tests/conftest.py
  integration/dagster/tests/test_adapter_client.py
  integration/dagster/tests/test_adapter_pipeline.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
  integration/dagster/tests/test_sensor_evaluation.py
  integration/dagster/tests/test_utils.py
  new-version.sh
  ruff.toml
  website/blog/column-lineage/index.mdx
  website/blog/extractors/index.mdx
  website/blog/whats-in-a-namespace/index.mdx
  website/docs/development/developing/python/setup.md
  website/docs/development/developing/python/tests/dagster.md
  website/docs/index.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, prettier

fix: remove numpy import (#4062)
  client/python/openlineage/client/serde.py
Due: forbid-attr-s, check-python-generated-imports

Remove Dagster integration (#3844)
  .circleci/check-changes.sh
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  README.md
  integration/README.md
  integration/dagster/README.md
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/cursor.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dagster/tests/__init__.py
  integration/dagster/tests/conftest.py
  integration/dagster/tests/test_adapter_client.py
  integration/dagster/tests/test_adapter_pipeline.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
  integration/dagster/tests/test_sensor_evaluation.py
  integration/dagster/tests/test_utils.py
  new-version.sh
  ruff.toml
  website/blog/column-lineage/index.mdx
  website/blog/extractors/index.mdx
  website/blog/whats-in-a-namespace/index.mdx
  website/docs/development/developing/python/setup.md
  website/docs/development/developing/python/tests/dagster.md
  website/docs/index.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, prettier

document subset facet
  website/docs/spec/facets/dataset-facets/subset.md
Due: forbid-attr-s

feature: Update the naming documentation to include MSQL and Spanner, which now have OpenLineage support in Apache Airflow
  website/docs/spec/naming.md
Due: forbid-attr-s

feature: Update the naming documentation to include MSQL and Spanner, which now have OpenLineage support in Apache Airflow (#4065)
  website/docs/spec/naming.md
Due: forbid-attr-s

document subset facet (#4064)
  website/docs/spec/facets/dataset-facets/subset.md
Due: forbid-attr-s

add parent run facet
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfig.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: none

[DOC] update HttpConfig URL
  website/blog/composite-transport/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/spec/schemas.md
Due: forbid-attr-s

Fix typo in iceberg commit report facet spec file.
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes

Fix typo on property name too.
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes

Fix typo in OutputDatacetFacetBuilder too.
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
Due: pmd-client-java, spotless-client-java

Add Ataccama to ecosystem consumers
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

add support for flink integration with paimon cdc sink
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/PaimonTableSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/VisitorFactoryImpl.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/PaimonTableSinkWrapper.java
Due: check-version-files, pmd-flink

Fix typo in iceberg commit report facet spec file. (#4069)
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes, pmd-client-java, spotless-client-java

changelog for release 1.39.0
  CHANGELOG.md
  website/docs/releases/1_39_0.md
Due: forbid-attr-s

fix facet version
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes

changelog for release 1.39.0 (#4074)
  CHANGELOG.md
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
  website/docs/releases/1_39_0.md
Due: forbid-attr-s, prettier, check_schemas, generate_facets, spec-changes

Prepare for release 1.39.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.40.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports

feat: Add fallback for BigQuery project ID configuration
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Java: Add support for jTDS JDBC URL format
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForSqlServerJtds.java
Due: pmd-client-java, spotless-client-java

Website: Add Data.Rentgen consumer to ecosystem
  website/static/ecosystem/consumers.tsx
  website/static/img/data_rentgen_logo.svg
Due: prettier

Website: Add Data.Rentgen consumer to ecosystem (#4078)
  website/static/ecosystem/consumers.tsx
  website/static/img/data_rentgen_logo.svg
Due: prettier

missing tests
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/hooks/FacetingTest.java
Due: none

WIP: save local changes before rebase
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.py
  integration/dagster/tests/conftest.py
Due: forbid-attr-s, check-python-generated-imports

doc: replace Manta logo under consumers by IBM
  website/static/ecosystem/consumers.tsx
  website/static/img/ibm_logo_bkgd.svg
  website/static/img/manta_logo_bkgd.svg
Due: prettier

doc: replace Manta logo under consumers by IBM (#4082)
  website/static/ecosystem/consumers.tsx
  website/static/img/ibm_logo_bkgd.svg
  website/static/img/manta_logo_bkgd.svg
Due: prettier

fix spark connector on databricks setup
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportResolver.java
  client/java/src/test/java/io/openlineage/client/transports/TransportResolverTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Java: Add support for jTDS JDBC URL format (#4077)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForSqlServerJtds.java
Due: pmd-client-java, spotless-client-java

add parent run facet (#4066)
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfig.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/hooks/FacetingTest.java
Due: none

fix spark connector on databricks setup (#4083)
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportResolver.java
  client/java/src/test/java/io/openlineage/client/transports/TransportResolverTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix: Upgraded commons-lang3 version to fix cve
  integration/sql/iface-java/build.gradle
Due: check-version-files

spotless
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
