Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Jackson version upgrade (patch) to resolve some CVEs (#4853)
  client/java/build.gradle
  client/java/generator/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

refactor(dbt): clean up invocation run_id generation and datetime reference
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

ci(dbt): retrigger CircleCI pipeline for PR #4847
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

ci: resolve spec schema refs from the in-repo mirror in jv hooks (#4842)
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
Due: none

spec: add explicit lineage facet (#4804)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/LineageFacetTest.java
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/generate.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_lineage_facet.py
  generator/go/discover/facets.go
  generator/go/discover/facets_test.go
  generator/go/ir/build.go
  generator/go/ir/build_test.go
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageGuide.md
  proxy/fluentd/lib/fluent/plugin/parser_openlineage.rb
  spec/facets/LineageFacet.json
  spec/registry/core/registry.json
  spec/tests/LineageFacet/dataset-to-dataset.json
  spec/tests/LineageFacet/dataset-to-job.json
  spec/tests/LineageFacet/generator.json
  spec/tests/LineageFacet/implicit-job.json
  spec/tests/LineageFacet/job-to-dataset.json
  spec/tests/LineageFacet/job-to-job.json
  spec/tests/LineageFacet/mixed-sources.json
  website/docs/spec/facets/dataset-facets/dataset-facets.md
  website/docs/spec/facets/dataset-facets/lineage.md
  website/docs/spec/facets/job-facets/job-facets.md
  website/docs/spec/facets/job-facets/lineage.md
  website/static/spec/facets/1-0-0/LineageFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

clients: support dependentRequired in generators
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/lineage_test.go
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/generator/src/test/java/io/openlineage/client/GeneratorTest.java
  client/java/generator/src/test/resources/discriminated-union/SharedFacet.json
  client/java/src/test/java/io/openlineage/client/LineageFacetTest.java
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/generator/test_base.py
  client/python/tests/test_lineage_facet.py
  generator/go/ir/build.go
  generator/go/ir/build_test.go
  generator/go/ir/facet.go
  generator/go/render/client/facets.go
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

sql: support parenthesized joins
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

fix(spark): don't discard a resolved Iceberg dataset identifier when the Hive symlink can't be built
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Flink 2: add Kinesis lineage visitors (dataset identifier + type facet)
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/KinesisTypeDatasetFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KinesisTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/KinesisTypeDatasetFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KinesisTableLineageDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/org/apache/flink/connector/kinesis/lineage/TypeDatasetFacet.java
Due: check-version-files, pmd-flink

sql: support parenthesized joins (#4859)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

fix(spark): resolve branch-qualified Iceberg identifiers under SparkSessionCatalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

flink: suppress PMD AvoidAccessibilityAlteration on reflective Avro schema accessor
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
Due: pmd-flink

sql: include aggregate filter lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_simple.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

lastest code from prefect repo version plus tests
  integration/prefect/README.md
  integration/prefect/__init__.py
  integration/prefect/adapter.py
  integration/prefect/facets/PrefectDeploymentRunFacet.json
  integration/prefect/facets/run_facets.py
  integration/prefect/listener.py
  integration/prefect/pytest.ini
  integration/prefect/tests/test_adapter.py
  integration/prefect/tests/test_events.py
  integration/prefect/tests/test_facets.py
  integration/prefect/tests/test_listener.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports, prettier

add pyproject
  integration/prefect/pyproject.toml
Due: none

docs: symlink CLAUDE.md to AGENTS.md
  .gitignore
  CLAUDE.md
Due: forbid-attr-s

website: fill in Spark row in integration capability matrix
  website/docs/integrations/about.md
Due: forbid-attr-s

docs: symlink CLAUDE.md to AGENTS.md (#4871)
  .gitignore
  CLAUDE.md
Due: forbid-attr-s

dbt: add best-effort Athena Glue symlink
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

dbt: use supported Athena profile fields
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

dbt: correct Athena symlink account comments
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

clients: support dependentRequired in generators (#4819)
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/lineage_test.go
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/generator/src/test/java/io/openlineage/client/GeneratorTest.java
  client/java/generator/src/test/resources/discriminated-union/SharedFacet.json
  client/java/src/test/java/io/openlineage/client/LineageFacetTest.java
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/generator/test_base.py
  client/python/tests/test_lineage_facet.py
  generator/go/ir/build.go
  generator/go/ir/build_test.go
  generator/go/ir/facet.go
  generator/go/render/client/facets.go
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

refactor(dbt): add emit_dbt_invocation_event opt-in flag and extract timing/uuid helpers
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

dbt: support the fabricspark adapter
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs: changelog entry for #4874
  CHANGELOG.md
Due: forbid-attr-s

style: ruff-format the added test
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

docs: fix 404 on /docs/integrations/ and /docs/integrations/flink/ landing pages
  website/docs/integrations/about.md
  website/docs/integrations/flink/about.md
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Due: forbid-attr-s, prettier

client-java: add lineage compatibility converters
  client/java/openlineage.example.yml
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/LineageCompatibility.java
  client/java/src/main/java/io/openlineage/client/LineageCompatibilityConverter.java
  client/java/src/main/java/io/openlineage/client/LineageConfig.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/LineageCompatibilityConverterTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
  client/java/src/test/resources/config/lineage.yaml
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfig.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/client/HiveOpenLineageConfigParserTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/client/java/configuration.md
Due: forbid-attr-s, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

spark: add ClickHouse V2 catalog handler
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DefaultCatalogHandlers.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandler.java
  integration/spark/spark3/src/test/java/com/clickhouse/spark/ClickHouseCatalog.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: satisfy ClickHouse test PMD check
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: none

spark: honor ClickHouse protocol ports, add storage facet and integration test
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkClickHouseIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandler.java
  integration/spark/spark3/src/test/java/com/clickhouse/spark/ClickHouseCatalog.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: check-version-files, pmd-spark, spotless-integration-spark

spark: fix ClickHouse handler test PMD
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: none

spark: strengthen ClickHouse catalog coverage
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkClickHouseIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: pmd-spark, spotless-integration-spark

dbt-athena: add glue dataset symlink (#4875)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

sql: include aggregate filter lineage (#4865)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_simple.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

integration: apply spotless formatting to SparkOpenLineageConfig
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: pmd-flink, pmd-spark, spotless-integration-spark

client: add OL name escaping - turn off by default
  client/go/pkg/openlineage/naming.go
  client/go/pkg/openlineage/naming_test.go
  client/java/src/main/java/io/openlineage/client/naming/NameConfig.java
  client/java/src/main/java/io/openlineage/client/naming/NameEscaping.java
  client/java/src/test/java/io/openlineage/client/naming/NameEscapingTest.java
  client/python/src/openlineage/client/naming/escape.py
  client/python/tests/test_escape.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

website: fill in Spark row in integration capability matrix (#4873)
  website/docs/integrations/about.md
Due: forbid-attr-s

doc: introducing explicit lineage blog post
  website/blog/authors.yml
  website/blog/explicit-lineage/cartesian.png
  website/blog/explicit-lineage/dataset-to-dataset.png
  website/blog/explicit-lineage/fallback-order.png
  website/blog/explicit-lineage/index.mdx
  website/blog/explicit-lineage/job-to-job.png
Due: none

spark: column lineage for UDFs and typed Dataset operations
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/UserDefinedExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/TypedBoundaryFanInVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/TypedFilterVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/TypedGroupByVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/UserDefinedExpressionVisitorTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark
