Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

python: Add support for dataset normalization in Python Client
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/__init__.py
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/config/dataset.yaml
  client/python/tests/dataset/__init__.py
  client/python/tests/dataset/test_config.py
  client/python/tests/dataset/test_normalizer.py
  client/python/tests/dataset/test_trimmers.py
  client/python/tests/test_client.py
  client/python/tests/test_event_normalization.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Add Python client dataset name normalization doc
  website/docs/client/python/configuration.md
Due: forbid-attr-s

Rename Dataset Normalization to Dataset Reducing
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/__init__.py
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/config/dataset.yaml
  client/python/tests/dataset/test_config.py
  client/python/tests/dataset/test_reducer.py
  client/python/tests/test_client.py
  client/python/tests/test_event_reducing.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Refactoring based on review comments
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/src/openlineage/client/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Ensure trimmers implement `trim` method
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Guard against unbounded loop with custom trimmers
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/dataset/test_reducer.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Improve documentation of DateTrimmer
  client/python/src/openlineage/client/dataset/trimmers.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Add debug context for failing trimmers
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Construct new dataset lists
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Update docs
  website/docs/client/python/configuration.md
Due: forbid-attr-s

Make the logs visible, but without spamming
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Be consistent with using `attr.evolve`
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Warn about reducing consequences in further event processing
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Test additional trimmer failure scenario
  client/python/tests/dataset/test_reducer.py
Due: check-python-generated-imports

Avoid in-place mutation of datasets
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Refactor test code
  client/python/tests/dataset/test_config.py
Due: check-python-generated-imports

Add debug context for import failures
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Stop loading trimmers with disabled reducer
  client/python/src/openlineage/client/client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Log invalid disable trimmer config
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Keep idempotency without heavy deepcopy
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Reduce datasets with no facets (either None or {})
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Do not reduce datasets with different namespaces
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_reducer.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Support for datasets
  integration/temporalio/adapter.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

spark: emit outputs for relation-backed streaming writes
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilderTest.java
  integration/spark/spark3/src/test/java/org/apache/spark/sql/kafka010/KafkaStreamingWrite.java
Due: pmd-spark, spotless-integration-spark

python: make async completion queueing atomic (#4900)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: Add support for dataset normalization in Python Client (#4465)
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/__init__.py
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/config/dataset.yaml
  client/python/tests/dataset/__init__.py
  client/python/tests/dataset/test_config.py
  client/python/tests/dataset/test_reducer.py
  client/python/tests/dataset/test_trimmers.py
  client/python/tests/test_client.py
  client/python/tests/test_event_reducing.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: skip output lineage for read-only V2 plans (#4898)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

flink: add Kinesis lineage visitors (dataset identifier + type facet) (#4861)
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/util/TypeDatasetFacetUtil.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/KinesisTypeDatasetFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KinesisTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/KinesisTypeDatasetFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KinesisTableLineageDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/org/apache/flink/connector/kinesis/lineage/TypeDatasetFacet.java
Due: check-version-files, pmd-flink

Reformat modules with linter and handle KeyErrors in adapter
  integration/temporalio/adapter.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

Rm excess code in adapter
  integration/temporalio/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Misc fixes
  integration/temporalio/adapter.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

test(dbt): clean up whitespace and verify local artifact processor invocation events
  integration/common/tests/dbt/test_dbt_local.py
Due: check-python-generated-imports

style(dbt): format test_dbt_local.py
  integration/common/tests/dbt/test_dbt_local.py
Due: check-python-generated-imports

Use logger consistently
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/temporalio/harvester.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/temporalio/adapter.py
  integration/temporalio/adapter.py
Due: forbid-attr-s, check-python-generated-imports

client-java: handle missing lineage config
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
Due: pmd-client-java, spotless-client-java

changelog for release 1.53.0
  CHANGELOG.md
  website/docs/releases/1_53_0.md
Due: forbid-attr-s

changelog for release 1.53.0 (#4910)
  CHANGELOG.md
  website/docs/releases/1_53_0.md
Due: forbid-attr-s

Prepare for release 1.53.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
