Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

url --> uri.
  spec/tests/DatasourceDatasetFacet/1.json
Due: spec-changes

The "dataSource" facet example was actually the "version" facet.
  spec/tests/DatasourceDatasetFacet/1.json
Due: spec-changes

feat(tagfacet): Add dataset tag facet
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/redact_fields.yml
  client/python/tests/test_facet.py
  spec/facets/TagsDatasetFacet.json
  spec/tests/TagDatasetFacet/1.json
  website/static/1.json
  website/static/TagsDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

feat(tagsfacet): Add Python test
  client/python/tests/test_facet.py
Due: none

fix: bump version in dbt's utils.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/sql/.bumpversion.cfg
  integration/sql/iface-py/pyproject.toml
Due: none

fix: bump version in dbt's utils.py (#3366)
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/sql/.bumpversion.cfg
  integration/sql/iface-py/pyproject.toml
Due: none

add unit tests
  integration/common/tests/dbt/structured_logs/postgres/events/logs/MainReportVersion.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/NodeStart.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/SQLQuery.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/tests/test_main.py
Due: none

dataSource facet reconciliation (#3361)
  spec/tests/DatasourceDatasetFacet/1.json
Due: spec-changes

add unit tests (#3360)
  integration/common/tests/dbt/structured_logs/postgres/events/logs/MainReportVersion.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/NodeStart.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/SQLQuery.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/tests/test_main.py
Due: none

New naming approach.
  doc/before-ol.svg
  doc/scope.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/scope.svg
  website/docs/with-ol.svg
Due: none

feat(tagsfacets): Add tags facet for run, job and dataset
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags.py
  client/python/redact_fields.yml
  client/python/tests/test_facet.py
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
Due: check_schemas, test_events, generate_facets, spec-changes

feat(tagsfacets): Fix names in tags.py
  client/python/openlineage/client/generated/tags.py
Due: none

Apply Visitor TableFunction behavior to Function
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

Apply Visitor TableFunction behavior to Function (#3368)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

Website: update misc project details and images (#3351)
  README.md
  doc/before-ol.svg
  doc/lfaidata-project-badge-sandbox-black.png
  doc/openlineage-lfai-logo.png
  doc/scope.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/guides/airflow-quickstart.md
  website/docs/scope.svg
  website/docs/with-ol.svg
Due: none

Fixed img in doc.
  doc/before-ol.svg
  doc/with-ol.svg
Due: none

Fixed img in website/docs.
  website/docs/before-ol.svg
  website/docs/with-ol.svg
Due: none

Docs: fix misc images in docs (#3370)
  doc/before-ol.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/with-ol.svg
Due: none

Handle errors in parse_assertions (#3311)
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

set node_unique_id as OL job name
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

Add test and build commands
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/test.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/logs/build_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/logs/test_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

[Feature][dbt] Consume dbt structured logs for `test` and `build` commands (#3362)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/test.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/logs/build_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/logs/test_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

introduce column lineage support
  integration/flink-native-listener/build.gradle
  integration/flink-native-listener/gradle.properties
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/LineageRelNode.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/QueryOperationListener.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/RexUtils.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/expression/Expression.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/expression/ExpressionContainer.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/expression/TableFieldExpression.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/expression/TransformationExpression.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/visitors/CalciteNodeVisitor.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/visitors/NoopRelVisitor.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/visitors/ProjectVisitor.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/visitors/TableScanVisitor.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/column/visitors/WatermarkAssignerVisitor.java
  integration/flink-native-listener/src/main/java/io/openlineage/flink/listener/OpenLineageFlinkListener.java
  integration/flink-native-listener/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
Due: none

spark | custom config
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfigProvider.java
Due: spotless-integration-spark

checking for cycles in RDD flatten & reduce num called to flatten
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/RddsTest.java
Due: spotless-integration-spark

Add `oleander.dev` as a ol consumer/producer
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/oleander_logo.svg
Due: none

Fix org URL
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
Due: none

Resize logo for consistency.
  website/static/img/oleander_logo.svg
Due: none

Oleander logo with name.
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/oleander_logo.svg
Due: none

Revert changes to oleander svg and add png.
  website/static/img/oleander_logo.png
  website/static/img/oleander_logo.svg
Due: none

New version of logo with new name.
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/oleander_logo.png
  website/static/img/oleander_logo_full.png
Due: none

Update description
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
Due: none

Remove simple logo for oleander
  website/static/img/oleander_logo.svg
Due: none

Add `oleander.dev` as ol consumer/producer (#3375)
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/oleander_logo_full.png
Due: none

Attaching custom facets to RDDExecContext events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: spotless-integration-spark

Attaching custom facets to RDDExecContext events (#3379)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: spotless-integration-spark
