Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

client/java: do not count GC time accumulated before the first circuit breaker check
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

Revised file structure
  integration/prefect/README.md
  integration/prefect/pyproject.toml
  integration/prefect/pytest.ini
  integration/prefect/src/__init__.py
  integration/prefect/src/openlineage_prefect/__init__.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/__init__.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/PrefectDeploymentRunFacet.json
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/__init__.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/run_facets.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
  integration/prefect/tests/conftest.py
  integration/prefect/tests/test_adapter.py
  integration/prefect/tests/test_facets.py
  integration/prefect/tests/test_listener.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports, prettier

Update integration/temporalio/harvester.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

flink: tolerate unsupported Kafka deserializers
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapperTest.java
Due: pmd-flink

dbt: add Presto (PrestoDB) support to the Adapter enum
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Update integration/prefect/pytest.ini
  integration/prefect/pytest.ini
Due: none

Update integration/prefect/src/openlineage_prefect/prefect_adapter/facets/run_facets.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/run_facets.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

docs: document the Task-based dev workflow in CONTRIBUTING.md
  CONTRIBUTING.md
Due: forbid-attr-s

client/python: add NATS transport
  client/python/pyproject.toml
  client/python/src/openlineage/client/transport/__init__.py
  client/python/src/openlineage/client/transport/nats.py
  client/python/tests/test_nats.py
  website/docs/client/python/configuration.md
  website/docs/client/python/python.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

client/java: add NATS transport module
  client/java/settings.gradle
  client/java/transports-nats/README.md
  client/java/transports-nats/build.gradle
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsConfig.java
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsTransport.java
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsTransportBuilder.java
  client/java/transports-nats/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsConfigTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTestServer.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/docs/client/java/partials/nats_transport.md
Due: check-version-files, forbid-attr-s

Check for deployment info before adding facet
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Require flow run info for flow events
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

client: test that each run event type survives JetStream de-duplication
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTransportTest.java
  client/python/tests/test_nats.py
Due: check-python-generated-imports

client/python: harden NATS transport after review, add auth/TLS/failure tests
  client/python/Taskfile.yml
  client/python/pyproject.toml
  client/python/src/openlineage/client/transport/nats.py
  client/python/tests/nats_server.py
  client/python/tests/test_nats.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

client/java: harden NATS transport after review, add auth/TLS/shadow tests
  client/java/transports-nats/README.md
  client/java/transports-nats/build.gradle
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/HostnameVerifyingSslContext.java
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsConfig.java
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsTransport.java
  client/java/transports-nats/src/shadowTest/java/io/openlineage/client/transports/nats/ShadowJarSmokeTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/EmitOnceWithoutClose.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsConfigTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsEnvConfigTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsSecurityFixtures.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsServerScenariosTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTestServer.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTransportTest.java
  website/docs/client/java/partials/nats_transport.md
Due: check-version-files, forbid-attr-s

dev: add offline NATS transport test harness
  dev/nats-offline/README.md
  dev/nats-offline/java.Containerfile
  dev/nats-offline/python.Containerfile
  dev/nats-offline/run.sh
Due: check-version-files, forbid-attr-s

client: address CodeRabbit follow-ups on NATS transport tests and docs
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsTestServer.java
  client/python/tests/nats_server.py
  website/docs/client/java/partials/nats_transport.md
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports

client/python: derive a Nats-Msg-Id for events that are not client models
  client/python/src/openlineage/client/transport/nats.py
  client/python/tests/test_nats.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: avoid scanning dynamic file indexes for input statistics
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

dbt: add Presto (PrestoDB) support to the Adapter enum (#4969)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

flink: tolerate unsupported Kafka deserializers (#4966)
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapperTest.java
Due: pmd-flink

dbt: add watsonx_presto (IBM watsonx.data Presto) to the Adapter enum
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs: name watsonx.data in the Presto row of the naming spec
  website/docs/spec/naming.md
Due: forbid-attr-s

dbt: add watsonx_presto (IBM watsonx.data Presto) to the Adapter enum (#4978)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-integration-common

spark: skip unsupported Iceberg metrics catalogs (#4952)
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/WriteToDataSourceV2DatasetBuilderTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: pmd-spark, spotless-integration-spark

sql: handle BigQuery UNNEST and UNPIVOT table factors (#4962)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

Remove unused _get_producer method from facet
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/run_facets.py
Due: forbid-attr-s, check-python-generated-imports

Handle TypeError for not found deployment_id
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

Handle multiple auto-generated task name types
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

client: address HTTP redirect review feedback
  client/go/README.md
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/integration/test_server/test_server.py
  client/python/tests/test_http.py
  client/python/tests/test_http_integration.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

python: set HTTP mock response statuses
  client/python/tests/transform/test_transform.py
Due: check-python-generated-imports

flink: emit configured run tags in lifecycle events
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/RunTagsFacetBuilder.java
  integration/flink/shared/src/test/java/io/openlineage/flink/facets/RunTagsFacetBuilderTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-flink

flink: format run tags implementation and tests
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/RunTagsFacetBuilder.java
  integration/flink/shared/src/test/java/io/openlineage/flink/facets/RunTagsFacetBuilderTest.java
Due: pmd-flink

chore: bump AWS SDK version to 2.54.20
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

spark: avoid scanning dynamic file indexes for input statistics (#4977)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

Handle missing flow run ids
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
