Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

update changelog for 1.32.0 release (#3665)
  CHANGELOG.md
  website/docs/releases/1_32_0.md
Due: none

Prepare for release 1.32.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.33.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

docs: Update description and links for Airflow and Astronomer
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
Due: none

docs: Update description and links for Airflow and Astronomer (#3668)
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
Due: none

Remove Airflow < 2.5.0 support
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  integration/README.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/setup.cfg
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  website/docs/development/developing/python/tests/airflow.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

[spark] Avoid InputDataset duplicates by skipping already visited nodes
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/debug/dates/part-00000-*.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000-*.csv
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Due: spotless-integration-spark

Java: Add UUIDUtils.generateStaticUUID
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  client/python/tests/test_uuid.py
Due: pmd-client-java, spotless-client-java

[spark] Avoid InputDataset duplicates by skipping already visited nodes (#3663)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/debug/dates/part-00000-*.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000-*.csv
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Due: spotless-integration-spark

feature: Support for Unity Catalog OSS catalog
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/UnityCatalogHandler.java
Due: spotless-integration-spark

[spark] Calling get() on Option.None throws java.util.NoSuchElementException
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
Due: spotless-integration-spark

[spark] Calling get() on Option.None throws java.util.NoSuchElementException (#3673)
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
Due: spotless-integration-spark

Java: Add UUIDUtils.generateStaticUUID (#3672)
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  client/python/tests/test_uuid.py
Due: pmd-client-java, spotless-client-java

fix dataset namespace resolvers for flink2
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolver.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternMatchingGroupNamespaceResolverBuilder.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternNamespaceResolverBuilder.java
  client/java/src/test/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolverTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java

add few missing release notes in docs
  website/docs/releases/1_29_0.md
  website/docs/releases/1_30_0.md
  website/docs/releases/1_30_1.md
  website/docs/releases/1_31_0.md
Due: none

spec: add CatalogDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/redact_fields.yml
  spec/facets/CatalogDatasetFacet.json
  website/static/spec/facets/1-0-0/CatalogDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

fix dataset namespace resolvers for flink2 (#3676)
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolver.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternMatchingGroupNamespaceResolverBuilder.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternNamespaceResolverBuilder.java
  client/java/src/test/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolverTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java

Added extra condition to ensure Spark Job Name suffix is extracted
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Due: spotless-integration-spark

Added Unit Test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
Due: none

[SPARK] Added extra condition to ensure Spark Job Name suffix is extracted (#3667)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Due: spotless-integration-spark

add few missing release notes in docs (#3679)
  website/docs/releases/1_29_0.md
  website/docs/releases/1_30_0.md
  website/docs/releases/1_30_1.md
  website/docs/releases/1_31_0.md
Due: none

switch to released artifacts
  .circleci/continue_config.yml
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/buildFlinkConnectorKafka.sh
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/Flink2ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/gradle.properties
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Due: pmd-flink, pmd-spark

support schema facet for Avro
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSerializationSchemaTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSpecificRecordBaseTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeTypeInformationFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/Flink2ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeTypeInformationFacetVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink, pmd-spark

switch to AvroTypeInfo
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSerializationSchemaTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSpecificRecordBaseTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitorTest.java
Due: pmd-flink, pmd-spark

Support schema facet for Avro (#3650)
  .circleci/continue_config.yml
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/buildFlinkConnectorKafka.sh
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/Flink2ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/gradle.properties
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink, pmd-spark

forward dbt's returncode
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

forward dbt's returncode (#3682)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

randomize logfile path and put size to 100MB
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

fix utest
  integration/dbt/openlineage/tests/test_main.py
Due: none

Add logs
  integration/dbt/openlineage/dbt/__init__.py
Due: none

mock file creation
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

[dbt] Handle dbt log file rotation (#3683)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/openlineage/tests/test_main.py
Due: none

Changelog for 1.32.1 release
  CHANGELOG.md
  website/docs/releases/1_32_1.md
Due: none

Changelog for 1.32.1 release (#3684)
  CHANGELOG.md
  website/docs/releases/1_32_1.md
Due: none

Prepare for release 1.32.1
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.33.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Add Amazon DataZone transport
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-datazone/README.md
  client/java/transports-datazone/build.gradle
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportBuilder.java
  client/java/transports-datazone/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-datazone/src/test/java/io/openlineage/client/testdata/OpenLineageEventsDataHelper.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/pyproject.toml
  client/python/tests/test_amazon_datazone.py
Due: none

flink 2 - support jdbc naming
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitorTest.java
Due: pmd-flink, pmd-spark

flink 2 - support jdbc naming (#3681)
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitorTest.java
Due: pmd-flink, pmd-spark
