Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

Misc fixes.
  website/docs/integrations/airflow/preflight-check-class.md
Due: none

refactor job tracking thread and enable it for Flink2
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/common/config/ConfigWrapper.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StreamEnvironment.java
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-consumer.conf
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-producer.conf
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/openlineage.yml
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/Checkpoints.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/CheckpointsCounts.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
Due: pmd-flink, pmd-spark

refactor job tracking thread and enable it for Flink2 (#3531)
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/common/config/ConfigWrapper.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StreamEnvironment.java
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-consumer.conf
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-producer.conf
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/openlineage.yml
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/Checkpoints.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/CheckpointsCounts.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
Due: pmd-flink, pmd-spark

extract schema facet from Avro
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/schema/GenericTypeInfoSchemaBuilder.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/schema/PojoTypeInfoSchemaBuilder.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/schema/TypeInformationSchemaBuilder.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/schema/GenericTypeInfoSchemaBuilderTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/schema/PojoTypeInfoSchemaBuilderTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/schema/TestingSubTypeClass.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/schema/TestingTypeClass.java
Due: pmd-flink, pmd-spark

open log file before executing command
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

Misc style fixes.
  website/docs/integrations/airflow/preflight-check-class.md
Due: none

[SPARK] Get query from DataSourceV2Relation properties and build InputDataset
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Due: spotless-integration-spark

fix: enable Iceberg metrics reporting for SparkSessionCatalog
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

update shell script
  integration/spark/docker/wait-for-it.sh
Due: none

fix: enable Iceberg metrics reporting for SparkSessionCatalog (#3538)
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

create directory if not exist
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

[SPARK] Get query from DataSourceV2Relation properties and build InputDataset (#3536)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Due: spotless-integration-spark

[dbt][structured logs] Fix race condition on dbt log file (#3535)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

update shell script (#3540)
  integration/spark/docker/wait-for-it.sh
Due: none

handle skipped nodes
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/skipped_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

eof
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
Due: none

explicit node_status of failure
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

typo
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

adding support for dbt-glue adapter
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

disable shellcheck on wait-for-it when suggestions break the script
  integration/spark/docker/wait-for-it.sh
Due: none

disable shellcheck on wait-for-it when suggestions break the script (#3549)
  integration/spark/docker/wait-for-it.sh
Due: none

record count stats mixed with bytes stats
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

updating documentation to add dbt-glue
  integration/dbt/README.md
Due: none

handle skipped nodes (#3545)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/skipped_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

record count stats mixed with bytes stats (#3550)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergInputStatisticsInputDatasetFacetBuilder.java
Due: spotless-integration-spark

Spark - input duplicates
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

Spark - input duplicates (#3548)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

Reformat and rm unused init, plus misc fixes.
  website/docs/integrations/airflow/preflight-check-class.md
Due: none

Website: preflight check class in docs (#3533)
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

Update airflow preflight dag and fix preflight class.
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

spark: catch Java 17 add opens exception
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
Due: spotless-integration-spark

Update integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
Due: spotless-integration-spark

spark: catch Java 17 add opens exception (#3552)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
Due: spotless-integration-spark

changelog for release 1.30.0
  CHANGELOG.md
Due: none

changelog for release 1.30.0 (#3556)
  CHANGELOG.md
Due: none

Add missing fun to class.
  website/docs/integrations/airflow/preflight-check-class.md
Due: none

remove unnecessary parameters from hive workflow jobs
  .circleci/continue_config.yml
Due: none

Prepare for release 1.30.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.31.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
