Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

byool openlineage terraform resource
  byool/terraform/.gitignore
  byool/terraform/README.md
  byool/terraform/go.mod
  byool/terraform/go.sum
  byool/terraform/ol/base_dataset_resource.go
  byool/terraform/ol/base_job_resource.go
  byool/terraform/ol/capability.go
  byool/terraform/ol/event_builder.go
  byool/terraform/ol/models.go
  byool/terraform/ol/ol_models.go
  byool/terraform/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

review changes + lint setup
  .circleci/continue_config.yml
  .pre_commit/run-golangci-lint.sh
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: none

review changes
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

add tests
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/ol/capability_test.go
  byool/terraform/openlineage-base-resource/ol/event_builder_test.go
  byool/terraform/openlineage-base-resource/ol/schema_generator_test.go
Due: none

add base resource + review comments
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

review changes
  byool/terraform/openlineage-base-resource/README.md
Due: check-version-files, forbid-attr-s

extract Schema to base resource
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
Due: none

rollback changes in mod
  client/go/go.mod
  client/go/go.sum
Due: none

updated base resources
  .circleci/continue_config.yml
  .gitignore
  byool/terraform/ol/event_builder.go
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/init-workspace.sh
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/models.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
  client/go/go.mod
  client/go/go.sum
Due: check-version-files, forbid-attr-s

review comments
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
Due: check-version-files, forbid-attr-s

change required true to optional with validators for child fields
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: none

explicit lineage adoption guideline
  proposals/explicit_lineage_facet/ExplicitLineageAdoptionGuideline.md
Due: forbid-attr-s

spec: add AgentAttributionRunFacet schema
  spec/facets/AgentAttributionRunFacet.json
  spec/tests/AgentAttributionRunFacet/1.json
  spec/tests/AgentAttributionRunFacet/2.json
Due: prettier, check_schemas, test_events, generate_facets, spec-changes

docs: document AgentAttributionRunFacet
  CHANGELOG.md
  website/docs/spec/facets/run-facets/agent_attribution.md
Due: forbid-attr-s

client/python: regenerate for AgentAttributionRunFacet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/agent_attribution_run.py
Due: forbid-attr-s, generate_facets, mypy-client-python

spec: snapshot AgentAttributionRunFacet to website/static
  website/static/spec/facets/1-0-0/AgentAttributionRunFacet.json
Due: none

Fix #4482: Remove deprecated dbt facets in integration/common
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Make sure subset facet is added
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(spark/test): make drop table lifecycle state assertion actually fail on mismatch (#4478)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitorTest.java
Due: none

fix event builder + refactor
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/event_builder_test.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
  byool/terraform/openlineage-base-resource/ol/schema_generator_test.go
Due: none

Add guard against failing trimmers
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_normalizer.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Refactoring based on review comments
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/src/openlineage/client/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

move facet building to facet helpers
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/event_builder_test.go
  byool/terraform/openlineage-base-resource/ol/facet_builders.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

another refactor
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/base_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder_test.go
  byool/terraform/openlineage-base-resource/ol/facet_builder_test.go
  byool/terraform/openlineage-base-resource/ol/facet_builders.go
  byool/terraform/openlineage-base-resource/ol/test_helpers_test.go
Due: none

Ensure trimmers implement `trim` method
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

feat(dbt): add Microsoft Fabric adapter support
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

dbt: support Fabric host profiles
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): drop bogus host fallback for fabric profile
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): guard against None node_unique_id in get_job_type()
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): Remove deprecated facets kwarg from InputDataset
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): guard against None node_unique_id in get_job_type() (#4489)
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

test(spark34): add unit tests for DropTableDatasetBuilder covering ResolvedIdentifier (#4479)
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/DropTableDatasetBuilderTest.java
Due: none

feat(ecosystem): add Provero to producers list (#4477)
  website/static/ecosystem/producers.tsx
  website/static/img/provero_logo.svg
Due: prettier

hive: fix NPE in Parsing.buildQueryTree for 3+ way set operations
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/Parsing.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

Rename Dataset Normalization to Dataset Reducing
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/__init__.py
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/src/openlineage/client/dataset/trimmers.py
  client/python/tests/config/dataset.yaml
  client/python/tests/dataset/test_config.py
  client/python/tests/dataset/test_reducer.py
  client/python/tests/test_client.py
  client/python/tests/test_event_reducing.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Improve documentation of DateTrimmer
  client/python/src/openlineage/client/dataset/trimmers.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

default document to empty string for dbt fusion
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

default document to empty string for dbt fusion (#4499)
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common
