Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

feat(spec): Extend ParentRunFacet with parent and root facets
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/example_full_event.json
  generator/go/ir/build.go
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  spec/tests/ParentRunFacet/2.json
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-2-0/ParentRunFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

Add one doc nit
  website/docs/spec/facets/run-facets/parent_run.md
Due: forbid-attr-s

experimental definition, guide
  proposals/explicit_lineage_facet/ExplicitLineageGuide.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
Due: forbid-attr-s

feat(spec): Extend ParentRunFacet with parent and root facets (#4680)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/example_full_event.json
  generator/go/ir/build.go
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  spec/tests/ParentRunFacet/2.json
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-2-0/ParentRunFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

feat: Add OpenLineage context configuration support
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ParentRunContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common, pmd-spark, spotless-integration-spark

correct example issues
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageGuide.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
Due: forbid-attr-s

integration/common: implement FileSizeExpectationsParser for file asset validation
  integration/common/src/openlineage/common/provider/great_expectations/results.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Uncommented FileSizeExpectationsParser
  integration/common/src/openlineage/common/provider/great_expectations/results.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

integration/common: implement FileSizeExpectationsParser for file asset validation
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

integration/common: implement FileSizeExpectationsParser for file asset validation (#4698)
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

doc: document recommended namespace prefixes for jobs
  website/docs/spec/naming.md
Due: forbid-attr-s

integration/common: fix ruff import ordering in great_expectations action and facets
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/src/openlineage/common/provider/great_expectations/facets.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix ruff formatting for great expectations
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix: add Precisely Data Integrity Suite to ecosystem consumers
  website/static/ecosystem/consumers.tsx
  website/static/img/precisely_purple_logo.svg
Due: prettier

RFC: add SemanticModelDatasetFacet to carry semantic-layer (OSI) metadata
  spec/facets/SemanticModelDatasetFacet.json
Due: prettier, check_schemas, test_events, generate_facets, spec-changes

fix ruff formatting for great expectations (#4707)
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Add US2 Fed Datadog DC
  client/python/src/openlineage/client/transport/datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Add UK1 Datadog DC
  client/python/src/openlineage/client/transport/datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

feat(python): Add new Datadog DCs (#4711)
  client/python/src/openlineage/client/transport/datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: skip dataset-version catalog lookup when facet is disabled
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanOutputDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

fix: add Precisely Data Integrity Suite to ecosystem consumers (#4713)
  website/static/ecosystem/consumers.tsx
  website/static/img/precisely_purple_logo.svg
Due: prettier

docs: add Presto integration guide
  website/docs/integrations/presto.md
  website/docs/integrations/trino.md
Due: forbid-attr-s

dbt: emit incremental-strategy config and run-wide full_refresh in OpenLineage facets
  integration/common/src/openlineage/common/provider/dbt/cloud.py
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs: add changelog entry for dbt incremental config facet
  CHANGELOG.md
Due: forbid-attr-s

docs: add Presto integration guide (#4717)
  website/docs/integrations/presto.md
  website/docs/integrations/trino.md
Due: forbid-attr-s

python: match tag keys case-insensitively in both directions
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: match tag keys case-insensitively in both directions (#4722)
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(common): use the dataset namespace for the SQL query externalQuery facet
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): use the dataset namespace for the SQL query externalQuery facet (#4723)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): separate the default spark port from the host
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): separate the default spark port from the host (#4724)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): let the ~/.dbt profiles directory fallback run
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

style(common): satisfy ruff-format in the dbt profiles-dir test
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

spark: apply removePath.pattern to RDD job datasets (#4719)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
Due: pmd-spark, spotless-integration-spark

fix(common): let the ~/.dbt profiles directory fallback run (#4725)
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs: improve dbt integration documentation
  website/docs/integrations/dbt.md
Due: forbid-attr-s

dbt: document incremental/partition facet fields with per-field examples
  integration/common/src/openlineage/common/provider/dbt/facets.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(dbt): consume --openlineage-dbt-job-name in its `--opt=value` form
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
