Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

[Java] Fix Oracle thin JDBC URL normalization
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

[CI] Fix run-pmd.sh on non-CI environment
  .pre-commit-config.yaml
  .pre_commit/run-pmd.sh
  .pre_commit/run-spotless.sh
  .pre_commit/set-java-version.sh
Due: none

[Java] Fix Oracle thin JDBC URL normalization (#3586)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

[CI] Fix run-pmd.sh on non-CI environment (#3588)
  .pre-commit-config.yaml
  .pre_commit/run-pmd.sh
  .pre_commit/run-spotless.sh
  .pre_commit/set-java-version.sh
Due: none

close circuit breakers
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

alphabetizing by first name (#3593)
  TECHNICAL_STEERING_COMMITTEE.md
Due: none

close circuit breakers (#3592)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

fix metrics send
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

fix metrics send (#3594)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

spec: add optional parent root id to parent run facet
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/python/openlineage/client/generated/parent_run.py
  client/python/redact_fields.yml
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/pyproject.toml
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/static/spec/facets/1-1-0/ParentRunFacet.json
Due: spotless-integration-spark

[spark] Test subquery dataset builder drop
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

[spark] lil change
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

Python: create a CLI for the facet
  .pre-commit-config.yaml
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/root.jinja2
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/cli.py
  client/python/openlineage/client/generator/generate.py
  client/python/openlineage/client/generator/header.py
  client/python/openlineage/client/generator/templates/Enum.jinja2
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/facet_v2.jinja2
  client/python/openlineage/client/generator/templates/root.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
  client/python/tests/generator/__init__.py
  client/python/tests/generator/test_base.py
  client/python/tests/generator/test_cli.py
  client/python/tox.ini
Due: none

[spark] Fix duplicate input dataset creation when RelationV2 is a child of SubqueryAlias
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

[spark] Fix duplicate input dataset creation when RelationV2 is a child of SubqueryAlias (#3607)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

[Java] Added support for LDAP connection strings.
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

[spark] Extract column lineage out of query string
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Due: spotless-integration-spark

add rootParentJobName and rootParentJobNamespace
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/pyproject.toml
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/spec/facets/run-facets/parent_run.md
Due: spotless-integration-spark

adding Rahul's move data talk
  website/static/img/move_data_2025.png
  website/static/talks/talkStrings.tsx
Due: none

changing URL to be the not embedded one
  website/static/talks/talkStrings.tsx
Due: none

Add Datadog to customers section with logo
  website/static/ecosystem/consumers.tsx
  website/static/img/dd_logo_h_rgb.svg
Due: none

Add Datadog to customers section with logo (#3615)
  website/static/ecosystem/consumers.tsx
  website/static/img/dd_logo_h_rgb.svg
Due: none

Resize dd logo for ecosystem.
  website/static/img/dd_logo_h_rgb.svg
  website/static/img/dd_logo_h_rgb_small.svg
Due: none

Fix path in consumers.
  website/static/ecosystem/consumers.tsx
Due: none

[WEBSITE] Fix dd logo (#3616)
  website/static/ecosystem/consumers.tsx
  website/static/img/dd_logo_h_rgb.svg
  website/static/img/dd_logo_h_rgb_small.svg
Due: none

openlineage/client/client.py
  client/python/openlineage/client/client.py
Due: none

add more debug logging in RDD code paths
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

add rootParentJobName and rootParentJobNamespace
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/pyproject.toml
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/airflow.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/spec/facets/run-facets/parent_run.md
Due: spotless-integration-spark

add more debug logging in RDD code paths (#3619)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: spotless-integration-spark

fix: pre-commit checks
  client/python/openlineage/client/client.py
Due: none

[spark] Extract column lineage out of query string (#3582)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Due: spotless-integration-spark

spec: add optional root parent run id to ParentRunFacet (#3572)
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/generated/parent_run.py
  client/python/redact_fields.yml
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/pyproject.toml
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/airflow.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/static/spec/facets/1-1-0/ParentRunFacet.json
Due: spotless-integration-spark

fixes for docker entrypoint
  integration/hive-docker/entrypoint.sh
Due: none

enable the rest of the tests
  .circleci/check-changes.sh
Due: none

Python: create a CLI for the facet
  .pre-commit-config.yaml
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/root.jinja2
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/cli.py
  client/python/openlineage/client/generator/generate.py
  client/python/openlineage/client/generator/header.py
  client/python/openlineage/client/generator/templates/Enum.jinja2
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/facet_v2.jinja2
  client/python/openlineage/client/generator/templates/root.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
  client/python/tests/generator/__init__.py
  client/python/tests/generator/test_base.py
  client/python/tests/generator/test_cli.py
  client/python/tox.ini
  website/docs/client/python.md
Due: none
