Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: pygrep
  entry: from openlineage.client.generated

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

Extract traversal of expression tree to new class
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
Due: pmd-spark, spotless-integration-spark

Move node visitors to dedicated package
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/NodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionFieldDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce JoinNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce GenerateNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Extract traversal of expression tree to new class
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/ExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/WindowNodeVisitor.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
Due: pmd-spark, spotless-integration-spark

Introduce FilterNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Rename Node Visitors
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/FilterNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/GenerateNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/IcebergMergeIntoNodesVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/JoinNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/NodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ProjectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce CreateTableAsSelectNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/CreateTableAsSelectNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce VisitorFactory
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ExpressionVisitor.java
Due: pmd-spark, spotless-integration-spark

Extract traversal of expression tree to new class
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
Due: none

Remove Distinct node handling
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
Due: pmd-spark, spotless-integration-spark

Introduce AggregateNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/AggregateNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce DataSourceV2RelationNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/DataSourceV2RelationNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce WindowNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/WindowNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Introduce SortNodeVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/SortNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Rename nodes to operators
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/CreateTableAsSelectNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/DataSourceV2RelationNodeVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/IcebergMergeIntoOperatorsVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/OperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionOperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowOperatorVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/GenerateNodeVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionOperatorVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowOperatorVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add CaseWhenExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add AggregateExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add AliasExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add IfExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add WindowExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/node/SortNodeVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add CoalesceExpressionVisitor
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceExpressionVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceExpressionVisitorTest.java
Due: pmd-spark, spotless-integration-spark

add support for microbatch source write
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

pmd fix
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: none

change the dataset extraction
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

added test to identify the CTAS issue
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CreateDataSourceTableAsSelectCommandIntegrationTest.java
Due: none

Added CreateDataSourceTableAsSelectCommand to CommandPlanVisitor
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
Due: pmd-spark, spotless-integration-spark

Reinstate Distinct operator handling
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctOperatorVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctOperatorVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Python: Improve logging in AsyncHttpTransport
  client/python/openlineage/client/transport/async_http.py
Due: forbid-attr-s, check-python-generated-imports

Python: Improve logging in AsyncHttpTransport (#4026)
  client/python/openlineage/client/transport/async_http.py
Due: forbid-attr-s, check-python-generated-imports

python: Fix GCP Lineage transport async event loss during shutdown (#3815)
  client/python/openlineage/client/transport/gcplineage.py
  client/python/tests/test_gcplineage.py
Due: forbid-attr-s, check-python-generated-imports

java: Fix GCP Lineage transport async event loss during shutdown (#3815)
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

capture dbt tags
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/postgres/dbt_project.yml
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/postgres/target/manifest.json
  integration/common/tests/dbt/structured_logs/dbt_project.yml
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/target/manifest.json
  integration/dbt/tests/integration/dbt_project/dbt_project.yml
  integration/dbt/tests/integration/dbt_project/models/marts/schema.yml
Due: forbid-attr-s, check-python-generated-imports, prettier

add support for microbatch source write (#4018)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

Revert "disable openlineage by setting openlineage.disabled airflow var - overriden by pre-existing env var setting"
  integration/airflow/openlineage/airflow/plugin.py
Due: forbid-attr-s, check-python-generated-imports

Revert "update docs"
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

Revert "fix formatting"
  integration/airflow/openlineage/airflow/plugin.py
Due: forbid-attr-s, check-python-generated-imports

disable openlineage by setting openlineage.disabled airflow var with background thread - overriden by pre-existing env var setting
  integration/airflow/openlineage/airflow/listener.py
Due: forbid-attr-s, check-python-generated-imports

update docs
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
