Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

spark: register V1 microbatch output builder for Spark 4 (#4772)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
Due: pmd-spark, spotless-integration-spark

sql: fix MySQL multi-table DELETE lineage (#4775)
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
Due: none

docs(website): fix Provero ecosystem logo dimensions
  website/static/img/provero_logo.svg
Due: none

docs: remove outdated integration matrix in README, closes #4672 (#4738)
  README.md
  integration/README.md
Due: check-version-files, forbid-attr-s

fix(dbt): use test_metadata presence instead of manifest version in parse_assertions
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

client-java: generate discriminated unions
  client/java/generator/build.gradle
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/generator/src/test/java/io/openlineage/client/GeneratorTest.java
  client/java/generator/src/test/resources/discriminated-union/OpenLineage.json
  client/java/generator/src/test/resources/discriminated-union/SharedFacet.json
Due: check-version-files

fix(dbt): use test_metadata presence instead of manifest version in parse_assertions (#4777)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs(website): fix Provero ecosystem logo dimensions (#4776)
  website/static/img/provero_logo.svg
Due: none

fix(spark): support Spark 4.2, where CatalogManager became an interface
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSessionUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

ci: make Spark 4.2 tests the default
  .circleci/workflows/openlineage-spark.yml
Due: none

ci: test Python 3.14 and Spark 4.2 on Java 21
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .circleci/workflows/openlineage-spark.yml
  client/python/pyproject.toml
  integration/common/pyproject.toml
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/sql/iface-py/pyproject.toml
Due: none

ci(spark): run oldest and newest supported runtimes on every PR
  .circleci/workflows/openlineage-spark.yml
Due: none

ci: add py3-common-dbt-1.3 tox env to unit-test-integration-common
  .circleci/continue_config.yml
Due: none

ci: add py3-common-dbt-1.3 tox env to unit-test-integration-common (#4780)
  .circleci/continue_config.yml
Due: none

add configuration for enabling/disabling descriptions
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitorTest.java
Due: pmd-spark, spotless-integration-spark

pr suggestions
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitor.java
Due: pmd-spark, spotless-integration-spark

spark: fix CLL description regressions against current main
  client/java/src/main/java/io/openlineage/client/utils/TransformationInfo.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

spark: drop unused dataset dependency description, document descriptionsEnabled
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/DatasetDependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitorTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

sql: include JOIN condition subquery inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

docs(dbt): expand parsing mechanisms, execution modes, and comparison table
  website/docs/integrations/dbt.md
Due: forbid-attr-s

docs(dbt): document custom facets, parent linking, and orchestrator context
  website/docs/integrations/dbt.md
Due: forbid-attr-s

docs: improve dbt integration documentation (#4727)
  website/docs/integrations/dbt.md
Due: forbid-attr-s

sql: include JOIN condition subquery inputs (#4783)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

spark: fix JOIN description paren level in CLL container golden files
  integration/spark/app/integrations/container/pysparkCLLEnd.json
  integration/spark/app/integrations/container/pysparkCLLStart.json
Due: prettier

sql: include HAVING subquery inputs in lineage
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

sql: include HAVING subquery inputs in lineage (#4785)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

fix(spark): support Spark 4.2, where CatalogManager became an interface (#4779)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSessionUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

sql: include VALUES subquery inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
Due: none

chore: upgrade awssdk version to 2.50.0
  client/java/transports-s3/build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

change symlink logic for iceberg hive handler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

refactor of iceberg handler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

sql: include VALUES subquery inputs (#4788)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
Due: none

build(deps): bump jackson-databind to 2.18.8 (CVE-2026-54512, CVE-2026-54513)
  client/java/build.gradle
  client/java/generator/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

spark: exclude jackson 2.18 multi-release classes from shaded jars
  integration/spark/app/build.gradle
  integration/spark/build.gradle
Due: check-version-files

spark: drop server model from app shaded jar to fix integrationTest
  integration/spark/app/build.gradle
Due: check-version-files

flink,spark: exclude jackson 2.18 multi-release classes from shaded jars
  integration/flink/build.gradle
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

add support for lakehouse type catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/LakehouseRestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

chore: try awssdk 2.49.0 for compatibility testing
  client/java/transports-s3/build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

chore: scope awssdk 2.49.0 upgrade to spark app and shared only
  client/java/transports-s3/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
