Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

Allowing events from SerializedFromObject for non-delta plans
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: spotless-integration-spark

Add DatasetTypeDatasetFacet. (#3390)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/redact_fields.yml
  integration/spark-extension-entrypoint/bin/main/io/openlineage/spark/extension/OpenLineageExtensionProvider.class
  spec/facets/DatasetTypeDatasetFacet.json
  spec/registry/core/registry.json
  website/static/spec/facets/1-0-0/DatasetTypeDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

feat: Add extension to filepath in file transport not in append mode
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: none

feat: Add extension to filepath in file transport not in append mode (#3404)
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: none

fix Spark structured streaming query context
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: spotless-integration-spark

Fix detection of spec changes.
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
Due: none

Fix detection of spec changes. (#3406)
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
Due: none

feat(tagsfacet): Remove Python and Java tests
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/tests/test_facet_v2.py
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
Due: spec-changes

feat(tagsfacet): Fix typo in dataset facet. Add redact.
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/redact_fields.yml
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  website/static/TagsDatasetFacet.json
  website/static/TagsJobFacet.json
  website/static/TagsRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

feat(tagsfacet): Add python tests
  client/python/tests/test_facet_v2.py
Due: none

feat(tagsfacet): Change version to 1-0-0, add java tests
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  website/static/TagsDatasetFacet.json
  website/static/TagsJobFacet.json
  website/static/TagsRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

feat(tagsfacet): Rerun spec documentation on website
  website/static/spec/facets/1-0-0/TagsDatasetFacet.json
  website/static/spec/facets/1-0-0/TagsJobFacet.json
  website/static/spec/facets/1-0-0/TagsRunFacet.json
Due: none

feat(tagsfacet): remove tags facets docs from root of website/static
  website/static/TagsDatasetFacet.json
  website/static/TagsJobFacet.json
  website/static/TagsRunFacet.json
Due: none

feat(tagsfacet): Fix typo in dataset facet. Add redact.
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/redact_fields.yml
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
  website/static/spec/facets/1-0-0/TagsDatasetFacet.json
  website/static/spec/facets/1-0-0/TagsJobFacet.json
  website/static/spec/facets/1-0-0/TagsRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

[SPARK] Fix ClassLoader handling for OpenLineageExtensionProvider
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

feat(tagsfacet): Fix typo in dataset facet. Add redact. (#3399)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/redact_fields.yml
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
  website/static/spec/facets/1-0-0/TagsDatasetFacet.json
  website/static/spec/facets/1-0-0/TagsJobFacet.json
  website/static/spec/facets/1-0-0/TagsRunFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

add missing release notes in docs
  website/docs/releases/1_23_0.md
  website/docs/releases/1_24_2.md
  website/docs/releases/1_25_0.md
  website/docs/releases/1_26_0.md
Due: none

add missing release notes in docs (#3409)
  website/docs/releases/1_23_0.md
  website/docs/releases/1_24_2.md
  website/docs/releases/1_25_0.md
  website/docs/releases/1_26_0.md
Due: none

Test release notes.
  .github/workflows/website-update-release-notes.yml
Due: none

Styling for sm displays.
  website/src/pages/community.tsx
Due: none

fix Spark structured streaming query context
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
Due: spotless-integration-spark

Use create release notes script. Publish new docs version on GH release.
  .github/workflows/website-new-version.yml
  website/scripts/create_release_notes.py
Due: none

Rm unused breakpoint values.
  website/src/pages/community.tsx
Due: none

Use create release notes script. (#3412)
  .github/workflows/website-new-version.yml
  website/scripts/create_release_notes.py
Due: none

fix concurrent jar upload
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

Images plus config and doc head changes for social links.
  website/docusaurus.config.js
  website/src/pages/community.tsx
  website/static/img/community-thumb.png
  website/static/img/home-thumb.png
Due: none

docs(newfacet): Add docs for adding a new facet
  website/docs/spec/schemas.md
Due: none

Fix img urls.
  website/src/pages/community.tsx
Due: none

Website: styling for sm displays on community page and img for social links (#3411)
  website/docusaurus.config.js
  website/src/pages/community.tsx
  website/static/img/community-thumb.png
  website/static/img/home-thumb.png
Due: none

docs(newfacet): Add versioning link and typos
  website/docs/spec/schemas.md
Due: none

clone using https
  website/src/pages/getting-started/index.mdx
Due: none

make sure filter modifies behaviour on databricks only
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
Due: spotless-integration-spark

Add docs for creating new facets (#3415)
  website/docs/spec/schemas.md
Due: none

clone using https (#3421)
  website/src/pages/getting-started/index.mdx
Due: none

fix concurrent jar upload (#3413)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

Prettify some additional extensions, mainly JS related.
  .pre-commit-config.yaml
  integration/spark/vendor/snowflake/README.md
  proposals/269/transport.md
  spelling_wordlist.txt
  website/argos/playwright.config.ts
  website/argos/screenshot.css
  website/argos/screenshot.spec.ts
  website/argos/utils.ts
  website/babel.config.js
  website/blog/explore-lineage-api/index.mdx
  website/docs/client/python.md
  website/docs/development/developing/java/troubleshooting/logging.md
  website/docs/development/developing/python/troubleshooting/logging.md
  website/docs/integrations/great-expectations.md
  website/docusaurus.config.js
  website/plugins/home-blog-plugin.js
  website/sidebars.js
  website/src/components/addevent.tsx
  website/src/components/footer.tsx
  website/src/components/item-blog.tsx
  website/src/components/ui.tsx
  website/src/components/utils.tsx
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
  website/src/pages/home.tsx
  website/src/theme/DocSidebar/index.js
  website/src/theme/MDXComponents.js
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/meetups/meetupStrings.tsx
  website/static/talks/talkStrings.tsx
  website/tailwind.config.js
Due: none

Allowing events from SerializedFromObject for non-delta plans (#3403)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: spotless-integration-spark

[SPARK] Fix ClassLoader handling for OpenLineageExtensionProvider (#3408)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

update changelog entries for 1.27.0 release
  CHANGELOG.md
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
