Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Java: Send Content-Encoding header for compressed requests
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

Extract input symlinks from DataSourceRDD
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddPathUtilsTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/TableExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractorTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractorTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/TableExtractorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

Suppress PMD warning
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: none

4273 - [BUG] Schemas for dbt facets vary and make validation difficult
  integration/common/src/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/src/openlineage/common/schema/dbt-version-run-facet.json
Due: prettier

Signed-off-by: Author Name poojitha.r.rao1@ibm.com
  integration/spark/build.gradle
Due: check-version-files

Netty version upgrade
  integration/spark/build.gradle
Due: check-version-files

Update Netty to 4.1.129.Final for Spark modules
  integration/spark/build.gradle
Due: check-version-files

4273 - [BUG] Schemas for dbt facets vary and make validation difficult (#4285)
  integration/common/src/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/src/openlineage/common/schema/dbt-version-run-facet.json
Due: prettier

Java: Send Content-Encoding header for compressed requests (#4282)
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

spark: Extract input symlinks from DataSourceRDD (#4283)
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddPathUtilsTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractor.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/TableExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionExtractorTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractorTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/TableExtractorTest.java
Due: prettier, pmd-spark, spotless-integration-spark

Configure dependabot to exclude Java 17+ dependencies
  .github/dependabot.yml
Due: none

dbt: Fix --target-path CLI flag being ignored (#4141)
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

Website: Add Feast to ecosystem producers
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/static/ecosystem/producers.tsx
  website/static/img/feast_logo.svg
Due: forbid-attr-s, prettier

dbt: Fix --target-path CLI flag being ignored (#4141) (#4298)
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

Website: Add Feast to ecosystem producers (#4297)
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/static/ecosystem/producers.tsx
  website/static/img/feast_logo.svg
Due: forbid-attr-s, prettier

handle reading run_results.json when no key
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Revert Gradle wrapper to 8.13 (Gradle 9.x requires Java 17+)
  client/java/gradle/wrapper/gradle-wrapper.jar
  client/java/gradle/wrapper/gradle-wrapper.properties
  client/java/gradlew
  client/java/gradlew.bat
Due: none

Website: Refactor community page and add Slack to navbar
  website/docusaurus.config.js
  website/src/pages/community.tsx
Due: prettier

Update safe dependencies (Micrometer, AWS SDK, PostgreSQL, TestContainers)
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle/wrapper/gradle-wrapper.jar
  integration/spark/gradle/wrapper/gradle-wrapper.properties
  integration/spark/gradlew
  integration/spark/gradlew.bat
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

Website: Refactor community page and add Slack to navbar (#4303)
  website/docusaurus.config.js
  website/src/pages/community.tsx
Due: prettier

Update safe dependencies (Micrometer, Kotlin serialization)
  integration/flink/buildSrc/build.gradle.kts
  integration/flink/flink2/build.gradle
Due: check-version-files

Revert JUnit to 5.11.4 (5.14.2 causes test discovery issues)
  integration/flink/flink1/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/shared/build.gradle
Due: check-version-files

Revert JUnit to 5.11.4 in flink2 module
  integration/flink/flink2/build.gradle
Due: check-version-files

Restyled community and ecosystem pages for dark mode plus resized ecosys logo
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.png
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

Restyled community and ecosystem pages for dark mode plus resized ecosys logo (#4309)
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.png
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

Revert dark mode restyling
  website/src/css/custom.css
Due: prettier

Revert dark mode restyling (#4310)
  website/src/css/custom.css
Due: prettier

fix(spark): Handle null Glue ARN in IcebergHandler (#4162)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

fix(flink): Use Flink 2.x-only class for version detection (#4007)
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink

fix(spark): Early return in DatabricksEventFilter for non-Databricks platforms (#3220)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: pmd-spark, spotless-integration-spark

fix(spark): Handle ResolvedIdentifier in DropTableVisitor (#2544)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitorTest.java
Due: pmd-spark, spotless-integration-spark

fix: Extract constant for duplicate string literal in test
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: none

build: Configure PMD test rules for all test source sets
  integration/flink/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Due: none

Restyled community and ecosystem cards for dark mode
  website/src/css/custom.css
  website/src/pages/community.tsx
Due: prettier

Apply linter fixes
  website/src/css/custom.css
  website/src/pages/community.tsx
Due: prettier

Restyled community and ecosystem cards for dark mode (#4317)
  website/src/css/custom.css
  website/src/pages/community.tsx
Due: prettier

Revert dark mode restyling again
  website/src/css/custom.css
Due: prettier

Revert dark mode restyling again (#4318)
  website/src/css/custom.css
Due: prettier

fix(spark): Handle null Glue ARN in IcebergHandler (#4162) (#4311)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

fix(flink): Use Flink 2.x-only class for version detection (#4007) (#4312)
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink
