Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

deprecation: Change the default of columnLineage.datasetLineageEnabled flag to true
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

Configure Java client with environment variables. (#3094)
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/Environment.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/utils/OpenLineageEnvParser.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/utils/OpenLineageEnvParserTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/configuration.md
  website/docs/client/java/partials/java_dynamic_env_vars.md
  website/docusaurus.config.js
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

deprecation: The flag columnLineage.datasetLineageEnabled is removed.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergDeprecatedTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesDeprecatedMechanismTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderDeprecatedMechanismTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

schema: Add dataset dependencies in column level lineage
  client/python/openlineage/client/generated/column_lineage_dataset.py
  spec/tests/ColumnLineageDatasetFacet/2.json
  website/static/spec/facets/1-2-0/ColumnLineageDatasetFacet.json
Due: spec-changes

Fix issue with complex cte for resolving column lineage.
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

Fix issue with complex cte for resolving column lineage.
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

Fix issue with complex cte for resolving column lineage.
  integration/sql/impl/src/context/mod.rs
Due: none

Adjust code to support queries with cycles.
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

Adjust code to support queries with cycles.
  integration/sql/impl/src/context/mod.rs
Due: none

Fix issue with column lineage for merge into command.
  integration/spark/app/integrations/container/deltaMergeCommandVerificationComplete.json
  integration/spark/app/integrations/container/deltaMergeCommandVerificationStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
Due: spotless-integration-spark

Fix issue with column lineage for merge into command.
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
Due: spotless-integration-spark

Fix issue with column lineage for merge into command.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ProjectVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ViewVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
Due: spotless-integration-spark

Fix issue with column lineage for merge into command.
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ViewVisitor.java
Due: spotless-integration-spark

Fix issue with column lineage for merge into command.
  integration/spark/app/integrations/container/deltaMergeCommandVerificationComplete.json
  integration/spark/app/integrations/container/deltaMergeCommandVerificationStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ProjectVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ViewVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
Due: spotless-integration-spark

Adjust classes names.
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ProjectVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ViewInputDatasetBuilder.java
Due: spotless-integration-spark

Spark - improve test logging
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
Due: spotless-integration-spark

Fix issue when column lineage was pointing to cte instead of origin table for complex cte's. (#3107)
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Due: none

ci: use GH label to filter out jobs
  .circleci/config.yml
  .circleci/workflows/openlineage-spark.yml
  dev/filter_approvals.py
  dev/filter_matrix.py
Due: none

Spark - improve test logging (#3108)
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
Due: spotless-integration-spark

Fix issue with column lineage for merge into command. (#3095)
  integration/spark/app/integrations/container/deltaMergeCommandVerificationComplete.json
  integration/spark/app/integrations/container/deltaMergeCommandVerificationStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ViewInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
Due: spotless-integration-spark

add the athena dbt adapter
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

add support for dbt-athena adapter
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

fix athena namespace format for dbt integration
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

Exclude slf4j
  client/java/transports-gcs/build.gradle
Due: none

Shadow everything that can be shadowed
  client/java/transports-gcs/build.gradle
Due: none

Shadow google-cloud-storage jar
  client/java/build.gradle
  client/java/transports-dataplex/build.gradle
  client/java/transports-gcs/build.gradle
Due: none

Reduce the boilerplate
  .circleci/continue_config.yml
  client/java/transports-dataplex/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports.build.gradle
Due: none

Add gcs-transport as separate transport module
  client/java/settings.gradle
  client/java/transports-gcs/README.md
  client/java/transports-gcs/build.gradle
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportBuilder.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportConfig.java
  client/java/transports-gcs/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcs/src/test/java/io/openlineage/client/transports/gcs/GcsTransportTest.java
Due: none

Add gcs-transport as separate transport module (#3077)
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-dataplex/build.gradle
  client/java/transports-gcs/README.md
  client/java/transports-gcs/build.gradle
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportBuilder.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransportConfig.java
  client/java/transports-gcs/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcs/src/test/java/io/openlineage/client/transports/gcs/GcsTransportTest.java
  client/java/transports.build.gradle
Due: none

schema: Add dataset dependencies in column level lineage (#3098)
  client/python/openlineage/client/generated/column_lineage_dataset.py
  spec/tests/ColumnLineageDatasetFacet/2.json
  website/static/spec/facets/1-2-0/ColumnLineageDatasetFacet.json
Due: spec-changes

Configure Python client with environment variables.
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  website/docs/client/java/partials/java_dynamic_env_vars.md
  website/docs/client/python.md
Due: none

Alias `message_key` to `messageKey` in KafkaConfig.
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_client.py
  client/python/tests/test_kafka.py
  website/docs/client/python.md
Due: none

Configure Python client with environment variables. (#3114)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_kafka.py
  website/docs/client/java/partials/java_dynamic_env_vars.md
  website/docs/client/python.md
Due: none

Allow custom headers in Python HTTP transport.
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Due: none

Document CompositeTransport in Python.
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

Add blog post about Composite Transport.
  website/blog/authors.yml
  website/blog/composite-transport/index.mdx
Due: none

Document CompositeTransport in Python. (#3118)
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Due: none

Allow custom headers in Python HTTP transport. (#3116)
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Due: none

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
