Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

export handling
  integration/hive-docker/conf/hive-site.xml
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/testutils/HiveContainerTestUtils.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: prettier

export handling
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportStart.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: prettier

Website: Add ILUM consumer to ecosystem
  website/static/ecosystem/consumers.tsx
  website/static/img/ilum_logo.svg
Due: prettier

Website: Add ILUM consumer to ecosystem (#4087)
  website/static/ecosystem/consumers.tsx
  website/static/img/ilum_logo.svg
Due: prettier

fix: Upgraded commons-lang3 version to fix cve
  integration/sql/iface-java/build.gradle
Due: check-version-files

fix: Upgraded commons-lang3 version to fix cve (#4084)
  integration/sql/iface-java/build.gradle
Due: check-version-files

Fix facet property names from snake_case to camelCase
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
  spec/registry/iceberg/facets/IcebergScanReportInputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes, pmd-client-java, spotless-client-java

add start event emission + start test events
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
Due: none

export handling
  integration/hive-docker/conf/hive-site.xml
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableStart.json
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportStart.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/hooks/FacetingTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/testutils/HiveContainerTestUtils.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: prettier

remove commented-out lines
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/testutils/HiveContainerTestUtils.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: none

Hive: add export handling (#4085)
  integration/hive-docker/conf/hive-site.xml
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTableStart.json
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/partitionedExportStart.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleExportStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/hooks/FacetingTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
Due: prettier

Rename filter to filterDescription.
  spec/registry/iceberg/facets/IcebergScanReportInputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes

Fix failing integration tests.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
Due: none

Fix facet property names from snake_case to camelCase (#4092)
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  spec/registry/iceberg/facets/IcebergCommitReportOutputDatasetFacet.json
  spec/registry/iceberg/facets/IcebergScanReportInputDatasetFacet.json
Due: prettier, check_schemas, generate_facets, spec-changes, pmd-client-java, spotless-client-java

fix `transport/http.py` retry conf do default merging with user defined conf
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_async_http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports

check in missing file
  client/python/openlineage/client/transport/http_common.py
Due: forbid-attr-s, check-python-generated-imports

remove unnecessary test
  client/python/tests/test_async_http.py
Due: check-python-generated-imports

bump dbt common
  integration/dbt/pyproject.toml
Due: none

fix: dbt dependency on ol common
  integration/dbt/pyproject.toml
Due: none

load and import handling
  integration/hive/hive-openlineage-hook/integrations/container/importComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/importStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadStart.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/loadToPartitionStart.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
Due: prettier

bump dbt common (#4094)
  integration/dbt/pyproject.toml
Due: none

fix `transport/[async_]http.py` retry conf default merge with user defined conf (#4093)
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/http_common.py
  client/python/tests/test_async_http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports

added gcp_location fallback & todo comment to remove this logic at some point in the future
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Add more context to comments
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

catch NoClassDefFoundError if buggy impl exist on the classpath
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/BigQueryUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CosmosHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

catch NoClassDefFoundError if buggy impl exist on the classpath (#4099)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/BigQueryUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CosmosHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

Simplified solution
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

Adjust the code to make the tests pass
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
Due: pmd-spark, spotless-integration-spark

spark: Add unit tests verifying current behaviour
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: none

Add integration test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
Due: none

Update unit tests with expected behavior
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: none

spec: add support for temporary datasets to support job-to-job lineage
  spec/facets/DatasetTypeDatasetFacet.json
  website/docs/development/example-etl-job-tasks-temporary-datasets.png
  website/docs/development/examples.md
  website/docs/spec/facets/dataset-facets/type.md
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes

Fix PMD issues
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: none

fix snowflake ident parsing
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDatasetTest.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Due: pmd-spark, spotless-integration-spark

strip quotes surrounding Snowflake idents
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDatasetTest.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Due: pmd-spark, spotless-integration-spark

Add more gitignores
  integration/dbt/.gitignore
  integration/hive/.gitignore
  integration/spark-extension-interfaces/.gitignore
Due: none
