Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

allow new-version to detect which part of version we bump
  new-version.sh
Due: check-version-files

add dry-run mode that prints the potential changes
  new-version.sh
Due: check-version-files

restore __version__ in top-level in each package
  client/python/src/openlineage/client/__init__.py
  integration/common/src/openlineage/common/__init__.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-client-python, mypy-integration-common

fetch input statistics for single input RDD
  integration/spark/app/integrations/container/pysparkSingleRDDStatistics.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_single_input_rdd.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: forbid-attr-s, check-python-generated-imports, prettier, pmd-spark, spotless-integration-spark

restore __version__ in top-level in each package (#4135)
  client/python/src/openlineage/client/__init__.py
  integration/common/src/openlineage/common/__init__.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-client-python, mypy-integration-common

allow new-version to detect which part of version we bump (#4136)
  new-version.sh
Due: check-version-files

add changelog for version 1.40.1
  CHANGELOG.md
  website/docs/releases/1_40_1.md
Due: forbid-attr-s

add changelog for version 1.40.1 (#4137)
  CHANGELOG.md
  website/docs/releases/1_40_1.md
Due: forbid-attr-s

Prepare for release 1.40.1
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/airflow/pyproject.toml
  integration/airflow/src/openlineage/airflow/version.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/pyproject.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common, mypy-integration-airflow

Prepare next development version 1.41.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/airflow/pyproject.toml
  integration/airflow/src/openlineage/airflow/version.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/pyproject.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common, mypy-integration-airflow

fetch input statistics for single input RDD (#4134)
  integration/spark/app/integrations/container/pysparkSingleRDDStatistics.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_single_input_rdd.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: forbid-attr-s, check-python-generated-imports, prettier, pmd-spark, spotless-integration-spark

input stats should be taken from the first stage, while output should be from the last stage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark

Fix broken anchors and upgrade docusaurus
  website/docs/client/java/java.md
  website/docs/guides/airflow-quickstart.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/spark/installation.md
  website/package.json
Due: forbid-attr-s

Revert change in package.json
  website/package.json
Due: none

Dark mode with mode switcher
  website/docusaurus.config.js
  website/src/css/custom.css
Due: prettier

Apply linter fixes
  website/src/css/custom.css
Due: prettier

Apply additional linter fixes
  website/src/css/custom.css
Due: prettier

Code block styling
  website/src/css/custom.css
Due: prettier

Update website/src/css/custom.css
  website/src/css/custom.css
Due: prettier

Website: dark mode with mode switcher (#4143)
  website/docusaurus.config.js
  website/src/css/custom.css
Due: prettier

fix order of website releases
  website/docs/releases/1_38_0.md
  website/docs/releases/1_39_0.md
  website/docs/releases/1_40_0.md
  website/docs/releases/1_40_1.md
Due: forbid-attr-s

Replace transports link
  website/docs/client/java/java.md
Due: forbid-attr-s

deploy only last 10 versions
  website/docusaurus.config.js
Due: prettier

deploy only last 10 versions (#4145)
  website/docusaurus.config.js
Due: prettier

Fix broken anchors in docs (#4142)
  website/docs/client/java/java.md
  website/docs/guides/airflow-quickstart.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/spark/installation.md
Due: forbid-attr-s

fix order of website releases (#4144)
  website/docs/releases/1_38_0.md
  website/docs/releases/1_39_0.md
  website/docs/releases/1_40_0.md
  website/docs/releases/1_40_1.md
Due: forbid-attr-s

Overrides in custom css
  website/src/css/custom.css
Due: prettier

Overrides in custom css (#4147)
  website/src/css/custom.css
Due: prettier

dbt node job facet
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/test_facets.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix returncode
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/dbt/src/openlineage/dbt/__init__.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common, mypy-integration-dbt

fix dd static analysis
  .github/workflows/datadog-sca.yml
  .github/workflows/datadog-static-analysis.yml
Due: none

dbt: add DbtNodeJobFacet (#4151)
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/test_facets.py
  integration/dbt/src/openlineage/dbt/__init__.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common, mypy-integration-dbt

fix dd static analysis (#4152)
  .github/workflows/datadog-sca.yml
  .github/workflows/datadog-static-analysis.yml
Due: none

sql: migrate from sqlparser fork to upstream 0.59
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
Due: none

add missing job facet schema
  integration/common/src/openlineage/common/schema/dbt-node-job-facet.json
Due: prettier

add missing job facet schema (#4154)
  integration/common/src/openlineage/common/schema/dbt-node-job-facet.json
Due: prettier

fix: remove approval-integration-airflow step with no downstream jobs
  .circleci/workflows/openlineage-python.yml
Due: none

Revert "Overrides in custom css (#4147)"
  website/src/css/custom.css
Due: prettier
