Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Add JobType facet to RunEvent
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Add advisory note
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/prefect/adapter.py
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Move client initialization to class constructor
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Update client initialization
  integration/prefect/adapter.py
Due: forbid-attr-s, check-python-generated-imports

Move ol_adapter creation out of event loop
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

feat(spark): Add support for Snowflake Iceberg REST catalog (Polaris)
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

feat(spark): Add Snowflake Iceberg REST catalog (Polaris) support
  client/java/src/main/java/io/openlineage/client/utils/SnowflakeUtils.java
  client/java/src/main/java/io/openlineage/client/utils/TransformationInfo.java
  client/java/src/test/java/io/openlineage/client/utils/SnowflakeUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

dbt: allow retry command
  integration/common/src/openlineage/common/provider/dbt/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

integration/spark: bump httpclient5 to 5.6.1 for CVE-2026-40542
  integration/spark/app/build.gradle
  integration/spark/vendor/gcp/build.gradle
Due: check-version-files

dbt: allow retry command (#4520)
  integration/common/src/openlineage/common/provider/dbt/utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Change the generator and move it outside the client module
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/run.go
  generator/go/discover/facets.go
  generator/go/discover/glob.go
  generator/go/genutil/util.go
  generator/go/go.mod
  generator/go/ir/build.go
  generator/go/ir/facet.go
  generator/go/ir/types.go
  generator/go/main.go
  generator/go/render/client/facets.go
  generator/go/resolve/resolver.go
Due: none

fix for DateTime
  generator/go/render/client/facets.go
Due: none

update CI
  .circleci/check-changes.sh
  .circleci/continue_config.yml
Due: none

add spec generation
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  generator/go/main.go
  generator/go/render/spec/renderer.go
Due: none

review suggestions Signed-off-by: tnazarew <tomasz.nazarewicz@getindata.com>
  .circleci/continue_config.yml
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  generator/go/discover/facets.go
  generator/go/genutil/util.go
  generator/go/ir/build.go
  generator/go/ir/types.go
  generator/go/main.go
  generator/go/render/client/facets.go
  generator/go/render/spec/renderer.go
  generator/go/resolve/resolver.go
Due: none

fix build issues
  .circleci/continue_config.yml
  generator/go/go.sum
Due: none

regenerate files
  client/go/pkg/facets/facets.gen.go
Due: none

fix for DateTime
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  generator/go/render/client/facets.go
Due: none

Try block to get parent run ids and method to get runs from ids
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fix(dbt): propagate root parent through dbt-run wrapper to child events
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

fix(dbt): emit FAIL on aggregate test event when assertions failed
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

integration/spark: bump httpclient5 to 5.6.1 for CVE-2026-40542 (#4521)
  integration/spark/app/build.gradle
  integration/spark/vendor/gcp/build.gradle
Due: check-version-files

chore: exclude gradle-wrapper from dependabot updates
  .github/dependabot.yml
Due: none

fix(client/java): update JaCoCo config for Gradle 9 compatibility
  client/java/build.gradle
  client/java/transports.build.gradle
Due: check-version-files

hive: fix NPE in Parsing.buildQueryTree for 3+ way set operations (#4498)
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/Parsing.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

chore: remove stale gradle wrapper exclusions from dependabot
  .github/dependabot.yml
Due: none

spark: fix PathUtils.reconstructDefaultLocation malformed URI for S3 paths (#4505)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

feat(dbt): add Microsoft Fabric adapter support (#4485)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(client/java): bump test-logger plugin to 4.0.0 for Gradle 9 compat
  client/java/build.gradle
  client/java/transports-datazone/build.gradle
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports-kinesis/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

build(deps): bump client-java group with Gradle 9.4.1 + compat fixes (#4526)
  .github/dependabot.yml
  client/java/build.gradle
  client/java/gradle/wrapper/gradle-wrapper.jar
  client/java/gradle/wrapper/gradle-wrapper.properties
  client/java/gradlew
  client/java/gradlew.bat
  client/java/transports-datazone/build.gradle
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports-kinesis/build.gradle
  client/java/transports-s3/build.gradle
  client/java/transports.build.gradle
Due: check-version-files

fix: revert junit5Version to 5.11.4 across all spark modules
  integration/spark/app/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

fix(dbt): emit FAIL on aggregate test event when assertions failed (#4523)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix(dbt): guard against partial root parent fields in consume_local_artifacts
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

flink: add ClickHouse JDBC support (#4495)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/ClickHouseJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForClickHouse.java
Due: pmd-client-java, spotless-client-java

fix(client/java): MySqlJdbcExtractor incorrectly includes URL database in qualified table names (#4497)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/MySqlJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
Due: pmd-client-java, spotless-client-java

dbt: propagate root parent through dbt-run wrapper to child events (#4522)
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt
