Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

fix: fail fast and reduce timeout for airflow tests (#3905)
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Due: none

spark: added Iceberg WriteDelta and WriteIcebergDelta support for merge-on-read tables
  integration/spark/app/integrations/container/pysparkV2DeleteCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilderTest.java
Due: prettier, spotless-integration-spark

[Spark] Close OpenLineageClient in onApplicationEnd (#3851)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Due: spotless-integration-spark

retry exception on empty row
  integration/airflow/tests/integration/test_integration.py
Due: none

retry exception on empty row (#3908)
  integration/airflow/tests/integration/test_integration.py
Due: none

bump minor Spark versions
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files, forbid-attr-s

bump minor Spark versions (#3907)
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files, forbid-attr-s

refactor iceberg handler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3Test.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

fix spark version for databricks test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

current london 2025 talk
  website/static/img/current_london_2025.png
  website/static/talks/talkStrings.tsx
Due: prettier

current london 2025 talk (#3913)
  website/static/img/current_london_2025.png
  website/static/talks/talkStrings.tsx
Due: prettier

fix spark version for databricks test (#3911)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

add memory info to debug facet
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, spotless-integration-spark

add memory info to debug facet (#3914)
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  website/docs/integrations/spark/debug_facet.md
Due: forbid-attr-s, spotless-integration-spark

Flink integration: connector of type kafka-upsert wasn't identifying kafka topics correctly
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitorTest.java
Due: pmd-flink, pmd-spark

Flink integration: connector of type kafka-upsert wasn't identifying kafka topics correctly (#3915)
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitorTest.java
Due: pmd-flink, pmd-spark

refactor iceberg handler (#3909)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3Test.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

fix dbt hanging issue
  client/python/openlineage/client/transport/async_http.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
Due: forbid-attr-s

test additional lineage interface
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-hive.yml
  integration/hive-docker/build.gradle.kts
  integration/hive-udf-interfaces/.gitignore
  integration/hive-udf-interfaces/build.gradle
  integration/hive-udf-interfaces/gradle.properties
  integration/hive-udf-interfaces/gradle/wrapper/gradle-wrapper.jar
  integration/hive-udf-interfaces/gradle/wrapper/gradle-wrapper.properties
  integration/hive-udf-interfaces/gradlew
  integration/hive-udf-interfaces/gradlew.bat
  integration/hive-udf-interfaces/pmd-openlineage.xml
  integration/hive-udf-interfaces/settings.gradle
  integration/hive-udf-interfaces/src/main/java/io/openlineage/hive/udf/interfaces/UDFAdditionalLineage.java
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/parsing/ColumnLineageCollector.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/parsing/AdditionalLineageCollactionTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/MockUDAF.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/MockUDF.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/MockUDTF.java
  new-version.sh
Due: check-version-files, prettier

update spark entry
  website/docs/integrations/about.md
Due: forbid-attr-s

dbt query id capture in structured logs
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Due: forbid-attr-s

update spark entry (#3920)
  website/docs/integrations/about.md
Due: forbid-attr-s

add unit tests
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilderTest.java
  integration/spark/spark40/src/test/resources/io/openlineage/spark/agent/version.properties
Due: check-version-files, spotless-integration-spark

prepare new AlterTableCommandDatasetBuilder for spark40
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
Due: spotless-integration-spark

run pre-commit
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilderTest.java
Due: none

dbt query id capture in structured logs (#3918)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Due: forbid-attr-s

process the logs in O(N)
  client/python/openlineage/client/transport/async_http.py
  integration/common/openlineage/common/utils.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

spark: add new AlterTableCommandDatasetBuilder for spark40 (#3921)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilderTest.java
  integration/spark/spark40/src/test/resources/io/openlineage/spark/agent/version.properties
Due: check-version-files, spotless-integration-spark

dbt: more telemetry, fix quadratic file reading (#3916)
  client/python/openlineage/client/transport/async_http.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

changelog for release 1.36.0
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Due: forbid-attr-s

changelog for release 1.36.0 (#3924)
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Due: forbid-attr-s

Prepare for release 1.36.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.37.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
Due: none

add support for spark 4 in integration tests
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/gradle.properties
Due: check-version-files

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/gradle.properties
Due: check-version-files

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

Fix commit authors in 1.36.0 changelog
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Due: forbid-attr-s

Fix commit authors in 1.36.0 changelog (#3928)
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Due: forbid-attr-s
