Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Update build.gradle.kts
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Upgraded netty version to fix CVE
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: CVE fixes through netty upgraded.
  integration/spark/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/build.gradle
Due: check-version-files

update name
  client/java/transports-s3/build.gradle
Due: check-version-files

Fix spark datasetFacetBuilders for inputs
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: pmd-spark, spotless-integration-spark

nit: include example in python generated classes
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/base_subset_dataset.py
  client/python/src/openlineage/client/generated/catalog_dataset.py
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  client/python/src/openlineage/client/generated/documentation_dataset.py
  client/python/src/openlineage/client/generated/documentation_job.py
  client/python/src/openlineage/client/generated/error_message_run.py
  client/python/src/openlineage/client/generated/external_query_run.py
  client/python/src/openlineage/client/generated/job_type_job.py
  client/python/src/openlineage/client/generated/nominal_time_run.py
  client/python/src/openlineage/client/generated/ownership_dataset.py
  client/python/src/openlineage/client/generated/ownership_job.py
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generated/processing_engine_run.py
  client/python/src/openlineage/client/generated/schema_dataset.py
  client/python/src/openlineage/client/generated/source_code_location_job.py
  client/python/src/openlineage/client/generated/sql_job.py
  client/python/src/openlineage/client/generated/symlinks_dataset.py
  client/python/src/openlineage/client/generated/tags_dataset.py
  client/python/src/openlineage/client/generated/tags_job.py
  client/python/src/openlineage/client/generated/tags_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, generate_facets, mypy-client-python

nit: include example in python generated classes (#4123)
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/base_subset_dataset.py
  client/python/src/openlineage/client/generated/catalog_dataset.py
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/src/openlineage/client/generated/dataset_type_dataset.py
  client/python/src/openlineage/client/generated/documentation_dataset.py
  client/python/src/openlineage/client/generated/documentation_job.py
  client/python/src/openlineage/client/generated/error_message_run.py
  client/python/src/openlineage/client/generated/external_query_run.py
  client/python/src/openlineage/client/generated/job_type_job.py
  client/python/src/openlineage/client/generated/nominal_time_run.py
  client/python/src/openlineage/client/generated/ownership_dataset.py
  client/python/src/openlineage/client/generated/ownership_job.py
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generated/processing_engine_run.py
  client/python/src/openlineage/client/generated/schema_dataset.py
  client/python/src/openlineage/client/generated/source_code_location_job.py
  client/python/src/openlineage/client/generated/sql_job.py
  client/python/src/openlineage/client/generated/symlinks_dataset.py
  client/python/src/openlineage/client/generated/tags_dataset.py
  client/python/src/openlineage/client/generated/tags_job.py
  client/python/src/openlineage/client/generated/tags_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, generate_facets, mypy-client-python

Add schema and CLL facets for Snowflake writes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
Due: pmd-spark, spotless-integration-spark

Hive: generate the same runId for START and STOP events
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
Due: none

Hive: generate the same runId for START and STOP events (#4126)
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/TableLevelLineageTests.java
Due: none

bump awssdk dependency
  integration/spark/shared/build.gradle
Due: check-version-files

Fix spark datasetFacetBuilders for inputs (#4121)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: pmd-spark, spotless-integration-spark

spec: add ordinal position to SchemaDatasetFacet
  client/python/src/openlineage/client/generated/schema_dataset.py
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/HybridSourceVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/KafkaSourceVisitorTest.java
  spec/tests/SchemaDatasetFacet/1.json
  website/static/spec/facets/1-2-0/SchemaDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

bump awssdk dependency (#4128)
  integration/spark/shared/build.gradle
Due: check-version-files

fix
  client/java/transports-s3/build.gradle
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPlugin.kt
Due: check-version-files

feat(spec): add JobDependenciesRunFacet
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  spec/facets/JobDependenciesRunFacet.json
  website/docs/spec/facets/run-facets/job_dependencies.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-0-0/JobDependenciesRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

feat(spec): add JobDependenciesRunFacet (#4112)
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  spec/facets/JobDependenciesRunFacet.json
  website/docs/spec/facets/run-facets/job_dependencies.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-0-0/JobDependenciesRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

spec: formalise a batch API endpoint as part of the core specification
  spec/OpenLineage.yml
Due: prettier, spec-changes

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

create mock credential file during tests
  client/java/.gitignore
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

fix pmd
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

spotless
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

spec: add ordinal position to SchemaDatasetFacet (#4116)
  client/python/src/openlineage/client/generated/schema_dataset.py
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/HybridSourceVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/KafkaSourceVisitorTest.java
  spec/tests/SchemaDatasetFacet/1.json
  website/static/spec/facets/1-2-0/SchemaDatasetFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

spec: formalise a batch API endpoint as part of the core specification (#4109)
  spec/OpenLineage.yml
Due: prettier, spec-changes

add changelog for version 1.40.0
  CHANGELOG.md
  website/docs/releases/1_40_0.md
Due: forbid-attr-s

bump awssdk dependency in Spark
  client/java/transports-datazone/build.gradle
  client/java/transports-s3/build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

bump awssdk dependency in Spark (#4130)
  client/java/transports-datazone/build.gradle
  client/java/transports-s3/build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

add changelog for version 1.40.0 (#4129)
  CHANGELOG.md
  website/docs/releases/1_40_0.md
Due: forbid-attr-s

add instructions to deps install release
  new-version.sh
Due: check-version-files

add instructions to deps install release (#4131)
  new-version.sh
Due: check-version-files

fix bumpversion
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Due: check-version-files

fix bumpversion (#4132)
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Due: check-version-files

fix bumpversion
  integration/airflow/pyproject.toml
  integration/common/pyproject.toml
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Due: check-version-files

fix bumpversion (#4133)
  integration/airflow/pyproject.toml
  integration/common/pyproject.toml
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Due: check-version-files

remove redundant bump
  client/python/pyproject.toml
  integration/airflow/pyproject.toml
  integration/common/pyproject.toml
  integration/dbt/pyproject.toml
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Due: check-version-files

Prepare for release 1.40.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.41.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/airflow/pyproject.toml
  integration/airflow/src/openlineage/airflow/version.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/pyproject.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common, mypy-integration-airflow
