Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

python: wait for all async HTTP events
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(python): make with_additional_properties() facets picklable
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/column_lineage_dataset.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/src/openlineage/client/utils.py
  client/python/tests/test_facet_v2.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

fix(client): don't recurse deep_merge_dicts into a non-dict value
  client/python/src/openlineage/client/utils.py
  client/python/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(common): resolve dbt test seed inputs by alias, not logical name
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(great-expectations): restore data-quality metrics on Great Expectations 1.x
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

docs: improve dbt integration documentation
  website/docs/integrations/dbt.md
Due: forbid-attr-s

safer parent run id, re-enabled streaming, added feature flag for deep merge and merge of events based on event type, adding transports to integration and client
  client/java/src/main/java/io/openlineage/client/transports/ProxyTransport.java
  client/java/src/main/java/io/openlineage/client/transports/ProxyTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransportFactory.java
  client/java/src/main/java/io/openlineage/client/transports/TransportResolver.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  integration/flink/shared/src/main/java/io/openlineage/flink/client/Versions.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/Versions.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/lifecycle/plan/SparkOpenLineageExtensionVisitor.java
  integration/spark/app/src/main/java/io/openlineage/client/transports/EventMergerV1.java
  integration/spark/app/src/main/java/io/openlineage/client/transports/EventMergerV2.java
  integration/spark/app/src/main/java/io/openlineage/client/transports/ProxyTransportWrapper.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/Versions.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KinesisMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamingDataSourceV2RelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddDatasetInfoExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

docs: remove outdated integration matrix in README
  README.md
Due: check-version-files, forbid-attr-s

dbt: emit incremental-strategy config and run-wide full_refresh in OpenLineage facets (#4716)
  CHANGELOG.md
  integration/common/src/openlineage/common/provider/dbt/cloud.py
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(client): don't recurse deep_merge_dicts into a non-dict value (#4731)
  client/python/src/openlineage/client/utils.py
  client/python/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(dbt): consume --openlineage-dbt-job-name in its `--opt=value` form (#4730)
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(python): read config files as utf-8
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(common): resolve dbt test seed inputs by alias, not logical name (#4732)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

build(deps): bump sqlparser, jni, and pyo3 in integration/sql
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
Due: none

python: wait for all async HTTP events (#4728)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

client/java: fix deserialization crash for facet fields literally named additionalProperties
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Due: none

docs: remove outdated integration version table in integration/README.md
  integration/README.md
Due: check-version-files, forbid-attr-s

Explicit lineage proposal (#4468)
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageGuide.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
  proposals/explicit_lineage_facet/ExplicitLineageSchema.md
Due: forbid-attr-s

Replace Makefile and custom build scripts with Taskfile (#4620)
  .github/workflows/integration-tests-spark-aws.yml
  .taskrc.yml
  Makefile
  Taskfile.yml
  client/java/Taskfile.yml
  client/python/Taskfile.yml
  dev/.env.template
  dev/README.md
  dev/Taskfile.yml
  dev/java-home.sh
  dev/requirements.txt
  integration/common/Taskfile.yml
  integration/dbt/README.md
  integration/dbt/Taskfile.yml
  integration/spark-extension-interfaces/Taskfile.yml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/sql/Taskfile.yml
  website/docs/client/python/development/setup.md
  website/docs/integrations/spark/developing/setup.md
  website/docs/spec/schemas.md
Due: check-version-files, forbid-attr-s

client/java: normalize abfs/wasb to abfss/wasbs in ObjectStorageDatasetExtractor (#4661)
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForABFSS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Due: pmd-client-java, spotless-client-java

Prepare changelog for release 1.49.0 (#4616)
  CHANGELOG.md
  website/docs/releases/1_49_0.md
Due: forbid-attr-s

group dependabot website and security updates (#4645)
  .github/dependabot.yml
Due: none

CVE 2026 42583 resolve spark (#4621)
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

spark: fix lakehouse detection mechanism (#4611)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
Due: pmd-spark, spotless-integration-spark

change shaded paths to avoid conflicts while using composite transport (#4652)
  client/java/transports-datazone/build.gradle
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcs/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

dbt model meta/config capture (#4653)
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/duckdb/target/manifest.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix(python): support file uri transport paths (#4656)
  client/python/src/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

buildSrc: close leaked file streams in jarVerification bytecode check (#4632)
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginDelegate.kt
Due: none

4638 spark: fix Unity Catalog symlink metadata on Databricks (#4660)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatabricksUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandlerTest.java
Due: pmd-spark, spotless-integration-spark

Prepare changelog for release 1.50.0 (#4646)
  CHANGELOG.md
  website/docs/releases/1_50_0.md
Due: forbid-attr-s

Prepare for release 1.49.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

spark3: extract DeltaVersionUtils from DeltaHandler (#4663)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaVersionUtils.java
Due: pmd-spark, spotless-integration-spark

spark/test: move DynamicParameter to a shared test-commons module (#4664)
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/settings.gradle
  integration/spark/test-commons/build.gradle
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/test-commons/src/testFixtures/java/io/openlineage/spark/agent/TestIds.java
Due: check-version-files

flink: add timeout-aware run event emission support (#4613)
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

fix(python): isolate datadog config defaults (#4586)
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(common): preserve nullable chain input (#4627)
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common
