Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
Due: none

re-enable SparkScalaContainerTest
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

disable tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

use reflection to call new constructor
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/LogicalRelationFactory.java
Due: spotless-integration-spark

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

avoid using literals
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/LogicalRelationFactory.java
Due: spotless-integration-spark

remove unused var
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

update LogicalRelationFactory to find constructor based on param count
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/LogicalRelationFactory.java
Due: spotless-integration-spark

spark: fix LogicalRelation constructor compatibility for Spark 4 (#3930)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/LogicalRelationFactory.java
Due: spotless-integration-spark

remove Spark 2 support
  .circleci/workflows/openlineage-spark.yml
  integration/README.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProvider.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProviderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/spark2/build.gradle
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/ScalaUtils.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/SparkUtils.java
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  new-version.sh
  website/docs/integrations/spark/spark.md
Due: check-version-files, forbid-attr-s, spotless-integration-spark

remove Spark 2 support (#3904)
  .circleci/workflows/openlineage-spark.yml
  integration/README.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProvider.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/VisitorFactoryProviderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/spark2/build.gradle
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/ScalaUtils.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/SparkUtils.java
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  new-version.sh
  website/docs/integrations/spark/spark.md
Due: check-version-files, forbid-attr-s, spotless-integration-spark

feat: add Jackson Blackbird module for JSON performance optimization
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
Due: check-version-files, pmd-client-java, spotless-client-java

spark: re-enable SparkScalaContainerTest for spark40 (#3927)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

feat: add Jackson Blackbird module for JSON performance optimization (#3923)
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
Due: check-version-files, pmd-client-java, spotless-client-java

Use Azure Cosmos naming schema
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CosmosHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CosmosHandlerTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Use AwsGlue naming schema
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Fix pmd error
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
Due: spotless-integration-spark

Use Kafka naming schema
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaBootstrapServerResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: spotless-integration-spark

Use file system and blob storage namings
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GenericFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/LocalFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGCS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForLocal.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForS3.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
Due: pmd-client-java, spotless-client-java

Signed-off-by: Salvador Romo <salvador.romo.macias@gmail.com>
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

Revert "build(deps): bump the integration-spark group (#3866)"
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

spark: added Iceberg WriteDelta and WriteIcebergDelta support for merge-on-read tables
  integration/spark/app/integrations/container/pysparkV2DeleteCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilderTest.java
Due: prettier, spotless-integration-spark

add an option to override dbt job name
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/tests/integration/test_integration.py
  integration/dbt/tests/integration/test_structured_logs.py
  website/docs/integrations/dbt.md
Due: forbid-attr-s, prettier

Spark 4 - fix context facetory
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
Due: spotless-integration-spark

Add support for spark 4 in SparkStreamingTest integration tests (#3925)
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

fix dbt openlineage-integration-common dependency versioning
  integration/dbt/pyproject.toml
Due: none

move to not workspace setup
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  Makefile
  client/python/pyproject.toml
  client/python/src/openlineage/client/generator/generate.py
  integration/airflow/pyproject.toml
  integration/airflow/src/openlineage/airflow/adapter.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/bigquery.py
  integration/common/src/openlineage/common/provider/dbt/facets.py
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/dagster/pyproject.toml
  integration/dagster/tests/sample_job.py
  integration/dbt/pyproject.toml
  integration/dbt/src/openlineage/dbt/__init__.py
  pyproject.toml
Due: forbid-attr-s, prettier

fix dbt openlineage-integration-common dependency versioning (#3939)
  integration/dbt/pyproject.toml
Due: none

Fixed columnLineage when Spark reads from Oracle and writes to BigQuery
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
Due: spotless-integration-spark

Fixed the extractOpenLineageConfFromSparkConf method in how it parses the "spark.openlineage.vendors.iceberg.metricsReporterDisabled" spark config:
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
Due: spotless-integration-spark

Use file system and blob storage namings
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GenericFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/LocalFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGCS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForLocal.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
Due: pmd-client-java, spotless-client-java
