Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

Fix 1.28.0 position.
  website/docs/releases/1_28_0.md
Due: none

Fix 1.28.0 position. (#3475)
  website/docs/releases/1_28_0.md
Due: none

spark: bump tested version
  .circleci/workflows/openlineage-spark.yml
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/snowflake/build.gradle
Due: spotless-integration-spark

Integrate tags into OpenLineageConfig
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Due: none

feat(tagsfacet): Update job and run tag facets from user-supplied environment variables
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/no_output.py
  client/python/tests/test_client.py
Due: none

spark: bump tested version (#3477)
  .circleci/workflows/openlineage-spark.yml
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/snowflake/build.gradle
Due: spotless-integration-spark

[SPARK] Use all of the underlying classloaders to find META-INF/services resources
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

[SPARK] Use all of the underlying classloaders to find META-INF/services resources (#3483)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

changes introduced by dolfinus feedback
  proposals/3392/dataset_partitioning.md
Due: none

set java toolchain & fix spark build deps script
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/buildDependencies.sh
Due: none

extend subset dataset facet context
  proposals/3392/dataset_partitioning.md
Due: none

flink: set default job manager address; pre-commit: use configured JAVA_HOME
  .pre_commit/set-java-version.sh
  integration/flink/app/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Due: pmd-flink, pmd-spark

flink: gradle spotlessApply executed
  integration/flink/app/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Due: pmd-flink, pmd-spark

[flink] default null job manager address (#3486)
  .pre_commit/set-java-version.sh
  integration/flink/app/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Due: pmd-flink, pmd-spark

feat(usertags): Keep tag.key case when updating tags facets
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/no_output.py
  client/python/tests/conftest.py
  client/python/tests/test_client.py
Due: none

rename async breaker configs into more meaningful
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

set java toolchain & fix spark build deps script (#3481)
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/buildDependencies.sh
Due: none

fix attached node in dbt source tests
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/test_source/logs/test_source_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

fix attached node in dbt source tests (#3488)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/test_source/logs/test_source_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

rename async breaker configs into more meaningful (#3487)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

feat(tagsfacet): Improve docs
  website/docs/client/python.md
Due: none

spark: add tags facets from config
  integration/spark/app/integrations/container/applicationLevelCompleteApplication.json
  integration/spark/app/integrations/container/applicationLevelCompleteJob.json
  integration/spark/app/integrations/container/applicationLevelStartApplication.json
  integration/spark/app/integrations/container/applicationLevelStartJob.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/TagField.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilderTest.java
Due: spotless-integration-spark

deprecate naming spec
  spec/Naming.md
Due: spec-changes

April 2025 Warsaw meetup blog.
  website/blog/warsaw-google-meetup-2/index.mdx
Due: none

deprecate naming spec (#3495)
  spec/Naming.md
Due: spec-changes

April 2025 Warsaw meetup blog. (#3496)
  website/blog/warsaw-google-meetup-2/index.mdx
Due: none

fix bigquery namespace
  website/docs/spec/naming.md
Due: none

fix bigquery namespace (#3497)
  website/docs/spec/naming.md
Due: none

parse tags in client
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/java/io/openlineage/client/run/RunConfig.java
  client/java/src/main/java/io/openlineage/client/utils/TagField.java
  client/java/src/main/java/io/openlineage/client/utils/TagsDeserializer.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/tags-edge-case.yaml
  client/java/src/test/resources/config/tags.yaml
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilderTest.java
  website/docs/client/java/configuration.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

store test results as artifacts
  .circleci/continue_config.yml
Due: none

java: add tags facets from config (#3493)
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/java/io/openlineage/client/run/RunConfig.java
  client/java/src/main/java/io/openlineage/client/utils/TagField.java
  client/java/src/main/java/io/openlineage/client/utils/TagsDeserializer.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/tags-edge-case.yaml
  client/java/src/test/resources/config/tags.yaml
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/spark/app/integrations/container/applicationLevelCompleteApplication.json
  integration/spark/app/integrations/container/applicationLevelCompleteJob.json
  integration/spark/app/integrations/container/applicationLevelStartApplication.json
  integration/spark/app/integrations/container/applicationLevelStartJob.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilderTest.java
  website/docs/client/java/configuration.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

test full tests
  .circleci/config.yml
  dev/filter_matrix.py
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VendorsContext.java
Due: spotless-integration-spark

test-fork
  .circleci/config.yml
  dev/filter_matrix.py
Due: none

store test results as artifacts (#3498)
  .circleci/continue_config.yml
Due: none

Add ArrayBuffer support in ParallelCollectionRDDExtractor::extract (#3445)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: spotless-integration-spark

unify configs and context for flink 1 & 2
  integration/flink/flink1/build.gradle
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/log4j-console.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/OpenLineageContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/Versions.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/Flink2VisitorFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/config/OpenlineageConfigParserTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContextFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Due: pmd-flink, pmd-spark

Add ArrayBuffer support in ParallelCollectionRDDExtractor::extract (#3445) (#3499)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
