Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

cache gravitinoInfo
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
Due: pmd-client-java, spotless-client-java

fix PMD issues
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: none

fix issue reported by pmdTests
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: forbid-attr-s

add debugging info
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix PMD issues
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
Due: pmd-client-java, spotless-client-java

fix test cases
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix PMD issues and integration test failures
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: pmd-client-java, spotless-client-java

add more test for gravitino integration in spark
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: none

support Lineage for Gravitino spark connector
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfo.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGVFS.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: check-version-files, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix a build config issue in client/java/transports-s3/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

spec: add a facet for job run parameters
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/job_run_parameters.py
  spec/facets/JobRunParametersFacet.json
  website/docs/spec/facets/run-facets/job_run_parameters.md
  website/static/JobRunParametersFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

fix s3 transport build
  client/java/transports-s3/build.gradle
Due: check-version-files

fix s3 transport build (#4190)
  client/java/transports-s3/build.gradle
Due: check-version-files

Downgrade buildconfig
  client/java/transports-s3/build.gradle
Due: check-version-files

Downgrade buildconfig (#4191)
  client/java/transports-s3/build.gradle
Due: check-version-files

spotless
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

change shaded path and update mocking credentials file
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

fix pmd
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

create mock credential file during tests
  client/java/.gitignore
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

Fix tests failing with spark 3.5+
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
Due: none

Add config to disable RDD event emitting
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

Fix BigQuery symlinks with ".db" suffix
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

feat: add arbitrary extra info to JobDependency in JobDependenciesRunFacet
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  website/docs/spec/facets/run-facets/job_dependencies.md
  website/static/spec/facets/1-0-1/JobDependenciesRunFacet.json
Due: forbid-attr-s, generate_facets, mypy-client-python

feat: add arbitrary extra info to JobDependency in JobDependenciesRunFacet (#4189)
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  website/docs/spec/facets/run-facets/job_dependencies.md
  website/static/spec/facets/1-0-1/JobDependenciesRunFacet.json
Due: forbid-attr-s, generate_facets, mypy-client-python

add changelog for version 1.41.0
  CHANGELOG.md
  website/docs/releases/1_41_0.md
Due: forbid-attr-s

add changelog for version 1.41.0 (#4193)
  CHANGELOG.md
  website/docs/releases/1_41_0.md
Due: forbid-attr-s

nit: add signoff to release script commit commands
  new-version.sh
Due: check-version-files

nit: add signoff to release script commit commands (#4194)
  new-version.sh
Due: check-version-files

Prepare for release 1.41.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.42.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/airflow/pyproject.toml
  integration/airflow/src/openlineage/airflow/version.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/pyproject.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common, mypy-integration-airflow

nit: add uv.lock files to gitignore
  .gitignore
Due: none

nit: add uv.lock files to gitignore (#4195)
  .gitignore
Due: none

Correcting case format specification for components of custom facet keys.
  spec/OpenLineage.md
Due: forbid-attr-s, prettier, spec-changes

Python: fix .with_additional_properties() annotation
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/column_lineage_dataset.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, generate_facets, mypy-client-python

Correcting case format specification for components of custom facet keys. (#4196)
  spec/OpenLineage.md
Due: forbid-attr-s, prettier, spec-changes

Python: fix .with_additional_properties() annotation (#4197)
  client/python/src/openlineage/client/generated/base.py
  client/python/src/openlineage/client/generated/column_lineage_dataset.py
  client/python/src/openlineage/client/generated/job_dependencies_run.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
Due: forbid-attr-s, generate_facets, mypy-client-python

nit: fix cte sqlparser test failing in CI
  integration/common/tests/sql/test_parser.py
Due: check-python-generated-imports

nit: group website dependabot updates and add skip-changelog label automation
  .github/boring-cyborg.yml
  .github/dependabot.yml
Due: none
