Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

add Jakub Moravec to TSC (#4408)
  TECHNICAL_STEERING_COMMITTEE.md
Due: forbid-attr-s

Go client (#4358)
  .circleci/check-changes.sh
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-go.yml
  .pre-commit-config.yaml
  client/go/.gitignore
  client/go/.golangci.yml
  client/go/README.md
  client/go/go.mod
  client/go/go.sum
  client/go/internal/generate/facet_helpers.go.tmpl
  client/go/internal/generate/gen_facets.go
  client/go/internal/generate/gen_openlineage.go
  client/go/internal/generate/generate.go
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/facets.go
  client/go/pkg/openlineage/client.go
  client/go/pkg/openlineage/context.go
  client/go/pkg/openlineage/dataset.go
  client/go/pkg/openlineage/events.go
  client/go/pkg/openlineage/example_client_test.go
  client/go/pkg/openlineage/example_run_test.go
  client/go/pkg/openlineage/helpers.go
  client/go/pkg/openlineage/job.go
  client/go/pkg/openlineage/noop.go
  client/go/pkg/openlineage/run.go
  client/go/pkg/openlineage/spec.gen.go
  client/go/pkg/openlineage/version.go
  client/go/pkg/transport/console.go
  client/go/pkg/transport/console_test.go
  client/go/pkg/transport/gcplineage.go
  client/go/pkg/transport/gcplineage_test.go
  client/go/pkg/transport/http.go
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/go/pkg/transport/transport_test.go
  release.sh
Due: check-version-files, forbid-attr-s, prettier

Fix PMD violations in MongoMicroBatchStreamStrategyTest
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
Due: none

style: Apply Spotless formatting after git rebase
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategy.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategyTest.java
Due: pmd-spark, spotless-integration-spark

add Paimon dataset naming support
  client/python/src/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

feat(java-client): add ownership field to JobConfig with backward compat
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/resources/io/openlineage/client/client.version.properties
Due: check-version-files, pmd-client-java, spotless-client-java

feat(java-client): move tag/ownership enrichment into OpenLineageClient
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

test(java-client): add enrichment tests and update integration tests
  CHANGELOG.md
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  client/java/src/test/resources/config/ownership-legacy.yaml
  client/java/src/test/resources/config/ownership.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
Due: forbid-attr-s

refactor(spark,flink): remove tag/ownership builders from integrations
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
Due: pmd-flink, pmd-spark, spotless-integration-spark

style: apply spotless formatting to OpenLineageClient and enrichment test
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
Due: pmd-client-java, spotless-client-java

fix: use Locale.ROOT in toLowerCase() calls to satisfy PMD and fix spotless formatting
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix: preserve all job and run facets during enrichment
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

fix: apply spotless formatting to OpenLineageClient
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
Due: pmd-client-java, spotless-client-java

client/python: replace subprocess git calls with direct .git file reads
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/conftest.py
  client/python/tests/test_source_code_location.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

client/python: make sourceCodeLocation opt-in and reduce subprocess overhead
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facets.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/conftest.py
  client/python/tests/test_source_code_location.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

client/python: move git helpers to git.py and add error handling in sourceCodeLocation facet
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/git.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/test_source_code_location.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

updating aws-sdk to resolve netty vulnerabilty
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

client/python: make sourceCodeLocation opt-in and reduce subprocess overhead (#4403)
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/facets.py
  client/python/src/openlineage/client/git.py
  client/python/src/openlineage/client/utils.py
  client/python/tests/conftest.py
  client/python/tests/test_source_code_location.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

updated base resources and added example file provider
  .gitignore
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/init-workspace.sh
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/models.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
  byool/terraform/terraform-provider-openlineage-file/.gitignore
  byool/terraform/terraform-provider-openlineage-file/Makefile
  byool/terraform/terraform-provider-openlineage-file/README.md
  byool/terraform/terraform-provider-openlineage-file/examples/provider/provider.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_dataset/resource.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_job/resource.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_run/resource.tf
  byool/terraform/terraform-provider-openlineage-file/go.mod
  byool/terraform/terraform-provider-openlineage-file/go.sum
  byool/terraform/terraform-provider-openlineage-file/init-workspace.sh
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_dataset_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_job_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_models.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_run_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_writer.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/provider.go
  byool/terraform/terraform-provider-openlineage-file/main.go
  byool/terraform/terraform-provider-openlineage-file/templates/index.md.tmpl
  byool/terraform/terraform-provider-openlineage-file/templates/resources/job.md.tmpl
  byool/terraform/terraform-provider-openlineage-file/terraform-registry-manifest.json
  client/go/go.sum
Due: check-version-files, forbid-attr-s

byool openlineage terraform resource
  byool/terraform/.gitignore
  byool/terraform/README.md
  byool/terraform/go.mod
  byool/terraform/go.sum
  byool/terraform/ol/base_dataset_resource.go
  byool/terraform/ol/base_job_resource.go
  byool/terraform/ol/capability.go
  byool/terraform/ol/event_builder.go
  byool/terraform/ol/models.go
  byool/terraform/ol/ol_models.go
  byool/terraform/ol/schema_generator.go
Due: check-version-files, forbid-attr-s

linter setup
  .pre_commit/run-golangci-lint.sh
  go.work
Due: none

integrate client with CI
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

change pre-commit config
  .pre_commit/run-golangci-lint.sh
Due: none

review changes + lint setup
  .circleci/continue_config.yml
  .pre_commit/run-golangci-lint.sh
  client/go/LOCAL_DEVELOPMENT.md
  go.work
Due: forbid-attr-s

updated base resources
  .circleci/continue_config.yml
  .gitignore
  byool/terraform/ol/event_builder.go
  byool/terraform/openlineage-base-resource/README.md
  byool/terraform/openlineage-base-resource/go.mod
  byool/terraform/openlineage-base-resource/go.sum
  byool/terraform/openlineage-base-resource/init-workspace.sh
  byool/terraform/openlineage-base-resource/ol/base_dataset_resource.go
  byool/terraform/openlineage-base-resource/ol/base_job_resource.go
  byool/terraform/openlineage-base-resource/ol/capability.go
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/models.go
  byool/terraform/openlineage-base-resource/ol/ol_models.go
  byool/terraform/openlineage-base-resource/ol/schema_generator.go
  client/go/go.mod
  client/go/go.sum
Due: check-version-files, forbid-attr-s

example terraform provider based on openlineage terraform base resource Signed-off-by: tnazarew <tomasz.nazarewicz@getindata.com>
  byool/terraform/terraform-provider-openlineage-file/.gitignore
  byool/terraform/terraform-provider-openlineage-file/CONTEXT.md
  byool/terraform/terraform-provider-openlineage-file/Makefile
  byool/terraform/terraform-provider-openlineage-file/README.md
  byool/terraform/terraform-provider-openlineage-file/examples/provider/provider.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_dataset/resource.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_job/resource.tf
  byool/terraform/terraform-provider-openlineage-file/examples/resources/openlineage_run/resource.tf
  byool/terraform/terraform-provider-openlineage-file/go.mod
  byool/terraform/terraform-provider-openlineage-file/go.sum
  byool/terraform/terraform-provider-openlineage-file/init-workspace.sh
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_dataset_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_job_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_models.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_run_resource.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/file_writer.go
  byool/terraform/terraform-provider-openlineage-file/internal/file/provider.go
  byool/terraform/terraform-provider-openlineage-file/main.go
  byool/terraform/terraform-provider-openlineage-file/templates/index.md.tmpl
  byool/terraform/terraform-provider-openlineage-file/templates/resources/job.md.tmpl
  byool/terraform/terraform-provider-openlineage-file/terraform-registry-manifest.json
Due: check-version-files, forbid-attr-s

fix(flink): update expected JSON files to include tags facet
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: prettier

fix(spark): Add support for SparkChangelogTable in IcebergHandler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix: resolve Windows-specific test failures in ConfigTest and Derby tests
  client/java/src/main/java/io/openlineage/client/utils/jdbc/DerbyJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientEnrichmentTest.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDerby.java
  client/java/test-logs.txt
Due: pmd-client-java, spotless-client-java

spec: add TestResultRunFacet for explicit test outcome and severity
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/test_result_run.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  spec/facets/TestResultRunFacet.json
  website/static/spec/facets/1-0-0/TestResultRunFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, spec-changes

feat: emit TestResultRunFacet in legacy dbt processor path
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix: correct _producer and expected/actual types in TestRunFacet
  client/python/src/openlineage/client/generated/test_run.py
  integration/common/tests/dbt/build/result.json
  spec/facets/TestRunFacet.json
  website/static/spec/facets/1-0-0/TestRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

rename TestResultRunFacet to TestRunFacet with array-based design
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/test_result_run.py
  client/python/src/openlineage/client/generated/test_run.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_dbt_local.py
  spec/facets/TestResultRunFacet.json
  spec/facets/TestRunFacet.json
  website/static/spec/facets/1-0-0/TestResultRunFacet.json
  website/static/spec/facets/1-0-0/TestRunFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, spec-changes

ci: fix CodeQL matrix — add actions, remove java-kotlin autobuild
  .github/workflows/codeql.yml
Due: none

fix: add params field to golden file Test objects
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
Due: prettier

ci: add top-level permissions block to CodeQL workflow
  .github/workflows/codeql.yml
Due: none

ci: add dynamic CodeQL workflow with language auto-detection
  .github/workflows/codeql.yml
Due: none

ci: add concurrency group to prevent parallel CodeQL SARIF conflicts
  .github/workflows/codeql.yml
Due: none

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
