Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: pygrep
  entry: from openlineage.client.generated

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

feat(website): add Pentaho Data Catalog as OpenLineage consumer (#4042)
  website/static/ecosystem/consumers.tsx
  website/static/img/pentaho_data_catalog.svg
Due: prettier

Detect subset locations facet for S3 objects in Spark (aka normalize S3 locations)
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/PartitionedDatasetReducer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/MultiDirTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/YearMonthTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/DatasetConfigTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/PartitionedDatasetReducerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/YearMontTrimmerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

add equals and hashcode method into generated classes
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Due: none

add equals and hashcode method into generated classes (#4050)
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Due: none

rely on either temporaryGcsBucket or persistentGcsBucket
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: pmd-spark, spotless-integration-spark

extend test cases to reproduce the issue
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: none

fix path conditionals
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
Due: pmd-spark, spotless-integration-spark

Revert "rely on either temporaryGcsBucket or persistentGcsBucket"
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: pmd-spark, spotless-integration-spark

rollback to path check
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
Due: pmd-spark, spotless-integration-spark

spark: rely on BQ bucket info inside BigQueryIntermediateJobFilter (#4044)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: pmd-spark, spotless-integration-spark

spark: Fix CLL on hiveless runtimes
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: pmd-spark, spotless-integration-spark

spark: Fix CLL on hiveless runtimes (#4052)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: pmd-spark, spotless-integration-spark

fix: accept apikey and api_key in token provider (#4045)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports

Fix: false hive glue detection due to always attempting Glue ARN resolution
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
Due: pmd-spark, spotless-integration-spark

test: add PathUtilstest for catalog table with hive metastore on S3
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: none

Detect subset locations facet for S3 objects in Spark (aka normalize S3 locations)
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/PartitionedDatasetReducer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/MultiDirTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/YearMonthTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/DatasetConfigTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/PartitionedDatasetReducerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/YearMontTrimmerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  website/docs/client/java/configuration.md
  website/docs/client/java/partials/java_dataset_name_normalizer.md
  website/docs/spec/facets/dataset-facets/subset_definition.md
Due: forbid-attr-s, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

capture dbt tags
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/postgres/dbt_project.yml
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/postgres/target/manifest.json
  integration/common/tests/dbt/structured_logs/dbt_project.yml
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/target/manifest.json
  integration/dbt/tests/integration/dbt_project/dbt_project.yml
  integration/dbt/tests/integration/dbt_project/models/marts/schema.yml
Due: forbid-attr-s, check-python-generated-imports, prettier

dbt: use alias when naming datasets
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/alias/dbt_project.yml
  integration/common/tests/dbt/alias/profiles.yml
  integration/common/tests/dbt/alias/result.json
  integration/common/tests/dbt/alias/target/manifest.json
  integration/common/tests/dbt/alias/target/run_results.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
Due: forbid-attr-s, check-python-generated-imports, prettier

log less on info
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/composite.py
Due: forbid-attr-s, check-python-generated-imports

capture dbt tags (#4022)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/postgres/dbt_project.yml
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/postgres/target/manifest.json
  integration/common/tests/dbt/structured_logs/dbt_project.yml
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/target/manifest.json
  integration/dbt/tests/integration/dbt_project/dbt_project.yml
  integration/dbt/tests/integration/dbt_project/models/marts/schema.yml
Due: forbid-attr-s, check-python-generated-imports, prettier

log less on info (#4056)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/composite.py
Due: forbid-attr-s, check-python-generated-imports

dbt: use alias when naming datasets (#4055)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/alias/dbt_project.yml
  integration/common/tests/dbt/alias/profiles.yml
  integration/common/tests/dbt/alias/result.json
  integration/common/tests/dbt/alias/target/manifest.json
  integration/common/tests/dbt/alias/target/run_results.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
Due: forbid-attr-s, check-python-generated-imports, prettier

Fix missing input symlink for DBX Unity Catalog
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix missing input catalog for DBX Unity Catalog
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/unity_catalog.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: forbid-attr-s, check-python-generated-imports, pmd-spark, spotless-integration-spark

code review feedback
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/DatasetReducer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/YearMonthTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/DatasetConfigTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/DatasetReducerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  website/docs/client/java/partials/java_dataset_name_normalizer.md
  website/docs/spec/facets/dataset-facets/subset_definition.md
Due: forbid-attr-s, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Refactor CLL ExpressionDependencyCollector
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/ExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/IcebergMergeIntoVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/OperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitorTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
Due: pmd-spark, spotless-integration-spark

spark: fix false hive glue detection (#4053)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Due: pmd-spark, spotless-integration-spark

code review feedback part 2
  client/java/src/main/java/io/openlineage/client/dataset/partition/DatasetReducer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/YearMonthTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/DatasetReducerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/YearMontTrimmerTest.java
Due: pmd-client-java, spotless-client-java

test names that don't start with slash
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/YearMontTrimmerTest.java
Due: none

Refactor CLL ExpressionDependencyCollector (#4003)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/ExpressionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/IcebergMergeIntoVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/OperatorVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitorTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
Due: pmd-spark, spotless-integration-spark

spark: Refactor tests for dependency collector
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelFixtures.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CaseWhenVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/CoalesceVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/IfVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/WindowVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/AggregateVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DistinctVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/GenerateVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ProjectVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/SortVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowVisitorTest.java
Due: none

changelog for release 1.38.0
  CHANGELOG.md
  website/docs/releases/1_38_0.md
Due: forbid-attr-s

changelog for release 1.38.0 (#4059)
  CHANGELOG.md
  website/docs/releases/1_38_0.md
Due: forbid-attr-s

Prepare for release 1.38.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.39.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports

[Spark] Normalize dataset names with configurable trimmers (#3996)
  client/java/src/main/java/io/openlineage/client/dataset/DatasetConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/DatasetReducer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DatasetNameTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmer.java
  client/java/src/main/java/io/openlineage/client/dataset/partition/trimmer/YearMonthTrimmer.java
  client/java/src/test/java/io/openlineage/client/dataset/DatasetConfigTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/DatasetReducerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/DateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/KeyValueTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/MultiDirDateTrimmerTest.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/trimmer/YearMontTrimmerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  website/docs/client/java/configuration.md
  website/docs/client/java/partials/java_dataset_name_normalizer.md
Due: forbid-attr-s, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

bump integration common in dbt version
  integration/dbt/pyproject.toml
Due: none

bump integration common in dbt version (#4060)
  integration/dbt/pyproject.toml
Due: none

spark: Add missing facets in inputs for Databricks Unity Catalog (#4057)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/unity_catalog.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: forbid-attr-s, check-python-generated-imports, pmd-spark, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/openlineage/client/generated/.* |
  client/python/openlineage/client/facet_v2\.py |
  client/python/openlineage/client/event_v2\.py |
  client/python/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$|^client/python/openlineage/client/generator, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
