Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Prepare for release 1.28.0
  client/java/gradle.properties
  integration/flink-native-listener/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Fix flink-native-listener next version (#3473)
  integration/flink-native-listener/gradle.properties
  new-version.sh
Due: none

Fix Java transport headers (#3468)
  website/docs/client/java/partials/java_transport.md
Due: none

prepare changelog entries for 1.28.0 release (#3469)
  CHANGELOG.md
Due: none

store test results as artifacts (#3498)
  .circleci/continue_config.yml
Due: none

Docs: add missing 1.27.0 and 1.28.0 release notes. (#3474)
  website/docs/releases/1_27_0.md
  website/docs/releases/1_28_0.md
Due: none

Prepare next development version 1.29.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

spark: bump tested version (#3477)
  .circleci/workflows/openlineage-spark.yml
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/snowflake/build.gradle
Due: spotless-integration-spark

fix bigquery namespace (#3497)
  website/docs/spec/naming.md
Due: none

rename async breaker configs into more meaningful (#3487)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

April 2025 Warsaw meetup blog. (#3496)
  website/blog/warsaw-google-meetup-2/index.mdx
Due: none

Fix 1.28.0 position. (#3475)
  website/docs/releases/1_28_0.md
Due: none

[flink] default null job manager address (#3486)
  .pre_commit/set-java-version.sh
  integration/flink/app/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Due: pmd-flink, pmd-spark

unify configs and context for flink 1 & 2 (#3494)
  integration/flink/flink1/build.gradle
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/log4j-console.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/OpenLineageContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/Versions.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/Flink2VisitorFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/config/OpenlineageConfigParserTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContextFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Due: pmd-flink, pmd-spark

java: add tags facets from config (#3493)
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/java/io/openlineage/client/run/RunConfig.java
  client/java/src/main/java/io/openlineage/client/utils/TagField.java
  client/java/src/main/java/io/openlineage/client/utils/TagsDeserializer.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/tags-edge-case.yaml
  client/java/src/test/resources/config/tags.yaml
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/spark/app/integrations/container/applicationLevelCompleteApplication.json
  integration/spark/app/integrations/container/applicationLevelCompleteJob.json
  integration/spark/app/integrations/container/applicationLevelStartApplication.json
  integration/spark/app/integrations/container/applicationLevelStartJob.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilderTest.java
  website/docs/client/java/configuration.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

enable circuit breaker for flink 2 (#3503)
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
Due: pmd-flink, pmd-spark

Dataset partitioning proposal (#3392)
  proposals/3392/dataset_partitioning.md
Due: none

Prepare next development version 1.30.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/stateful/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

remove native listener references after merging two flink integrations (#3512)
  new-version.sh
Due: none

feat(tagsfacet): User-supplied Tags in the Python Client (#3471)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/tags.py
  client/python/tests/conftest.py
  client/python/tests/test_client.py
  website/docs/client/python.md
Due: none

rename flink properties locations (#3513)
  new-version.sh
Due: none

Inject metrics reporter to RESTCatalog (#3515)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/BaseMetastoreCatalogWrapper.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/CatalogWrapper.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/RESTCatalogWrapper.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolderTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

update changelog for 1.29.0 release (#3511)
  CHANGELOG.md
Due: none

Add Iceberg's RestCatalog integration test & fix issues (#3518)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/MissingDatasetIdentifierCatalogException.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
Due: spotless-integration-spark

Prepare for release 1.29.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Fixed merge artifact Signed-off-by: David Kershaw <dk107dk@hotmail.com>
  website/static/ecosystem/producers.tsx
Due: none

few minor nits
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
Due: none

flink topic pattern docker test
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/InputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/OutputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/infrastructure/state/managed/Counter.avsc
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StatefulCounter.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/util/StateUtils.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/resources/events.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Due: pmd-flink, pmd-spark

remove depraceted configs
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/resources/config/facets.yaml
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  website/docs/client/java/configuration.md
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

remove depraceted configs (#3522)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/resources/config/facets.yaml
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  website/docs/client/java/configuration.md
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

flink topic pattern docker test (#3527)
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/InputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/OutputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/infrastructure/state/managed/Counter.avsc
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StatefulCounter.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/util/StateUtils.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/resources/events.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Due: pmd-flink, pmd-spark

include SQL comments in OL events
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
Due: pmd-flink, pmd-spark

add tag facet documentation
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: none

add tag facet documentation (#3530)
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: none

Preflight check class in docs.
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

include SQL comments in OL events (#3528)
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
Due: pmd-flink, pmd-spark

Fixes in validation function and purpose section.
  website/docs/integrations/airflow/preflight-check-class.md
Due: none
