Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

update changelog entries for 1.27.0 release (#3422)
  CHANGELOG.md
Due: none

Prepare for release 1.27.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.28.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Bump versions for flink-native-listener.
  integration/flink-native-listener/gradle.properties
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  new-version.sh
Due: none

Bump versions for flink-native-listener. (#3423)
  integration/flink-native-listener/gradle.properties
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  new-version.sh
Due: none

Prettify some additional extensions, mainly JS related. (#3400)
  .pre-commit-config.yaml
  integration/spark/vendor/snowflake/README.md
  proposals/269/transport.md
  spelling_wordlist.txt
  website/argos/playwright.config.ts
  website/argos/screenshot.css
  website/argos/screenshot.spec.ts
  website/argos/utils.ts
  website/babel.config.js
  website/blog/explore-lineage-api/index.mdx
  website/docs/client/python.md
  website/docs/development/developing/java/troubleshooting/logging.md
  website/docs/development/developing/python/troubleshooting/logging.md
  website/docs/integrations/great-expectations.md
  website/docusaurus.config.js
  website/plugins/home-blog-plugin.js
  website/sidebars.js
  website/src/components/addevent.tsx
  website/src/components/footer.tsx
  website/src/components/item-blog.tsx
  website/src/components/ui.tsx
  website/src/components/utils.tsx
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
  website/src/pages/home.tsx
  website/src/theme/DocSidebar/index.js
  website/src/theme/MDXComponents.js
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/meetups/meetupStrings.tsx
  website/static/talks/talkStrings.tsx
  website/tailwind.config.js
Due: none

add missing link to changelog
  CHANGELOG.md
Due: none

add missing link to changelog (#3424)
  CHANGELOG.md
Due: none

Fix multiline release body.
  .github/workflows/website-new-version.yml
Due: none

Fix multiline release body. (#3426)
  .github/workflows/website-new-version.yml
Due: none

Modify the OpenLineageSparkListener to have a public, single-argument constructor taking an instance of SparkConf
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: spotless-integration-spark

Modify the OpenLineageSparkListener to have a public, single-argument constructor taking an instance of SparkConf (#3425)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: spotless-integration-spark

add initial support for Trino in DBT
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

add initial support for Trino in DBT (#3429)
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

Additional coverage from hive DML
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitor.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitorTest.java
Due: spotless-integration-spark

Additional coverage from hive DML (#3430)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitor.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitorTest.java
Due: spotless-integration-spark

fix ParentRun Facet
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

fix ParentRun Facet (#3432)
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

Link thumbnails in misc pages.
  website/docs/index.md
  website/src/pages/ecosystem.tsx
  website/src/pages/getting-started/index.mdx
  website/src/pages/resources/index.mdx
Due: none

Img plus misc fixes.
  website/docs/index.md
  website/src/pages/ecosystem.tsx
  website/src/pages/getting-started/index.mdx
Due: none

Continued.
  website/static/img/docs-thumb.png
  website/static/img/ecosystem-thumb.png
  website/static/img/getting-started-thumb.png
  website/static/img/resources-thumb.png
Due: none

Continued.
  website/src/pages/ecosystem.tsx
Due: none

Apply linter fix.
  website/src/pages/ecosystem.tsx
Due: none

detect inputs on start
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
Due: spotless-integration-spark

detect inputs on start (#3434)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
Due: spotless-integration-spark

unsupported catalog should be less verbose
  CHANGELOG.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
Due: spotless-integration-spark

Remove newsletter section.
  website/src/pages/home.tsx
  website/src/pages/resources/index.mdx
Due: none

Continued.
  website/src/pages/home.tsx
Due: none

Update Spark extension documentation (#3386)
  website/docs/development/developing/spark/built_in_lineage.md
Due: none

unsupported catalog should be less verbose (#3435)
  CHANGELOG.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
Due: spotless-integration-spark

Docs title in head.
  website/docs/index.md
Due: none

Punct fix.
  website/src/pages/getting-started/index.mdx
Due: none

Website: thumbnails for social links (#3433)
  website/docs/index.md
  website/src/pages/ecosystem.tsx
  website/src/pages/getting-started/index.mdx
  website/src/pages/home.tsx
  website/src/pages/resources/index.mdx
  website/static/img/docs-thumb.png
  website/static/img/ecosystem-thumb.png
  website/static/img/getting-started-thumb.png
  website/static/img/resources-thumb.png
Due: none

Fix misc meta titles and img.
  website/docs/index.md
  website/src/pages/ecosystem.tsx
Due: none

Fix misc meta titles and img. (#3438)
  website/docs/index.md
  website/src/pages/ecosystem.tsx
Due: none

spark(OpenLineageContext): Add direct accessors for the LogicalPlan and SparkPlan objects
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: spotless-integration-spark

spark(OpenLineageContext): Add direct accessors for the LogicalPlan and SparkPlan objects (#3443)
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: spotless-integration-spark

[SPARK] configurable node filtering
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
  website/docs/client/java/partials/java_namespace_resolver.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

[SPARK] configurable node filtering (#3442)
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
  website/docs/client/java/partials/java_namespace_resolver.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

enable SSL context for Java client
  CHANGELOG.md
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpSslContextConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/resources/log4j.properties
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java
