Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

extract dbt test severity
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

Website: Add Anyscale to ecosystem producers
  website/static/ecosystem/producers.tsx
  website/static/img/anyscale_logo.png
Due: prettier

extract dbt test severity (#4258)
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

fix the build
  integration/sql/impl/src/visitor.rs
Due: none

Fix sqlparser 0.60.0 compatibility
  integration/sql/impl/src/visitor.rs
Due: none

Website: Add Anyscale to ecosystem producers (#4261)
  website/static/ecosystem/producers.tsx
  website/static/img/anyscale_logo.png
Due: prettier

Revert JUnit 6 and Kotlin 2.3.0 for Java 8 compatibility
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/shared/build.gradle
Due: check-version-files

Revert BigQuery version to 0.42.0 for compatibility
  integration/spark/shared/build.gradle
Due: check-version-files

Revert JUnit 6, Testcontainers 2.0, and BigQuery 0.43 in app module
  integration/spark/app/build.gradle
Due: check-version-files

Revert JUnit 6 in iceberg vendor module
  integration/spark/vendor/iceberg/build.gradle
Due: check-version-files

Revert JUnit 6 in all remaining Spark modules
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

Revert Kotlin and JUnit versions for Java 8 compatibility
  integration/flink/buildSrc/build.gradle.kts
  integration/flink/flink1/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/shared/build.gradle
Due: check-version-files

Fix Kafka 4.1 API compatibility in Flink 2.0 tests
  integration/flink/flink2/src/test/java/io/openlineage/flink/testutils/KafkaSourceTestEnv.java
Due: none

fix: use Scala 2.12 for Flink 2.0 compatibility
  integration/flink/flink2/build.gradle
Due: check-version-files

fix(dbt): correct send-events command argument parsing
  integration/dbt/src/openlineage/dbt/__init__.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

fix(dbt): correct send-events command argument parsing (#4262)
  integration/dbt/src/openlineage/dbt/__init__.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

Add support for DataSourceRDD with Iceberg
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionPathExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddPathUtilsTest.java
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractorTest.java
Due: check-version-files, prettier, pmd-spark, spotless-integration-spark

emit application level FAIL event instead of COMPLETE when at least one job from the application has FAIL status
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/ExecutionContextDefaultMethodsTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
Due: pmd-spark, spotless-integration-spark

WIP
  client/python/src/openlineage/client/serde.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix bigquery CLL namespace
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/BigQueryUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/BigQueryUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Optimize InputPartitionPathExtractors creation
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: pmd-spark, spotless-integration-spark

Change test tables to avoid potential conflicts
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: prettier

Change test ports to avoid potential conflicts
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
Due: none

fix bigquery CLL namespace (#4264)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/BigQueryUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/BigQueryUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix isDeltaPlan() to handle multiple Spark extensions
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: pmd-spark, spotless-integration-spark

pmd
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: none

Fix isDeltaPlan() to handle multiple Spark extensions (#4268)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: Add support for DataSourceRDD with Iceberg (#4263)
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendWithRDDProcessingStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/InputPartitionPathExtractor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/util/RddPathUtilsTest.java
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractor.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/util/SparkInputPartitionPathExtractorTest.java
Due: check-version-files, prettier, pmd-spark, spotless-integration-spark

changelog for release 1.43.0
  CHANGELOG.md
  website/docs/releases/1_43_0.md
Due: forbid-attr-s

changelog for release 1.43.0 (#4270)
  CHANGELOG.md
  website/docs/releases/1_43_0.md
Due: forbid-attr-s

Prepare for release 1.43.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.44.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Update build.gradle - netty codec
  integration/spark/build.gradle
Due: check-version-files

add configuration for enabling/disabling descriptions
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/DataSourceV2RelationVisitorTest.java
Due: pmd-spark, spotless-integration-spark

pr suggestions
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/UnionVisitor.java
Due: pmd-spark, spotless-integration-spark

Marquez setup: Added note about port 5000 on MacOS
  website/blog/dbt-with-marquez/index.mdx
  website/docs/guides/dbt.md
  website/src/pages/getting-started/index.mdx
Due: forbid-attr-s

Marquez setup: Added note about port 5000 on MacOS (#4274)
  website/blog/dbt-with-marquez/index.mdx
  website/docs/guides/dbt.md
  website/src/pages/getting-started/index.mdx
Due: forbid-attr-s

Restyled wall bkgd and text for improved contrast
  website/src/css/custom.css
Due: prettier

Restyled wall bkgd and text for improved contrast (#4275)
  website/src/css/custom.css
Due: prettier

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
