Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

docs: fix 404 on /docs/integrations/ and /docs/integrations/flink/ landing pages (#4872)
  website/docs/integrations/about.md
  website/docs/integrations/flink/about.md
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Due: forbid-attr-s, prettier

doc: introducing explicit lineage blog post (#4801)
  website/blog/authors.yml
  website/blog/explicit-lineage/cartesian.png
  website/blog/explicit-lineage/dataset-to-dataset.png
  website/blog/explicit-lineage/fallback-order.png
  website/blog/explicit-lineage/index.mdx
  website/blog/explicit-lineage/job-to-job.png
Due: none

python: prevent async release queue deadlock
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

add exponential backoff with jitter
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

add retry configuration to http transport
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

spark: extract Delta output from V1 micro-batch writes
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: keep adaptive events for non-Delta writes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaCommand.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaFileFormat.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaProvider.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaTable.java
Due: pmd-spark, spotless-integration-spark

spark: preserve Delta identity during session teardown
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/V2CreateTablePlanUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: prefer table location in Delta fallback
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Due: pmd-spark, spotless-integration-spark

spark: simplify adaptive filter checks
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/EventFilterUtilsTest.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaProvider.java
  integration/spark/shared/src/test/java/org/apache/spark/sql/delta/FakeDeltaTable.java
Due: pmd-spark, spotless-integration-spark

spark: harden Delta micro-batch extraction
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

misc fixes in listener
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

initial commit
  integration/temporalio/temporal_harvester.py
Due: forbid-attr-s, check-python-generated-imports

spark: add ClickHouse V2 catalog handler (#4878)
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DefaultCatalogHandlers.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkClickHouseIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandler.java
  integration/spark/spark3/src/test/java/com/clickhouse/spark/ClickHouseCatalog.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/ClickHouseHandlerTest.java
Due: check-version-files, pmd-spark, spotless-integration-spark

spark: clean up retained lifecycle state
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: test metrics cleanup with real jobs
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsCleanupIntegrationTest.java
Due: none

suggestions form comments
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Due: pmd-client-java, spotless-client-java

Add fail events
  integration/temporalio/temporal_harvester.py
Due: forbid-attr-s, check-python-generated-imports

website: derive integrations redirects from existing routes
  website/docusaurus.config.js
Due: prettier

spark: preserve metrics across nested executions
  integration/spark/app/src/main/java/io/openlineage/spark/agent/JobMetricsLifecycleManager.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsCleanupIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsLifecycleManagerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
Due: pmd-spark, spotless-integration-spark

website: derive integrations redirects from existing routes (#4895)
  website/docusaurus.config.js
Due: prettier

Handle workflow not found errors
  integration/temporalio/temporal_harvester.py
Due: forbid-attr-s, check-python-generated-imports

spark: report datasets for writes through Iceberg's cached catalog
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DefaultRelationHandlers.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/catalog/CatalogUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/catalog/RelationHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergRelationHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergRelationHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Use payload datetimes and add docstrings
  integration/temporalio/temporal_harvester.py
Due: forbid-attr-s, check-python-generated-imports

spark: consolidate job eviction cleanup
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
Due: pmd-spark, spotless-integration-spark

spark: clean up retained lifecycle state (#4894)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/JobMetricsLifecycleManager.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsCleanupIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/JobMetricsLifecycleManagerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: pmd-spark, spotless-integration-spark

python: prevent async release queue deadlock (#4882)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: report datasets for writes through Iceberg's cached catalog (#4896)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DefaultRelationHandlers.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/catalog/CatalogUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/catalog/RelationHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergRelationHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergRelationHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: extract Delta output from V1 micro-batch writes (#4884)
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteToMicroBatchDataSourceV1DatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: skip output lineage for read-only V2 plans
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

Separate files for modules
  integration/temporalio/adapter.py
  integration/temporalio/harvester.py
Due: forbid-attr-s, check-python-generated-imports

spark: cache application and catalog metadata
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/catalog/CatalogUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ApplicationMetadataCache.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsAccountIdFetcher.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/S3TablesUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/catalog/CatalogUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/ApplicationMetadataCacheTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/AwsUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/S3TablesCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandler.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilderTest.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Due: pmd-spark, spotless-integration-spark

python: make async completion queueing atomic
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

flink: guard Kafka type facet cast against foreign type facets
  integration/flink/flink2/src/main/java/io/openlineage/flink/util/TypeDatasetFacetUtil.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitorTest.java
Due: pmd-flink

Python: Use httpx2 instead of httpx
  client/python/pyproject.toml
  client/python/src/openlineage/client/generator/cli.py
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/conftest.py
  client/python/tests/fixtures/mock_responses.py
  client/python/tests/generator/test_cli.py
  client/python/tests/test_async_http.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

Python: Use httpx2 instead of httpx (#4902)
  client/python/pyproject.toml
  client/python/src/openlineage/client/generator/cli.py
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/conftest.py
  client/python/tests/fixtures/mock_responses.py
  client/python/tests/generator/test_cli.py
  client/python/tests/test_async_http.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

Add guard against failing trimmers
  client/python/src/openlineage/client/dataset/dataset.py
  client/python/tests/dataset/test_normalizer.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Make sure subset facet is added
  client/python/src/openlineage/client/client.py
  client/python/src/openlineage/client/dataset/dataset.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
