Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

don't run pre-commit on release commits (#3274)
  new-version.sh
Due: none

Remove 2023 survey page.
  website/docusaurus.config.js
  website/src/pages/survey/index.tsx
Due: none

Remove 2023 survey page. (#3276)
  website/docusaurus.config.js
  website/src/pages/survey/index.tsx
Due: none

dbt: use more modern entry_points, update supported manifest versions
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/setup.py
Due: none

fix query recorder class loading
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParserTest.java
Due: spotless-integration-spark

fix query recorder class loading (#3281)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParserTest.java
Due: spotless-integration-spark

fix: Improve deprecation warning about columnLineage.datasetLineageEnabled property
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: spotless-integration-spark

fix spark inconsitent dataset naming
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: spotless-integration-spark

fix spark inconsitent dataset naming (#3285)
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: spotless-integration-spark

fix: Improve deprecation warning about columnLineage.datasetLineageEnabled property (#3282)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: spotless-integration-spark

bump py03, fix warnings in latest rust
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/tests/test_utils/mod.rs
Due: none

docs: Refresh docs about scheduling Airflow from Spark
  website/docs/integrations/spark/configuration/airflow.md
Due: none

bump py03, fix warnings in latest rust (#3290)
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/tests/test_utils/mod.rs
Due: none

allow overriding test OL server db name
  integration/airflow/tests/integration/server/app.py
Due: none

docs: Refresh docs about scheduling Airflow from Spark (#3293)
  website/docs/integrations/spark/configuration/airflow.md
Due: none

sql: modernize build script on macos
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Due: none

allow overriding test OL server db name (#3289)
  integration/airflow/tests/integration/server/app.py
Due: none

dbt: use more modern entry_points, update supported manifest versions (#3278)
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/setup.py
Due: none

bump micrometer version
  client/java/transports.build.gradle
  integration/flink/app/build.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: none

sql: modernize build script on macos (#3279)
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Due: none

dbt: add support for duckdb adapter
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/duckdb/dbt_project.yml
  integration/common/tests/dbt/duckdb/profiles.yml
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/duckdb/target/manifest.json
  integration/common/tests/dbt/duckdb/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

bump micrometer version (#3294)
  client/java/transports.build.gradle
  integration/flink/app/build.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: none

add missing changelog entry
  CHANGELOG.md
Due: none

add missing changelog entry (#3300)
  CHANGELOG.md
Due: none

introduce transform transport
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/EventTransformer.java
  client/java/src/main/java/io/openlineage/client/transports/TransformConfig.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportException.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/TestingEventTransformer.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  client/java/src/test/resources/config/composite-array.yaml
  client/java/src/test/resources/config/composite-map.yaml
  client/java/src/test/resources/config/transform.yaml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

parallel event emitting for composite transport
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

Add shellcheck to pre-commit. Fix errors.
  .circleci/checksum.sh
  .circleci/get-docker-compose.sh
  .pre-commit-config.yaml
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
  .pre_commit/run-pmd.sh
  .pre_commit/run-spec-snapshot.sh
  .pre_commit/set-java-version.sh
  integration/airflow/scripts/run-dev-airflow.sh
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/docker/wait-for-it.sh
  integration/dbt/setup.cfg
  integration/flink/app/src/test/resources/create_cassandra_data.sh
  integration/flink/app/src/test/resources/create_postgres_data.sh
  integration/flink/app/src/test/resources/generate_events.sh
  integration/spark/app/src/test/resources/metastore_psql/init-db.sh
  integration/spark/cli/configurable-test.sh
  integration/spark/docker/wait-for-it.sh
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/compile.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/src/test/integration/run_test.sh
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  new-version.sh
  proxy/backend/docker/entrypoint.sh
  proxy/backend/docker/wait-for-it.sh
  proxy/fluentd/docker/entrypoint.sh
  proxy/fluentd/docker/wait-for-it.sh
  website/scripts/build-docs.sh
Due: none

Handle errors in parse_assertions
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

code review changes
  client/java/src/main/java/io/openlineage/client/transports/EventTransformer.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
Due: pmd-client-java, spotless-client-java

introduce transform transport (#3301)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/EventTransformer.java
  client/java/src/main/java/io/openlineage/client/transports/TransformConfig.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportException.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/TestingEventTransformer.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  client/java/src/test/resources/config/composite-array.yaml
  client/java/src/test/resources/config/composite-map.yaml
  client/java/src/test/resources/config/transform.yaml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

fix: run full-tests in nightly run
  .circleci/config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_to_table.py
Due: none

Add shellcheck to pre-commit. Fix errors. (#3307)
  .circleci/checksum.sh
  .circleci/get-docker-compose.sh
  .pre-commit-config.yaml
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
  .pre_commit/run-pmd.sh
  .pre_commit/run-spec-snapshot.sh
  .pre_commit/set-java-version.sh
  integration/airflow/scripts/run-dev-airflow.sh
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/docker/wait-for-it.sh
  integration/dbt/setup.cfg
  integration/flink/app/src/test/resources/create_cassandra_data.sh
  integration/flink/app/src/test/resources/create_postgres_data.sh
  integration/flink/app/src/test/resources/generate_events.sh
  integration/spark/app/src/test/resources/metastore_psql/init-db.sh
  integration/spark/cli/configurable-test.sh
  integration/spark/docker/wait-for-it.sh
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/compile.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/src/test/integration/run_test.sh
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  new-version.sh
  proxy/backend/docker/entrypoint.sh
  proxy/backend/docker/wait-for-it.sh
  proxy/fluentd/docker/entrypoint.sh
  proxy/fluentd/docker/wait-for-it.sh
  website/scripts/build-docs.sh
Due: none

parallel event emitting for composite transport (#3305)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

code review feedback
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/IcebergCommitReportOutputDatasetFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/IcebergScanReportInputDatasetFacet.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

fix: run full-tests in nightly run
  .circleci/config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_to_table.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: spotless-integration-spark

fix: run full-tests in nightly run (#3313)
  .circleci/config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_to_table.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Due: spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
