Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Prepare next development version 1.50.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

spark3: IcebergHandler.hasClasses probes SparkCatalog instead of Catalog (#4665)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

Use scanReportSupplier for building iceberg scan report facet if available. (#4633)
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilderTest.java
  integration/spark/vendor/iceberg/src/test/java/org/apache/iceberg/spark/TestingScanWithReport.java
Due: pmd-spark, spotless-integration-spark

stop swallowing actual cause when using CompositeTransport (#4666)
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
Due: pmd-client-java, spotless-client-java

Website: Add Feast to ecosystem consumers (#4670)
  website/docs/index.md
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/docs/spec/facets/job-facets/job-type.md
  website/src/pages/home.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/complex-deployments.png
  website/static/img/simple-deployments.png
Due: forbid-attr-s, prettier

spec: extend jobTypeJobFacet to capture event emission lifecycle (#4592)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/python/redact_fields.yml
  client/python/src/openlineage/client/generated/job_type_job.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/singular_test/result.json
  spec/tests/JobTypeJobFacet/2.json
  spec/tests/JobTypeJobFacet/3.json
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/run-cycle-stream.svg
  website/docs/spec/run-cycle.md
  website/static/spec/facets/2-0-4/JobTypeJobFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python

flink: Add support for OpenLineage events in detached Flink Session Mode (#4596)
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactoryTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestApiClient.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/JobDetails.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-flink

flink: add docs for the special detached job tracking flow (#4630)
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s

fix(common): handle trailing command options (#4624)
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Prepare next development version 1.51.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Prepare for release 1.50.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

fix: Extend env var facet instead of overwriting it (#4635)
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

flink: emit abort event for canceled jobs
  integration/flink/flink2/src/main/java/io/openlineage/flink/util/JobStatusUtil.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/util/JobStatusUtilTest.java
Due: pmd-flink

feat(spec): Extend ParentRunFacet with parent and root facets (#4680)
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/example_full_event.json
  generator/go/ir/build.go
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  spec/tests/ParentRunFacet/2.json
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-2-0/ParentRunFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

integration/common: implement FileSizeExpectationsParser for file asset validation (#4698)
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): use the dataset namespace for the SQL query externalQuery facet (#4723)
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

feat(spark): support open source Unity Catalog (spark40) (#3674)
  .github/workflows/integration-tests-spark-azure.yml
  .pre-commit-config.yaml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark40/.gitignore
  integration/spark/spark40/build.gradle
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandler.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerNamingTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogAbfssIntegrationTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageConfig.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfssUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AzureDynamicParameter.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ExternalTablesManager.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/LocalStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ReservedPort.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/SparkUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/StorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UcServer.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UnityCatalogTableTestBase.java
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, prettier, pmd-spark, spotless-integration-spark

feat(python): Add new Datadog DCs (#4711)
  client/python/src/openlineage/client/transport/datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: restore HTTP debuglevel after emit failure (#4696)
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix several async transport issues (#4694)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_async_http.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: match tag keys case-insensitively in both directions (#4722)
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

changelog for release 1.51.0 (#4693)
  CHANGELOG.md
  website/docs/releases/1_51_0.md
Due: forbid-attr-s

docs: add Presto integration guide (#4717)
  website/docs/integrations/presto.md
  website/docs/integrations/trino.md
Due: forbid-attr-s

Prepare next development version 1.52.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

fix(flink): discover effective REST endpoint for checkpoint tracking
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestUrlDiscovery.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/FlinkRestUrlDiscoveryTest.java
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s, pmd-flink

fix(common): let the ~/.dbt profiles directory fallback run (#4725)
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix: add Precisely Data Integrity Suite to ecosystem consumers (#4713)
  website/static/ecosystem/consumers.tsx
  website/static/img/precisely_purple_logo.svg
Due: prettier

fix(common): separate the default spark port from the host (#4724)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

spark: Missing output lineage for insertInto with append mode (#4676)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

fix(great-expectations): preserve datasource url ports (#4679)
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Prepare for release 1.51.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

fix(dependabot): correctly exclude spark bumps that break the build (#4688)
  .github/dependabot.yml
Due: none

fix ruff formatting for great expectations (#4707)
  integration/common/src/openlineage/common/provider/great_expectations/results.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

discover effective REST endpoint for checkpoint tracking
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestUrlDiscovery.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/FlinkRestUrlDiscoveryTest.java
Due: pmd-flink

spotless Apply
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
Due: none

Unified Configuration
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Due: pmd-flink

fix(flink): support flink-scoped checkpoint tracking disable config
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink1.md
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s, pmd-flink

build(deps): bump sqlparser, jni, and pyo3 in integration/sql (#4742)
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
Due: none

[Feature] Allow disabling Flink checkpoint tracking to reduce excessive RUNNING events #4741 (#4744)
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink1.md
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s, pmd-flink
