Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Extract lineage for AWS dynamic frames (#3691)
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/test_data/dynamic_data.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: spotless-integration-spark

DBT: Move facets from processor module (#3713)
  integration/common/openlineage/common/provider/dbt/__init__.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
Due: none

bump the OL version to match the rest of the project
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
Due: none

remove redundant gcp lineage dependency
  integration/hive/hive-openlineage-hook/build.gradle
Due: none

remove gcp lineage imports
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/client/HiveOpenLineageConfigParserTest.java
Due: none

spotless
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/client/HiveOpenLineageConfigParserTest.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

smart debug facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
Due: spotless-integration-spark

add info about passing client properties
  website/docs/integrations/hive/configuration/hive_conf.md
Due: none

change event time init
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/facets/HivePropertiesFacetBuilderTest.java
Due: none

changelog update
  CHANGELOG.md
Due: none

add new symlink type
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/util/HiveUtils.java
Due: pmd-client-java, spotless-client-java

changelog update (#3716)
  CHANGELOG.md
Due: none

update symlink type values in hive integration tests
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: none

fix failing/flaky CI tests
  integration/spark/app/integrations/container/pysparkV2DropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: none

async HTTP client
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/generator/test_base.py
  client/python/tests/test_amazon_datazone.py
  client/python/tests/test_facet.py
  client/python/tests/test_kafka.py
  client/python/tests/test_msk_iam.py
  integration/airflow/pyproject.toml
  integration/airflow/tests/integration/server/app.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/utils.py
  integration/common/setup.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

fix type in test
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/HiveUtilsTest.java
Due: none

fix failing/flaky CI tests (#3719)
  integration/spark/app/integrations/container/pysparkV2DropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: none

Java: Make UUIDUtils.generateStaticUUID random part more variative (#3709)
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  client/python/tests/test_uuid.py
Due: pmd-client-java, spotless-client-java

add new symlink type (#3717)
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/util/HiveUtils.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/HiveUtilsTest.java
Due: pmd-client-java, spotless-client-java

default async
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
Due: none

describe CatalogDatasetFacet on docs site
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/tag-facet.md
Due: none

describe CatalogDatasetFacet on docs site (#3720)
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/tag-facet.md
Due: none

smart debug facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
Due: spotless-integration-spark

filter temp inner jobs for bigquery indirect mode
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIndirectTempJobFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIndirectTempJobFilterTest.java
Due: spotless-integration-spark

[Flink] Do not hide OpenLineage config parsing errors
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
Due: pmd-flink, pmd-spark

[Flink] Do not hide OpenLineage config parsing errors (#3724)
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
Due: pmd-flink, pmd-spark

[Flink2] Update example app dependencies
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink1/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
Due: none

[DBT] Add processing_engine facet
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: none

[DBT] Add processing_engine facet (#3725)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: none

[Flink] Add processing_engine facet
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: pmd-flink, pmd-spark

java: prevent original events from being mutated in TransformTransport
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
Due: pmd-client-java, spotless-client-java

java: prevent original events from being mutated in TransformTransport (#3728)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
Due: pmd-client-java, spotless-client-java

[DBT] Document supported adapters
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: none

Add Github stars statistics to Readme
  README.md
Due: none
