Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./.pre_commit/generate-facets/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter.
  language: system
  entry: bash -c "cd client/java && ./gradlew spotlessApply"
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter for Spark.
  language: system
  entry: bash -c "cd integration/spark && ./gradlew spotlessApply"
  pass_filenames: false

Add assertions for format in test events. (#3221)
  .pre-commit-config.yaml
  .pre_commit/json-schema/test-facets.sh
  spec/tests/EnvironmentVariablesRunFacet/1.json
  spec/tests/NominalTimeRunFacet/1.json
Due: spec-changes

docs: fix outdated Spark-related docs (#3215)
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/spark.md
Due: none

spark: Update Dataproc run facet to include runType property (#3167)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
  spec/registry/gcp/dataproc/facets/GcpDataprocRunFacet.json
  spec/registry/gcp/dataproc/registry.json
  spec/registry/gcp/lineage/registry.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

docs: Inject OpenLineage version in documentation
  website/blog/openlineage-spark/index.mdx
  website/docs/client/java/java.md
  website/docs/client/java/partials/s3_transport.md
  website/docs/guides/spark.md
  website/docs/integrations/spark/installation.md
  website/docs/integrations/spark/quickstart/quickstart_local.md
  website/docs/spec/producers.md
  website/docusaurus.config.js
Due: none

Move kinesis to separate module, move http transport to httpclient5 (#3205)
  .circleci/continue_config.yml
  client/java/build.gradle
  client/java/settings.gradle
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/transports/FileTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/transports-kinesis/README.md
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransportBuilder.java
  client/java/transports-kinesis/src/main/resources/META-INF.services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/java/transports-s3/build.gradle
  integration/flink/app/build.gradle
  integration/flink/app/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/gradle.properties
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.jar
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.properties
  integration/flink/examples/stateful/gradlew
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStoppableApplication.java
  integration/flink/settings.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/build.gradle
  integration/spark/buildDependencies.sh
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, pmd-flink, pmd-spark, spotless-client-java

update changelog for release 1.24.0
  CHANGELOG.md
Due: none

update changelog for release 1.24.0 (#3224)
  CHANGELOG.md
Due: none

Prepare for release 1.24.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.25.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

add build context to flink integration test
  .circleci/workflows/openlineage-flink.yml
Due: none

add build context to flink integration test (#3225)
  .circleci/workflows/openlineage-flink.yml
Due: none

docs: Inject OpenLineage version in documentation (#3223)
  website/blog/openlineage-spark/index.mdx
  website/docs/client/java/java.md
  website/docs/client/java/partials/s3_transport.md
  website/docs/guides/spark.md
  website/docs/integrations/spark/installation.md
  website/docs/integrations/spark/quickstart/quickstart_local.md
  website/docs/spec/producers.md
  website/docusaurus.config.js
Due: none

Make `from_dict` backwards compatible in Python client.
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Due: none

Make `from_dict` backwards compatible in Python client. (#3226)
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Due: none

Prepare for release 1.24.1
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.25.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

passthrough credentials to Flink build job
  .circleci/continue_config.yml
Due: none

passthrough credentials to Flink build job (#3227)
  .circleci/continue_config.yml
Due: none

Prepare for release 1.24.2
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

check manifest version for >=v12 to fix bug
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

typo in test_metadata
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

add test for manifest without test_metadata
  integration/common/tests/dbt/no_test_metadata/dbt_project.yml
  integration/common/tests/dbt/no_test_metadata/profiles.yml
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/no_test_metadata/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

Make edit link variable to version. Edit link now depends on whether the document is current or versioned.
  website/docusaurus.config.js
Due: none

Make edit link variable to version. (#3229)
  website/docusaurus.config.js
Due: none

[Integration][DBT] Fix compatibility with DBT v1.8 (#3228)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/dbt_project.yml
  integration/common/tests/dbt/no_test_metadata/profiles.yml
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/no_test_metadata/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Due: none

Replace bitly links with permanent slack invite.
  website/blog/0.1-release/index.mdx
  website/blog/nyc-meetup/index.mdx
  website/blog/python-client/index.mdx
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/dbt.md
  website/docs/integrations/great-expectations.md
  website/docs/integrations/trino.md
  website/docusaurus.config.js
  website/src/pages/home.tsx
Due: none

(proposal): Documentation changes to clarify multiple new facets.
  proposals/3169/tags_facet.md
Due: none

(proposal): New tags facet for arbitrary metadata
  proposals/3169/tags_facet.md
Due: none

fix: Wrong Scala version in Databricks integration tests configuration.
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/sql/iface-py/script/setup-macos.sh
Due: none

fix: Wrong Scala version in Databricks integration tests configuration. (#3236)
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/sql/iface-py/script/setup-macos.sh
Due: none

fix configurable integration test
  integration/spark/cli/tests/test_failing/example_failing.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_complete.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_start.json
  integration/spark/cli/tests/test_simple/example_expected_event_complete.json
  integration/spark/cli/tests/test_simple/example_expected_event_start.json
Due: none

Introduce InputStatisticsInputDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/redact_fields.yml
  spec/facets/InputStatisticsInputDatasetFacet.json
  website/static/spec/facets/1-0-0/InputStatisticsInputDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

Replace bitly links with permanent slack invite. (#3230)
  website/blog/0.1-release/index.mdx
  website/blog/nyc-meetup/index.mdx
  website/blog/python-client/index.mdx
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/dbt.md
  website/docs/integrations/great-expectations.md
  website/docs/integrations/trino.md
  website/docusaurus.config.js
  website/src/pages/home.tsx
Due: none

java client: remove TransportType enum
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

Introduce InputStatisticsInputDatasetFacet (#3238)
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/redact_fields.yml
  spec/facets/InputStatisticsInputDatasetFacet.json
  website/static/spec/facets/1-0-0/InputStatisticsInputDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

java client: remove TransportType enum (#3239)
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

fix configurable integration test (#3237)
  integration/spark/cli/tests/test_failing/example_failing.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_complete.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_start.json
  integration/spark/cli/tests/test_simple/example_expected_event_complete.json
  integration/spark/cli/tests/test_simple/example_expected_event_start.json
Due: none

enable building input/output facets from the visitors
  client/java/src/main/java/io/openlineage/client/dataset/DatasetCompositeFacetsBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/ExtensionLineageRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2UtilsTest.java
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

preserve existing developers API methods
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/dataset/DatasetCompositeFacetsBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
