Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Fixing CI issues
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
Due: pmd-spark, spotless-integration-spark

spark/dml-and-ctas-fix PMD fixes
  integration/spark/spark3/src/test/java/com/databricks/sql/transaction/tahoe/commands/CopyIntoCommandEdge.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Due: none

spotless check fixes
  integration/spark/spark3/src/test/java/com/databricks/sql/transaction/tahoe/commands/CopyIntoCommandEdge.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
Due: none

client/java: apply default port directly for TNS ADDRESS entries
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
Due: pmd-client-java, spotless-client-java

spark/dml-and-ctas-fix spark35 pmd violation fix
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: none

fluentd: fix parser crash on facet properties defined as anyOf/oneOf unions
  proxy/fluentd/lib/fluent/plugin/parser_openlineage.rb
Due: none

Fixing lineage for databricks delete command
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DeleteCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DeleteCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

java: add retry configuration to gcp lineage transport (#4759)
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageRetryConfig.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  client/java/transports-gcplineage/src/test/resources/config/retry_config.yaml
Due: none

spark: apply removePath.pattern to RDD job datasets (#4719) (#4726)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/RddExecutionContextTest.java
Due: pmd-spark, spotless-integration-spark

add dependantRequired, default to None
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/generate.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_lineage_facet.py
  spec/facets/LineageFacet.json
  website/static/spec/facets/1-0-0/LineageFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

clients: support dependentRequired in generators
  client/go/pkg/facets/facets.gen.go
  client/go/pkg/facets/lineage_test.go
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/generator/src/test/java/io/openlineage/client/GeneratorTest.java
  client/java/generator/src/test/resources/discriminated-union/SharedFacet.json
  client/java/src/test/java/io/openlineage/client/LineageFacetTest.java
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/base.py
  client/python/src/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/generator/test_base.py
  client/python/tests/test_lineage_facet.py
  generator/go/ir/build.go
  generator/go/ir/build_test.go
  generator/go/ir/facet.go
  generator/go/render/client/facets.go
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

Update consumers.tsx
  website/static/ecosystem/consumers.tsx
Due: prettier

Add files via upload
  website/static/img/Solidatus_logo.svg
Due: none

Added Solidatus_logo.svg file
  website/static/img/Solidatus_logo.svg
Due: none

Added Solidatus_logo.svg
  website/static/img/Solidatus_logo.svg
Due: none

python: keep async worker alive after wait
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Fixing lineage for databricks delete command (#4815)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DeleteCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeleteCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DeleteCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

website: use the color Foundational logo on the ecosystem cards
  website/static/img/foundational_logo.svg
Due: none

Add padding to logo
  website/static/img/Solidatus_logo.svg
Due: none

Added Solidatus to ecosystem consumers (#4822)
  website/static/ecosystem/consumers.tsx
  website/static/img/Solidatus_logo.svg
Due: prettier

website: add Foundational to ecosystem consumers and producers (#4832)
  website/static/ecosystem/consumers.tsx
  website/static/ecosystem/producers.tsx
  website/static/img/foundational_logo.svg
Due: prettier

Misc fix in listener
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fixed bug in the Python clients's async HTTP transport
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: fix Databricks UPDATE output and subquery input lineage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UpdateCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/UpdateCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

fix(spark): stabilize Spark 4.2 runtime tests
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableTestConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerPropertiesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_facets_disable.py
  integration/spark/app/src/test/resources/spark_scripts/spark_hadoop_fs_relation.py
  integration/spark/app/src/test/resources/spark_scripts/spark_hive.py
  integration/spark/cli/spark-conf-docker.yml
Due: check-version-files, forbid-attr-s, check-python-generated-imports

spark: fix Databricks UPDATE output and subquery input lineage (#4835)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UpdateCommandUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/UpdateCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/UpdateCommandUtilsTest.java
Due: pmd-spark, spotless-integration-spark

test(spark): precreate SQLite JDBC table
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Due: none

website: broaden Foundational producer description to languages
  website/static/ecosystem/producers.tsx
Due: prettier

fix(client/java): null-safe facet comparison in ReducedDataset
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
Due: pmd-client-java, spotless-client-java

build(deps): bump jackson-databind to 2.18.8 (CVE-2026-54512, CVE-202… (#4765)
  client/java/build.gradle
  client/java/generator/build.gradle
  integration/flink/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

Java: Fix port definition for JDBC IPv6 address (#4612)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForClickHouse.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
Due: pmd-client-java, spotless-client-java

client/java: support TNS format in Oracle JDBC extractor (#4812)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TnsDescriptor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Due: pmd-client-java, spotless-client-java

website: broaden Foundational producer description to languages (#4837)
  website/static/ecosystem/producers.tsx
Due: prettier

ci: test Python 3.14 and Spark 4.2 on Java 21 (#4747)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .circleci/workflows/openlineage-spark.yml
  client/python/pyproject.toml
  integration/common/pyproject.toml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableTestConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerPropertiesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_facets_disable.py
  integration/spark/app/src/test/resources/spark_scripts/spark_hadoop_fs_relation.py
  integration/spark/app/src/test/resources/spark_scripts/spark_hive.py
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/cli/spark-conf-docker.yml
  integration/sql/iface-py/pyproject.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports

client: add OL name escaping
  client/go/pkg/openlineage/naming.go
  client/go/pkg/openlineage/naming_test.go
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/main/java/io/openlineage/client/naming/NameConfig.java
  client/java/src/main/java/io/openlineage/client/naming/NameEscaping.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
  client/java/src/test/java/io/openlineage/client/naming/NameEscapingTest.java
  client/python/src/openlineage/client/naming/dataset.py
  client/python/src/openlineage/client/naming/escape.py
  client/python/tests/test_escape.py
  website/docs/client/java/configuration.md
  website/docs/client/python/configuration.md
  website/docs/spec/naming.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

ci: don't require approval if committer is the PR author
  .circleci/config.yml
Due: none

ci: also skip approval when committer is a project committer
  .circleci/config.yml
Due: none

ci: add temporary diagnostic for collaborator endpoint access
  .circleci/config.yml
Due: none
