Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

fix: remove approval-integration-airflow step with no downstream jobs (#4156)
  .circleci/workflows/openlineage-python.yml
Due: none

sql: migrate from sqlparser fork to upstream 0.59 (#4153)
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
Due: none

bump docs versions
  .circleci/continue_config.yml
  .github/workflows/visual-difference-detection.yml
  .github/workflows/website-new-version.yml
  .github/workflows/website-snapshot.yml
  .gitignore
  website/.gitignore
  website/argos/package.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/static/js/gtag-fallback.js
  website/yarn.lock
Due: forbid-attr-s, prettier

Revert "Overrides in custom css (#4147)" (#4157)
  website/src/css/custom.css
Due: prettier

bump docs versions (#4148)
  .circleci/continue_config.yml
  .github/workflows/visual-difference-detection.yml
  .github/workflows/website-new-version.yml
  .github/workflows/website-snapshot.yml
  .gitignore
  website/.gitignore
  website/argos/package.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/static/js/gtag-fallback.js
  website/yarn.lock
Due: forbid-attr-s, prettier

fix website deploy
  .github/workflows/website-new-version.yml
  .github/workflows/website-snapshot.yml
Due: none

fix website deploy (#4158)
  .github/workflows/website-new-version.yml
  .github/workflows/website-snapshot.yml
Due: none

input stats should be taken from the first stage, while output should be from the last stage
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Due: pmd-spark, spotless-integration-spark

Upgrade docusaurus and refactor custom CSS
  website/package.json
  website/src/css/custom.css
  website/yarn.lock
Due: prettier

feat: add dbt model meta.owner to OpenLineage events
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_ownership.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Fix background colors
  website/src/css/custom.css
Due: prettier

update tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
Due: none

add default name to hive catalog
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
Due: pmd-spark, spotless-integration-spark

Style misc elements for dark mode
  website/src/css/custom.css
Due: prettier

Spark: ensure relation size in bytes is sane
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

Add animated wall
  website/package.json
  website/src/css/custom.css
  website/src/pages/home.tsx
  website/yarn.lock
Due: prettier

Adjust width of container
  website/src/css/custom.css
Due: prettier

Animation stop button
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

website openapi and facets config spec fix
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
  spec/OpenLineage.yml
  website/static/spec/OpenLineage.yml
  website/static/spec/facets/1-0-0/GcpComposerJobFacet.json
  website/static/spec/facets/1-0-0/GcpComposerRunFacet.json
  website/static/spec/facets/1-0-0/GcpDataprocRunFacet.json
  website/static/spec/facets/1-0-0/GcpLineageJobFacet.json
  website/static/spec/facets/1-0-1/IcebergScanReportInputDatasetFacet.json
  website/static/spec/facets/1-0-2/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, spec-changes

Spark: add default name to hive catalog facet (#4161)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/HiveMetastoreIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
Due: pmd-spark, spotless-integration-spark

website openapi and facets config spec fix (#4168)
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
  spec/OpenLineage.yml
  website/static/spec/OpenLineage.yml
  website/static/spec/facets/1-0-0/GcpComposerJobFacet.json
  website/static/spec/facets/1-0-0/GcpComposerRunFacet.json
  website/static/spec/facets/1-0-0/GcpDataprocRunFacet.json
  website/static/spec/facets/1-0-0/GcpLineageJobFacet.json
  website/static/spec/facets/1-0-1/IcebergScanReportInputDatasetFacet.json
  website/static/spec/facets/1-0-2/IcebergCommitReportOutputDatasetFacet.json
Due: prettier, spec-changes

Spark: ensure relation size in bytes is sane (#4165)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Due: pmd-spark, spotless-integration-spark

add dependency cooldown
  .github/dependabot.yml
Due: none

add dependency cooldown (#4169)
  .github/dependabot.yml
Due: none

Additional colors in animation
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

Slower animation speed
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

ruff format+lint
  integration/common/tests/dbt/test_dbt_ownership.py
Due: check-python-generated-imports

refactor: replace unit test with integration test for ownership facet
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/small/target/manifest.json
  integration/common/tests/dbt/test_dbt_ownership.py
Due: check-python-generated-imports, prettier

Fix css
  website/src/css/custom.css
Due: prettier

feat: add dbt model meta.owner to OpenLineage events (#4160)
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/small/target/manifest.json
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

docs: add deprecation note to airflow readme before final release
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

chore: update PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: forbid-attr-s

docs: add deprecation note to airflow readme before final release (#4173)
  integration/airflow/README.md
Due: check-version-files, forbid-attr-s

chore: update PR template (#4174)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: forbid-attr-s

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

create mock credential file during tests
  client/java/.gitignore
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

fix pmd
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

spotless
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

Misc styling for improved contrast
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

Animate depth
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
