Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

Fix CI/CD test exceptions
  .circleci/continue_config.yml
  .coderabbit.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/RunTagsFacetBuilder.java
  integration/flink/shared/src/test/java/io/openlineage/flink/facets/RunTagsFacetBuilderTest.java
Due: prettier, pmd-flink

Use RunState for event state in listener
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

client: fix TLS host verification, config validation and the msg-id in the NATS transport
  client/java/transports-nats/README.md
  client/java/transports-nats/src/main/java/io/openlineage/client/transports/nats/NatsTransport.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsConfigTest.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsSecurityFixtures.java
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsServerScenariosTest.java
  client/python/src/openlineage/client/transport/nats.py
  client/python/tests/test_nats.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python

client: satisfy PMD and mypy on the NATS review fixes
  client/java/transports-nats/src/test/java/io/openlineage/client/transports/nats/NatsServerScenariosTest.java
  client/python/src/openlineage/client/transport/nats.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

add dataproc metastore properties
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/LakehouseRestCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/SnowflakeCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

fix(client-python): auto-heal governance facet lint, spec, and test requirements
  pr_autofix_monitor.py
Due: forbid-attr-s, check-python-generated-imports

refactor: remove redundant owner and meshTags from DataMeshGovernanceDatasetFacet
  client/python/src/openlineage/client/facet.py
Due: check-python-generated-imports, generate_facets, mypy-client-python

chore: remove internal pr monitor script from pull request
  pr_autofix_monitor.py
Due: forbid-attr-s, check-python-generated-imports

fix(client-python): revert conftest changes to upstream main
  client/python/tests/conftest.py
Due: check-python-generated-imports

fix(client-python): pass lint, spec sync, redactions, and governance tests
  client/python/openlineage/client/facet/governance_facet.py
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/data_mesh_governance_dataset.py
  website/static/spec/facets/1-0-0/DataMeshGovernanceDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

test(client-python): update governance facet tests to align with removed owner field
  client/python/tests/conftest.py
  client/python/tests/test_governance_facet.py
Due: check-python-generated-imports

fix(client-python): implement DataMeshGovernanceDatasetFacet and update test assertions
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet.py
  client/python/tests/conftest.py
  client/python/tests/test_governance_facet.py
Due: check-python-generated-imports, generate_facets, mypy-client-python

feat(python): add DataMeshGovernanceDatasetFacet for policy and ownership tracking
  client/python/openlineage/client/facet/governance_facet.py
  client/python/tests/test_governance_facet.py
  spec/facets/DataMeshGovernanceDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, spec-changes

fix(python): correct test imports and align with pre-commit formatting
  client/python/tests/conftest.py
Due: check-python-generated-imports

fix(client-python): add resilient fallback for httpx and httpx2 in test conftest
  client/python/tests/conftest.py
Due: check-python-generated-imports

add tests
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: none

sql: add cte column registry for wildcard expansion
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_cte.rs
Due: none

sql: fix four defects review found in the wildcard registry
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

docs: changelog entry for the wildcard expansion fix
  CHANGELOG.md
Due: forbid-attr-s

sql: expand wildcards over derived tables, and respect wildcard modifiers
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/mod.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: rename aliased output columns in two passes
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: expand over joined derived tables, and respect ILIKE and REPLACE
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

sql: bind column aliases to positions, not to sources
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_wildcard.rs
Due: none

spotless
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: none

coderabbit suggestions
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
Due: pmd-spark, spotless-integration-spark

python: add SSL context support to HTTP transport
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/conftest.py
  client/python/tests/test_http.py
  website/docs/client/python/configuration.md
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

spark: add column lineage for ReplaceTableAsSelect
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/VisitorFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ReplaceTableAsSelectVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ReplaceTableAsSelectVisitorTest.java
Due: pmd-spark, spotless-integration-spark

spark: traverse the whole query of childless CTAS/RTAS for column lineage
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ReplaceTableAsSelectVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/CreateTableAsSelectVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/ReplaceTableAsSelectVisitorTest.java
Due: pmd-spark, spotless-integration-spark

spark: fix PMD duplicate literals in OutputFieldsCollectorTest
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollectorTest.java
Due: none

client: enforce same-origin event redirects
  client/go/README.md
  client/go/pkg/transport/http_test.go
  client/go/pkg/transport/transport.go
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/python/src/openlineage/client/transport/async_http.py
  client/python/src/openlineage/client/transport/http.py
  client/python/src/openlineage/client/transport/http_common.py
  client/python/tests/conftest.py
  client/python/tests/test_async_http.py
  client/python/tests/test_http.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python/configuration.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, pmd-client-java, spotless-client-java

test: initialize mocked HTTP session hooks
  client/python/tests/transform/test_transform.py
Due: check-python-generated-imports

Dataclass for deployment info
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/facets/__init__.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: forbid-attr-s, check-python-generated-imports

Fix circular import in adapter
  integration/prefect/README.md
  integration/prefect/pyproject.toml
  integration/prefect/src/openlineage_prefect/prefect_adapter/adapter.py
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports

More content in readme
  integration/prefect/README.md
  integration/prefect/pyproject.toml
Due: check-version-files, forbid-attr-s

fix(dbt): address review feedback on invocation event parenting and timing
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

continued
  integration/prefect/README.md
  integration/prefect/pyproject.toml
  integration/prefect/sandbox/README.md
  integration/prefect/sandbox/quickstart.py
Due: check-version-files, forbid-attr-s, check-python-generated-imports

chore: bump AWS SDK version to 2.54.20 (#4982)
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
