Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

update httpConfig Headers and TimeoutInMillis property values (#3767)
  website/docs/client/java/partials/java_transport.md
Due: forbid-attr-s

[java] Add log if load from yaml fails (#3766)
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
Due: pmd-client-java, spotless-client-java

Column level lineage for jdbc queries load (#3763)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
Due: spotless-integration-spark

chore: Use attr.define instead of attr.s (#3776)
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/tags.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/transform/test_transform.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
  integration/airflow/tests/test_facets.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/provider/great_expectations/results.py
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/tests/bigquery/test_bigquery.py
  integration/common/tests/dbt/test_facets.py
  integration/dagster/openlineage/dagster/cursor.py
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/spec/facets/custom-facets.md
Due: forbid-attr-s, prettier

Github: mark Hive PRs with proper label (#3778)
  .github/boring-cyborg.yml
Due: none

fix configurable test failin in CI (#3782)
  integration/spark/cli/spark-conf.yml
Due: none

[Hive] Add job sql facet (#3777)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
Due: prettier

Website: correct Node version in README (#3783)
  website/README.md
Due: check-version-files, forbid-attr-s

[Hive] Add hive_query facet (#3781)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HivePropertiesFacetBuilder.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveQueryInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/facets/HivePropertiesFacetBuilderTest.java
Due: prettier

changelog for release 1.34.0 (#3790)
  CHANGELOG.md
  website/docs/releases/1_34.0.md
Due: forbid-attr-s

[spark] Disable module metadata file generation (#3785)
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

Add Debezium to producers (#3787)
  website/static/ecosystem/producers.tsx
  website/static/img/debezium_logo.svg
Due: prettier

[Hive] Add hive_session facet (#3786)
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveSessionInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/hive/installation.md
Due: check-version-files, forbid-attr-s, prettier

[Hive] Add jobType facet (#3789)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: prettier

Prepare for release 1.34.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.35.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s

chore: Fix changelog item authors (#3791)
  CHANGELOG.md
  website/docs/releases/1_34.0.md
Due: forbid-attr-s

fix spotless in hive integration (#3806)
  integration/hive/build.gradle
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  new-version.sh
Due: check-version-files

[DBT] Make invocation_id field optional (#3796)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: forbid-attr-s

run Java SQL tests (#3808)
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
Due: none

Website: update README (#3801)
  website/README.md
Due: check-version-files, forbid-attr-s

[Hive] Add docker-compose example for local testing (#3800)
  integration/hive-docker/README.md
  integration/hive-docker/conf/hive-site.xml
  integration/hive-docker/docker-compose.yml
Due: check-version-files, forbid-attr-s

Remove empty Flink page. (#3810)
  website/docs/integrations/flink.md
Due: forbid-attr-s

dbt: fix log path, more precise file reading (#3793)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/setup.cfg
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/test_utils.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

Flink integration: Fixed a bug incorrectly loading configuration in Event Emitter (#3799)
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/sql/README.md
Due: check-version-files, forbid-attr-s, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java

Spark: fix & upgrade databricks test (#3811)
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: forbid-attr-s, spotless-integration-spark

Website: add missing guidance to readme (#3807)
  website/README.md
Due: check-version-files, forbid-attr-s

Update consumers.tsx
  website/static/ecosystem/consumers.tsx
Due: prettier

Formalize dataset naming (#3775)
  client/java/src/main/java/io/openlineage/client/dataset/Naming.java
  client/java/src/test/java/io/openlineage/client/dataset/NamingTest.java
Due: pmd-client-java, spotless-client-java

Don't emit on JobEnd if there's an SQLExecutionEnd pending
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
Due: spotless-integration-spark

Documenting design lineage object model and event payloads according to specification in https://github.com/OpenLineage/OpenLineage/blob/main/proposals/1837/static_lineage.md .
  website/docs/spec/object-model-dataset-event.svg
  website/docs/spec/object-model-job-event.svg
  website/docs/spec/object-model.md
Due: forbid-attr-s

fix new rust formatting warnings
  integration/sql/iface-py/script/build.sh
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Due: none

fix new rust formatting warnings (#3814)
  integration/sql/iface-py/script/build.sh
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Due: none

name threads used in Java client
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/utils/ThreadFactory.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Due: pmd-client-java, spotless-client-java

Documenting design lineage object model and event payloads according to specification in https://github.com/OpenLineage/OpenLineage/blob/main/proposals/1837/static_lineage.md . (#3780)
  website/docs/spec/object-model-dataset-event.svg
  website/docs/spec/object-model-job-event.svg
  website/docs/spec/object-model.md
Due: forbid-attr-s

Formalize dataset naming for Python client
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

spec: SqlJobFacet now contains dialect
  client/python/openlineage/client/generated/sql_job.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  website/static/spec/facets/1-1-0/SQLJobFacet.json
Due: forbid-attr-s, prettier, spotless-integration-spark

docs: Update OpenLineage Java circuit breaker documentation to provide better clarity and readability.
  website/docs/client/java/partials/java_circuit_breaker.md
Due: forbid-attr-s

docs: Update OpenLineage Java circuit breaker documentation to provide better clarity and readability. (#3821)
  website/docs/client/java/partials/java_circuit_breaker.md
Due: forbid-attr-s

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
