Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

remove leftover proxy gradle reference
  new-version.sh
Due: none

Remove Airflow < 2.5.0 support
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  integration/README.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/setup.cfg
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  website/docs/development/developing/python/tests/airflow.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

fix log path in structured logs dbt integration
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
Due: none

smart debug facet
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageRunStatus.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
  website/docs/integrations/spark/debug_facet.md
Due: spotless-integration-spark

Remove Airflow < 2.5.0 support (#3669)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  integration/README.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/setup.cfg
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  website/docs/development/developing/python/tests/airflow.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Due: none

[DBT] Use adapter rows_affected as outputStatistics
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/spark/thrift/result.json
Due: none

nit: fix supported airflow versions
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  website/docs/integrations/airflow/older.md
Due: none

nit: fix supported airflow versions (#3755)
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  website/docs/integrations/airflow/older.md
Due: none

[Java] Speedup generateNewUUID
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
Due: pmd-client-java, spotless-client-java

async HTTP client
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/generator/test_base.py
  client/python/tests/test_amazon_datazone.py
  client/python/tests/test_facet.py
  client/python/tests/test_kafka.py
  client/python/tests/test_msk_iam.py
  integration/airflow/pyproject.toml
  integration/airflow/tests/integration/server/app.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/utils.py
  integration/common/setup.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

default async
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
Due: none

async HTTP client
  client/python/openlineage/client/transport/http.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

[Java] Speedup generateNewUUID (#3754)
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
Due: pmd-client-java, spotless-client-java

[DBT] Use adapter rows_affected as outputStatistics (#3731)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/spark/thrift/result.json
Due: none

[spark] Add support for Big Query Metastore catalog type
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

fix variables in docs for setting of root parents in spark config
  website/docs/integrations/spark/configuration/airflow.md
Due: none

fix variables in docs for setting of root parents in spark config (#3761)
  website/docs/integrations/spark/configuration/airflow.md
Due: none

Register GCP common job facet
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  website/docs/client/java/partials/java_transport.md
Due: none

[spark] Add support for Big Query Metastore catalog type (#3760)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

[DBT] Add DbtRun facet to dbt run events
  integration/dbt/openlineage/dbt/__init__.py
Due: none

Add ACCEPT_CASE_INSENSITIVE_ENUMS for ObjectMapper to ensure that lower and upper case enum values are accepted for config
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/resources/config/lowercase_async_config.yaml
  client/java/transports-gcplineage/src/test/resources/config/uppercase_async_config.yaml
Due: pmd-client-java, spotless-client-java

Add ACCEPT_CASE_INSENSITIVE_ENUMS for ObjectMapper to ensure that lower and upper case enum values are accepted for config
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
Due: none

static sync and async config
  client/python/openlineage/client/transport/http.py
Due: none

Add ACCEPT_CASE_INSENSITIVE_ENUMS for ObjectMapper to ensure that lower and upper case enum values are accepted for config
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
Due: none

Fix visibility of GcpLineageTransportConfig.Mode (#3762)
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilderTest.java
  client/java/transports-gcplineage/src/test/resources/config/lowercase_async_config.yaml
  client/java/transports-gcplineage/src/test/resources/config/uppercase_async_config.yaml
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

[java] Add log if load from yaml fails
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
Due: pmd-client-java, spotless-client-java

test column level lineage for jdbc queries load
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: none

fix log size
  client/python/openlineage/client/transport/http.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/test_utils.py
Due: none

update httpConfig Headers and TimeoutInMillis property values
  website/docs/client/java/partials/java_transport.md
Due: none

update httpConfig Headers and TimeoutInMillis property values (#3767)
  website/docs/client/java/partials/java_transport.md
Due: none

[java] Add log if load from yaml fails (#3766)
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
Due: pmd-client-java, spotless-client-java

refactor jdbc lineage visitor
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/PostgresJDBCSparkQueryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: spotless-integration-spark

change version and update imports
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: none

Add DPMS namespace and table name into docs
  website/docs/spec/naming.md
Due: none
