Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

[Python] Reuse session in sync HttpTransport
  client/python/openlineage/client/transport/http.py
  client/python/tests/conftest.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
Due: forbid-attr-s

add jar comparator tool
  integration/spark/jar_compare.py
Due: forbid-attr-s

add more resiliency for missing dbt nodes
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

chore: raise error if no events were emitted by composite transport
  client/python/openlineage/client/transport/composite.py
  client/python/tests/test_composite.py
Due: forbid-attr-s

[Flink 1.x] Close OpenLineageClient in onJobExecuted
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
Due: pmd-flink, pmd-spark

add jar comparator tool (#3852)
  integration/spark/jar_compare.py
Due: forbid-attr-s

[Python] Implement KafkaTransport.wait_for_completion() and .close() (#3838)
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Due: forbid-attr-s

[Python][Java] Implement Transport.close() for Datazone and Kinesis
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/tests/test_amazon_datazone.py
Due: forbid-attr-s

[Spark] Use Hive as default Iceberg catalog implementation
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

fix intellij reload (#3825)
  integration/spark/app/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files

[Spark] Use Hive as default Iceberg catalog implementation (#3858)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Due: spotless-integration-spark

[SPARK] Replace weak hash-map with a map with weak keys and entries
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

chore: raise error if no events were emitted by composite transport (#3853)
  client/python/openlineage/client/transport/composite.py
  client/python/tests/test_composite.py
Due: forbid-attr-s

[SPARK] Replace weak hash-map with a map with weak keys and entries (#3856)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Due: spotless-integration-spark

[Flink 1.x] Close OpenLineageClient in onJobExecuted (#3854)
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
Due: pmd-flink, pmd-spark

[Spark] Include spark_applicationDetails facet to all events
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Due: spotless-integration-spark

debug
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: forbid-attr-s

fix: replace dbt deprecated configs
  integration/airflow/tests/integration/data/dbt/testproject/dbt_project.yml
  integration/common/tests/dbt/build/dbt_project.yml
  integration/common/tests/dbt/catalog/dbt_project.yml
  integration/common/tests/dbt/env_vars/dbt_project.yml
  integration/common/tests/dbt/fail/dbt_project.yml
  integration/common/tests/dbt/large/dbt_project.yml
  integration/common/tests/dbt/no_test_metadata/dbt_project.yml
  integration/common/tests/dbt/profiles/dbt_project.yml
  integration/common/tests/dbt/small/dbt_project.yml
  integration/common/tests/dbt/test/dbt_project.yml
Due: none

[SPARK] Support additional facets
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksUnityV2Handler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Due: spotless-integration-spark

[Python] Reuse session in sync HttpTransport (#3843)
  client/python/openlineage/client/transport/http.py
  client/python/tests/conftest.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
Due: forbid-attr-s

fix: replace dbt deprecated configs (#3859)
  integration/airflow/tests/integration/data/dbt/testproject/dbt_project.yml
  integration/common/tests/dbt/build/dbt_project.yml
  integration/common/tests/dbt/catalog/dbt_project.yml
  integration/common/tests/dbt/env_vars/dbt_project.yml
  integration/common/tests/dbt/fail/dbt_project.yml
  integration/common/tests/dbt/large/dbt_project.yml
  integration/common/tests/dbt/no_test_metadata/dbt_project.yml
  integration/common/tests/dbt/profiles/dbt_project.yml
  integration/common/tests/dbt/small/dbt_project.yml
  integration/common/tests/dbt/test/dbt_project.yml
Due: none

[Airflow] Send pending events after Airflow DAG is finished
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

[Spark] Close OpenLineageClient in onApplicationEnd
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Due: spotless-integration-spark

[Python] Implement TransformTransport.close
  client/python/openlineage/client/transport/transform/transform.py
  client/python/tests/transform/test_transform.py
Due: forbid-attr-s

[Python] Implement TransformTransport.close (#3855)
  client/python/openlineage/client/transport/transform/transform.py
  client/python/tests/transform/test_transform.py
Due: forbid-attr-s

support delta 3.3.2
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
Due: check-version-files, spotless-integration-spark

Implemented RowLevelWrite logical operators
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/ReplaceDataDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/ReplaceDataVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/WriteDeltaDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/WriteDeltaVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/ReplaceDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/WriteDeltaDatasetBuilderTest.java
  integration/spark/supported-commands.md
Due: forbid-attr-s, spotless-integration-spark

[SPARK] Add BigQueryMetastoreCatalogDatasetFacet
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/BigQueryMetastoreCatalogDatasetFacet.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  spec/registry/gcp/bigquery/facets/BigQueryMetastoreCatalogDatasetFacet.json
  spec/registry/gcp/bigquery/registry.json
Due: check_schemas, generate_facets, spec-changes, spotless-integration-spark

[Hive] Add dialect=hive to SqlJobFacet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: prettier

[Hive] Add dialect=hive to SqlJobFacet (#3863)
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: prettier

support delta 3.3.2 (#3861)
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
Due: check-version-files, spotless-integration-spark

Fix ruff check.
  client/python/openlineage/client/dataset.py
Due: forbid-attr-s

Formalize dataset naming for Python client
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

compatibility tests docs
  website/docs/integrations/openlineage_compatibility/_category_.json
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/_category_.json
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/_category_.json
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/compatibility_test.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/_category_.json
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/contributing.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_consumer.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_consumer_scenario.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_input_events.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_producer_scenario.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/event_validation.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/reusable_actions_and_common_scripts.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/structure.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/test_workflows.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/openlineage_compatibility.md
Due: forbid-attr-s

Remove redundant dataset naming
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

compatibility tests docs
  website/docs/integrations/openlineage_compatibility/compatibility_test/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/compatibility_test.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/contributing.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_input_events.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/reusable_actions_and_common_scripts.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/structure.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/test_workflows.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/_category_.json
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/contributing.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/contributing/new_consumer_scenario.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/compatibility_test/event_validation.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility/openlineage_compatibility.md
Due: forbid-attr-s

feat: add default configuration option to python client
  client/python/openlineage/client/client.py
Due: forbid-attr-s

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
