Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Reuse client for http requests
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Reuse client for http requests contd
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

spark: fix lakehouse detection mechanism (#4611)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/CatalogDatasetFacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GoogleCloudPlatformUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
Due: pmd-spark, spotless-integration-spark

flink: emit abort event for canceled jobs
  integration/flink/flink2/src/main/java/io/openlineage/flink/util/JobStatusUtil.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/util/JobStatusUtilTest.java
Due: pmd-flink

Prepare changelog for release 1.49.0
  CHANGELOG.md
  website/docs/releases/1_49_0.md
Due: forbid-attr-s

Prepare changelog for release 1.49.0 (#4616)
  CHANGELOG.md
  website/docs/releases/1_49_0.md
Due: forbid-attr-s

Prepare for release 1.49.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.50.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

make flink detached job listener into a separate flow
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactoryTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestApiClient.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/JobDetails.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-flink

remove kafka transport changes
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

flink: Add support for OpenLineage events in detached Flink Session Mode
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-client-java, pmd-flink, spotless-client-java

revert openlineage job status listener changes
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
Due: pmd-flink

flink: add timeout-aware run event emission support
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

flink: add timeout-aware run event emission support (#4613)
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Due: pmd-client-java, spotless-client-java

flink: emit abort event for canceled jobs (#4615)
  integration/flink/flink2/src/main/java/io/openlineage/flink/util/JobStatusUtil.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/util/JobStatusUtilTest.java
Due: pmd-flink

split loadJobId and runId functionality
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactoryTest.java
Due: pmd-flink

ci fixes
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-byool-terraform.yml
  byool/terraform/openlineage-base-resource/ol/event_builder.go
  byool/terraform/openlineage-base-resource/ol/facet_build_methods.gen.go
  generator/go/render/terraform/events/build_facet_methods.go
Due: none

Update build.gradle aws update for CVE-2026-42583
  integration/spark/shared/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

CVE 2026 42583 resolve spark (#4621)
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

fix(common): handle trailing command options
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Reduce api calls for flow info
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

fix(common): preserve nullable chain input
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Handle missing runs
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Update integration/prefect/listener.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

flink: Add support for OpenLineage events in detached Flink Session Mode (#4596)
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageDetachedJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactoryTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/FlinkRestApiClient.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/JobDetails.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  website/docs/integrations/flink/configuration.md
Due: forbid-attr-s, pmd-flink

flink: add docs for the special detached job tracking flow
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s

buildSrc: close leaked file streams in jarVerification bytecode check
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginDelegate.kt
Due: none

flink: add docs for the special detached job tracking flow (#4630)
  website/docs/integrations/flink/flink2.md
Due: forbid-attr-s

Add README
  integration/prefect/README.md
Due: check-version-files, forbid-attr-s

Misc edits to README
  integration/prefect/README.md
Due: check-version-files, forbid-attr-s

buildSrc: close leaked file streams in jarVerification bytecode check (#4632)
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginDelegate.kt
Due: none

examples, rewording
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
  proposals/explicit_lineage_facet/ExplicitLineageSchema.md
Due: forbid-attr-s

Use scanReportSupplier for building iceberg scan report facet if available.
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilderTest.java
  integration/spark/vendor/iceberg/src/test/java/org/apache/iceberg/spark/TestingScanWithReport.java
Due: pmd-spark, spotless-integration-spark

Use scanReportSupplier for building iceberg scan report facet if available. (#4633)
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilder.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/lifecycle/plan/IcebergScanReportInputDatasetFacetBuilderTest.java
  integration/spark/vendor/iceberg/src/test/java/org/apache/iceberg/spark/TestingScanWithReport.java
Due: pmd-spark, spotless-integration-spark

fix: Extend env var facet instead of overwriting it
  client/python/src/openlineage/client/client.py
  client/python/tests/test_client.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Misc cleanup
  integration/prefect/adapter.py
  integration/prefect/listener.py
Due: forbid-attr-s, check-python-generated-imports

Add docs
  website/docs/client/python/configuration.md
Due: forbid-attr-s
