Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: Add license for all Python files
        files: \.py$|\.pyi$
        args:
          - --comment-style
          - "#"
          - --license-filepath
          - .pre_commit/license-python.txt
          - --fuzzy-match-generates-todo
          - --use-current-year
      - id: insert-license
        name: Add license for all Java files
        files: \.java$
        args:
          - --comment-style
          - ""
          - --license-filepath
          - .pre_commit/license-java.txt
          - --fuzzy-match-generates-todo
          - --use-current-year
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
        files: ^client/python/
      - id: check-builtin-literals
        files: ^client/python/
      - id: check-merge-conflict
        files: ^client/python/
      - id: check-toml
        files: ^client/python/
      - id: debug-statements
        files: ^client/python/
      - id: end-of-file-fixer
        files: ^client/python/
      - id: trailing-whitespace
        files: ^client/python/
        exclude: ^.*\.cfg$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.5
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        files: ^client/python/|^dev/|^integration/airflow/|^integration/common/|^integration/dagster/|^integration/dbt/|^integration/spark/|^integration/sql/
      - id: ruff-format
        name: ruff-format
        files: ^client/python/|^dev/|^integration/airflow/|^integration/common/|^integration/dagster/|^integration/dbt/|^integration/spark/|^integration/sql/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: ^spec/
        args: ["--print-width=120", "--prose-wrap=always"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        entry: bash -c 'echo "If you think that this failure is an error, consider adding the word(s)
          to the codespell dictionary at spelling_wordlist.txt.
          The word(s) should be in lowercase." && exec codespell "$@"' --
        language: python
        types: [text]
        args:
          - --ignore-words=spelling_wordlist.txt
          - --skip=*.js,*.svg,*.xml,*/**/test/*,*/**/tests/*
  - repo: local
    hooks:
      - id: check_schemas
        name: Check JSON Schema spec files.
        language: golang
        additional_dependencies: ["github.com/santhosh-tekuri/jsonschema/cmd/jv@latest"]
        entry: ./.pre_commit/json-schema/check-spec.sh
        files: ^spec/.*\.json$
        exclude: ^spec/tests/.*$
      - id: test_events
        name: Test events against JSON Schema spec files.
        language: golang
        additional_dependencies: ["github.com/santhosh-tekuri/jsonschema/cmd/jv@latest"]
        entry: ./.pre_commit/json-schema/test-facets.sh
        files: ^spec/facets/.*\.json$

Spark: Fix historyUrl format (#2741)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkApplicationDetailsFacet.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Due: none

Add Atlan as OpenLineage contributor (#2742)
  CONTRIBUTORS.md
Due: none

Apply prettier for json
  spec/registry/gcp/registry.json
Due: check_schemas

Update the name for facet; Update procedure to publish facets to documentation: ignore registry.json fileds
  spec/registry/gcp/facets/GcpCommonJobFacet.json
  spec/release.sh
Due: check_schemas

[SPARK] fix drop table for Spark 3.4 and higher (#2745)
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkDropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkDropTableEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/DropTableDatasetBuilder.java
Due: none

remodeled transformation type (#2756)
  CHANGELOG.md
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/redact_fields.yml
  spec/facets/ColumnLineageDatasetFacet.json
Due: check_schemas, test_events

spark: make sure debug logging is guarded when it can cause function call (#2744)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilder.java
Due: none

Bump mypy to 1.10. (#2760)
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/tox.ini
Due: none

alias: allow self-recursive aliases (#2753)
  integration/sql/impl/src/context/alias_table.rs
  integration/sql/impl/tests/column_lineage/tests_aliases.rs
Due: none

[SPARK] fix NPE in column level lineage (#2749)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/RddsTest.java
Due: none

[SPARK] refactor OpenLineageRunEventBuilder (#2754)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
Due: none

fix changelog (#2759)
  CHANGELOG.md
Due: none

Flink: Use namespace.name as Avro complex field type (#2763)
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/AvroSchemaUtils.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/AvroSchemaUtilsTest.java
Due: none

Register GCP common job facet (#2740)
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  spec/registry/gcp/facets/GcpCommonJobFacet.json
  spec/registry/gcp/registry.json
  spec/release.sh
Due: check_schemas

fix prettier
  spec/registry/core/registry.json
Due: check_schemas

Spark: Fix Hive metastore namespace (#2761)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddColumnsCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: none

address comments
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/EnvironmentFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
Due: none

a commit to initiate the discussion about the issue & the solution
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
Due: none

update logging run if to the suggested way
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Due: none

Revise GCP Dataproc Run Facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
Due: none

Register GCP dataproc run facet
  proposals/2161/registry.md
  spec/registry/gcp/registry.json
  spec/registry/gcpDataproc/facets/GcpDataprocRunFacet.json
  spec/registry/gcpDataproc/registry.json
Due: check_schemas

Rename fields to avoid .,
  spec/registry/gcpDataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas

add GCP common Job Facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPJobFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPJobFacetBuilder.java
Due: none

update GCP Dataproc facet as per #2771
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
Due: none

Update schema URL for GCP facets as per the new registry
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPCommonJobFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPDataprocRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPJobFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPRunFacetBuilder.java
Due: none

fix PMD violations
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPCommonJobFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GCPDataprocRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
Due: none

Implementing facet registry (PROPOSAL #2161) (#2729)
  CODEOWNERS
  spec/registry/core/registry.json
Due: check_schemas

Use produced/consumed facets in the registry definition; Apply proposed descriptions to dataproc attributes
  proposals/2161/registry.md
  spec/registry/gcp/registry.json
  spec/registry/gcpDataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas

Apply proposed descriptions to dataproc attributes
  spec/registry/gcpDataproc/facets/GcpDataprocRunFacet.json
Due: check_schemas

Repair empty dataset name in Java client
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierUtilsTest.java
Due: none

Writing tests for GCPUtils
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
Due: none

add license header
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
Due: none

fix pmd violations
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
Due: none

Repair empty dataset name in Java client (#2776)
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierUtilsTest.java
Due: none

update logging run if to the suggested way (#2769)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Due: none

[SPARK] code style issue on main
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Due: none

Resolve merge conflicts and bugs
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GCPRunFacetBuilder.java
Due: none

[SPARK] code style issue on main (#2778)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Due: none
