Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

[SPARK] Fix missing `.db` suffix in database/namespace location name for BigQueryMetastoreCatalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

[SPARK] Fix missing `.db` suffix in database/namespace location name for BigQueryMetastoreCatalog (#3874)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Due: spotless-integration-spark

Delta merge with column
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

[SPARK] Support additional facets (#3850)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksUnityV2Handler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Due: spotless-integration-spark

Delta merge with column (#3871)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Due: spotless-integration-spark

Use Protocol instead of ABC
  client/python/openlineage/client/dataset.py
Due: forbid-attr-s

Create package for namings
  client/python/openlineage/client/naming/__init__.py
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Spark - disable OL through Spark Conf
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, spotless-integration-spark

more resiliency for missing dbt nodes (#3836)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

[Spark] Include spark_applicationDetails facet to all events (#3848)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Due: spotless-integration-spark

[Python][Java] Implement Transport.close() for Datazone and Kinesis (#3857)
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/tests/test_amazon_datazone.py
Due: forbid-attr-s

Spark - disable OL through Spark Conf (#3880)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, spotless-integration-spark

remove snowflake dag
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/snowflake_dag.py
  integration/common/setup.py
  integration/dbt/tests/integration/conftest.py
  integration/dbt/tests/integration/test_integration.py
  integration/dbt/tests/integration/test_structured_logs.py
  integration/dbt/tests/integration/utils/dbt_helpers.py
  integration/dbt/tests/integration/utils/event_validation.py
  integration/sql/iface-py/script/build-macos.sh
Due: forbid-attr-s, prettier

remove airflow failures test
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  integration/airflow/tests/integration/docker/up-failure.sh
  integration/airflow/tests/integration/failures/airflow/__init__.py
  integration/airflow/tests/integration/failures/airflow/dags/__init__.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/failures/airflow/dags/run_test_dag.py
  integration/airflow/tests/integration/failures/airflow/dags/wait_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_failure.py
  integration/dbt/tests/integration/test_integration.py
Due: none

[Python] Remove transport.wait_for_completion()
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_async_http.py
  client/python/tests/test_composite.py
  client/python/tests/test_kafka.py
  integration/dbt/openlineage/dbt/__init__.py
  website/docs/client/python.md
Due: forbid-attr-s

[Airflow] Send pending events after Airflow DAG is finished
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

[Python] Remove transport.wait_for_completion() (#3881)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_async_http.py
  client/python/tests/test_composite.py
  client/python/tests/test_kafka.py
  integration/dbt/openlineage/dbt/__init__.py
  website/docs/client/python.md
Due: forbid-attr-s

[Airflow] Send pending events after Airflow DAG is finished (#3849)
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/dbt/openlineage/dbt/__init__.py
Due: forbid-attr-s

Formalize job naming
  client/java/src/main/java/io/openlineage/client/job/Naming.java
  client/java/src/test/java/io/openlineage/client/job/NamingTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

add missing dependency
  client/java/build.gradle
  client/java/transports.build.gradle
Due: check-version-files

Spark: support delta 4 for Spark 4
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CircuitBreakerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Due: check-version-files, forbid-attr-s, spotless-integration-spark

Formalize job naming (#3826)
  client/java/src/main/java/io/openlineage/client/job/Naming.java
  client/java/src/test/java/io/openlineage/client/job/NamingTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

nit: fix composite transport logging of multiple transports
  client/python/openlineage/client/transport/composite.py
Due: forbid-attr-s

nit: fix composite transport logging of multiple transports (#3887)
  client/python/openlineage/client/transport/composite.py
Due: forbid-attr-s

Changelog for 1.35.0 release
  CHANGELOG.md
  website/docs/releases/1_35_0.md
Due: forbid-attr-s

fix filenames for windows users
  integration/spark/app/src/test/resources/debug/dates/part-00000.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000.csv
Due: none

Adding query ID's for dbt
  integration/common/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s

Linting
  integration/common/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s

Changelog for 1.35.0 release (#3888)
  CHANGELOG.md
  website/docs/releases/1_35_0.md
Due: forbid-attr-s

Prepare for release 1.35.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.36.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s

[HIVE] Add Hive job naming schema
  client/java/src/main/java/io/openlineage/client/job/Naming.java
  client/java/src/test/java/io/openlineage/client/job/NamingTest.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Due: pmd-client-java, spotless-client-java

fix filenames for windows users (#3889)
  integration/spark/app/src/test/resources/debug/dates/part-00000.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000.csv
Due: none

Add Hive naming
  client/python/openlineage/client/naming/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Formalize dataset naming for Python client
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Suggestions applied
  client/python/openlineage/client/naming/dataset.py
Due: forbid-attr-s

Remove redundant dataset naming
  client/python/openlineage/client/dataset.py
  client/python/tests/test_dataset.py
Due: forbid-attr-s

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
