Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

switch to UUID from OL client, switch default name and namespace
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
Due: none

remove commented out sections
  .circleci/workflows/openlineage-hive.yml
  integration/hive/hive-openlineage-hook/build.gradle
Due: none

update tests for different versions of integration
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
Due: none

flink 2 documentation doc
  integration/flink/README.md
  integration/flink/flink2/README.md
  website/docs/integrations/flink.md
  website/docs/integrations/flink/_category_.json
  website/docs/integrations/flink/about.md
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink1.md
  website/docs/integrations/flink/flink2.md
  website/docs/integrations/spark/configuration/_category_.json
Due: none

flink 2 documentation doc (#3636)
  integration/flink/README.md
  integration/flink/flink2/README.md
  website/docs/integrations/flink.md
  website/docs/integrations/flink/_category_.json
  website/docs/integrations/flink/about.md
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink1.md
  website/docs/integrations/flink/flink2.md
  website/docs/integrations/spark/configuration/_category_.json
Due: none

define equals for TransformedInput to avoid duplicates
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
Due: spotless-integration-spark

update changelog
  CHANGELOG.md
Due: none

added braces for readability
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
Due: spotless-integration-spark

define equals for TransformedInput to avoid duplicates (#3644)
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
Due: spotless-integration-spark

explain dbt event forwarding
  integration/dbt/openlineage/dbt/__init__.py
Due: none

refactor python client
  client/python/openlineage/client/transport/http.py
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Due: none

explain dbt event forwarding (#3647)
  integration/dbt/openlineage/dbt/__init__.py
Due: none

prevent initialint Flink2 listener for Flink2
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/OpenLineageFlinkJobListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink, pmd-spark

prevent initialint Flink2 listener for Flink2 (#3645)
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/OpenLineageFlinkJobListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink, pmd-spark

refactor python client (#3646)
  client/python/openlineage/client/transport/http.py
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Due: none

more robust handling of dbt CommandCompleted event
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Due: none

Move data talk (#3614)
  website/static/img/move_data_2025.png
  website/static/talks/talkStrings.tsx
Due: none

nit: Improve composite transport logging
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
Due: none

bump supported Python version to 3.9
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/workflows/website-snapshot.yml
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  integration/airflow/pyproject.toml
  integration/airflow/setup.py
  integration/common/pyproject.toml
  integration/common/setup.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.py
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
  ruff.toml
Due: none

support schema facet for Avro
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSerializationSchemaTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroSpecificRecordBaseTypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeTypeInformationFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/Flink2ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeTypeInformationFacetVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink, pmd-spark

Fix Flink1 example app
  integration/flink/examples/flink1-test-apps/README.md
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink1-test-apps/pmd-openlineage.xml
  integration/flink/examples/flink1-test-apps/src/docker/docker-compose.yml
Due: none

Fix Flink1 example app (#3653)
  integration/flink/examples/flink1-test-apps/README.md
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink1-test-apps/pmd-openlineage.xml
  integration/flink/examples/flink1-test-apps/src/docker/docker-compose.yml
Due: none

[FLINK] enhance JDBC extractors with more types
  client/java/src/main/java/io/openlineage/client/utils/jdbc/CrateJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/Db2JdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OceanBaseJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TrinoJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForCrate.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDb2.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOceanBase.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTrino.java
Due: pmd-client-java, spotless-client-java

[FLINK] enhance JDBC extractors with more types (#3652)
  client/java/src/main/java/io/openlineage/client/utils/jdbc/CrateJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/Db2JdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OceanBaseJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TrinoJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForCrate.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDb2.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOceanBase.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTrino.java
Due: pmd-client-java, spotless-client-java

Add README for Flink2 example app
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/README.md
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/pmd-openlineage.xml
  integration/flink/examples/flink2-test-apps/src/docker/docker-compose.yml
Due: none

Add README for Flink2 example app (#3654)
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/README.md
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/pmd-openlineage.xml
  integration/flink/examples/flink2-test-apps/src/docker/docker-compose.yml
Due: none

nit: Improve composite transport logging (#3649)
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
Due: none

bump supported Python version to 3.9
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/workflows/website-snapshot.yml
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  integration/airflow/README.md
  integration/airflow/pyproject.toml
  integration/airflow/setup.py
  integration/airflow/tests/integration/Dockerfile
  integration/common/pyproject.toml
  integration/common/setup.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.py
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
  ruff.toml
Due: none

bump supported Python version to 3.9 (#3648)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/workflows/website-snapshot.yml
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  integration/airflow/README.md
  integration/airflow/pyproject.toml
  integration/airflow/setup.py
  integration/airflow/tests/integration/Dockerfile
  integration/common/pyproject.toml
  integration/common/setup.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.py
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
  ruff.toml
Due: none

[DOC] Fix outdated ColumnLineageFacet documentation
  spec/facets/ColumnLineageDatasetFacet.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/run-cycle.md
Due: spec-changes

[DOC] Fix outdated ColumnLineageFacet documentation (#3656)
  spec/facets/ColumnLineageDatasetFacet.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/run-cycle.md
Due: spec-changes

[DOC] add CrateDB, DB2 and OceanBase dataset naming
  website/docs/spec/naming.md
Due: none

[DOC] add CrateDB, DB2 and OceanBase dataset naming (#3662)
  website/docs/spec/naming.md
Due: none

fix kafka table symlink
  CHANGELOG.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/catalog/CatalogSymlinkProvider.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/catalog/GenericInMemoryCatalogSymlinkProvider.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/wrapper/TableLineageDatasetWrapper.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/catalog/GenericInMemoryCatalogSymlinkProviderTest.java
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: pmd-flink, pmd-spark

more robust handling of dbt CommandCompleted event
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/missing_command_completed.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/pyproject.toml
Due: none

more robust handling of dbt CommandCompleted event (#3661)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/missing_command_completed.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/pyproject.toml
Due: none

fix: Check for RunEvent v2 in filters and env_var_facet
  client/python/openlineage/client/client.py
  client/python/openlineage/client/filter.py
  client/python/tests/test_client.py
Due: none

fix: Check for RunEvent v2 in filters and env_var_facet (#3664)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/filter.py
  client/python/tests/test_client.py
Due: none

update changelog for 1.32.0 release
  CHANGELOG.md
  website/docs/releases/1_32_0.md
Due: none
