Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

dbt: Fix --target-path CLI flag being ignored (#4141) (#4298)
  integration/dbt/src/openlineage/dbt/__init__.py
  integration/dbt/tests/test_main.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-dbt

Restyled community and ecosystem pages for dark mode plus resized ecosys logo (#4309)
  website/src/css/custom.css
  website/src/pages/community.tsx
  website/src/pages/ecosystem.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/ataccama-logo-rgb-blk.png
  website/static/img/ataccama-logo-rgb-blk.svg
Due: prettier

add debugging and fix except logic. Signed-off-by: Kacper Muda <mudakacper@gmail.com>
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Revert dark mode restyling again (#4318)
  website/src/css/custom.css
Due: prettier

Website: Add Feast to ecosystem producers (#4297)
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/static/ecosystem/producers.tsx
  website/static/img/feast_logo.svg
Due: forbid-attr-s, prettier

Restyled community and ecosystem cards for dark mode (#4317)
  website/src/css/custom.css
  website/src/pages/community.tsx
Due: prettier

Revert dark mode restyling (#4310)
  website/src/css/custom.css
Due: prettier

Website: Refactor community page and add Slack to navbar (#4303)
  website/docusaurus.config.js
  website/src/pages/community.tsx
Due: prettier

action on feedback and add debugging log. Signed-off-by: Kacper Muda <mudakacper@gmail.com>
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(spark): Handle null Glue ARN in IcebergHandler (#4162) (#4311)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
Due: pmd-spark, spotless-integration-spark

fix(flink): Use Flink 2.x-only class for version detection (#4007) (#4312)
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Due: pmd-flink

fix DCO, action on feedback and add debug log
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

remove exc_info, add tests
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

precommit fixes
  integration/common/tests/dbt/test_dbt_local.py
Due: check-python-generated-imports

pre-commit fixes
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

pre-commit: ruff linting
  integration/common/src/openlineage/common/provider/dbt/local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(spark): Early return in DatabricksEventFilter for non-Databricks platforms (#3220) (#4315)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: pmd-spark, spotless-integration-spark

fix(spark): Handle ResolvedIdentifier in DropTableVisitor (#2544) (#4316)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitorTest.java
Due: pmd-spark, spotless-integration-spark

dbt: Better error handling for finding the directory of `profiles.yml` (#4320)
  integration/common/src/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

add collate to openlineage ecosystem
  website/static/ecosystem/consumers.tsx
  website/static/img/collate-logo.svg
Due: prettier

spark: Fix column-level lineage for Glue DynamicFrame column renames
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameColumnRenameTest.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame_column_rename.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GlueCatalogSchemaResolver.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GlueCatalogSchemaResolverTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: forbid-attr-s, check-python-generated-imports, pmd-spark, spotless-integration-spark

spark: Address review feedback for Glue DynamicFrame column lineage
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GlueCatalogSchemaResolver.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GlueCatalogSchemaResolverTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: pmd-spark, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
