Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Style stop animation button
  website/src/css/custom.css
  website/src/pages/home.tsx
Due: prettier

Spec job parametrs facet (#4182)
  client/python/redact_fields.yml
  client/python/src/openlineage/client/facet_v2.py
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  spec/facets/ExecutionParametersRunFacet.json
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/execution_parameters.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-0-0/ExecutionParametersRunFacet.json
Due: forbid-attr-s, prettier, check_schemas, test_events, generate_facets, mypy-client-python, spec-changes

spark: Add config for disabling RDD event emitting (#4118)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s, pmd-spark, spotless-integration-spark

spark: Add schema and CLL facets for Snowflake writes (#4124)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageVisitorDelegate.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/vendor/snowflake/README.md
  integration/spark/vendor/snowflake/build.gradle
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeEventHandlerFactory.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: check-version-files, forbid-attr-s, pmd-spark, spotless-integration-spark

Changelog for 1.42.0 release
  CHANGELOG.md
  website/docs/releases/1_42_0.md
Due: forbid-attr-s

Changelog for 1.42.0 release (#4242)
  CHANGELOG.md
  website/docs/releases/1_42_0.md
Due: forbid-attr-s

Prepare for release 1.42.0
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.43.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

fix release issues
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  client/python/tests/test_msk_iam.py
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
  integration/sql/Cargo.toml
  integration/sql/iface-py/script/build.sh
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

Update license headers copyright year to 2026
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: forbid-attr-s, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

manylinux comp
  integration/sql/iface-py/script/build.sh
Due: none

manylinux comp
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Due: none

manylinux comp
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build.sh
Due: none

Apply linter fixes to update license
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
Due: forbid-attr-s, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

fix release issues (#4245)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
  client/python/src/openlineage/client/generated/execution_parameters_run.py
  client/python/tests/test_msk_iam.py
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRddGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlCollector.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeTable.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/SnowflakeColumnLineageVisitorDelegate.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/column/ColumnLevelLineageSnowflakeTest.java
  integration/sql/Cargo.toml
  integration/sql/iface-py/script/build.sh
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

Prepare for release 1.42.1
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

Prepare next development version 1.43.0-SNAPSHOT
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

fix app pmdTest
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
Due: none

Fix META-INF/service files of relocated packages
  integration/spark/build.gradle
Due: check-version-files

more fixes Signed-off-by: tnazarew <tomasz.nazarewicz@getindata.com>
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AggregateExpressionVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/expression/AliasVisitorTest.java
Due: none

more fixes Signed-off-by: tnazarew <tomasz.nazarewicz@getindata.com>
  integration/spark/app/integrations/container/pysparkCLLEnd.json
  integration/spark/app/integrations/container/pysparkCLLStart.json
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionTraverserTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/FilterVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/JoinVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/operator/WindowVisitorTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitorTest.java
Due: prettier

Website: upgrade Docusaurus and fix dark theme (#4159)
  website/.yarn/install-state.gz
  website/package.json
  website/src/css/custom.css
  website/src/pages/home.tsx
  website/yarn.lock
Due: prettier

Fix META-INF/service files of relocated packages (#4243)
  integration/spark/build.gradle
Due: check-version-files

Add logs
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
Due: pmd-spark, spotless-integration-spark

Add logs
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Due: pmd-spark, spotless-integration-spark

Add logs
  integration/spark/build.gradle
Due: check-version-files

spec: more details about data quality assertions
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/tests/example_full_event.json
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/static/spec/facets/1-1-0/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, generate_facets, mypy-client-python

nit: fix order in releases on website
  website/docs/releases/1_42_1.md
Due: forbid-attr-s

nit: fix order in releases on website (#4254)
  website/docs/releases/1_42_1.md
Due: forbid-attr-s

add capturing severity and other test metadata as part of dbt test integration
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/src/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/test/result.json
Due: forbid-attr-s, check-python-generated-imports, prettier, mypy-integration-common

spec: add severity to DQ Assertions facet
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  website/static/spec/facets/1-0-2/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, generate_facets, mypy-client-python

spec: add severity to DQ Assertions facet (#4257)
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  website/static/spec/facets/1-0-2/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, generate_facets, mypy-client-python
