Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

coderabbit suggestions
  integration/spark/Taskfile.yml
Due: none

add ci build, test and integration test
  dev/java-home.sh
  integration/spark/Taskfile.yml
Due: none

set JAVA_HOME for gradle commands
  integration/spark/Taskfile.yml
Due: none

add rerun ci step
  integration/spark/Taskfile.yml
Due: none

spark: isolate external RDD integration test data in S3 (#5047)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTestDataTest.java
Due: none

sql: upgrade sqlparser to 0.63.0 and preserve lineage (#5046)
  integration/sql/README.md
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
  integration/sql/iface-py/tests/python/test_small.py
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/tests_simple.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Due: check-version-files, forbid-attr-s, check-python-generated-imports

spark: handle PostgreSQL dollar quotes, nested comments and $ in JDBC dbtable aliases
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Fix tests
  integration/prefect/src/openlineage_prefect/prefect_adapter/listener.py
  integration/prefect/tests/test_adapter.py
  integration/prefect/tests/test_facets.py
  integration/prefect/tests/test_listener.py
Due: forbid-attr-s, check-python-generated-imports

spark: let the SQL parser tell a single JDBC dbtable subquery from a join
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/JdbcSparkUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Add about and quickstart to integration docs and remove sandbox
  integration/prefect/pyproject.toml
  integration/prefect/sandbox/README.md
  integration/prefect/sandbox/quickstart.py
  website/docs/integrations/prefect/about.md
  website/docs/integrations/prefect/quickstart.md
Due: check-version-files, forbid-attr-s, check-python-generated-imports
