Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

[Flink] Add processing_engine facet (#3726)
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: pmd-flink, pmd-spark

Add Github stars statistics to Readme (#3730)
  README.md
Due: none

[DBT] Document supported adapters (#3729)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: none

Update consumers.tsx
  website/static/ecosystem/consumers.tsx
Due: none

Add files via upload
  website/static/img/Collibra-Logo-RGB.png
Due: none

[DBT] Use adapter rows_affected as outputStatistics
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/spark/thrift/result.json
Due: none

Restyle cardmedia.
  website/src/pages/ecosystem.tsx
Due: none

[DBT] Initial support for Clickhouse
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: none

Add files via upload
  website/static/img/Collibra_logo_RGB.svg
Due: none

Prettify Flink JSON event examples
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: none

Prettify Flink JSON event examples (#3742)
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Due: none

Prettify Airflow JSON event examples
  integration/airflow/tests/integration/data/secrets/connections.json
  integration/airflow/tests/integration/requests/airflow_run_facet/mysql.json
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/requests/bigquery.json
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/dbt_bigquery.json
  integration/airflow/tests/integration/requests/dbt_snowflake.json
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/requests/failed_sql_extraction.json
  integration/airflow/tests/integration/requests/failing/async.json
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/integration/requests/ftp.json
  integration/airflow/tests/integration/requests/gcs.json
  integration/airflow/tests/integration/requests/great_expectations.json
  integration/airflow/tests/integration/requests/mysql.json
  integration/airflow/tests/integration/requests/postgres.json
  integration/airflow/tests/integration/requests/s3copy.json
  integration/airflow/tests/integration/requests/s3transform.json
  integration/airflow/tests/integration/requests/secrets.json
  integration/airflow/tests/integration/requests/sftp.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/source_code.json
  integration/airflow/tests/integration/requests/task_group.json
  integration/airflow/tests/integration/requests/trino.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/common/openlineage/common/provider/data-quality-dataset-facet.json
  integration/common/openlineage/common/provider/ge-assertions-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-run-facet.json
  integration/common/openlineage/common/schema/unknown-source-attribute-run-facet.json
Due: none

Prettify DBT JSON event examples
  integration/common/openlineage/common/schema/dbt-version-run-facet.json
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: none

[Flink] Add facet with Flink jobId
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/FlinkJobDetailsFacet.java
Due: pmd-flink, pmd-spark

Prettify Airflow JSON event examples (#3741)
  integration/airflow/tests/integration/data/secrets/connections.json
  integration/airflow/tests/integration/requests/airflow_run_facet/mysql.json
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/requests/bigquery.json
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/dbt_bigquery.json
  integration/airflow/tests/integration/requests/dbt_snowflake.json
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/requests/failed_sql_extraction.json
  integration/airflow/tests/integration/requests/failing/async.json
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/integration/requests/ftp.json
  integration/airflow/tests/integration/requests/gcs.json
  integration/airflow/tests/integration/requests/great_expectations.json
  integration/airflow/tests/integration/requests/mysql.json
  integration/airflow/tests/integration/requests/postgres.json
  integration/airflow/tests/integration/requests/s3copy.json
  integration/airflow/tests/integration/requests/s3transform.json
  integration/airflow/tests/integration/requests/secrets.json
  integration/airflow/tests/integration/requests/sftp.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/source_code.json
  integration/airflow/tests/integration/requests/task_group.json
  integration/airflow/tests/integration/requests/trino.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/common/openlineage/common/provider/data-quality-dataset-facet.json
  integration/common/openlineage/common/provider/ge-assertions-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-dataset-facet.json
  integration/common/openlineage/common/schema/bq-statistics-run-facet.json
  integration/common/openlineage/common/schema/unknown-source-attribute-run-facet.json
Due: none

Prettify DBT JSON event examples (#3743)
  integration/common/openlineage/common/schema/dbt-version-run-facet.json
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/test/result.json
Due: none

Restyle cardmedia. (#3733)
  website/src/pages/ecosystem.tsx
Due: none

Tweak the Maven signing config
  client/java/build.gradle
Due: none

dbt-ol should not error on job complete if there is no start event
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

dbt-ol should not error on job complete if there is no start event (#3749)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Due: none

[Flink] Add facet with Flink jobId (#3744)
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/FlinkJobDetailsFacet.java
Due: pmd-flink, pmd-spark

[SPEC] Add contentType to documentation facet
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_facet_v2.py
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  spec/tests/DocumentationDatasetFacet/1.json
  spec/tests/DocumentationJobFacet/1.json
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/job-facets/documentation.md
  website/static/spec/facets/1-1-0/DocumentationDatasetFacet.json
  website/static/spec/facets/1-1-0/DocumentationJobFacet.json
Due: spec-changes, pmd-flink, pmd-spark

[DBT] Initial support for Clickhouse (#3739)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Due: none

filter temp inner jobs for bigquery indirect mode
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: spotless-integration-spark

[SPEC] Add contentType to documentation facet (#3748)
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/tests/test_facet_v2.py
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  spec/tests/DocumentationDatasetFacet/1.json
  spec/tests/DocumentationJobFacet/1.json
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/job-facets/documentation.md
  website/static/spec/facets/1-1-0/DocumentationDatasetFacet.json
  website/static/spec/facets/1-1-0/DocumentationJobFacet.json
Due: spec-changes, pmd-flink, pmd-spark

[spark] Update Spark 4 dependency to 4.0.0 (remove -preview1 suffix)
  integration/spark/spark40/build.gradle
Due: none

[SPEC] Add DatabaseHierarchy dataset facet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/database_hierarchy_dataset.py
  client/python/redact_fields.yml
  spec/facets/DatabaseHierarchyDatasetFacet.json
  spec/registry/core/registry.json
  spec/tests/DatabaseHierarchyDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/database_hierarchy.md
  website/static/spec/facets/1-0-0/DatabaseHierarchyDatasetFacet.json
Due: check_schemas, test_events, generate_facets, spec-changes

[spark] Update Spark 4 dependency to 4.0.0 (remove -preview1 suffix) (#3751)
  integration/spark/spark40/build.gradle
Due: none

[Docs] Add documentation for some facets
  spec/registry/core/registry.json
  spec/tests/DatasetTypeDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/facets/job-facets/ownership.md
  website/docs/spec/facets/job-facets/source-code-location.md
  website/docs/spec/facets/job-facets/source-code.md
  website/docs/spec/facets/job-facets/sql.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/error_message.md
  website/docs/spec/facets/run-facets/external_query.md
  website/docs/spec/facets/run-facets/extraction_error.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: check_schemas, generate_facets, spec-changes

filter temp inner jobs for bigquery indirect mode (#3722)
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Due: spotless-integration-spark

[Docs] Add documentation for some facets (#3752)
  spec/registry/core/registry.json
  spec/tests/DatasetTypeDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/facets/job-facets/ownership.md
  website/docs/spec/facets/job-facets/source-code-location.md
  website/docs/spec/facets/job-facets/source-code.md
  website/docs/spec/facets/job-facets/sql.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/error_message.md
  website/docs/spec/facets/run-facets/external_query.md
  website/docs/spec/facets/run-facets/extraction_error.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
Due: check_schemas, generate_facets, spec-changes

Tweak the Maven signing config (#3069)
  client/java/build.gradle
Due: none

Run prettier on .json files
  .pre-commit-config.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink1/src/test/resources/events.jsonl
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events_proto.jsonl
  integration/flink/flink1/src/test/resources/generate_events.sh
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/resources/events.jsonl
  integration/flink/flink2/src/test/resources/generate_events.sh
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
Due: none

Run prettier on .json files (#3750)
  .pre-commit-config.yaml
  integration/flink/flink1/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink1/src/test/resources/events.jsonl
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events_proto.jsonl
  integration/flink/flink1/src/test/resources/generate_events.sh
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/resources/events.jsonl
  integration/flink/flink2/src/test/resources/generate_events.sh
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
Due: none
