Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

Use create release notes script. (#3412)
  .github/workflows/website-new-version.yml
  website/scripts/create_release_notes.py
Due: none

Website: styling for sm displays on community page and img for social links (#3411)
  website/docusaurus.config.js
  website/src/pages/community.tsx
  website/static/img/community-thumb.png
  website/static/img/home-thumb.png
Due: none

Add docs for creating new facets (#3415)
  website/docs/spec/schemas.md
Due: none

Allow to add additional properties in Python client. (#3391)
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/pyproject.toml
  client/python/tests/test_facet_v2.py
Due: none

include offending class information in WriteToDataSourceV2Visitor (#3402)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
Due: spotless-integration-spark

Prepare for release 1.27.0
  client/java/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.28.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

fix concurrent jar upload (#3413)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Due: none

Website: new community page with talks (#3396)
  website/src/pages/community.tsx
  website/src/pages/community/index.mdx
  website/src/pages/ecosystem.tsx
  website/static/img/airflow_summit_v2.png
  website/static/img/boston-meetup.png
  website/static/img/boston_screen.jpg
  website/static/img/buzzwords_2021.png
  website/static/img/buzzwords_2022.png
  website/static/img/buzzwords_2023.png
  website/static/img/data+ai_summit.png
  website/static/img/data_council.png
  website/static/img/data_driven_nyc.png
  website/static/img/github.png
  website/static/img/kafka_summit_v2.png
  website/static/img/london-meetup.png
  website/static/img/newyork-meetup.png
  website/static/img/ocs_2020.png
  website/static/img/oleander_logo_full.svg
  website/static/img/sf-meetup.png
  website/static/img/sf_screen.webp
  website/static/img/slack.png
  website/static/img/toronto-meetup.png
  website/static/img/toronto_screen.png
  website/static/img/tsc_screen.png
  website/static/img/warsaw-meetup.png
  website/static/img/warsaw_screen.png
  website/static/meetups/meetupStrings.tsx
  website/static/talks/talkStrings.tsx
Due: none

Fix detection of spec changes. (#3406)
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
Due: none

add JobType facet to dbt command start/end OL event (#3397)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

Add oleander to contributors (#3385)
  CONTRIBUTORS.md
Due: none

Modify the OpenLineageSparkListener to have a public, single-argument constructor taking an instance of SparkConf (#3425)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: spotless-integration-spark

Fix multiline release body. (#3426)
  .github/workflows/website-new-version.yml
Due: none

add missing link to changelog (#3424)
  CHANGELOG.md
Due: none

detect inputs on start (#3434)
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
Due: spotless-integration-spark

Update Spark extension documentation (#3386)
  website/docs/development/developing/spark/built_in_lineage.md
Due: none

fix ParentRun Facet (#3432)
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

Additional coverage from hive DML (#3430)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitor.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/AlterTableRecoverPartitionsCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitor.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/RepairTableCommandVisitorTest.java
Due: spotless-integration-spark

add initial support for Trino in DBT (#3429)
  integration/common/openlineage/common/provider/dbt/processor.py
Due: none

unsupported catalog should be less verbose (#3435)
  CHANGELOG.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
Due: spotless-integration-spark

enable SSL context for Java client (#3444)
  CHANGELOG.md
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpSslContextConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/resources/log4j.properties
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

Add exclude md flag in check_change function (#3447)
  .circleci/check-changes.sh
  .circleci/config.yml
Due: none

client: Add task queue based async circuit breaker (#3437)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerState.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

spark(OpenLineageContext): Add direct accessors for the LogicalPlan and SparkPlan objects (#3443)
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Due: spotless-integration-spark

Fix docs - async circuit breaker. (#3446)
  website/docs/client/java/partials/java_circuit_breaker.md
Due: none

[SPARK] configurable node filtering (#3442)
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
  website/docs/client/java/partials/java_namespace_resolver.md
  website/docs/integrations/spark/configuration/spark_conf.md
Due: spotless-integration-spark

Add blog post for lineage from code (#3457)
  website/blog/authors.yml
  website/blog/lineage-from-code/index.mdx
Due: none

update installation section of the docs (#3454)
  website/docs/integrations/spark/installation.md
Due: none

fix refresh table command visitor (#3463)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
Due: spotless-integration-spark

fix docs markdown (#3455)
  website/docs/client/java/partials/java_namespace_resolver.md
Due: none

task queue listener metrics (#3459)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

Fix unreleased task queue circuit breaker (#3462)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

[SPARK] Use all of the underlying classloaders to find META-INF/services resources (#3483)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Due: spotless-integration-spark

Add ArrayBuffer support in ParallelCollectionRDDExtractor::extract (#3445) (#3499)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Due: spotless-integration-spark

test-fork (#3504)
  .circleci/config.yml
  dev/filter_matrix.py
Due: none

fix attached node in dbt source tests (#3488)
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/test_source/logs/test_source_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Due: none

deprecate naming spec (#3495)
  spec/Naming.md
Due: spec-changes

set java toolchain & fix spark build deps script (#3481)
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/buildDependencies.sh
Due: none
