Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

spec: make DataQualityAssertionsDatasetFacet a DatasetFacet
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/main/java/io/openlineage/client/dataset/FacetUtils.java
  client/python/src/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/tests/example_full_event.json
  client/python/tests/test_facet_v2.py
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/static/spec/facets/1-2-0/DataQualityAssertionsDatasetFacet.json
Due: forbid-attr-s, check-python-generated-imports, prettier, generate_facets, mypy-client-python, mypy-integration-common, pmd-client-java, spotless-client-java

spec: move dataQualityAssertions out of the input-facet doc lists
  spec/OpenLineage.md
  website/docs/spec/object-model.md
Due: forbid-attr-s, prettier, spec-changes

dbt: keep actual/expected when dropping the duplicate assertions copy
  integration/common/tests/dbt/no_test_metadata/result.json
Due: none

great_expectations: emit a valid producer URI and a tz-aware eventTime
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

spark: emit LOAD DATA source path as input dataset
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitor.java
Due: pmd-spark, spotless-integration-spark

feat(dbt): add top-level dbt invocation events in artifact processor
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): add explicit type annotations for invocation event facets
  integration/common/src/openlineage/common/provider/dbt/processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

test(dbt): update unit test documentation for dbt invocation events
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

test(dbt): remove temporary comment from test_processor.py
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

python: test async transport reuse after wait
  client/python/tests/test_async_http.py
Due: check-python-generated-imports

python: keep async worker alive after wait (#4824)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/tests/test_async_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

great_expectations: emit a valid producer URI and a tz-aware eventTime (#4846)
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

spark: emit LOAD DATA source path as input dataset (#4848)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandInputVisitor.java
Due: pmd-spark, spotless-integration-spark

spark: fix Databricks CTAS output dataset lineage
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/V2CreateTablePlanUtils.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

ci: resolve spec schema refs from the in-repo mirror in jv hooks
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
Due: none

client-python: generate singleton enums as literals
  client/python/src/openlineage/client/generated/lineage.py
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/test_lineage_facet.py
Due: forbid-attr-s, check-python-generated-imports, generate_facets, mypy-client-python

ci: remove temporary collaborator endpoint diagnostic
  .circleci/config.yml
Due: none

spark: fix Databricks CTAS output dataset lineage (#4849)
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/V2CreateTablePlanUtils.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

Skip CI approval for PR authors and project committers (#4843)
  .circleci/config.yml
Due: none

fix(client/java): null-safe facet comparison in ReducedDataset (#4838)
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/test/java/io/openlineage/client/dataset/partition/ReducedDatasetTest.java
Due: pmd-client-java, spotless-client-java

spark: fix Databricks COPY INTO lineage on CopyIntoCommandEdge
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
  integration/spark/spark3/src/test/java/com/databricks/sql/transaction/tahoe/commands/CopyIntoCommandEdge.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtilsTest.java
Due: pmd-spark, spotless-integration-spark

spark: expand COPY INTO SQL parser test coverage
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
Due: none

spark: fix Java 8 compatibility in COPY INTO utils
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
Due: pmd-spark, spotless-integration-spark

sql: preserve lineage through derived PIVOT inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
Due: none

test: harden SSL smoke test and expand COPY INTO SQL parser tests
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
Due: none

sql: preserve lineage through derived PIVOT inputs (#4852)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
Due: none

spark: improve COPY INTO lineage extraction for nested sources and VALIDATE
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
Due: pmd-spark, spotless-integration-spark

feat(dbt): use generate_static_uuid for time-sortable UUIDv7 invocation run IDs
  integration/common/src/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

ci(dbt): retrigger CI pipeline for PR #4847
  integration/common/tests/dbt/test_processor.py
Due: check-python-generated-imports

docs: fix capitalisation of 'open standard' in README overview
  README.md
Due: check-version-files, forbid-attr-s

chore: add trailing newline to spark/build.gradle to trigger Spark CI
  integration/spark/build.gradle
Due: check-version-files

sql: include MERGE predicate subquery inputs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
Due: none

sql: include MERGE predicate subquery inputs (#4855)
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
Due: none

chore: upgrade jackson to 2.18.9 across Java client, Spark, Flink and Hive integrations
  client/java/build.gradle
  client/java/generator/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/hive/hive-openlineage-hook/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

Revert "docs: fix capitalisation of 'open standard' in README overview"
  README.md
Due: check-version-files, forbid-attr-s

Revert "chore: add trailing newline to spark/build.gradle to trigger Spark CI"
  integration/spark/build.gradle
Due: check-version-files

docs: fix broken star history chart
  README.md
Due: check-version-files, forbid-attr-s

spark: tighten COPY INTO VALIDATE detection to avoid false positives
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
Due: pmd-spark, spotless-integration-spark

Test case improvements
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
Due: none

spark: fix Databricks COPY INTO lineage on CopyIntoCommandEdge (#4850)
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtils.java
  integration/spark/spark3/src/test/java/com/databricks/sql/transaction/tahoe/commands/CopyIntoCommandEdge.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CopyIntoCommandOutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoCommandUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/CopyIntoSqlUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/UnityCatalogTableDatasetUtilsTest.java
Due: pmd-spark, spotless-integration-spark
