Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

Website: Add Feast to ecosystem consumers
  website/docs/index.md
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/docs/spec/facets/job-facets/job-type.md
  website/src/pages/home.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/complex-deployments.png
  website/static/img/simple-deployments.png
Due: forbid-attr-s, prettier

stop swallowing actual cause when using CompositeTransport (#4666)
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
Due: pmd-client-java, spotless-client-java

4638 spark: fix Unity Catalog symlink metadata on Databricks (#4660)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/DatabricksUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandlerTest.java
Due: pmd-spark, spotless-integration-spark

fix: upgrade jackson-databind from 2.15.3 to 2.18.8 for CVE-2026-54512 (Spark + Java client)
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

chore: upgrade Java compatibility to 17 for Jackson 2.18.8
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

chore: upgrade Java compatibility to 17 for transport modules
  client/java/transports.build.gradle
Due: check-version-files

chore: upgrade Shadow plugin to 8.3.5 for Java 21 bytecode support
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

revert: scope CVE-2026-54512 fix to Spark modules only
  client/java/build.gradle
  client/java/transports.build.gradle
Due: check-version-files

fix: explicitly declare Jackson 2.18.8 in Spark shared module
  integration/spark/shared/build.gradle
Due: check-version-files

spark: upgrade shadow plugin to 8.3.5 in main build.gradle
  integration/spark/build.gradle
Due: check-version-files

Website: Add Feast to ecosystem consumers (#4670)
  website/docs/index.md
  website/docs/integrations/about.md
  website/docs/integrations/feast.md
  website/docs/spec/facets/job-facets/job-type.md
  website/src/pages/home.tsx
  website/static/ecosystem/consumers.tsx
  website/static/img/complex-deployments.png
  website/static/img/simple-deployments.png
Due: forbid-attr-s, prettier

feat(spark): support open source Unity Catalog (spark40)
  .github/workflows/integration-tests-spark-azure.yml
  .pre-commit-config.yaml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark40/.gitignore
  integration/spark/spark40/build.gradle
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandler.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerNamingTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogAbfssIntegrationTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageConfig.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfssUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AzureDynamicParameter.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ExternalTablesManager.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/LocalStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ReservedPort.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/SparkUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/StorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UcServer.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UnityCatalogTableTestBase.java
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, prettier, pmd-spark, spotless-integration-spark

fix(python): isolate datadog config defaults (#4586)
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix(common): handle trailing command options (#4624)
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(common): preserve nullable chain input (#4627)
  integration/common/src/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

fix(python): support file uri transport paths (#4656)
  client/python/src/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Fix for Missing output lineage for insertInto with append mode
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

4659 Removes append_data_exec_v1 from the Databricks event filter blocklist
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Due: pmd-spark, spotless-integration-spark

Exclude version bumps that break the build or force Java 17+
  integration/spark/DEPENDENCY_EXCLUSIONS.md
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle/wrapper/gradle-wrapper.jar
  integration/spark/gradle/wrapper/gradle-wrapper.properties
  integration/spark/gradlew
  integration/spark/gradlew.bat
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
Due: check-version-files, forbid-attr-s

Revert junit-jupiter 6.1.0 bump in vendor modules (gcp, iceberg, snowflake)
  integration/spark/DEPENDENCY_EXCLUSIONS.md
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Due: check-version-files, forbid-attr-s

revert kafka-clients 4.1.1 -> 4.3.0 bump: lz4-java capability conflict
  integration/spark/DEPENDENCY_EXCLUSIONS.md
  integration/spark/shared/build.gradle
Due: check-version-files, forbid-attr-s

Changes to fix test cases
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

spark: Missing output lineage for insertInto with append mode (#4676)
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
Due: pmd-spark, spotless-integration-spark

fix(great-expectations): preserve datasource url ports
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

Resolve proposal TODOs; collapse to a single LineageJobFacet
  proposals/explicit_lineage_facet/ExplicitLineageExamples.md
  proposals/explicit_lineage_facet/ExplicitLineageProposal.md
  proposals/explicit_lineage_facet/ExplicitLineageSchema.md
Due: forbid-attr-s

feat(spec): Extend ParentRunFacet with parent and root facets
  client/go/pkg/facets/facet_helpers.gen.go
  client/go/pkg/facets/facets.gen.go
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/src/openlineage/client/generated/parent_run.py
  client/python/src/openlineage/client/generator/base.py
  client/python/tests/example_full_event.json
  generator/go/ir/build.go
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/singular_test/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
  spec/tests/ParentRunFacet/2.json
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/tag-facet.md
  website/static/spec/facets/1-2-0/ParentRunFacet.json
Due: forbid-attr-s, prettier, generate_facets, mypy-client-python, pmd-spark, spotless-integration-spark

disable many broken things
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
Due: pmd-spark, spotless-integration-spark

feat(spark): support open source Unity Catalog (spark40) (#3674)
  .github/workflows/integration-tests-spark-azure.yml
  .pre-commit-config.yaml
  integration/spark/.env.template
  integration/spark/Taskfile.yml
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark40/.gitignore
  integration/spark/spark40/build.gradle
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandler.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerNamingTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogAbfssIntegrationTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/lifecycle/plan/catalog/UnityCatalogHandlerTest.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfsStorageConfig.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AbfssUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/AzureDynamicParameter.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ExternalTablesManager.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/LocalStorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/ReservedPort.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/SparkUnityCatalogTestBase.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/StorageBackend.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UcServer.java
  integration/spark/spark40/src/testScala213/java/io/openlineage/spark40/agent/utils/UnityCatalogTableTestBase.java
  website/docs/spec/naming.md
Due: check-version-files, forbid-attr-s, prettier, pmd-spark, spotless-integration-spark

fix(dependabot): correctly exclude spark bumps that break the build
  .github/dependabot.yml
Due: none

fix(dependabot): correctly exclude spark bumps that break the build (#4688)
  .github/dependabot.yml
Due: none

fix(great-expectations): preserve datasource url ports (#4679)
  integration/common/src/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: forbid-attr-s, check-python-generated-imports, mypy-integration-common

changelog for release 1.51.0
  CHANGELOG.md
  website/docs/releases/1_51_0.md
Due: forbid-attr-s

changelog for release 1.51.0 (#4693)
  CHANGELOG.md
  website/docs/releases/1_51_0.md
Due: forbid-attr-s

Prepare for release 1.51.0
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/gradle.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
Due: check-version-files

Prepare next development version 1.52.0-SNAPSHOT
  client/go/pkg/openlineage/version.go
  client/java/gradle.properties
  client/python/pyproject.toml
  client/python/src/openlineage/client/constants.py
  integration/common/pyproject.toml
  integration/common/src/openlineage/common/provider/dbt/utils.py
  integration/dbt/pyproject.toml
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink1/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/flink2/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/hive/gradle.properties
  integration/hive/hive-openlineage-hook/src/main/resources/io/openlineage/hive/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: check-version-files, forbid-attr-s, check-python-generated-imports, mypy-client-python, mypy-integration-common

fix several async transport issues
  client/python/src/openlineage/client/transport/async_http.py
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_async_http.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: restore HTTP debuglevel after emit failure
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

python: restore HTTP debuglevel after emit failure (#4696)
  client/python/src/openlineage/client/transport/http.py
  client/python/tests/test_http.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix several async transport issues (#4694)
  client/python/src/openlineage/client/transport/async_http.py
  client/python/src/openlineage/client/transport/datadog.py
  client/python/tests/test_async_http.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
