Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

add Jakub Moravec to TSC (#4408)
  TECHNICAL_STEERING_COMMITTEE.md
Due: forbid-attr-s

documentation: Adding IBM as OpenLineage producer, and contributor
  CONTRIBUTORS.md
  website/static/ecosystem/producers.tsx
Due: forbid-attr-s, prettier

documentation: Adding IBM as OpenLineage producer, and contributor (#4411)
  CONTRIBUTORS.md
  website/static/ecosystem/producers.tsx
Due: forbid-attr-s, prettier

update jackson version to address security vulnerabilities
  integration/spark/spark35/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/spark33/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/spark34/build.gradle
Due: check-version-files

Update build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

Update build.gradle
  client/java/transports-datazone/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/spark35/build.gradle
Due: check-version-files

updating sdk version
  integration/spark/shared/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/shared/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark-extension-interfaces/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/spark3/build.gradle
Due: check-version-files

Update build.gradle
  integration/spark/spark32/build.gradle
Due: check-version-files

Update build.gradle
  client/java/build.gradle
Due: check-version-files

updating plugin
  integration/spark/build.gradle
Due: check-version-files

updating java to support jackson-core fixed version
  client/java/build.gradle
Due: check-version-files

plugin version revert
  integration/spark/build.gradle
Due: check-version-files

shadow plugin version update
  integration/spark/buildSrc/build.gradle.kts
Due: none

shadow plugin version update-2
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: upgrade to Jackson 2.18.6 and migrate to maintained Shadow plugin
  integration/spark/build.gradle
  integration/spark/buildSrc/build.gradle.kts
Due: check-version-files

chore: trigger CI checks
  .gitignore
Due: none

fix: Update Shadow plugin import in spark app build.gradle
  integration/spark/app/build.gradle
Due: check-version-files

fix: Correct Shadow plugin version to 8.1.8
  integration/spark/buildSrc/build.gradle.kts
Due: none

fix: Revert import to maintain backward compatibility
  integration/spark/app/build.gradle
Due: check-version-files

fix: Revert Java toolchain to 17 to avoid Shadow plugin ASM incompatibility
  client/java/build.gradle
Due: check-version-files

fix: Upgrade to Shadow plugin 9.4.0 to support Java 21 bytecode
  integration/flink/build.gradle
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/flink1/build.gradle
  integration/flink/flink2/build.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/build.gradle.kts
Due: check-version-files

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
