Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*

enable SSL context for Java client (#3444)
  CHANGELOG.md
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpSslContextConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/resources/log4j.properties
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  website/docs/client/java/partials/java_transport.md
Due: pmd-client-java, spotless-client-java

Add task queue based async circuit breaker
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerState.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

fix precommit
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

client: Add task queue based async circuit breaker (#3437)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerState.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

Fix docs - async circuit breaker.
  website/docs/client/java/partials/java_circuit_breaker.md
Due: none

Fix docs - async circuit breaker. (#3446)
  website/docs/client/java/partials/java_circuit_breaker.md
Due: none

Add exclude md flag in check_change function
  .circleci/check-changes.sh
  .circleci/config.yml
Due: none

Add exclude md flag in check_change function (#3447)
  .circleci/check-changes.sh
  .circleci/config.yml
Due: none

fix multi version search
  website/docusaurus.config.js
Due: none

fix multi version search (#3449)
  website/docusaurus.config.js
Due: none

fix docs markdown
  website/docs/client/java/partials/java_namespace_resolver.md
Due: none

fix docs markdown (#3455)
  website/docs/client/java/partials/java_namespace_resolver.md
Due: none

expose metadata from circuit breaker as run facets
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
Due: pmd-client-java, spotless-client-java, spotless-integration-spark

Add blog post for lineage from code
  website/blog/authors.yml
  website/blog/lineage-from-code/index.mdx
Due: none

Add blog post for lineage from code (#3457)
  website/blog/authors.yml
  website/blog/lineage-from-code/index.mdx
Due: none

Fix unreleased task queue circuit breaker
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

task queue listener metrics
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

fix refresh table command visitor
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
Due: spotless-integration-spark

task queue listener metrics (#3459)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
Due: pmd-client-java, spotless-client-java

update installation section of the docs
  website/docs/integrations/spark/installation.md
Due: none

update installation section of the docs (#3454)
  website/docs/integrations/spark/installation.md
Due: none

Fix unreleased task queue circuit breaker (#3462)
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Due: pmd-client-java, spotless-client-java

Workflows for GH Pages.
  .github/workflows/deploy-website.yml
  .github/workflows/test-website.yml
Due: none

fix refresh table command visitor (#3463)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
Due: spotless-integration-spark

adds Select Star as the consumer of OpenLineage
  website/static/ecosystem/consumers.tsx
  website/static/img/select_star_logo.png
Due: none

adds Select Star as the consumer of OpenLineage (#3466)
  website/static/ecosystem/consumers.tsx
  website/static/img/select_star_logo.png
Due: none

enable filtering through transform transport
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/static/ecosystem/consumers.tsx
Due: pmd-client-java, spotless-client-java

enable filtering through transform transport (#3464)
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/static/ecosystem/consumers.tsx
Due: pmd-client-java, spotless-client-java

dataset partitioning proposal
  proposals/3392/dataset_partitioning.md
Due: none

Fix Java transport headers
  website/docs/client/java/partials/java_transport.md
Due: none

Fix Java transport headers (#3468)
  website/docs/client/java/partials/java_transport.md
Due: none

subset dataset facet
  proposals/3470/subset_dataset.md
Due: none

prepare changelog entries for 1.28.0 release
  CHANGELOG.md
Due: none

prepare changelog entries for 1.28.0 release (#3469)
  CHANGELOG.md
Due: none

Prepare for release 1.28.0
  client/java/gradle.properties
  integration/flink-native-listener/gradle.properties
  integration/flink/README.md
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark/gradle.properties
  integration/sql/iface-java/gradle.properties
  proxy/backend/gradle.properties
Due: none

Prepare next development version 1.29.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/pyproject.toml
  client/python/setup.cfg
  integration/airflow/openlineage/airflow/version.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/app/src/test/resources/io/openlineage/flink/client/version.properties
  integration/flink/examples/stateful/gradle.properties
  integration/flink/gradle.properties
  integration/flink/shared/src/test/resources/io/openlineage/flink/client/version.properties
  integration/spark-extension-interfaces/gradle.properties
  integration/spark-extension-interfaces/src/test/resources/io/openlineage/spark/shade/extension/v1/lifecycle/plan/version.properties
  integration/spark/gradle.properties
  integration/spark/spark2/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark3/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
  proxy/backend/gradle.properties
Due: none

Fix flink-native-listener next version
  integration/flink-native-listener/gradle.properties
  new-version.sh
Due: none

Fix flink-native-listener next version (#3473)
  integration/flink-native-listener/gradle.properties
  new-version.sh
Due: none

Docs: add missing 1.27.0 and 1.28.0 release notes.
  website/docs/releases/1_27_0.md
  website/docs/releases/1_28_0.md
Due: none

Docs: add missing 1.27.0 and 1.28.0 release notes. (#3474)
  website/docs/releases/1_27_0.md
  website/docs/releases/1_28_0.md
Due: none
