Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, check-python-generated-imports, prettier, check_schemas, test_events, generate_facets, mypy-client-python, mypy-integration-common, mypy-integration-airflow, mypy-integration-dbt, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: system
  entry: bash -c 'grep -n -E "@attr\.s" "$@" && exit 1 || rc=$?; if [ $rc -eq 1 ]; then exit 0; else exit $rc; fi' --

check-python-generated-imports:
  name: Check python imports from generated modules
  description: Checks if objects are correctly imported in python from event_v2 and facet_v2 modules
  language: system
  ...

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/src/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.12.10
  - click
  - datamodel-code-generator==0.33.0

mypy-client-python:
  name: mypy type check - Python client
  language: system
  entry: bash -c 'cd client/python && uv sync --extra dev && uv run mypy --explicit-package-bases src'
  pass_filenames: false

mypy-integration-common:
  name: mypy type check - Integration common
  language: system
  entry: bash -c 'cd integration/common && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-airflow:
  name: mypy type check - Airflow integration
  language: system
  entry: bash -c 'cd integration/airflow && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

mypy-integration-dbt:
  name: mypy type check - dbt integration
  language: system
  entry: bash -c 'cd integration/dbt && uv sync --extra dev && uv run mypy --ignore-missing-imports src'
  pass_filenames: false

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

fix cargo versioning
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: none

nit: fix cte sqlparser test failing in CI (#4199)
  integration/common/tests/sql/test_parser.py
Due: check-python-generated-imports

nit: group website dependabot updates and add skip-changelog label automation (#4200)
  .github/boring-cyborg.yml
  .github/dependabot.yml
Due: none

fix cargo versioning (#4201)
  integration/sql/.bumpversion.cfg
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/impl/Cargo.toml
Due: none

gate log behind additional flag, log the exception
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
Due: pmd-spark, spotless-integration-spark

change version of gcplineage transport and update imports (#3768)
  client/java/.gitignore
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
Due: check-version-files

dev: improve releasing docs
  .gitignore
  .pre-commit-config.yaml
  .pre_commit/check_version_update_path.sh
  RELEASING.md
  release.sh
Due: forbid-attr-s, prettier

dev: improve releasing docs (#4211)
  .gitignore
  .pre-commit-config.yaml
  .pre_commit/check_version_update_path.sh
  RELEASING.md
  release.sh
Due: forbid-attr-s, prettier

chore: remove automation for skip-changelog label
  .github/boring-cyborg.yml
Due: none

chore: remove automation for skip-changelog label (#4213)
  .github/boring-cyborg.yml
Due: none

fix PMD issues and integration test failures
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: pmd-client-java, spotless-client-java

fix test cases
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix PMD issues
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
Due: none

remove GravitinoJDBCHandler, GravitinoIcebergHandler and related codes
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

add more test for gravitino integration in spark
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoCatalogMappingTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandlerTest.java
Due: none

use DatasetSymlink for fileset facets
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

add debugging info
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix a build config issue in client/java/transports-s3/build.gradle
  client/java/transports-s3/build.gradle
Due: check-version-files

fix precommit check error
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandlerTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Revert "use DatasetSymlink for fileset facets"
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Revert "fix a build config issue in client/java/transports-s3/build.gradle"
  client/java/transports-s3/build.gradle
Due: check-version-files

cache gravitinoInfo
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
Due: pmd-client-java, spotless-client-java

fix prek reported issue
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: pmd-spark, spotless-integration-spark

code refine and add documentation in spark README.md
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/README.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
Due: check-version-files, forbid-attr-s, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix java code style issues
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix PMD issues
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
Due: pmd-client-java, spotless-client-java

support Lineage for Gravitino spark connector
  client/java/src/main/java/io/openlineage/client/gravitino/GravitinoFacets.java
  client/java/src/main/java/io/openlineage/client/utils/GravitinoUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GVFSFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/gvfs/GVFSUtils.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfo.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/SparkGravitinoInfoProvider.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/GVFSUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGVFS.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GravitinoUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoIcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/GravitinoJDBCHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Due: check-version-files, pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

fix issue reported by pmdTests
  integration/spark/GRAVITINO_QUICKSTART.md
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: forbid-attr-s

fix integration/common/tests/sql/test_parser.py
  integration/common/tests/sql/test_parser.py
Due: check-python-generated-imports

Revert "fix integration/common/tests/sql/test_parser.py"
  integration/common/tests/sql/test_parser.py
Due: check-python-generated-imports

Add `spark.openlineage.applicationRunId` override
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: pmd-spark, spotless-integration-spark

Add `spark.openlineage.applicationRunId` override (#4215)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
Due: pmd-spark, spotless-integration-spark

Add `spark.openlineage.applicationRunId` to spark conf docs
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s

Add `spark.openlineage.applicationRunId` to spark conf docs (#4217)
  website/docs/integrations/spark/configuration/spark_conf.md
Due: forbid-attr-s

show what transport failed to create
  client/python/src/openlineage/client/transport/factory.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

show what transport failed to create (#4220)
  client/python/src/openlineage/client/transport/factory.py
Due: forbid-attr-s, check-python-generated-imports, mypy-client-python

fix spark type error on main
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Due: pmd-spark, spotless-integration-spark

fix spark type error on main
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Due: none

remove catalogMapping and useGravitinoIdentifier
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfo.java
  client/java/src/main/java/io/openlineage/client/utils/gravitino/GravitinoInfoProviderImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProvider.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GravitinoUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkGravitinoInfoProviderTest.java
Due: pmd-client-java, pmd-spark, spotless-client-java, spotless-integration-spark

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/src/openlineage/client/facet\.py |
  client/python/src/openlineage/client/run\.py
)$

  check-python-generated-imports: any of: \.py$, but not: (?x)^(
  client/python/src/openlineage/client/generated/.* |
  client/python/src/openlineage/client/facet_v2\.py |
  client/python/src/openlineage/client/event_v2\.py |
  client/python/src/openlineage/client/generator/base\.py |
  client/python/tests/generator/test_base\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/src/openlineage/client/facet.*\.py$|^client/python/src/openlineage/client/event_v2\.py$|^client/python/src/openlineage/client/generat.*|^client/python/redact_fields\.yml$, but not: ^spec/tests/.*$
  mypy-client-python: any of: ^client/python/src/.*\.py$
  mypy-integration-common: any of: ^integration/common/src/.*\.py$
  mypy-integration-airflow: any of: ^integration/airflow/src/.*\.py$|^integration/airflow/openlineage/.*\.py$
  mypy-integration-dbt: any of: ^integration/dbt/src/.*\.py$|^integration/dbt/openlineage/.*\.py$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
