Repository OpenLineage/OpenLineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-files, forbid-attr-s, prettier, check_schemas, test_events, generate_facets, spec-changes, pmd-client-java, pmd-flink, pmd-spark, spotless-client-java, spotless-integration-spark

check-version-files:
  name: Check version file paths in new-version.sh
  description: Verifies that file paths in new-version.sh exist and are only defined in that file
  language: script
  entry: .pre_commit/check_version_update_path.sh
  pass_filenames: false

forbid-attr-s:
  name: Check for @attr.s
  description: Checks if @attr.s is used instead of desired @attr.define
  language: pygrep
  entry: '@(attr\.s|s)(\s|\n|\()'

prettier:
  name: prettier
  description: ''
  entry: prettier --write --ignore-unknown
  args:
  - --print-width=120
  - --prose-wrap=always
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.5.2

check_schemas:
  name: Check JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/check-spec.sh

test_events:
  name: Test events against JSON Schema spec files.
  language: golang
  additional_dependencies:
  - github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
  entry: ./.pre_commit/json-schema/test-facets.sh

generate_facets:
  name: Generate OpenLineage facets for Python client.
  language: python
  entry: python ./client/python/openlineage/client/generator/generate.py
  pass_filenames: false
  additional_dependencies:
  - ruff==0.3.5
  - click
  - datamodel-code-generator==0.25.4

spec-changes:
  name: Verify spec changes committed to website
  language: script
  entry: .pre_commit/run-spec-snapshot.sh
  pass_filenames: false

pmd-client-java:
  name: pmd-client-java
  description: Runs the PMD static code analyzer - Java client.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file client/java/pmd-openlineage.xml
  require_serial: true

pmd-flink:
  name: pmd-flink
  description: Runs the PMD static code analyzer - Flink
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/flink/pmd-openlineage.xml
  require_serial: true

pmd-spark:
  name: pmd-spark
  description: Runs the PMD static code analyzer - Spark.
  language: script
  entry: .pre_commit/run-pmd.sh --java-version 17 --ruleset-file integration/spark/pmd-openlineage.xml
  require_serial: true

spotless-client-java:
  name: spotless-client-java
  description: Runs the Spotless formatter - Java client.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location client/java
  pass_filenames: false

spotless-integration-spark:
  name: spotless-integration-spark
  description: Runs the Spotless formatter - Spark.
  language: system
  entry: .pre_commit/run-spotless.sh --java-version 17 --location integration/spark
  pass_filenames: false

(python) fix tags config
  client/python/openlineage/client/client.py
  client/python/openlineage/client/tags.py
  client/python/tests/test_client.py
Due: forbid-attr-s

(python) fix tags config (#3943)
  client/python/openlineage/client/client.py
  client/python/openlineage/client/tags.py
  client/python/tests/test_client.py
Due: forbid-attr-s

add javadoc to sql/iface-java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ExtractionError.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/QuoteStyle.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/SqlMeta.java
Due: none

Fixes vendors parsing in SparkOpenLineageConfig
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

Spark - Transformation Info blows memory usage
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: forbid-attr-s, spotless-integration-spark

Fix vendors parsing in SparkOpenLineageConfig (#3947)
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Due: spotless-integration-spark

re-enable testScalaUnionRddToParquet and testKafka2KafkaStreamingProducesInputAndOutputDatasets
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Due: none

fix pmdTest error; update configureScalaVariant for spark 4
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/scala-fixtures/build.gradle.kts
Due: none

Add schema size size limit for column level lineage processing
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsTest.java
Due: spotless-integration-spark

Add schema size size limit for column level lineage processing (#3949)
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsTest.java
Due: spotless-integration-spark

update slack join link
  CODE_QUALITY_AND_SECURITY.md
  GOVERNANCE.md
  README.md
  website/blog/0.1-release/index.mdx
  website/blog/nyc-meetup/index.mdx
  website/blog/openlineage-snowflake/index.mdx
  website/blog/python-client/index.mdx
  website/docs/guides/airflow-quickstart.md
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/dbt.md
  website/docs/integrations/great-expectations.md
  website/docs/integrations/trino.md
  website/docusaurus.config.js
  website/src/pages/community.tsx
  website/src/pages/getting-started/index.mdx
  website/src/pages/home.tsx
Due: check-version-files, forbid-attr-s, prettier

update slack join link (#3951)
  CODE_QUALITY_AND_SECURITY.md
  GOVERNANCE.md
  README.md
  website/blog/0.1-release/index.mdx
  website/blog/nyc-meetup/index.mdx
  website/blog/openlineage-snowflake/index.mdx
  website/blog/python-client/index.mdx
  website/docs/guides/airflow-quickstart.md
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/dbt.md
  website/docs/integrations/great-expectations.md
  website/docs/integrations/trino.md
  website/docusaurus.config.js
  website/src/pages/community.tsx
  website/src/pages/getting-started/index.mdx
  website/src/pages/home.tsx
Due: check-version-files, forbid-attr-s, prettier

fix failing test on CI - give it more time
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: none

fix failing test on CI - give it more time (#3952)
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: none

Ruff formatting
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

Updating version?
  client/python/setup.cfg
Due: none

Reverting changes
  client/python/setup.cfg
Due: none

add javadoc to sql/iface-java (#3945)
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ExtractionError.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/QuoteStyle.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/SqlMeta.java
Due: none

fix failing test on CI - give it more time (#3954)
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilderTest.java
Due: none

update config default reading
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: spotless-integration-spark

Spark - CLL performance improvements (#3946)
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Due: forbid-attr-s, spotless-integration-spark

Spark 4 - fix context facetory
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
Due: spotless-integration-spark

Relocate Spark4CompatUtils.java file
  integration/spark/app/src/main/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
Due: spotless-integration-spark

spotlessApply
  integration/spark/app/src/main/java/io/openlineage/spark/agent/Spark4CompatUtils.java
Due: spotless-integration-spark

Spark 4 - fix context facetory (#3934)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
Due: spotless-integration-spark

Python: Change gzip compression level in HtptTransport
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/http.py
Due: forbid-attr-s

Python: Change gzip compression level in HtptTransport (#3956)
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/http.py
Due: forbid-attr-s

fix rust build due to warning in rust 1.89.0
  integration/sql/impl/src/context/mod.rs
Due: none

fix rust build due to warning in rust 1.89.0 (#3957)
  integration/sql/impl/src/context/mod.rs
Due: none

add an option to override dbt job name
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/tests/integration/test_integration.py
  integration/dbt/tests/integration/test_structured_logs.py
  integration/dbt/tests/test_main.py
  website/docs/integrations/dbt.md
Due: forbid-attr-s

add datadog transport
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
Due: forbid-attr-s

spark: added Iceberg WriteDelta and WriteIcebergDelta support for merge-on-read tables
  integration/spark/app/integrations/container/pysparkV2DeleteCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilderTest.java
Due: prettier, spotless-integration-spark

fix: use correct namespace for dbt externalQuery facet
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

add datadog transport
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/datadog.py
  client/python/tests/test_datadog.py
  website/docs/client/python.md
Due: forbid-attr-s

spark: added a delay to work around test flakiness
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Due: none

fix: use correct namespace for dbt externalQuery facet (#3953)
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_processor.py
Due: forbid-attr-s

Path conditions:
  check-version-files: any of: new-version\.sh$|\.gradle$|gradle\.properties$|README\.md$|version\.properties$
  forbid-attr-s: any of: \.(py|md)$, but not: (?x)^(
  .*tests.* |
  client/python/openlineage/client/facet\.py |
  client/python/openlineage/client/run\.py
)$

  prettier: any of: ^spec/|\.ts$|\.tsx$|^website.*\.js$|^website.*\.jsx$|\.css$|^\..*\.yaml$|\^\..*\.yml$|^integration/.*\.json$, but not: run_results\.json|manifest\.json|catalog\.json|metadata/.*\.json|bigquery/.*\.json|data/great_expectations/|integration/airflow/tests/extractors/|test_data/serde/
  check_schemas: any of: ^spec/.*\.json$, but not: ^spec/tests/.*$
  test_events: any of: ^spec/facets/.*\.json$
  generate_facets: any of: ^spec/.*\.json$|^client/python/facets\.py$, but not: ^spec/tests/.*$
  spec-changes: any of: ^spec/, but not: .*tests.*
  pmd-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  pmd-flink: any of: ^integration/flink/.*\.java$, but not: .*test.*
  pmd-spark: any of: ^integration/flink/.*\.java$, but not: .*test.*
  spotless-client-java: any of: ^client/java/src/.*\.java$, but not: .*test.*
  spotless-integration-spark: any of: ^integration/spark/.*\.java$, but not: .*test.*
