Repository OpenLineage/OpenLineage: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-all, build-all-java, build-all-python, build-airflow, build-dagster, build-dbt

fixed mypy to only perform analytics on openlineage directory
  .circleci/continue_config.yml
  client/python/setup.cfg
  integration/airflow/setup.cfg
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
Due: build-all-python

added --install-types to the mypy command
  .circleci/continue_config.yml
Due: none

added --ignore-missing-imports to mypy
  .circleci/continue_config.yml
Due: none

added types-* packages required by the python client
  client/python/setup.py
Due: build-all-python

removed trailing whitespaces
  client/python/setup.py
Due: build-all-python

applied necessary type packages for integration common. also added entry to CHANGELOG.md
  CHANGELOG.md
  integration/common/setup.py
Due: none

implemented fixes for the problems reported by mypy
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
Due: build-all-python

fixed multiple imports on one line.
  client/python/openlineage/client/transport/factory.py
Due: build-all-python

applied ignores to certain codes
  client/python/openlineage/client/run.py
Due: build-all-python

code changes related to fixing problems reported by mypy for dagster integration
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.cfg
Due: none

add spotbugs to spark/build.gradle
  integration/spark/build.gradle
Due: none

add missing Spotbugs dependency in build.gradle
  integration/spark/build.gradle
Due: none

add missing dependencies to Spotbugs task in build.gradle
  integration/spark/build.gradle
Due: none

fix dependency in Spotbugs task in build.gradle
  integration/spark/build.gradle
Due: none

snowflake: reuse connections in airflow extractors
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_dbapi_utils.py
  integration/airflow/tests/extractors/test_mysql_extractor.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/tests/sql/test_parser.py
  integration/sql/tests/tests_copy.rs
Due: none

snowflake: reuse connections in airflow extractors (#819)
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_dbapi_utils.py
  integration/airflow/tests/extractors/test_mysql_extractor.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/tests/sql/test_parser.py
  integration/sql/tests/tests_copy.rs
Due: none

clients: add OPENLINEAGE_DISABLED environment variable which overrides config to NoopTransport
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/Environment.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/noop.py
  client/python/tests/test_factory.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: build-all-java, build-all-python

Made listener thread use a queue rather than spinning up many new threads
  integration/airflow/openlineage/airflow/listener.py
Due: none

fix static code analysis errors for issue #804
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/openlineage/common/utils.py
Due: none

formatting fixes
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/dbt.py
Due: none

Added test for hanging extractor that sleeps for 30 seconds before returning
  .circleci/continue_config.yml
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_failure.py
Due: none

formatting fixes
  integration/common/openlineage/common/provider/dbt.py
Due: none

clients: add OPENLINEAGE_DISABLED environment variable which overrides config to NoopTransport (#780)
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/Environment.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/noop.py
  client/python/tests/test_factory.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: build-all-java, build-all-python

fixed incorrect import statement for DbTableMeta
  integration/common/openlineage/common/models.py
Due: none

Made listener thread use a queue rather than spinning up many new thr… (#820)
  .circleci/continue_config.yml
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_failure.py
Due: none

Update changelog for 0.9.0
  CHANGELOG.md
Due: none

Prepare for release 0.9.0
  client/java/README.md
  client/java/gradle.properties
  integration/spark/README.md
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java

Prepare next development version 0.10.0
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/Cargo.toml
  proxy/gradle.properties
Due: build-all-java, build-all-python

fixed a bug in _get_tables
  integration/common/openlineage/common/provider/bigquery.py
Due: none

Fixes for the problems reported by mypy on common package.
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/openlineage/common/utils.py
Due: none

fixes for issue #805 - airflow integration related fixes for problems reported by mypy
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
Due: none

added additional fixes
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/utils.py
Due: none

move mypy next to flake8 so that static analysis can happen before expensive unit tests
  .circleci/continue_config.yml
Due: none

sql: add compilation instructions in README.md
  integration/sql/README.md
Due: none

spark: spark version tag
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/DeltaDataSourceTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DeltaDataSourceTest.java
Due: none

great expectations: do not always require sqlalchemy
  integration/common/openlineage/common/provider/great_expectations/action.py
Due: none

code changes related to fixing problems reported by mypy for dagster integration (#811)
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.cfg
Due: none

Path conditions:
  build-all: any of: spec/.*
  build-all-java: (any of: client/java/.*) or (any of: integrations/spark/.*)
  build-all-python: any of: client/python/.*
  build-airflow: (any of: integrations/common/.*) or (any of: integrations/airflow/.*)
  build-dagster: any of: integrations/dagster/.*
  build-dbt: any of: integrations/dbt/.*
