Repository OpenLineage/OpenLineage: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-all, build-all-java, build-all-python, build-airflow, build-dagster, build-dbt

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.2.0

workflows:
  schedule_workflow:
    jobs:
      - continuation/continue:
          configuration_path: ./continue_config.yml
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+){2}(-rc\.[0-9]+)?$/
            branches:
              only: main

      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      # This only triggers on branches other than main and never for tags
      - path-filtering/filter:
          filters:
            branches:
              ignore: main
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            spec/.* build-all true
            client/java/.* build-all-java true
            integrations/spark/.* build-all-java true
            client/python/.* build-all-python true
            integrations/common/.* build-airflow true
            integrations/airflow/.* build-airflow true
            integrations/dagster/.* build-dagster true
            integrations/dbt/.* build-dbt true
          base-revision: main
          config-path: .circleci/continue_config.yml

Add logical plan facet to RunEvents emitted for JobStart events
  integration/spark/src/main/common/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilder.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilderTest.java
Due: none

Add check for SQLExecutionRDD class before adding visitor in factory
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/VisitorFactory.java
Due: none

Configure mockserver client to only print errors to avoid extraneous warnings in logs
  integration/spark/build.gradle
Due: none

Delta improvements (#626)
  integration/spark/build.gradle
  integration/spark/src/main/common/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilder.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/VisitorFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/AbstractRDDNodeVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/AppendDataDatasetBuilder.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilderTest.java
Due: none

enable support Spark 3.2.1
  .circleci/workflows/openlineage-java.yml
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionStart.json
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/src/test/resources/spark_scripts/spark_delta.py
  integration/spark/src/test/resources/spark_scripts/spark_v2_replace_table.py
  integration/spark/src/test/resources/spark_scripts/spark_write_delta_table_version.py
Due: none

enable support Spark 3.2.1 (#607)
  .circleci/workflows/openlineage-java.yml
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionStart.json
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/src/test/resources/spark_scripts/spark_delta.py
  integration/spark/src/test/resources/spark_scripts/spark_v2_replace_table.py
  integration/spark/src/test/resources/spark_scripts/spark_write_delta_table_version.py
Due: none

Issue 633, fixing wait-for-it.sh
  integration/spark/docker/wait-for-it.sh
Due: none

canonical name impl
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_parser.py
  integration/sql/src/lib.rs
  integration/sql/tests/test_utils/mod.rs
  integration/sql/tests/tests_cte.rs
  integration/sql/tests/tests_insert.rs
  integration/sql/tests/tests_merge.rs
  integration/sql/tests/tests_select.rs
  integration/sql/tests/tests_tpcds.rs
Due: none

Fixing issue 633, with wait-for-it.sh
  integration/spark/docker/wait-for-it.sh
Due: none

Support Spark 2.4's SQL DW Connector
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
Due: none

Fixing Spark2 Implementation of SqlDWDatatbricksVisitor
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

process CREATE TABLE
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  .circleci/workflows/openlineage-rust.yml
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_parser.py
  integration/sql/Cargo.toml
  integration/sql/src/lib.rs
  integration/sql/tests/tests_create.rs
  integration/sql/tests/tests_insert.rs
  integration/sql/tests/tests_merge.rs
  integration/sql/tests/tests_select.rs
  integration/sql/tests/tests_tpcds.rs
Due: none

python: drop 3.6
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-dagster.yml
  client/python/setup.py
  integration/airflow/README.md
  integration/airflow/setup.py
  integration/common/setup.py
  integration/dagster/README.md
  integration/dagster/setup.py
  integration/dbt/README.md
  integration/dbt/setup.py
Due: build-all-python

python: drop 3.6 (#625)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-dagster.yml
  client/python/setup.py
  integration/airflow/README.md
  integration/airflow/setup.py
  integration/common/setup.py
  integration/dagster/README.md
  integration/dagster/setup.py
  integration/dbt/README.md
  integration/dbt/setup.py
Due: build-all-python

Prepare for release 0.6.2
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/gradle.properties
Due: build-all-java, build-all-python

transport: add for python
  .gitignore
  CHANGELOG.md
  client/python/openlineage/client/__init__.py
  client/python/openlineage/client/client.py
  client/python/openlineage/client/constants.py
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/setup.py
  client/python/tests/__init__.py
  client/python/tests/openlineage.yml
  client/python/tests/test_client.py
  client/python/tests/test_factory.py
  client/python/tests/test_http.py
  client/python/tests/test_kafka.py
  client/python/tests/transport.py
  integration/airflow/tests/test_openlineage_adapter.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
  integration/dagster/tests/test_adapter_client.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
Due: build-all-python

transport: code review fixes
  client/python/README.md
  client/python/openlineage/client/client.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/tests/config/config.yml
  client/python/tests/test_factory.py
  client/python/tests/test_http.py
  client/python/tests/test_kafka.py
  client/python/tests/transport.py
  integration/dagster/tests/test_adapter_client.py
Due: build-all-python

sql: parser in rust
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  .circleci/workflows/openlineage-integration-dagster.yml
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/test_openlineage_dag.py
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/setup.py
  integration/common/tests/sql/test_parser.py
  integration/common/tests/sql/test_tpcds.py
  integration/common/tests/test_dataset.py
  integration/common/tests/test_models.py
  integration/sql/.gitignore
  integration/sql/Cargo.toml
  integration/sql/Dockerfile
  integration/sql/README.md
  integration/sql/build.rs
  integration/sql/pyproject.toml
  integration/sql/requirements.txt
  integration/sql/script/build.sh
  integration/sql/src/bigquery.rs
  integration/sql/src/lib.rs
  integration/sql/test_python.sh
  integration/sql/tests/python/test_small.py
  integration/sql/tests/test_utils/mod.rs
  integration/sql/tests/tests_create.rs
  integration/sql/tests/tests_cte.rs
  integration/sql/tests/tests_insert.rs
  integration/sql/tests/tests_merge.rs
  integration/sql/tests/tests_select.rs
  integration/sql/tests/tests_tpcds.rs
Due: none

Http and Kafka transports for python client (#530)
  .gitignore
  CHANGELOG.md
  client/python/README.md
  client/python/openlineage/client/__init__.py
  client/python/openlineage/client/client.py
  client/python/openlineage/client/constants.py
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/setup.py
  client/python/tests/__init__.py
  client/python/tests/config/config.yml
  client/python/tests/openlineage.yml
  client/python/tests/test_client.py
  client/python/tests/test_factory.py
  client/python/tests/test_http.py
  client/python/tests/test_kafka.py
  client/python/tests/transport.py
  integration/airflow/tests/test_openlineage_adapter.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
  integration/dagster/tests/test_adapter_client.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
Due: build-all-python

Fix SqlDwDatabricksVisitor for Spark2 (#630)
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Due: none

spark: remove deprecated agent approach
  integration/spark/README.md
  integration/spark/build.gradle
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/SparkAgent.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/DatasetSource.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/BigQueryRelationTransformer.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/PairRDDFunctionsTransformer.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/SparkContextTransformer.java
  integration/spark/src/main/common/java/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/spark2/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/src/main/spark2/java/io/openlineage/spark2/agent/lifecycle/plan/DatasetSourceVisitor.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
Due: none

spark: remove deprecated agent approach (#639)
  integration/spark/README.md
  integration/spark/build.gradle
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/SparkAgent.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/DatasetSource.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/BigQueryRelationTransformer.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/PairRDDFunctionsTransformer.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/transformers/SparkContextTransformer.java
  integration/spark/src/main/common/java/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/spark2/java/io/openlineage/spark/agent/lifecycle/Spark2VisitorFactoryImpl.java
  integration/spark/src/main/spark2/java/io/openlineage/spark2/agent/lifecycle/plan/DatasetSourceVisitor.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
Due: none

add dataset provider facet
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  spec/facets/StorageDatasetFacet.json
Due: build-all

fix loading events
  integration/airflow/tests/integration/docker/up-2.sh
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_integration.py
Due: none

add dataset provider facet (#620)
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  spec/facets/StorageDatasetFacet.json
Due: build-all

sql: change parser API for unified parser
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/test_openlineage_dag.py
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_parser.py
  integration/common/tests/sql/test_tpcds.py
  integration/common/tests/test_dataset.py
  integration/common/tests/test_models.py
Due: none

sql: change parser API for unified parser (#643)
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/test_openlineage_dag.py
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_parser.py
  integration/common/tests/sql/test_tpcds.py
  integration/common/tests/test_dataset.py
  integration/common/tests/test_models.py
Due: none

airflow: remove redundant logging from GE import
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
Due: none

fix: shebang in spark's wait-for-it.sh
  integration/spark/docker/wait-for-it.sh
Due: none

fix: shebang in spark's wait-for-it.sh (#658)
  integration/spark/docker/wait-for-it.sh
Due: none

airflow: remove redundant logging from GE import (#657)
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
Due: none

Create README.md
  integration/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

airflow: import extractors based on operator classnames
  CHANGELOG.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/tests/extractors/test_extractors.py
Due: none

airflow: import extractors based on operator classnames (#656)
  CHANGELOG.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/tests/extractors/test_extractors.py
Due: none

Update README.md
  integration/README.md
Due: none

README.md to contain compatibility matrix table of integrations
  integration/README.md
Due: none
