Repository OpenLineage/OpenLineage: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-all, build-all-java, build-all-python, build-airflow, build-dagster, build-dbt

Add docs for emit error handling
  client/java/README.md
Due: build-all-java

Add yaml config to README.md
  client/java/README.md
Due: build-all-java

Update README.md with new builder method for query params
  client/java/README.md
Due: build-all-java

Config client using transport
  client/java/README.md
Due: build-all-java

Add HTTP and Kafka transports
  client/java/build.gradle
  client/java/openlineage.example.yml
  client/java/settings.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientException.java
  client/java/src/main/java/io/openlineage/client/OpenLineageHttp.java
  client/java/src/main/java/io/openlineage/client/OpenLineageHttpException.java
  client/java/src/main/java/io/openlineage/client/OpenLineageYaml.java
  client/java/src/main/java/io/openlineage/client/Utils.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleConfig.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaConfig.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/java/io/openlineage/client/transports/TransportFactory.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageHttpTest.java
  client/java/src/test/java/io/openlineage/client/UtilsTest.java
Due: build-all-java

Add 'Defining Your Own Transport' section
  client/java/README.md
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Due: build-all-java

Update changelog for parent uuid
  CHANGELOG.md
Due: none

Update parent_run_id to be a uuid from the dag name and run_id
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/dag.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/airflow/tests/test_openlineage_dag.py
Due: none

Update parent_run_id to be a uuid from the dag name and run_id (#664)
  CHANGELOG.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/dag.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/airflow/tests/test_openlineage_dag.py
Due: none

Update action.py to work with Great Expectations V3 API.
  integration/common/openlineage/common/provider/great_expectations/action.py
Due: none

Add GE V3 API test written by Michael Collado
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: none

Remove logging that failed a test
  integration/common/openlineage/common/provider/great_expectations/action.py
Due: none

Fix action.py to pass test_dataset_from_sql_source_v3_api
  integration/common/openlineage/common/provider/great_expectations/action.py
Due: none

Remove unused engine and ds variables
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: none

Update changelog for 0.7.0
  CHANGELOG.md
Due: none

Prepare for release 0.7.0
  client/java/gradle.properties
  integration/spark/README.md
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java

Prepare next development version 0.8.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/gradle.properties
  integration/spark/src/test/resources/io/openlineage/spark/agent/client/version.properties
  proxy/gradle.properties
Due: build-all-java, build-all-python

Update README.md
  integration/README.md
Due: none

Adding naming conventions around Azure services
  spec/Naming.md
Due: build-all

[Integration][Great Expectations] Make Openlineage Validation Action V3 API Compatible (#659)
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Due: none

column level lineage
  proposals/148/column_level_lineage.md
Due: none

column lineage specification
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  spec/facets/ColumnLineageDatasetFacet.json
Due: build-all

fix build and upgrade to Gradle 7.4
  .gitignore
  client/java/.gitignore
  client/java/README.md
  client/java/build.gradle
  client/java/generator/build.gradle
  client/java/gradle/wrapper/gradle-wrapper.jar
  client/java/gradle/wrapper/gradle-wrapper.properties
  client/java/gradlew
  client/java/gradlew.bat
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/ConfigPathProvider.java
  client/java/src/main/java/io/openlineage/client/DefaultConfigPathProvider.java
  client/java/src/main/java/io/openlineage/client/Utils.java
  client/java/src/main/java/io/openlineage/client/transports/ApiKeyTokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProvider.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/http.yaml
  integration/spark/build.gradle
  integration/spark/gradle/wrapper/gradle-wrapper.properties
  integration/spark/gradlew.bat
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/MatchesMapRecursively.java
Due: build-all-java

[INTEGRATION][SPARK] Fix spotless error in the Spark integration
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
Due: none

[INTEGRATION][SPARK] Fix timezone inconsistency in testSerializeRunEvent
  integration/spark/src/test/common/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
Due: none

Update README.md (#669)
  integration/README.md
Due: none

fix the dbt run event to produce zoned event times
  integration/dbt/scripts/dbt-ol
Due: none

provide DatasetFactory class with context
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/QueryPlanVisitor.java
  integration/spark/src/main/spark2/java/io/openlineage/spark/agent/lifecycle/Spark2DatasetBuilderFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitorTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Due: none

fix the dbt run event to produce zoned event times (#682)
  integration/dbt/scripts/dbt-ol
Due: none

[INTEGRATION][SPARK] Fix timezone inconsistency in testSerializeRunEvent (#681)
  integration/spark/src/test/common/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
Due: none

[INTEGRATION][SPARK] Update README to explain dependency installation
  integration/spark/README.md
Due: none

[INTEGRATION][SPARK] Update README to explain dependency installation (#686)
  integration/spark/README.md
Due: none

Fix CircleCI to generate config for release tags
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Fix CircleCI to generate config for release tags (#687)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Update changelog for 0.7.1
  CHANGELOG.md
Due: none

Prepare for release 0.7.1
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/README.md
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java, build-all-python

Prepare next development version 0.8.0-SNAPSHOT
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java, build-all-python

great expectations: make integration work with both APIs
  integration/airflow/setup.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/setup.py
Due: none

great expectations: make integration work with both APIs (#688)
  integration/airflow/setup.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/setup.py
Due: none

[INTEGRATION][COMMON] Improve SqlParser to extract output table more precisely
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_parser.py
Due: none

Path conditions:
  build-all: any of: spec/.*
  build-all-java: (any of: client/java/.*) or (any of: integrations/spark/.*)
  build-all-python: any of: client/python/.*
  build-airflow: (any of: integrations/common/.*) or (any of: integrations/airflow/.*)
  build-dagster: any of: integrations/dagster/.*
  build-dbt: any of: integrations/dbt/.*
