Repository OpenLineage/OpenLineage: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-all, build-all-java, build-all-python, build-airflow, build-dagster, build-dbt

Added LiveMapsPythonDecoratedFacet definition
  integration/common/openlineage/common/provider/live-maps.py
Due: none

Made listener thread use a queue rather than spinning up many new thr… (#820)
  .circleci/continue_config.yml
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_failure.py
Due: none

check to OS.env
  integration/airflow/openlineage/airflow/extractors/live_maps_python_decorated_extractor.py
Due: none

remove old facet
  spec/facets/LiveMapsPythonDecoratedFacet.json
Due: build-all

clients: add OPENLINEAGE_DISABLED environment variable which overrides config to NoopTransport (#780)
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/Environment.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/noop.py
  client/python/tests/test_factory.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Due: build-all-java, build-all-python

snowflake: reuse connections in airflow extractors (#819)
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_dbapi_utils.py
  integration/airflow/tests/extractors/test_mysql_extractor.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/tests/sql/test_parser.py
  integration/sql/tests/tests_copy.rs
Due: none

LiveMaps: PythonDecorated Extractor/facet/schema
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/python_decorated_extractor.py
  integration/airflow/openlineage/airflow/facets.py
  integration/common/openlineage/common/provider/livemaps.py
  integration/common/openlineage/common/schema/__init__.py
  integration/common/openlineage/common/schema/python-decorated-facet.json
Due: none

[CI] MyPy static code analysis in circleci (#808)
  .circleci/continue_config.yml
  CHANGELOG.md
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/openlineage/common/utils.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/setup.cfg
  integration/dbt/setup.py
Due: build-all-python

airflow: install new sql parser by default (#835)
  integration/airflow/setup.py
Due: none

airflow: revert queue-based thread mechanism (#833)
  integration/airflow/openlineage/airflow/listener.py
Due: none

[INTEGRATION][SPARK] skip functionRegistry serialization (#828)
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
Due: none

great expectations: do not always require sqlalchemy (#826)
  integration/common/openlineage/common/provider/great_expectations/action.py
Due: none

Pass task not TI for custom facets in listener (#857)
  integration/airflow/openlineage/airflow/listener.py
Due: none

docs: indicate tag use in CONTRIBUTING.md (#797)
  CONTRIBUTING.md
Due: none

Fix: naming for python_decorated_facet.json
  integration/airflow/openlineage/airflow/facets.py
Due: none

Prepare for release 0.9.0
  client/java/README.md
  client/java/gradle.properties
  integration/spark/README.md
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java

Prepare next development version 0.10.0
  client/java/gradle.properties
  client/python/openlineage/client/constants.py
  client/python/setup.cfg
  client/python/setup.py
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/common/openlineage/common/__init__.py
  integration/common/setup.cfg
  integration/common/setup.py
  integration/dagster/openlineage/dagster/__init__.py
  integration/dagster/setup.cfg
  integration/dagster/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.cfg
  integration/dbt/setup.py
  integration/spark/gradle.properties
  integration/sql/.bumpversion.cfg
  integration/sql/Cargo.toml
  proxy/gradle.properties
Due: build-all-java, build-all-python

Pytest tests improvements. (#851)
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/.gitignore
  integration/airflow/README.md
  integration/airflow/dev-requirements-1.x.txt
  integration/airflow/dev-requirements-2.x.txt
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/pytest.ini
  integration/airflow/setup.cfg
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/Dockerfile.2
  integration/airflow/tests/integration/docker/up-2.sh
  integration/airflow/tests/integration/docker/up-failure.sh
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/failures/airflow/dags/run_test_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/pytest.ini
  integration/airflow/tests/integration/requests/airflow_run_facet/mysql.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/bigquery_orders_popular_day_of_week.py
  integration/airflow/tests/integration/tests/docker-compose-2.yml
  integration/airflow/tests/integration/tests/docker-compose.yml
  integration/airflow/tests/test_openlineage_dag.py
Due: none

[DOCS] Add release process language to GOVERNANCE.md (#743)
  GOVERNANCE.md
Due: none

[INTEGRATION][SPARK] missing schema for SaveIntoDataSourceCommand (#794)
  integration/spark/integrations/container/pysparkSaveIntoDatasourceCompleteEvent.json
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/src/test/resources/spark_scripts/spark_save_into_data_source.py
Due: none

Wait for postgres in all integration tests (#858)
  integration/airflow/tests/integration/Dockerfile
  integration/airflow/tests/integration/tests/docker-compose-2.yml
  integration/airflow/tests/integration/tests/docker-compose.yml
Due: none

* rebase Signed-off-by: Tyler Farris <TylerpFarris@gmail.com>
  integration/airflow/openlineage/airflow/__init__.py
Due: none

Added LiveMapsPythonDecoratedFacet definition
  spec/facets/LiveMapsPythonDecoratedFacet.json
Due: build-all

change file name and director
  integration/common/openlineage/common/schema/live-maps-python-decorated-facet.json
Due: none

* rebase
  integration/airflow/openlineage/airflow/extractors/extractors.py
Due: none

Change location & name of Livemaps facet def file
  integration/common/openlineage/common/provider/livemaps.py
Due: none

* rebase
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/python_decorated_extractor.py
Due: none

update github_location
  integration/common/openlineage/common/schema/__init__.py
Due: none

* rebase
  integration/common/openlineage/common/provider/livemaps.py
  integration/common/openlineage/common/schema/__init__.py
  integration/common/openlineage/common/schema/live-maps-python-decorated-facet.json
Due: none

* rebase Signed-off-by: Tyler Farris <TylerpFarris@gmail.com>
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
Due: none

clients: add OPENLINEAGE_DISABLED environment variable which overrides config to NoopTransport (#780)
  client/python/openlineage/client/transport/factory.py
Due: build-all-python

* rebase Signed-off-by: Tyler Farris <TylerpFarris@gmail.com>
  integration/airflow/openlineage/airflow/listener.py
Due: none

* rebase Signed-off-by: Tyler Farris <TylerpFarris@gmail.com>
  integration/airflow/setup.cfg
Due: none

this commit addresses issue: https://github.com/OpenLineage/OpenLineage/issues/888 (#889)
  proxy/build.gradle
  proxy/pmd-openlineage.xml
  proxy/src/main/java/io/openlineage/proxy/api/models/LineageStream.java
Due: none

update changelog for 0.10.0
  CHANGELOG.md
Due: none

Prepare for release 0.10.0
  client/java/README.md
  client/java/gradle.properties
  integration/spark/README.md
  integration/spark/gradle.properties
  proxy/gradle.properties
Due: build-all-java

Path conditions:
  build-all: any of: spec/.*
  build-all-java: (any of: client/java/.*) or (any of: integrations/spark/.*)
  build-all-python: any of: client/python/.*
  build-airflow: (any of: integrations/common/.*) or (any of: integrations/airflow/.*)
  build-dagster: any of: integrations/dagster/.*
  build-dbt: any of: integrations/dbt/.*
